---
title: Theming using SASS
layout: layout-post
permalink: /theming/
breadcrumb: Theming using Sass
---

<h4 class="has-text-primary">Use Sass variables to allow easy customization</h4>
<hr class="margin--bottom--lg margin--top--lg" />
<p>Setup the sass import</p>

{% highlight scss %}
@import "site/node_modules/sgds-govtech/sgds/sass/sgds-customise/all"; 

//Customisation starts here 
@import "site/youSassPath/customVariable"; 
//Customisation end here 

@import "site/node_modules/sgds-govtech/sgds/sass/sgds-base/all"; 
@import "site/node_modules/sgds-govtech/sgds/sass/sgds-icons/all"; 
@import "site/node_modules/sgds-govtech/sgds/sass/sgds-components/all"; 
@import "site/node_modules/sgds-govtech/sgds/sass/sgds-layout/all"; 
{% endhighlight%}

<div class="sgds-notification is-info">
	<div class="sgds-notification-detail">
		<div class="sgds-notification-content">
			<small>Kick start your web production using SGDS</small><br />
			<small><a href="/docs/getting-started/">Diffrent ways of installing SGDS</a></small>
		</div>
	</div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<p>Lists of default SGDS variables that can be overwritten</p>

<table class="table is-striped is-size-8">
	<thead>
		<th>Variable</th>
		<th>Default Value</th>
		<th>Type</th>
	</thead>
	<tbody>
		{% for variable_name in site.data.initial-variables %}
		<tr>
			<td width="30%">
				<code>{{ variable_name[1].name }}</code>
			</td>
			<td>
				<div class="is-flex is-flex-alignitems-c">
					{% if variable_name[1].type == 'colour' %}
					<span class="colorBox margin--right--sm is-{{
              variable_name[1].state | remove: '$'
            }}"></span>
					{% endif %}
					<code>{{ variable_name[1].value }}</code>
				</div>
			</td>
			<td width="30%">
				<a href="/docs/{{ variable_name[1].type }}">{{
          variable_name[1].type | capitalize
        }}</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

