.sgds-code-font {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid var(--sgds-gray-300);
    background-color: var(--sgds-gray-100);
    border-radius: 4px;
    padding: 6px 8px 6px 8px;
}