$leftpanel-width: 250px !default;

leftpanel {
  display: block;
  width: $leftpanel-width;
  height: 100vh;
  float: left;
  background-color: darken($primary, 15%);
  overflow-x: hidden;
}

rightpanel {
  display: block;
  height: 100vh;
  overflow-y: auto;
}



