sgds-template-grid {
    display: grid;
    background: #fafafa;

    &.with-sidenav {
        grid-template-columns: 15rem minmax(min-content, 1fr);

        &.with-toc {
            grid-template-columns: 15rem minmax(min-content, 1fr) 15rem;
        }
    }
    @include media-breakpoint-down(lg) {
        display: block;
        sgds-aside-area,
        aside {
            display: none;
        }
    }
}

sgds-aside-area {
    box-shadow: 3px 0px 6px 0px #d0d5dd80;
    background: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 10;
}

sgds-toc-area {
    padding-top: 1.5rem;
    font-size: 14px;
    position: sticky;
}

sgds-article-area {
    display: grid;
    grid-template-areas:
        "breadcrumb"
        "header-top"
        "header-bottom"
        "body";
    padding: 2rem;
    row-gap: 2rem;
    max-width: 100%;
}

sgds-breadcrumb-area {
    grid-area: "breadcrumb";
}

sgds-article-header-top {
    grid-area: "header-top";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

sgds-article-header-bottom {
    grid-area: "header-bottom";
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .search-container {
        width: 26.4%;
    }
}

sgds-article-body {
    grid-area: "body";
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
