sgds-template {
    display: flex;
    flex-direction: row;
}
sgds-aside {
    box-shadow: 3px 0px 6px 0px #D0D5DD80;
    background: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20%;
    z-index: 10;
}

sgds-template-main {
    display: grid;
    width: 100%;
    grid-template-areas:
        "header"
        "body";
    padding: 2rem;
    row-gap: 2rem;
    background: #fafafa;
}

sgds-template-header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "breadcrumb"
        "header-top"
        "header-bottom";
    row-gap: 2rem;
}
sgds-breadcrumb-area {
    grid-area: "breadcrumb";
}

sgds-template-header-top {
    grid-area: "header-top";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

sgds-template-header-bottom {
    grid-area: "header-bottom";
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .search-container {
        width: 26.4%;
    }
}

sgds-template-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

// body-section-one {
//     display: block;
//     box-shadow: 0px 0px 25px 0px #161a1d12;
//     box-shadow: 0px 8px 16px 0px #161a1d08;
//     padding: 2rem;
//     background-color: white;
//     border-radius: 5px;
// }
