---
title: Callout
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/content/callout/
category: Components/Content
breadcrumb: Content
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Callout</b> is an excerpt of text used in design to draw attention to or label something</h4>
        <blockquote>
            <p><b>Note:</b></p>
            <ul>
                <li>Excerpt 1</li>
                <li>Excerpt 2</li>
            </ul>
        </blockquote>
{%- highlight html -%}
<blockquote>
    <p><b>Note:</b></p>
    <ul>
        <li>Excerpt 1</li>
        <li>Excerpt 2</li>
    </ul>
</blockquote>
{%- endhighlight -%}
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Guidelines</h3>
        <p>Callout should:</p>
        <ul>
            <li class="margin--bottom">Use when you want to highlight certain part of an article prominently</li>
            <li class="margin--bottom">Use sparingly in a page as too many of it will cause distractions</li>
        </ul>
    </div>
</div>

<hr>

{%- include sgds-feedback.html -%}