---
title: Hero
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/content/hero/
category: Components/Content
breadcrumb: Content
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Hero</b> is a large web banner image, prominently placed in the center of a website. It presents an overview of the website's most important content</h4>
        <section class="sgds-hero bg-hero">
            <div class="sgds-hero-body sgds-container is-fluid">
                <div class="row is-vcentered">
                    <div class="col is-6 is-offset-3 has-text-centered has-text-white">
                        <h1 class="display padding--bottom--lg margin--none"><b>design system</b></h1>
                        <h5 class="is-hidden-mobile padding--bottom--sm">Isomer unites Singapore Government digital services around a common visual language and user experience</h5>
                    </div>
                </div>
            </div>
        </section>
{%- highlight html -%}
<section class="sgds-hero bg-hero">
    <div class="sgds-hero-body sgds-container is-fluid">
        <div class="row is-vcentered">
            <div class="col is-6 is-offset-3 has-text-centered has-text-white">
                <h1 class="display padding--bottom--lg margin--none"><b>title/b></h1>
                <h5 class="is-hidden-mobile padding--bottom--sm">subtitle</h5>
            </div>
        </div>
    </div>
</section>
{%- endhighlight -%}
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Guidelines</h3>
        <p>Hero should:</p>
        <ul>
            <li class="margin--bottom">Use only relevant images</li>
            <li class="margin--bottom">Make the image your centerpiece</li>
            <li class="margin--bottom">Select emotionally persuasive images</li>
            <li class="margin--bottom">Use only high quality images</li>
            <li class="margin--bottom">Emphasise call to action buttons</li>
            <li class="margin--bottom">Design for contrast</li>
        </ul>
    </div>
</div>

<hr>

{%- include sgds-feedback.html -%}