---
title: Collapsible Page Form
description: A base collection of field components rendered within multi collapsible tabs.
toc: true
---

{% capture collapsible-page-form %}
<div style="background-color: white">
    <!-- Masthead -->
    <sgds-masthead fluid></sgds-masthead>
    <sgds-template-grid>
        <sgds-content-area>
            <nav aria-label="breadcrumb" class="sgds">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#" role="button" tabindex="0">HOME</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        SIGN-UP
                    </li>
                </ol>
            </nav>
            <sgds-content-header-top>
                <div>
                    <h1>Sign-up</h1>
                    <p class="text-muted">
                        Already a member?
                        <a href="" class="text-decoration-none">Log in</a>
                    </p>
                </div>
                <div>
                    <a href="" class="me-4">Cancel</a><button type="button" class="me-4 btn btn-outline-dark sgds">
                        Save as draft</button><button type="button" class="btn btn-secondary sgds">
                        Next
                    </button>
                </div>
            </sgds-content-header-top>
            <sgds-content-body>
                <!-- Accordion component nesting form -->
                <div class="shadow sgds accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="p-5 accordion-body">
                                <div class="col-sm-8">
                                    <form>
                                        <div class="row">
                                            <div class="mb-3 col-md-6 col-12">
                                                <label class="form-label"
                                                    for="formCollapsibleInput1">Label</label><input
                                                    placeholder="Text goes here" type="text" id="formCollapsibleInput1"
                                                    class="form-control" />
                                            </div>
                                            <div class="mb-3 col-md-6 col-12">
                                                <label class="form-label"
                                                    for="formCollapsibleSinglePageInput2">Label</label><input
                                                    placeholder="Text goes here" type="text"
                                                    id="formCollapsibleSinglePageInput2" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formCollapsibleInput3">Label</label>
                                            <div class="mb-3 input-group sgds">
                                                <input placeholder="Text goes here"
                                                    aria-label="Dollar amount (with dot and two decimal places)"
                                                    id="formCollapsibleInput3" class="form-control" /><span
                                                    class="input-group-text">@something</span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formCollapsibleInput4">Label</label><input
                                                placeholder="Text goes here" type="text" id="formCollapsibleInput4"
                                                class="form-control" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="p-5 accordion-body">
                                <div class="col-sm-8">
                                    <div class="mb-3">
                                        <label class="form-label" for="formCollapsibleSelect1">Label</label><select
                                            class="form-select" id="formCollapsibleSelect1">
                                            <option>Text goes here</option>
                                            <option>Text goes here</option>
                                            <option>Text goes here</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="p-5 accordion-body">
                                <div class="col-sm-8">
                                    <div class="mb-3">
                                        <label class="form-label" for="formCollapsibleRadio1">Label</label>
                                        <div class="form-check">
                                            <input name="radioGroup1" type="radio" id="formCollapsibleRadio1"
                                                class="form-check-input" /><label title="" for="formCollapsibleRadio1"
                                                class="form-check-label">Input 1</label>
                                        </div>
                                        <div class="form-check">
                                            <input name="radioGroup1" type="radio" id="formCollapsibleRadio1"
                                                class="form-check-input" /><label title="" for="formCollapsibleRadio1"
                                                class="form-check-label">Input 2</label>
                                        </div>
                                        <div class="form-check">
                                            <input name="radioGroup1" type="radio" id="formCollapsibleRadio1"
                                                class="form-check-input" /><label title="" for="formCollapsibleRadio1"
                                                class="form-check-label">Input 3</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="formCollapsibleInput5">Label</label><textarea
                                            rows="5" placeholder="This is the text that has been filled in" type="text"
                                            id="formCollapsibleInput5" class="form-control"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" id="formCollapsibleCheckbox1"
                                                class="form-check-input" /><label title=""
                                                for="formCollapsibleCheckbox1" class="form-check-label">I agree to the
                                                terms of the Subscriber
                                                Agreement and the Privacy Policy</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary sgds">Submit</button>
                </div>
            </sgds-content-body>
        </sgds-content-area>
    </sgds-template-grid>
    <!-- Footer component -->
    {% include templates/footer.html %}

</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component mb-5">
    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <section name="section-examples">
        <h2 class="title fw-bold" id="example">Example</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compName="collapsible-page-form" code=collapsible-page-form %}
        </div>
    </section>
</div>