---
title: Detail Page Side Nav Extended
description: Detail page with a side navigation menu and table of contents.
toc: true
---

{% capture detail-page-side-nav-extended %}
<div style="background-color: white" class="overflow-auto">
    <!-- Masthead -->
    <sgds-masthead fluid></sgds-masthead>
    <!-- Main Nav component -->
    {% include templates/navbar.html %}
    <sgds-template-grid class="with-sidenav with-toc">
        <sgds-aside-area>
            <!-- Side Nav component -->
            <nav class="sidenav sgds list-unstyled open2">
                <li class="sidenav-item">
                    <button class="sgds btn collapsed active" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExampleD" aria-expanded="false" aria-controls="collapseExampleD">
                        Sub menu
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="collapse show" id="collapseExampleD" data-bs-parent=".open2">
                        <ul class="list-unstyled">
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                            <li><a href="#" class="nav-link active">Sub menu item</a></li>
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                        </ul>
                    </div>
                </li>
                <li class="sidenav-item">
                    <button class="sgds btn collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExampleE" aria-expanded="false" aria-controls="collapseExampleE">
                        Sub menu
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="collapse" id="collapseExampleE" data-bs-parent=".open2">
                        <ul class="list-unstyled">
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                        </ul>
                    </div>
                </li>
                <li class="sidenav-item">
                    <button class="sgds btn collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExampleF" aria-expanded="false" aria-controls="collapseExampleF">
                        Sub menu
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="collapse" id="collapseExampleF" data-bs-parent=".open2">
                        <ul class="list-unstyled">
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                            <li><a href="#" class="nav-link">Sub menu item</a></li>
                        </ul>
                    </div>
                </li>
            </nav>
        </sgds-aside-area>
        <sgds-content-area>
                    <!-- Breadcrumb component -->
                    <nav class="sgds" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                <sgds-content-header-top>
                    <!-- Content section -->
                    <h2>Page heading</h2>
                </sgds-content-header-top>
                <sgds-content-body>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <h4>Overview</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </sgds-content-body>

        </sgds-content-area>

        <!--Table of Contents section-->
        <sgds-toc-area>
            <aside aria-label="Table of Content">
                <h4>On this page</h4>
                <ul style="list-style: none;border-left: 1px solid var(--sgds-gray-300);
            ">
                    <li>
                        <a href="#" style="text-decoration: none">Page heading</a>
                        <ul>
                            <li style="list-style: none">
                                <a href="#" style="text-decoration: none">Overview</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" style="text-decoration: none">Example</a>
                    </li>
                </ul>
            </aside>
        </sgds-toc-area>
    </sgds-template-grid>
    <!-- </div> -->
    <!-- Footer component -->
    {% include templates/footer.html %}

</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component mb-5">
    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Template Section -->
    <section name="section-templates">
        <h2 class="title fw-bold" id="example">Example</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compName="detail-page-side-nav-extended"
            code=detail-page-side-nav-extended %}
        </div>
    </section>
</div>