---
title: Single Page Form
description: A base collection of field components rendered on a single page.
toc: true
---

{% capture single-page-form %}
<div style="background-color: white">
  <!-- Masthead -->
  <sgds-masthead fluid></sgds-masthead>
  <sgds-template-grid>
    <sgds-content-area>
      <!-- Header section -->
      <nav class="sgds" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">HOME</a></li>
          <li class="breadcrumb-item active" aria-current="page">SIGN-UP</li>
        </ol>
      </nav>
      <sgds-content-header-top>
        <div>
          <h1>Sign-up</h1>
          <p class="text-muted">
            Already a member? <a href="#" style="text-decoration: none">Log in</a>
          </p>
        </div>
        <div>
          <a href="#" class="me-4">cancel</a>
          <button type="button" class="me-4 btn btn-outline-dark sgds">
            Save as draft
          </button>
          <button type="button" class="btn btn-secondary sgds">Next</button>
        </div>
      </sgds-content-header-top>

      <sgds-content-body>
        <!-- Content section -->
        <section class="shadow rounded p-5">
          <form>
            <div class="col-sm-8">
              <div class="row">
                <div class="mb-3 col-md-6 col-12">
                  <label class="form-label" for="formSinglePageInput1">Label</label><input placeholder="Text goes here"
                    type="text" id="formSinglePageInput1" class="form-control" />
                </div>
                <div class="mb-3 col-md-6 col-12">
                  <label class="form-label" for="formSinglePageInput2">Label</label><input placeholder="Text goes here"
                    type="text" id="formSinglePageInput2" class="form-control" />
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="formSinglePageInput3">Label</label>
                <div class="mb-3 input-group sgds">
                  <input placeholder="Text goes here" aria-label="Dollar amount (with dot and two decimal places)"
                    id="formSinglePageInput3" class="form-control" /><span class="input-group-text">@something</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="formSinglePageInput4">Label</label><input placeholder="Text goes here"
                  type="text" id="formSinglePageInput4" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label" for="formSinglePageSelect1">Label</label><select class="form-select"
                  id="formSinglePageSelect1">
                  <option>Text goes here</option>
                  <option>Text goes here</option>
                  <option>Text goes here</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="formSinglePageRadio1">Label</label>
                <div class="form-check">
                  <input name="radioGroup1" type="radio" id="formSinglePageRadio1" class="form-check-input" /><label
                    title="" for="formSinglePageRadio1" class="form-check-label">Input 1</label>
                </div>
                <div class="form-check">
                  <input name="radioGroup1" type="radio" id="formSinglePageRadio1" class="form-check-input" /><label
                    title="" for="formSinglePageRadio1" class="form-check-label">Input 2</label>
                </div>
                <div class="form-check">
                  <input name="radioGroup1" type="radio" id="formSinglePageRadio1" class="form-check-input" /><label
                    title="" for="formSinglePageRadio1" class="form-check-label">Input 3</label>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="formSinglePageInput5">Label</label><textarea rows="5"
                  placeholder="This is the text that has been filled in" type="text" id="formSinglePageInput5"
                  class="form-control"></textarea>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" id="formBasicCheckbox1" class="form-check-input" /><label title=""
                    for="formBasicCheckbox1" class="form-check-label">I agree to the terms of the Subscriber Agreement
                    and the
                    Privacy
                    Policy</label>
                </div>
              </div>
            </div>
          </form>
        </section>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-secondary sgds">Submit</button>
        </div>
      </sgds-content-body>
    </sgds-content-area>
  </sgds-template-grid>
  <!-- Footer section -->
  {% include templates/footer.html %}

</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component mb-5">
  <!-- Generated header from front end matters -->
  {% include page-component/component-header.html %}

  <section name="section-examples">
    <h2 class="title fw-bold" id="example">Example</h2>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compName="single-page-form" code=single-page-form
      templates=single-page-form %}
    </div>
  </section>
</div>