.get-started {
    width: 120ch;
}

.get-started-content-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    @include media-breakpoint-down(xl){
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    @include media-breakpoint-down(sm){
        grid-template-columns: 1fr;
    }

    .card{
        background: hsl(228, 38%, 97%);
        border: none;
        border-radius: 1.5rem;
        &-eyebrow{
            color: var(--sgds-primary);
            margin-bottom: 4px;
            font-weight: bold;
        }
        &-body{
            padding: 2rem;
            color: var(--sgds-gray-600);
            a{
                color: var(--sgds-primary);
                font-weight: bold;
            }
        }
        &.disabled {
            opacity: 0.5;
            
            span.small {
                color: var(--sgds-gray-500);
                font-weight: 700;
            }
        }
    }
}

.get-started-overview-grid {
    grid-template-columns: repeat(2,1fr);
    @include media-breakpoint-down(lg){
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .card {
        &-body {
            padding: 2rem 3.125rem;
        }
    }
}