{% include breadcrumb.html %}
{% if page.notice %}
{% include notice.html %}
{% endif %}
<!-- Section Component header -->
<section name="section-component-header">

    {% assign pageHeader = page.title | downcase %}
    <header class="header-component">
        <h1 class="fw-bold" id="{{pageHeader}}-component">{{page.title}}</h1>
        {% assign class = nil %}
        {% if page.ready == false %}
        {% assign class = 'text-danger' %}
        {% endif %}
        {% if page.description %}
            <p class="{% if page.toc == true %}header-component-description{% endif %} {{class}}">{{page.description}}</p>
        {% endif %}
        {% if page.extended_description %}
            <p class="{% if page.toc == true %}header-component-description{% endif %} {{class}}">{{page.extended_description}}</p>
        {% endif %}
        {% if page.source-grid %}
        <div class="component-source-grid">

            {% if page.category == 'mandatory' %}
            <div><span class="sgds badge badge-light bg-danger">{{page.category | capitalize}}</span></div>
            {% elsif page.category == 'required' %}
            <div><span class="sgds badge badge-light bg-success">{{page.category | capitalize}}</span></div>
            {% elsif page.category == 'general' %}
            <div><span class="sgds badge badge-light bg-primary">{{page.category | capitalize}}</span></div>
            {% endif %}

            {% case page.github %}
            {% when 'sgds-web-component' %}
            <div>
                <i class="bi bi-github"></i> <a href="{{site.github-web-component}}" target="_blank">View it on
                    Github</a>
            </div>
            {% when 'sgds' %}
            <div>
                <i class="bi bi-github"></i> <a href="{{site.github-link}}" target="_blank">View it on Github</a>
            </div>
            {% endcase %}

            {% if page.github-link %}
            <div>
                <i class="bi bi-github"></i> <a href="{{site.github-link}}" target="_blank">View it on Github</a>
            </div>
            {% endif %}
            {% if page.react-link %}
            <div>
                <img src="{{site.baseurl}}/assets/img/component/storybook-icon.svg" alt=""> <a
                    href="{{site.react-storybook | append: page.react-link}}" target="_blank">View it on React
                    Storybook</a>
            </div>
            {% endif %}
            {% if page.vue-link %}
            <div>
                <img src="{{site.baseurl}}/assets/img/component/storybook-icon.svg" alt=""> <a
                    href="{{page.react-link}}" target="_blank">View it on Vue Storybook</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </header>
</section>