<div class="row">
      <div class="bp-example">
         <section class="bp-section is-small">
            <div class="bp-container bg-light">
               <div class="bp-notification is-primary">
                  Default Container
               </div>
            </div>
         </section>
      </div>
</div>
<div class="row">
   <div class="col is-4">
      <div class="content">
         <h5><b>Default Container</b></h5>
         <p>The <code>.bp-container</code> class can be used in any context, but mostly as a <b>direct child</b> of either:
            <br>
            <code>.navbar</code><br>
            <code>.bp-hero</code><br>
            <code>.bp-section</code><br>
            <code>.bp-footer</code>
         </p>
      </div>
   </div>
   <div class="col">
{%- highlight html -%}
<section class="bp-section is-small">
   <div class="bp-container bg-light">
      <div class="bp-notification is-primary">
         Default Container
      </div>
   </div>
</section>
{%- endhighlight -%}
   </div>
</div>
<hr>
<div class="row">
   <div class="bp-example">
      <section class="bp-section is-small">
         <div class="bp-container is-fluid bg-light">
            <div class="bp-notification is-primary">
               Fluid Container
            </div>
         </div>
      </section>
   </div>
</div>
<div class="row">
   <div class="col is-4">
      <div class="content">
         <h5><b>Fluid Container</b></h5>
         <p class="subtitle">If you do not want a maximum width but keep the 32px margin on both sides, add the <code>is-fluid</code> modifier.</p>
      </div>
   </div>
   <div class="col">
{%- highlight html -%}
<section class="bp-section is-small">
   <div class="bp-container is-fluid bg-light">
      <div class="bp-notification is-primary">
         Fluid Container
      </div>
   </div>
</section>
{%- endhighlight -%}
   </div>
</div>