@import "variables";

@font-face {
  font-family: 'blueprint-icons';
  src:
    url('#{$icomoon-font-path}/blueprint-icons.ttf?3ml17x') format('truetype'),
    url('#{$icomoon-font-path}/blueprint-icons.woff?3ml17x') format('woff'),
    url('#{$icomoon-font-path}/blueprint-icons.svg?3ml17x#blueprint-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bp-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blueprint-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.bp-icon-alert {
  &:before {
    content: unicode($bp-icon-alert); 
  }
}
.bp-icon-angle-down {
  &:before {
    content: unicode($bp-icon-angle-down); 
  }
}
.bp-icon-angle-left {
  &:before {
    content: unicode($bp-icon-angle-left); 
  }
}
.bp-icon-angle-right {
  &:before {
    content: unicode($bp-icon-angle-right); 
  }
}
.bp-icon-angle-up {
  &:before {
    content: unicode($bp-icon-angle-up); 
  }
}
.bp-icon-arrow-down {
  &:before {
    content: unicode($bp-icon-arrow-down); 
  }
}
.bp-icon-arrow-expand {
  &:before {
    content: unicode($bp-icon-arrow-expand); 
  }
}
.bp-icon-arrow-left {
  &:before {
    content: unicode($bp-icon-arrow-left); 
  }
}
.bp-icon-arrow-right {
  &:before {
    content: unicode($bp-icon-arrow-right); 
  }
}
.bp-icon-arrow-up {
  &:before {
    content: unicode($bp-icon-arrow-up); 
  }
}
.bp-icon-arrow-up-left {
  &:before {
    content: unicode($bp-icon-arrow-up-left); 
  }
}
.bp-icon-arrow-up-right {
  &:before {
    content: unicode($bp-icon-arrow-up-right); 
  }
}
.bp-icon-attachment {
  &:before {
    content: unicode($bp-icon-attachment); 
  }
}
.bp-icon-browser {
  &:before {
    content: unicode($bp-icon-browser); 
  }
}
.bp-icon-bus {
  &:before {
    content: unicode($bp-icon-bus); 
  }
}
.bp-icon-calculator {
  &:before {
    content: unicode($bp-icon-calculator); 
  }
}
.bp-icon-calculator-o {
  &:before {
    content: unicode($bp-icon-calculator-o); 
  }
}
.bp-icon-calendar {
  &:before {
    content: unicode($bp-icon-calendar); 
  }
}
.bp-icon-calendar-alt {
  &:before {
    content: unicode($bp-icon-calendar-alt); 
  }
}
.bp-icon-checked {
  &:before {
    content: unicode($bp-icon-checked); 
  }
}
.bp-icon-circle-info {
  &:before {
    content: unicode($bp-icon-circle-info); 
  }
}
.bp-icon-circle-minus {
  &:before {
    content: unicode($bp-icon-circle-minus); 
  }
}
.bp-icon-circle-plus {
  &:before {
    content: unicode($bp-icon-circle-plus); 
  }
}
.bp-icon-circle-question {
  &:before {
    content: unicode($bp-icon-circle-question); 
  }
}
.bp-icon-circle-warning {
  &:before {
    content: unicode($bp-icon-circle-warning); 
  }
}
.bp-icon-clock {
  &:before {
    content: unicode($bp-icon-clock); 
  }
}
.bp-icon-cloud {
  &:before {
    content: unicode($bp-icon-cloud); 
  }
}
.bp-icon-cog {
  &:before {
    content: unicode($bp-icon-cog); 
  }
}
.bp-icon-cross {
  &:before {
    content: unicode($bp-icon-cross); 
  }
}
.bp-icon-cube {
  &:before {
    content: unicode($bp-icon-cube); 
  }
}
.bp-icon-cubes {
  &:before {
    content: unicode($bp-icon-cubes); 
  }
}
.bp-icon-database {
  &:before {
    content: unicode($bp-icon-database); 
  }
}
.bp-icon-delay {
  &:before {
    content: unicode($bp-icon-delay); 
  }
}
.bp-icon-docker {
  &:before {
    content: unicode($bp-icon-docker); 
  }
}
.bp-icon-download {
  &:before {
    content: unicode($bp-icon-download); 
  }
}
.bp-icon-edit {
  &:before {
    content: unicode($bp-icon-edit); 
  }
}
.bp-icon-facebook {
  &:before {
    content: unicode($bp-icon-facebook); 
  }
}
.bp-icon-file {
  &:before {
    content: unicode($bp-icon-file); 
  }
}
.bp-icon-file-alt {
  &:before {
    content: unicode($bp-icon-file-alt); 
  }
}
.bp-icon-folder {
  &:before {
    content: unicode($bp-icon-folder); 
  }
}
.bp-icon-hamburger {
  &:before {
    content: unicode($bp-icon-hamburger); 
  }
}
.bp-icon-hdd {
  &:before {
    content: unicode($bp-icon-hdd); 
  }
}
.bp-icon-home {
  &:before {
    content: unicode($bp-icon-home); 
  }
}
.bp-icon-image {
  &:before {
    content: unicode($bp-icon-image); 
  }
}
.bp-icon-info {
  &:before {
    content: unicode($bp-icon-info); 
  }
}
.bp-icon-instagram {
  &:before {
    content: unicode($bp-icon-instagram); 
  }
}
.bp-icon-link {
  &:before {
    content: unicode($bp-icon-link); 
  }
}
.bp-icon-link-external {
  &:before {
    content: unicode($bp-icon-link-external); 
  }
}
.bp-icon-linkedin {
  &:before {
    content: unicode($bp-icon-linkedin); 
  }
}
.bp-icon-list {
  &:before {
    content: unicode($bp-icon-list); 
  }
}
.bp-icon-loading {
  &:before {
    content: unicode($bp-icon-loading); 
  }
}
.bp-icon-location {
  &:before {
    content: unicode($bp-icon-location); 
  }
}
.bp-icon-lock {
  &:before {
    content: unicode($bp-icon-lock); 
  }
}
.bp-icon-mail {
  &:before {
    content: unicode($bp-icon-mail); 
  }
}
.bp-icon-map {
  &:before {
    content: unicode($bp-icon-map); 
  }
}
.bp-icon-minify {
  &:before {
    content: unicode($bp-icon-minify); 
  }
}
.bp-icon-mrt {
  &:before {
    content: unicode($bp-icon-mrt); 
  }
}
.bp-icon-pages {
  &:before {
    content: unicode($bp-icon-pages); 
  }
}
.bp-icon-pin {
  &:before {
    content: unicode($bp-icon-pin); 
  }
}
.bp-icon-plus {
  &:before {
    content: unicode($bp-icon-plus); 
  }
}
.bp-icon-print {
  &:before {
    content: unicode($bp-icon-print); 
  }
}
.bp-icon-question {
  &:before {
    content: unicode($bp-icon-question); 
  }
}
.bp-icon-radar {
  &:before {
    content: unicode($bp-icon-radar); 
  }
}
.bp-icon-refresh {
  &:before {
    content: unicode($bp-icon-refresh); 
  }
}
.bp-icon-save {
  &:before {
    content: unicode($bp-icon-save); 
  }
}
.bp-icon-search {
  &:before {
    content: unicode($bp-icon-search); 
  }
}
.bp-icon-sg-crest {
  &:before {
    content: unicode($bp-icon-sg-crest);     
    color: #db0000;
  }
}
.bp-icon-slider-horizontal {
  &:before {
    content: unicode($bp-icon-slider-horizontal); 
  }
}
.bp-icon-slider-vertical {
  &:before {
    content: unicode($bp-icon-slider-vertical); 
  }
}
.bp-icon-speech {
  &:before {
    content: unicode($bp-icon-speech); 
  }
}
.bp-icon-taxi {
  &:before {
    content: unicode($bp-icon-taxi); 
  }
}
.bp-icon-text-center {
  &:before {
    content: unicode($bp-icon-text-center); 
  }
}
.bp-icon-text-justify {
  &:before {
    content: unicode($bp-icon-text-justify); 
  }
}
.bp-icon-text-left {
  &:before {
    content: unicode($bp-icon-text-left); 
  }
}
.bp-icon-text-right {
  &:before {
    content: unicode($bp-icon-text-right); 
  }
}
.bp-icon-triangle-warning {
  &:before {
    content: unicode($bp-icon-triangle-warning); 
  }
}
.bp-icon-twitter {
  &:before {
    content: unicode($bp-icon-twitter); 
  }
}
.bp-icon-unlock {
  &:before {
    content: unicode($bp-icon-unlock); 
  }
}
.bp-icon-upload {
  &:before {
    content: unicode($bp-icon-upload); 
  }
}
.bp-icon-user {
  &:before {
    content: unicode($bp-icon-user); 
  }
}
.bp-icon-warning {
  &:before {
    content: unicode($bp-icon-warning); 
  }
}
.bp-icon-youtube {
  &:before {
    content: unicode($bp-icon-youtube); 
  }
}
.bp-icon-zoom-in {
  &:before {
    content: unicode($bp-icon-zoom-in); 
  }
}
.bp-icon-zoom-out {
  &:before {
    content: unicode($bp-icon-zoom-out); 
  }
}

