$icomoon-font-path: "../fonts" !default;

$bp-icon-add-photo: "\e900";
$bp-icon-browser: "\e901";
$bp-icon-calculator: "\e902";
$bp-icon-camera: "\e903";
$bp-icon-clock: "\e904";
$bp-icon-cloud-download: "\e905";
$bp-icon-cloud-success: "\e906";
$bp-icon-cloud-upload: "\e907";
$bp-icon-database: "\e908";
$bp-icon-download: "\e909";
$bp-icon-file-add: "\e90a";
$bp-icon-file-alt: "\e90b";
$bp-icon-file: "\e90c";
$bp-icon-hdd: "\e90d";
$bp-icon-image: "\e90e";
$bp-icon-link: "\e90f";
$bp-icon-lock: "\e910";
$bp-icon-mail: "\e911";
$bp-icon-print: "\e912";
$bp-icon-radar: "\e913";
$bp-icon-save: "\e914";
$bp-icon-share: "\e915";
$bp-icon-unlock: "\e916";
$bp-icon-upload: "\e917";
$bp-icon-volume-mute: "\e918";
$bp-icon-volume: "\e919";
$bp-icon-docker: "\e91a";
$bp-icon-facebook-alt: "\e91b";
$bp-icon-facebook: "\e91c";
$bp-icon-google: "\e91d";
$bp-icon-instagram: "\e91e";
$bp-icon-linkedin-alt: "\e91f";
$bp-icon-linkedin: "\e920";
$bp-icon-person-add: "\e921";
$bp-icon-person-cancel: "\e922";
$bp-icon-person-remove: "\e923";
$bp-icon-person: "\e924";
$bp-icon-rss: "\e925";
$bp-icon-thumbs-down: "\e926";
$bp-icon-thumbs-up: "\e927";
$bp-icon-twitter: "\e928";
$bp-icon-youtube: "\e929";
$bp-icon-add-place: "\e92a";
$bp-icon-boat: "\e92b";
$bp-icon-bus: "\e92c";
$bp-icon-car: "\e92d";
$bp-icon-layers: "\e92e";
$bp-icon-map: "\e92f";
$bp-icon-my-location: "\e930";
$bp-icon-place: "\e931";
$bp-icon-taxi: "\e932";
$bp-icon-traffic: "\e933";
$bp-icon-train: "\e934";
$bp-icon-arrow-down: "\e935";
$bp-icon-arrow-left: "\e936";
$bp-icon-arrow-right: "\e937";
$bp-icon-arrow-top-left: "\e938";
$bp-icon-arrow-top-right: "\e939";
$bp-icon-arrow-up: "\e93a";
$bp-icon-check: "\e93b";
$bp-icon-chevron-down: "\e93c";
$bp-icon-chevron-left: "\e93d";
$bp-icon-chevron-right: "\e93e";
$bp-icon-chevron-up: "\e93f";
$bp-icon-cog: "\e940";
$bp-icon-cross: "\e941";
$bp-icon-ellipsis: "\e942";
$bp-icon-home: "\e943";
$bp-icon-menu: "\e944";
$bp-icon-minus: "\e945";
$bp-icon-notification: "\e946";
$bp-icon-plus: "\e947";
$bp-icon-sg-crest: "\e948";
$bp-icon-text-center: "\e949";
$bp-icon-text-justify: "\e94a";
$bp-icon-text-left: "\e94b";
$bp-icon-text-right: "\e94c";
$bp-icon-add-comment: "\e94d";
$bp-icon-ban: "\e94e";
$bp-icon-bookmark: "\e94f";
$bp-icon-calendar: "\e950";
$bp-icon-chat: "\e951";
$bp-icon-circle-info: "\e952";
$bp-icon-circle-minus: "\e953";
$bp-icon-circle-plus: "\e954";
$bp-icon-circle-question: "\e955";
$bp-icon-circle-warning: "\e956";
$bp-icon-compress-alt: "\e957";
$bp-icon-compress: "\e958";
$bp-icon-edit: "\e959";
$bp-icon-expand-alt: "\e95a";
$bp-icon-expand: "\e95b";
$bp-icon-external: "\e95c";
$bp-icon-feedback: "\e95d";
$bp-icon-filter: "\e95e";
$bp-icon-info: "\e95f";
$bp-icon-list: "\e960";
$bp-icon-pin: "\e961";
$bp-icon-question: "\e962";
$bp-icon-refresh: "\e963";
$bp-icon-rsvp-no: "\e964";
$bp-icon-rsvp-yes: "\e965";
$bp-icon-search: "\e966";
$bp-icon-slider-horizontal: "\e967";
$bp-icon-slider-vertical: "\e968";
$bp-icon-star: "\e969";
$bp-icon-sync: "\e96a";
$bp-icon-toggle-minus: "\e96b";
$bp-icon-toggle-off: "\e96c";
$bp-icon-toggle-on: "\e96d";
$bp-icon-toggle-plus: "\e96e";
$bp-icon-triangle-warning: "\e96f";
$bp-icon-warning: "\e970";
$bp-icon-zoom-in: "\e971";
$bp-icon-zoom-out: "\e972";

