.wrapper{
    display: grid;
    &.layout{
        &-single{
            max-width: 1440px;
            margin: 0 auto;
        }

        &-sidenav{
            display: grid;
            gap: 3rem;
            grid-template-columns: 15rem minmax(25rem, 1fr);
            max-width: 100%;
            padding: 1rem 2rem 2rem;
            @include media-breakpoint-down(lg){
                display:block;
                aside{
                    display:none;
                }
                padding: 1rem;
            }
            &.with-toc{
                grid-template-columns: 15rem minmax(25rem, 1fr) 15rem;
            }
        }
    }
    &-fluid{
        max-width: 100%;
        header{
            &.header-overview{
                margin-bottom: calc(#{$spacer} * 2);
                input{
                    width: 30rem;
                    @include media-breakpoint-down(lg){
                        width: 100%;
                    }
                }
            }
        }
    }
}
$columns: 2, 3, 4;

@each $column in $columns{
    .grid-column-#{$column}{
        grid-template-columns: repeat(#{$column}, 1fr);
    }
}

.grid-wrapper{
    display: grid;
    padding: 2rem;
}


