body{
    overflow-x: hidden;
}

.wrapper{
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    &-sidenav{
        display: grid;
        gap: 2rem;
        grid-template-columns: 240px 1fr;
        max-width: 100%;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


$columns: 2, 3, 4;

@each $column in $columns{
    .grid-column-#{$column}{
        grid-template-columns: repeat(#{$column}, 1fr);
    }
}

.grid-wrapper{
    display: grid;
    padding: 2rem;
}

header + article{
    margin-top: 2rem;
}