---
title: Tab
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/navigation/tab/
category: Components/Navigation
breadcrumb: Navigation
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Tab</b> is a navigation element used in web design that allow users to easily access different areas of a site or different parts of an individual page. They're sort of like tabbed dividers in a filing cabinet – by clicking a tab, users can easily locate a page containing related content</h4>
        <div class="sgds-tabs" data-sgds="tabs">
            <ul class="is-marginless">
                <li class="is-active"><a data-tab="#tab1">Tab 1</a></li>
                <li><a data-tab="#tab2">Tab 2</a></li>
                <li><a data-tab="#tab3">Tab 3</a></li>
            </ul>
        </div>
        <div class="row" id="tab1">
            <div class="col">
                <p>Tab content 1</p>
            </div>
        </div>
        <div class="row" id="tab2">
            <div class="col">
                <p>Tab content 2</p>
            </div>
        </div>
        <div class="row" id="tab3">
            <div class="col">
                <p>Tab content 3</p>
            </div>
        </div>
{%- highlight html -%}
<div class="sgds-tabs" data-sgds="tabs">
    <ul class="is-marginless">
        <li class="is-active"><a data-tab="#tab1">Tab 1</a></li>
        <li><a data-tab="#tab2">Tab 2</a></li>
        <li><a data-tab="#tab3">Tab 3</a></li>
    </ul>
</div>
{%- endhighlight -%}
        <p class="margin--top">You can have border by using the <code>is-boxed</code> modifier.</p>
        <div class="sgds-tabs is-boxed">
            <ul class="is-marginless">
                <li class="is-active"><a><p>Tab 1</p></a></li>
                <li><a><p>Tab 2</p></a></li>
                <li><a><p>Tab 3</p></a></li>
            </ul>
        </div>
{%- highlight html -%}
<div class="sgds-tabs is-boxed">
    <ul class="is-marginless">
        <li class="is-active"><a><p>Tab 1</p></a></li>
        <li><a><p>Tab 2</p></a></li>
        <li><a><p>Tab 3</p></a></li>
    </ul>
</div>
{%- endhighlight -%}
        <p class="margin--top">You can have toggle buttons by using the <code>is-toggle</code> modifier.</p>
        <div class="sgds-tabs is-toggle is-fullwidth">
            <ul class="is-marginless">
                <li class="is-active"><a><span>Tab 1</span></a></li>
                <li><a><span>Tab 2</span></a></li>
                <li><a><span>Tab 3</span></a></li>
            </ul>
        </div>
{%- highlight html -%}
<div class="sgds-tabs is-toggle is-fullwidth">
    <ul class="is-marginless">
        <li class="is-active"><a><span>Tab 1</span></a></li>
        <li><a><span>Tab 2</span></a></li>
        <li><a><span>Tab 3</span></a></li>
    </ul>
</div>
{%- endhighlight -%}
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Guidelines</h3>
        <p>Tab should:</p>
        <ul>
            <li class="margin--bottom">Be clearly labeled to help differentiate the sections beneath them</li>
            <li class="margin--bottom">Have short labels, try to keep to single word</li>
            <li class="margin--bottom">Have only one active at a time</li>
            <li class="margin--bottom">Not be used for primary navigation</li>
        </ul>
    </div>
</div>

<hr>

{%- include sgds-feedback.html -%}