---
title: Navigation
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/navigation/
category: Components/Navigation
breadcrumb: Components
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary"><b>Navigation Components</b> allow navigation between pages that represent an ordered collection of items</h4>
    </div>
</div>

<hr>

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <div class="row margin--top--lg">
            <div class="col is-4">
                <a href="/components/navigation/tab/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-tab is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Tab</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">
                <a href="/components/navigation/breadcrumb/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-breadcrumb is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Breadcrumb</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4"></div>
        </div>
    </div>
</div>