---
title: Navigation
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/navigation/
category: Components/Navigation
breadcrumb: Components
---

<div class="row padding--top">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Navigation Components</b> allow navigation between pages that represent an ordered collection of items</h4>
        <div class="row">
            <div class="col is-4">
                <div class="sgds-card has-text-centered">
                    <div class="sgds-card-content bg-light">
                        <span class="has-text-secondary sgds-icon sgds-icon-tab is-size-1"></span>
                    </div>
                    <div class="sgds-card-footer">
                        <div class="sgds-card-footer-item">
                            <span><a href="/components/navigation/tab/">Tab</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-4">

            </div>
            <div class="col is-4">

            </div>
        </div>
    </div>
</div>