_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.idea
.vscode
.images/
*.tar.gz

node_modules

/scripts
/apps/build
# Dont commit compressed images
/assets/img

# /css, /fonts and /js are distribution files

/fonts
/js
/contents/testing