_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.idea
.vscode
*.tar.gz
.DS_Store
node_modules


# Dont commit compressed images

# /css, /fonts and /js are distribution files

/lib/*.js
/lib/*.js.map
.DS_Store

/portal/css
/lib/css/