_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.idea
.vscode
.images/
*.tar.gz
dist
.DS_Store
node_modules

/scripts
/apps/build
# Dont commit compressed images
/assets/img

# /css, /fonts and /js are distribution files

/fonts
/js
/contents/testing
css/sgds.css.map
assets/js/*.js
assets/js/*.js.map
assets/sgds.js
assets/sgds.js.map
css/sgds.css
