---
title: Breadcrumb
subtitle: Subtitle
layout: layout-docs
category: General
breadcrumb: General
icon: breadcrumb
---


<h4 class="has-text-primary">Breadcrumb is a navigation aid that display a user's location on a website as a row of links, usually around the top of the page</h4>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Default Breadcrumb</h5>
<nav class="sgds-breadcrumb" aria-label="breadcrumbs">
    <ul class="is-marginless margin--left">
        <li><a href="">HOME</a></li>
        <li><a href="">LINK 1</a></li>
        <li><a href="">LINK 2</a></li>
    </ul>
</nav>

<h5 class="has-text-weight-semibold margin--bottom">Usage</h5>
{%- highlight html -%}
<nav class="sgds-breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">LINK 1</a></li>
        <li><a href="">LINK 2</a></li>
    </ul>
</nav>
{%- endhighlight -%}
<button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy snippet</button>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Breadcrumb with Background Color</h5>
<nav class="sgds-breadcrumb has-background-dark padding--bottom" aria-label="breadcrumbs">
    <ul>
        <li><a class="has-text-white" href="">HOME</a></li>
        <li><a class="has-text-white" href="">LINK 1</a></li>
        <li><a class="has-text-white" href="">LINK 2</a></li>
    </ul>
</nav>


<h5 class="has-text-weight-semibold margin--bottom">Usage</h5>
{%- highlight html -%}
<nav class="sgds-breadcrumb has-background-dark" aria-label="breadcrumbs">
    <ul>
        <li><a class="has-text-white" href="">HOME</a></li>
        <li><a class="has-text-white" href="">LINK 1</a></li>
        <li><a class="has-text-white" href="">LINK 2</a></li>
    </ul>
</nav>
{%- endhighlight -%}
 <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy snippet</button>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Breadcrumb should:</p>
<ul>
    <li>Not replace primary navigation with breadcrumb</li>
    <li>Not be used if all the pages are on the same level</li>
    <li>Use to show hierarchy and not history</li>
    <li>Be located in the top half of your web page</li>
    <li>Progress from the highest level to the lowest</li>
    <li>Always start with the homepage and end with the current page</li>
</ul>


<hr class="margin--bottom--lg margin--top--lg">

{%- include sgds-feedback.html -%}
