---
title: Callout
subtitle: Subtitle
layout: layout-sidenav
category: General
breadcrumb: General
icon: callout
---


<h4 class="has-text-primary">Callout is an excerpt of text used in design to draw attention to or label something</h4>

<hr class="margin--bottom--lg margin--top--lg">

<blockquote>
    <p><b>Note:</b></p>
    <ul>
        <li>Excerpt 1</li>
        <li>Excerpt 2</li>
    </ul>
</blockquote>

<h5 class="has-text-weight-semibold margin--top--lg margin--bottom">Usage</h5>
{%- highlight html -%}
<blockquote>
    <p><b>Note:</b></p>
    <ul>
        <li>Excerpt 1</li>
        <li>Excerpt 2</li>
    </ul>
</blockquote>
{%- endhighlight -%}
<button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy snippet</button>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Callout should:</p>
<ul>
    <li>Use when you want to highlight certain part of an article prominently</li>
    <li>Use sparingly in a page as too many of it will cause distractions</li>
</ul>

<hr class="margin--bottom--lg margin--top--lg">

{%- include sgds-feedback.html -%}
