---
title: Card
subtitle: Subtitle
layout: layout-docs
category: General
breadcrumb: General
icon: card
---

<h4 class="has-text-primary">Card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options</h4>

<hr class="margin--bottom--lg margin--top--lg">

<div class="row">
    <div class="col is-6">
        <div class="sgds-card">
            <div class="sgds-card-content">
                <p class="title">Card 1</p>
                <p class="subtitle">SG Design System</p>
            </div>
            <div class="sgds-card-footer">
                <div class="sgds-card-footer-item">
                    <span><a href="">View</a></span>
                </div>
                <div class="sgds-card-footer-item">
                    <span><a href="">Share</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col is-6">
        <div class="sgds-card">
            <div class="sgds-card-content">
                <p class="title">Card 2</p>
                <p class="subtitle">SG Design System</p>
            </div>
            <div class="sgds-card-footer">
                <div class="sgds-card-footer-item">
                    <span><a href="">View</a></span>
                </div>
                <div class="sgds-card-footer-item">
                    <span><a href="">Share</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Use this code snippet to any part of your project.</p>
{%- highlight html -%}
<div class="sgds-card">
    <div class="sgds-card-content">
        <p class="title">Card title</p>
        <p class="subtitle">SG Design System</p>
    </div>
    <div class="sgds-card-footer">
        <div class="sgds-card-footer-item">
            <span><a href="">View</a></span>
        </div>
        <div class="sgds-card-footer-item">
            <span><a href="">Share</a></span>
        </div>
    </div>
</div>
{%- endhighlight -%}
<button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy snippet</button>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Card should:</p>
<ul>
    <li>Use headings that set clear expectations about its purpose</li>
    <li>Prioritise information of the content so user know what comes first</li>
    <li>Avoid too many call-to-action buttons and only one primary call-to-action per card</li>
</ul>


<hr class="margin--bottom--lg margin--top--lg">

{%- include sgds-feedback.html -%}
