---
title: Form
subtitle: Subtitle
layout: layout-docs
category: General
breadcrumb: General
icon: checklist
---


<h4 class="has-text-primary">
    Form elements are a key aspect of HTML that allows communication between web browser & server.
</h4>

<hr class="margin--bottom--lg margin--top--lg">

<p>A quick example of how a common feedback form will look like</p>

<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Text input">
    </div>
</div>

<div class="field">
    <label class="label">Username</label>
    <div class="control">
        <input class="input is-success" type="text" placeholder="Text input" value="Username">
    </div>
    <p class="help is-success">This username is available</p>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control">
        <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    </div>
    <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
    <label class="label">Subject</label>
    <div class="control">
        <div class="select">
            <select>
                <option>Select dropdown</option>
                <option>With options</option>
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Message</label>
    <div class="control">
        <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="radio">
            <input type="radio" name="question">
            Yes
        </label>
        <label class="radio">
            <input type="radio" name="question">
            No
        </label>
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="sgds-button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="sgds-button is-text">Cancel</button>
    </div>
</div>

<div class="field has-addons">
    <div class="control">
        <input class="input" type="text" placeholder="Find a repository">
    </div>
    <div class="control">
        <a class="sgds-button is-info">
            Search
        </a>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Usage</h5>

{%- highlight html -%}
<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Text input">
    </div>
</div>

<div class="field">
    <label class="label">Username</label>
    <div class="control">
        <input class="input is-success" type="text" placeholder="Text input" value="Username">
    </div>
    <p class="help is-success">This username is available</p>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control">
        <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    </div>
    <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
    <label class="label">Subject</label>
    <div class="control">
        <div class="select">
            <select>
                <option>Select dropdown</option>
                <option>With options</option>
            </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Message</label>
    <div class="control">
        <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="radio">
            <input type="radio" name="question">
            Yes
        </label>
        <label class="radio">
            <input type="radio" name="question">
            No
        </label>
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="sgds-button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="sgds-button is-text">Cancel</button>
    </div>
</div>

<div class="field has-addons">
    <div class="control">
        <input class="input" type="text" placeholder="Find a repository">
    </div>
    <div class="control">
        <a class="sgds-button is-info">
            Search
        </a>
    </div>
</div>
{%- endhighlight -%}
<button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy snippet</button>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Form should:</p>
<ul>
    <li>Include characters outside the standard Roman alphabet.</li>
    <li>Only show error validation messages after a user has interacted with a particular field.</li>
    <li>Be labeled properly for each field </li>
</ul>

<hr class="margin--bottom--lg margin--top--lg">

{%- include sgds-feedback.html -%}

