---
title: Tab
subtitle: Subtitle
layout: layout-docs
category: General
breadcrumb: General
icon: tab
js: true
---


<h4 class="has-text-primary">Tabs are navigation elements that let users easily access different areas of a site or different parts of an individual page. Think tabbed dividers in a filing cabinet – by clicking a tab, users can easily locate a page containing related content</h4>

<div class="sgds-tabs">
    <ul class="no-margin" role="tablist">
        <li class="is-active">
            <a data-tab="#tab1" role="tab" aria-selected="true" aria-controls="tab1">
                <i class="sgds-icon sgds-icon-place padding--right--sm"></i>
                Tab 1
            </a>
        </li>
        <li>
            <a data-tab="#tab2" role="tab" aria-selected="false" aria-controls="tab2">
                <i class="sgds-icon sgds-icon-boat padding--right--sm"></i>
                Tab 2
            </a>
        </li>
        <li>
            <a data-tab="#tab3" role="tab" aria-selected="false" aria-controls="tab3">
                <i class="sgds-icon sgds-icon-map padding--right--sm"></i>
                Tab 3
            </a>
        </li>
    </ul>
</div>
<div class="row" id="tab1" role="tabpanel" aria-labelledby="tab1">
    <div class="col">
        <div class="row">
            <div class="col"><h5>Tab 1 Content</h5></div>
            <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eos fugiat in incidunt mollitia quam qui totam vel veritatis vero.</div>
            <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eos fugiat in incidunt mollitia quam qui totam vel veritatis vero.</div>
        </div>
    </div>
</div>
<div class="row" id="tab2" role="tabpanel" aria-labelledby="tab2">
    <div class="col">
        <h5>Tab 2 Content</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti deserunt enim illo impedit libero, temporibus veritatis. Deserunt, fugit quasi! Voluptates!</p>
    </div>
</div>
<div class="row" id="tab3" role="tabpanel" aria-labelledby="tab3">
    <div class="col">
        <h5>Tab 3 Content</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aspernatur beatae, dolores ea eum illo quasi reprehenderit sequi vero?</p>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">

<h6 class="has-text-weight-semibold">Code Snippets for Tabs</h6>
{%- highlight html -%}
<div class="sgds-tabs">
    <ul class="no-margin" role="tablist">
        <li class="is-active">
            <a data-tab="#tab1" role="tab" aria-selected="true" aria-controls="tab1">
                <i class="sgds-icon sgds-icon-place padding--right--sm"></i>
                Tab 1
            </a>
        </li>
        <li>
            <a data-tab="#tab2" role="tab" aria-selected="false" aria-controls="tab2">
                <i class="sgds-icon sgds-icon-boat padding--right--sm"></i>Tab 2
            </a>
        </li>
        <li>
            <a data-tab="#tab3" role="tab" aria-selected="false" aria-controls="tab3">
                <i class="sgds-icon sgds-icon-map padding--right--sm"></i>Tab 3
            </a>
        </li>
    </ul>
</div>
{%- endhighlight -%}
<button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy snippet for the tabs</button>
<hr class="margin--bottom--lg margin--top--lg">
<h6 class="has-text-weight-semibold">Code Snippets for Tab Content</h6>
{%- highlight html -%}
<div class="row" id="tab1">
    <div class="col">
        <p>Tab content 1</p>
    </div>
</div>
<div class="row" id="tab2">
    <div class="col">
        <p>Tab content 2</p>
    </div>
</div>
<div class="row" id="tab3">
    <div class="col">
        <p>Tab content 3</p>
    </div>
</div>
{%- endhighlight -%}
<button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight1'>Copy snippet for the tab content</button>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Tab should:</p>
<ul>
    <li>Be clearly labeled to differentiate the sections beneath them</li>
    <li>Have short labels, kept to single words if possible</li>
    <li>Have only one being active at a time</li>
    <li>Not be used for primary navigation</li>
</ul>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Style</h5>
<table class="table">
    <thead>
    <tr>
        <th>Modifier</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>is-boxed</td>
        <td>Use when you want a border</td>
    </tr>
    <tr>
        <td>is-toggle</td>
        <td>Use when you want to have toggle buttons</td>
    </tr>
    <tr>
        <td>is-centered</td>
        <td>Use when you want position your toggle buttons at the center</td>
    </tr>
    <tr>
        <td>is-small<br>is-medium</br>is-large</td>
        <td>Use when you want to change the size of your tabs</td>
    </tr>
    </tbody>
</table>

<hr class="margin--bottom--lg margin--top--lg">

{%- include sgds-feedback.html -%}
