---
title: Customer's Info
permalink: /admin-template/consumer-info/
layout: admin-template/layouts-single-side-nav
breadcrumb: General
---

<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col is-4">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title">
                       Particulars
                    </p>
                </div>
                <div class="sgds-card-content">
                    <img src="https://randomuser.me/api/portraits/women/48.jpg" alt="" style="border-radius:400px;">
                    <h4 class="has-text-weight-bold padding--top padding--bottom">Lorem ipsum</h4>
                    <table class="table is-fullwidth is-striped is-narrow">
                        <tbody>
                            <tr>
                                <td class="has-text-weight-bold">Birthdate</td>
                                <td>November 20, 1984</td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Registration Since</td>
                                <td>15/10/2014 - 12:25</td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Last Visit</td>
                                <td>06/11/2014 - 09:41</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="sgds-card margin--bottom">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title">
                        Stats
                    </p>
                </div>
                <div class="sgds-card-content">

                </div>
            </div>
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title">
                        Activities
                    </p>
                </div>
                <div class="sgds-card-content">
                    <div class="sgds-tabs" data-sgds="tabs">
                        <ul>
                            <li class="is-active"><a data-tab="#tab1">Orders</a></li>
                            <li><a data-tab="#tab2">Products in Cart</a></li>
                            <li><a data-tab="#tab3">Customer Address</a></li>
                        </ul>
                    </div>
                    <div class="row" id="tab1">
                        <div class="col">
                            <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-bordered is-narrow">
                                <thead class="has-text-weight-bold">
                                    <tr>
                                        <td>Order No.</td>
                                        <td>Customer</td>
                                        <td>Product</td>
                                        <td>Value</td>
                                        <td>Status</td>
                                        <td>Submitted</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Lorem ipsum</td>
                                        <td>Product</td>
                                        <td>$65.00</td>
                                        <td><span class="sgds-tag is-rounded is-danger">Canceled</span></td>
                                        <td>16 October 2018</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Lorem ipsum</td>
                                        <td>Product</td>
                                        <td>$65.00</td>
                                        <td><span class="sgds-tag is-rounded is-success">Delivered</span></td>
                                        <td>16 October 2018</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Lorem ipsum</td>
                                        <td>Product</td>
                                        <td>$65.00</td>
                                        <td><span class="sgds-tag is-rounded is-info">Shipping</span></td>
                                        <td>16 October 2018</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Lorem ipsum</td>
                                        <td>Product</td>
                                        <td>$65.00</td>
                                        <td><span class="sgds-tag is-rounded is-warning">Delayed</span></td>
                                        <td>16 October 2018</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="tab2">
                        <div class="col">
                            <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-bordered is-narrow">
                                <thead class="has-text-weight-bold">
                                <tr>
                                    <td>Product ID</td>
                                    <td>Product Name</td>
                                    <td>Price</td>
                                    <td>Stocks</td>
                                    <td>Status</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                    <td>$65.00</td>
                                    <td>1000</td>
                                    <td><span class="sgds-tag is-rounded is-success">Available</span></td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                    <td>$65.00</td>
                                    <td>1000</td>
                                    <td><span class="sgds-tag is-rounded is-success">Available</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="tab3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="sgds-card">
                                        <div class="sgds-card-header">
                                            <p class="sgds-card-header-title">
                                                Billing Address
                                            </p>
                                        </div>
                                        <div class="sgds-card-content">
                                            <div class="content">
                                                <h3>Lorem ipsum</h3>
                                                <p>
                                                    Sunset Str 620<br>
                                                    Melbourne<br>
                                                    Australia, 21-842
                                                </p>
                                                <p>

                                                    <a href=""> <i class="sgds-icon sgds-icon-mail"></i> email@email.com</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="sgds-card">
                                        <div class="sgds-card-header">
                                            <p class="sgds-card-header-title">
                                                Shipping Address
                                            </p>
                                        </div>
                                        <div class="sgds-card-content">
                                            <div class="content">
                                                <h3>Lorem ipsum</h3>
                                                <p>
                                                    Sunset Str 620<br>
                                                    Melbourne<br>
                                                    Australia, 21-842
                                                </p>
                                                <p>

                                                    <a href=""> <i class="sgds-icon sgds-icon-mail"></i> email@email.com</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
