---
title: FAQs
permalink: /admin-template/faqs/
layout: admin-template/layouts-single-side-nav
breadcrump: FAQs
---
{% include admin-template/base.html %}
<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col is-4">
            <div class="sgds-accordion-container">
                <div class="sgds-accordion">
                    <a class="sgds-accordion-header">
                        <h5>Title 1</h5> <i class="sgds-icon sgds-icon-chevron-down"></i>
                    </a>
                    <div class="sgds-accordion-body">
                        your content
                    </div>
                </div>
                <div class="sgds-accordion">
                    <a class="sgds-accordion-header">
                        <h5>Title 2</h5> <i class="sgds-icon sgds-icon-chevron-down"></i>
                    </a>
                    <div class="sgds-accordion-body">
                        your content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
