---
permalink: /admin-template/forms/
title: Form & Checkbox
layout: admin-template/layouts-single-side-nav
---
<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Checkbox</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Checkbox
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-small">
                    <label class="label">Small padding</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-small" type="text" placeholder="Small sized input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Normal label</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Normal sized input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-medium">
                    <label class="label">Medium label</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-medium" type="text" placeholder="Medium sized input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-large">
                    <label class="label">Large label</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" placeholder="Large sized input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
