---
title: Health Status
permalink: /admin-template/health-status/
layout: admin-template/layouts-single-side-nav
---

<div class="sgds-container is-fluid has-background-white padding--lg">
    <div class="row">
        <div class="col">
            <!--<div class="sgds-tabs" data-sgds="tabs">-->
            <!--<ul>-->
            <!--<li class="is-active">-->
            <!--<a data-tab="#tab1">-->
            <!--<span class="icon is-small"><i class="sgds-icon sgds-icon-cog" aria-hidden="true"></i></span>-->
            <!--System-->
            <!--</a>-->
            <!--</li>-->
            <!--<li><a data-tab="#tab2"><span class="icon is-small"><i class="sgds-icon sgds-icon-cog" aria-hidden="true"></i></span>-->
            <!--System</a></li>-->
            <!--<li><a data-tab="#tab3"><span class="icon is-small"><i class="sgds-icon sgds-icon-cog" aria-hidden="true"></i></span>-->
            <!--System</a></li>-->
            <!--<li><a data-tab="#tab4"><span class="icon is-small"><i class="sgds-icon sgds-icon-cog" aria-hidden="true"></i></span>-->
            <!--System</a></li>-->
            <!--</ul>-->
            <!--</div>-->

        </div>
    </div>
    <div class="sgds-tabs" data-sgds="tabs">
        <ul>
            <li class="is-active"><a data-tab="#tab1">Sub System Health</a></li>
            <li><a data-tab="#tab2">Cluster</a></li>
            <li><a data-tab="#tab3">Containers</a></li>
            <li><a data-tab="#tab4">Gateway Connectivity</a></li>
        </ul>
    </div>


    <div class="row" id="tab1">
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title is-block">
                        Sub System Health<br>
                        <span class="is-size-7 has-text-weight-normal">Health status of various sub-systems</span>
                    </p>

                    <a class="sgds-card-header-icon">
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Refresh Status
                        </button>&nbsp;
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Canary
                            Monitoring
                        </button>
                    </a>
                </div>
                <div class="sgds-card-content">
                    <div class="row is-multiline">
                        <div class="col is-12 padding--bottom--none">
                            <h5 class="has-text-weight-bold is-uppercase">OPENAM</h5>
                        </div>
                        <div class="col is-6">
                            <div class="sgds-box">
                                <div class="row is-vcentered">
                                    <div class="col">
                                        <img src="/assets/img/openam.png" alt="">
                                    </div>
                                    <div class="col is-8">
                                        <span class="sgds-tag is-info is-rounded">
                                        intranet
                                        </span><br>
                                        https://sso.apex.dev:443/openam
                                    </div>
                                    <div class="col">
                                        <div class="sgds-button is-outlined is-success is-rounded">Healthy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row is-multiline">
                        <div class="col is-12 padding--bottom--none">
                            <h5 class="has-text-weight-bold is-uppercase">Ansible Tower</h5>
                        </div>
                        <div class="col is-6">
                            <div class="sgds-box has-border-danger">
                                <div class="row is-vcentered">
                                    <div class="col">
                                        <img src="/assets/img/ansible-tower.png" alt="">
                                    </div>
                                    <div class="col is-8">
                                        <span class="sgds-tag is-warning is-rounded">
                                        internet
                                        </span><br>
                                        https://sso.apex.dev:443/openam
                                    </div>
                                    <div class="col">
                                        <div class="sgds-button is-outlined is-success is-rounded">Healthy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col is-6">
                            <div class="sgds-box">
                                <div class="row is-vcentered">
                                    <div class="col">
                                        <img src="/assets/img/ansible-tower.png" alt="">
                                    </div>
                                    <div class="col is-8">
                                        <span class="sgds-tag is-info is-rounded">
                                        intranet
                                        </span><br>
                                        https://sso.apex.dev:443/openam
                                    </div>
                                    <div class="col">
                                        <div class="sgds-button is-outlined is-danger is-rounded">Down</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tab2">
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title is-block">
                        Clusters<br>
                        <span class="is-size-7 has-text-weight-normal">Health Status of Akana Cluster on Apex Platform</span>
                    </p>

                    <a class="sgds-card-header-icon">
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Refresh Status
                        </button>&nbsp;
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Canary
                            Monitoring
                        </button>
                    </a>
                </div>
                <div class="sgds-card-content">
                    <div class="sgds-accordion-container">
                        <div class="sgds-accordion">
                            <a class="sgds-accordion-header">
                                <h6>Title 1</h6> <i class="sgds-icon sgds-icon-chevron-down"></i>
                            </a>
                            <div class="sgds-accordion-body">
                                your content
                            </div>
                        </div>
                        <div class="sgds-accordion">
                            <a class="sgds-accordion-header">
                                <h6>Title 2</h6> <i class="sgds-icon sgds-icon-chevron-down"></i>
                            </a>
                            <div class="sgds-accordion-body">
                                your content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tab3">
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title is-block">
                        Containers<br>
                        <span class="is-size-7 has-text-weight-normal">Inspect health of all available ND Containers</span>
                    </p>

                    <a class="sgds-card-header-icon">
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Refresh Status
                        </button>&nbsp;
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Canary
                            Monitoring
                        </button>
                    </a>
                </div>
                <div class="sgds-card-content">

                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tab4">
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title is-block">
                        Gateway Connectivity<br>
                        <span class="is-size-7 has-text-weight-normal">Check sample API connectivity for all gateways</span>
                    </p>

                    <a class="sgds-card-header-icon">
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Test All Gateways
                        </button>&nbsp;
                        <button class="sgds-button is-success"><i class="sgds-icon sgds-icon-plus"></i> Canary
                            Monitoring
                        </button>
                    </a>
                </div>
                <div class="sgds-card-content">

                </div>
            </div>
        </div>
    </div>
</div>

