---
title: Orders
permalink: /admin-template/orders/
layout: admin-template/layouts-single-side-nav
---
{% include admin-template/base.html %}
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col">
                <div class="sgds-notification is-warning">
                    <div class="sgds-notification-detail">
                        <span class="sgds-icon sgds-icon-callout is-size-4"></span>
                        <div class="sgds-notification-content">
                            <p class="has-text-weight-bold">Updates</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aut dicta,
                                ea facere fugit incidunt laborum officia quod unde.</p>
                        </div>
                        <span class="delete" id="cancel-notification"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="sgds-card">
                    <div class="sgds-card-header">
                        <p class="sgds-card-header-title">
                            All Orders
                        </p>
                    </div>
                    <div class="sgds-card-content">
                        <div class="row">
                            <div class="col">
                                <div class="sgds-dropdown is-hoverable">
                                    <div class="sgds-dropdown-trigger">
                                        <button class="sgds-button" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                                            <span>Sort by Order Name</span>
                                            <span class="icon is-small">
                                                    <span class="sgds-icon sgds-icon-chevron-down"></span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                                        <div class="sgds-dropdown-content">
                                            <a href="#" class="sgds-dropdown-item">in Ascending order</a>
                                            <a class="sgds-dropdown-item">Other dropdown item</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="sgds-dropdown is-hoverable">
                                    <div class="sgds-dropdown-trigger">
                                        <button class="sgds-button" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                                            <span>Show 20</span>
                                            <span class="icon is-small">
                                                    <span class="sgds-icon sgds-icon-chevron-down"></span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                                        <div class="sgds-dropdown-content">
                                            <a href="#" class="sgds-dropdown-item">Show 50</a>
                                            <a class="sgds-dropdown-item">Show all</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col has-text-right">
                                <div class="field has-addons has-addons-right">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Search Order">
                                    </div>
                                    <div class="control">
                                        <a class="sgds-button is-primary">
                                            Search
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-bordered is-narrow">
                            <thead class="has-text-weight-bold">
                                <tr>
                                    <td>Order No.</td>
                                    <td>Customer</td>
                                    <td>Product</td>
                                    <td>Value</td>
                                    <td>Status</td>
                                    <td>Submitted</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a href="/admin-template/consumer-info/">Lorem ipsum</a></td>
                                    <td>Product</td>
                                    <td>$65.00</td>
                                    <td><span class="sgds-tag is-rounded is-danger">Canceled</span></td>
                                    <td>16 October 2018</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="/admin-template/consumer-info/">Lorem ipsum</a></td>
                                    <td>Product</td>
                                    <td>$65.00</td>
                                    <td><span class="sgds-tag is-rounded is-success">Delivered</span></td>
                                    <td>16 October 2018</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="/admin-template/consumer-info/">Lorem ipsum</a></td>
                                    <td>Product</td>
                                    <td>$65.00</td>
                                    <td><span class="sgds-tag is-rounded is-info">Shipping</span></td>
                                    <td>16 October 2018</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><a href="/admin-template/consumer-info/">Lorem ipsum</a></td>
                                    <td>Product</td>
                                    <td>$65.00</td>
                                    <td><span class="sgds-tag is-rounded is-warning">Delayed</span></td>
                                    <td>16 October 2018</td>
                                </tr>

                            </tbody>
                        </table>
                        <nav class="sgds-pagination is-rounded is-small" role="navigation" aria-label="pagination">
                            <a class="sgds-pagination-previous">Previous</a>
                            <a class="sgds-pagination-next">Next page</a>
                            <ul class="sgds-pagination-list">
                                <li><a class="sgds-pagination-link" aria-label="Goto page 1">1</a></li>
                                <li><span class="sgds-pagination-ellipsis">&hellip;</span></li>
                                <li><a class="sgds-pagination-link" aria-label="Goto page 45">45</a></li>
                                <li><a class="sgds-pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                                </li>
                                <li><a class="sgds-pagination-link" aria-label="Goto page 47">47</a></li>
                                <li><span class="sgds-pagination-ellipsis">&hellip;</span></li>
                                <li><a class="sgds-pagination-link" aria-label="Goto page 86">86</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
