---
title: Overview
permalink: /admin-template/overview/
layout: admin-template/layouts-single-side-nav
---
{% include admin-template/base.html %}
<div class="sgds-container is-fluid is-boxed margin--bottom has-background-white padding">
    <div class="row">
        <div class="col">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading sgds-tooltip" data-tooltip="Hello">Pending Orders</p>
                        <p class="title">120</p>
                        <p class="subtitle is-size-6 has-text-success">
                            <i class="sgds-icon sgds-icon-arrow-top-right has-text-weight-bold"></i>30%
                            <br>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Orders Today</p>
                        <p class="title">20</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Total Earnings</p>
                        <p class="title">
                            $5,000
                        </p>
                        <p class="subtitle is-size-6 has-text-danger">
                            <i class="sgds-icon sgds-icon-arrow-down has-text-weight-bold"></i>5%

                        </p>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title">
                        <i class="sgds-icon sgds-icon-boat" style="padding-right:10px;"></i>Overview
                    </p>
                    <a class="sgds-card-header-icon sgds-tooltip" data-tooltip="This is a tooltip"><i class="sgds-icon sgds-icon-circle-info"></i></a>
                </div>
                <div class="sgds-card-content">
                    <div class="row">
                        <div class="col">
                            <div class="sgds-dropdown is-hoverable">
                                <div class="sgds-dropdown-trigger">
                                    <button class="sgds-button is-primary is-outlined" aria-haspopup="true"
                                            aria-controls="sgds-dropdown-menu">
                                        <span>Last Year</span>
                                        <span class="sgds-icon sgds-icon-chevron-down"></span>
                                    </button>
                                </div>
                                <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                                    <div class="sgds-dropdown-content">
                                        <a href="#" class="sgds-dropdown-item">Last Month</a>
                                        <a class="sgds-dropdown-item">This Month</a>
                                        <a href="#" class="sgds-dropdown-item">Today</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col is-5">
                            <div class="row is-multiline">
                                <div class="col is-6">
                                    <h1 class="has-text-primary has-text-weight-bold">34,100</h1>
                                    <p class="has-text-info">Total Orders</p>
                                </div>
                                <div class="col is-6">
                                    <h1 class="has-text-primary has-text-weight-bold">2,640</h1>
                                    <p class="has-text-info">Visits</p>
                                </div>
                                <div class="col is-6">
                                    <h1 class="has-text-primary has-text-weight-bold">25,000</h1>
                                    <p class="has-text-info">Customers</p>
                                </div>
                                <div class="col is-6">
                                    <h1 class="has-text-primary has-text-weight-bold">$1,000,000</h1>
                                    <p class="has-text-info">Net Profits</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <canvas id="topAPI" height="400"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <div class="sgds-card-header-title">
                        Latest Order
                    </div>
                    <a href="/admin-template/orders/" class="sgds-card-header-icon">
                        <i class="sgds-icon sgds-icon-privacy-alt" style="margin-right:5px;"></i> View All
                    </a>
                </div>
                <div class="sgds-card-content">
                    <table class="table is-fullwidth is-paddingless">
                        <thead>
                        <tr class="has-text-weight-bold">
                            <td>#</td>
                            <td>Name</td>
                            <td>Payment Method</td>
                            <td>Price</td>
                            <td>Status</td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum</td>
                                <td>Credit Card</td>
                                <td>$65.00</td>
                                <td>
                                    <span class="sgds-tag is-rounded is-success">Delivered</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Lorem ipsum</td>
                                <td>Credit Card</td>
                                <td>$65.00</td>
                                <td>
                                    <span class="sgds-tag is-rounded is-warning">Processing</span>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Lorem ipsum</td>
                                <td>Credit Card</td>
                                <td>$65.00</td>
                                <td>
                                    <span class="sgds-tag is-rounded is-danger">Canceled</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <div class="sgds-card-header-title">
                        Top Products
                    </div>

                    <a href="/admin-template/orders/" class="sgds-card-header-icon">
                        <i class="sgds-icon sgds-icon-privacy-alt" style="margin-right:5px;"></i> View All
                    </a>
                </div>
                <div class="sgds-card-content">
                    <table class="table is-fullwidth is-paddingless">
                        <thead>
                        <tr class="has-text-weight-bold">
                            <td>#</td>
                            <td>Product Name</td>
                            <td>total Order</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="">Lorem ipsum</a></td>
                            <td>$65.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="">Lorem ipsum</a></td>
                            <td>$65.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="">Lorem ipsum</a></td>
                            <td>$65.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





