---
title: Products
permalink: /admin-template/products/
layout: admin-template/layouts-single-side-nav
breadcrump: products
---

{% include admin-template/base.html %}
<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col is-3">
            <div class="sgds-card">
                <div class="sgds-card-header has-background-warning">
                    <p class="sgds-card-header-title  has-text-white">
                        Total Products
                    </p>
                </div>
                <div class="sgds-card-content has-text-centered">
                    <h2 class="margin--none">3,900</h2>
                </div>
            </div>
        </div>
        <div class="col is-3">
            <div class="sgds-card">
                <div class="sgds-card-header has-background-danger">
                    <p class="sgds-card-header-title  has-text-white">
                        Out of Stock
                    </p>
                </div>
                <div class="sgds-card-content has-text-centered">
                    <h2 class="margin--none">3</h2>
                </div>
            </div>
        </div>

        <div class="col is-3">
            <div class="sgds-card">
                <div class="sgds-card-header has-background-success">
                    <p class="sgds-card-header-title  has-text-white">
                        Add new product
                    </p>
                </div>
                <div class="sgds-card-content has-text-centered">
                    <h2 class="margin--none">
                        <i class="sgds-icon sgds-icon-plus"></i>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title">
                        All Products
                    </p>
                </div>
                <div class="sgds-card-content">
                    <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-bordered">
                        <thead class="has-text-weight-bold">
                            <tr>
                                <td>Product ID</td>
                                <td>Product Name</td>
                                <td>Price</td>
                                <td>Stocks</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>1000</td>
                                <td><span class="sgds-tag is-rounded is-success">Available</span></td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>1000</td>
                                <td><span class="sgds-tag is-rounded is-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>1000</td>
                                <td><span class="sgds-tag is-rounded is-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>1000</td>
                                <td><span class="sgds-tag is-rounded is-success">Available</span></td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>1000</td>
                                <td><span class="sgds-tag is-rounded is-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>0</td>
                                <td><span class="sgds-tag is-rounded is-danger">Out of Stock</span></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>1000</td>
                                <td><span class="sgds-tag is-rounded is-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><a href="/admin-template/products/edit/">Lorem ipsum</a></td>
                                <td>$65.00</td>
                                <td>0</td>
                                <td><span class="sgds-tag is-rounded is-danger">Out of Stock</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

