---
title: Edit Product
permalink: /admin-template/products/edit/
layout: admin-template/layouts-single-side-nav

---

<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col is-7">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title">Product Info</p>
                </div>
                <div class="sgds-card-content">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">ID</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Name" value="1234">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Product Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Name" value="lorem ipsum">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Description</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <textarea class="textarea" placeholder="your product description here"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Catergory</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select>
                                            <option>Tablet</option>
                                            <option>Laptop</option>
                                            <option>PC</option>
                                            <option>Console</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Price</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <p class="control">
                                    <span class="select">
                                      <select>
                                        <option>$</option>
                                        <option>£</option>
                                        <option>€</option>
                                      </select>
                                    </span>
                                </p>
                                <p class="control">
                                    <input class="input" type="text" placeholder="" value="65.00">
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Condition</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="member" checked>
                                        New
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="member">
                                        Used
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal margin--top--lg">
                        <div class="field-label">
                            <label class="label"></label>
                        </div>
                        <div class="field-body">
                        <div class="control">
                            <button class="button is-success">Save</button>
                        </div>
                        <div class="control">
                            <button class="button is-text">Cancel</button>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="sgds-card">
                <div class="sgds-card-header">
                    <p class="sgds-card-header-title">Product Image</p>
                </div>
                <div class="sgds-card-content">
                    <div class="file is-boxed">
                        <label class="file-label">
                            <input class="file-input" type="file" name="resume">
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="sgds-icon sgds-icon-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="sgds-card-content">
                    <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-bordered is-narrow">
                        <tbody>
                        <tr>
                            <td class="is-vcentered" style="width:30%"><img src="https://c.stocksy.com/a/Ins800/z9/2117256.jpg" alt=""></td>
                            <td class="is-vcentered">
                                <div class="field">
                                    <input id="switchExample" type="checkbox" name="switchExample" class="switch is-rounded" checked="checked">
                                    <label for="switchExample">Cover</label>
                                </div>
                            </td>
                            <td class="is-vcentered has-text-danger">
                                <i class="sgds-icon sgds-icon-delete"></i> Delete
                            </td>

                        </tr>
                        <tr>
                            <td class="is-vcentered" style="width:30%"><img src="https://c.stocksy.com/a/bbG900/z9/2208787.jpg" alt=""></td>
                            <td class="is-vcentered">
                                <div class="field">
                                    <input id="switchExample1" type="checkbox" name="switchExample" class="switch is-rounded" checked="checked">
                                    <label for="switchExample1">Cover</label>
                                </div>
                            </td>
                            <td class="is-vcentered has-text-danger">
                                <i class="sgds-icon sgds-icon-delete"></i> Delete
                            </td>
                        </tr>
                        <tr>
                            <td class="is-vcentered" style="width:30%"><img src="https://c.stocksy.com/a/yBR200/z9/581186.jpg" alt=""></td>
                            <td class="is-vcentered">
                                <div class="field">
                                    <input id="switchExample2" type="checkbox" name="switchExample" class="switch is-rounded" checked="checked">
                                     <label for="switchExample2">Cover</label>
                                </div>
                            </td>
                            <td class="is-vcentered has-text-danger">
                                <i class="sgds-icon sgds-icon-delete"></i> Delete
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
