---
title: Edit Profile
permalink: /admin-template/profile/
layout: admin-template/layouts-single-side-nav
---

<div class="sgds-container is-fluid">
    <div class="row">
        <div class="col is-6">
            <div class="sgds-box">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input is-danger" type="text" placeholder="ApexAdmin" disabled>
                    </div>
                    <p class="help is-danger">Username cannot be change</p>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="John" value="1234567890">
                    </div>
                    <p class="help is-danger">Password must be blah blah blah...</p>
                </div>

                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="John" value="1234567890">
                    </div>
                </div>

                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="John">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Doe">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="johndoe@agency.gov.sg">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Company</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="johndoe@agency.gov.sg">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox">
                            I agree to the <a href="#">terms and conditions</a>
                        </label>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="sgds-button is-success">Save</button>
                    </div>
                    <div class="control">
                        <button class="sgds-button is-text">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col is-6">

            <div class="content">
                <h5 class="has-text-weight-bold">Questions?</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolore, eius et illum laborum
                    molestiae quam quod sunt temporibus voluptate!
                </p>
                <ol class="has-text-weight-bold">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, porro.</li>
                    <li>Ab, atque consectetur. Ab, adipisci aliquid dolores earum magnam molestias!</li>
                    <li>Ad culpa est fugit ipsum laboriosam maiores minus officia voluptatum.</li>
                    <li>Aperiam cupiditate distinctio fuga fugiat odit quo sint tempore, velit.</li>
                    <li>Distinctio, enim incidunt laudantium neque nostrum pariatur quas quibusdam voluptate.</li>
                </ol>
                <div class="sgds-notification is-warning">Ut venenatis, nisl scelerisque sollicitudin fermentum, quam
                    libero hendrerit ipsum, ut blandit est tellus sit amet turpis.
                </div>
            </div>
        </div>
    </div>
</div>
