<div class="sgds accordion code-snippet" id="{{include.compName}}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{include.compName}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{include.compName}}" aria-expanded="false" aria-controls="collapse-{{include.compName}}">
        See Code
        
      </button>
      <a href="https://www.google.com" class="sgds btn btn-link btn-sm btn-copy" type="button"><i class="bi bi-clipboard"></i></a>
    </h2>
    <div id="collapse-{{include.compName}}" class="accordion-collapse collapse" aria-labelledby="heading-{{include.compName}}" data-bs-parent="#{{include.compName}}">
      <div class="accordion-body">
        {%- highlight ruby -%}{{include.content}}{%- endhighlight -%}
      </div>
    </div>
  </div>
</div>