---
layout: preview
title: {{TITLE}} preview
---

<script setup>
import TemplatePreview from "../../.vitepress/components/components/TemplatePreview.vue";
</script>

<TemplatePreview kind="block" template-key="{{KEY}}" template-title="{{TITLE}}" />
