---
layout: preview
title: {{TITLE}} preview
---

<script setup>
import TemplatePreview from "../../../.vitepress/components/components/TemplatePreview.vue";
</script>

<TemplatePreview template-key="{{KEY}}" template-title="{{TITLE}}" />
