.sgds-example{
    border: 1px solid var(--sgds-gray-400);
    padding: 2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--sgds-gray-100);
    &:last-child{
        border-top:none;
    }
}

// compopnent-specific 
.sgds-example{
    &.highlight{
        padding:0;
        figure {
            margin-bottom: 0;
            pre{
                padding: 1rem 2rem;
                margin: 0;
                code{
                    color: inherit;
                }
            }
        }
    }
    > .btn{
        margin: 0.25rem;
    }
}   

.sgds-example{
    &-image-container{
        display: grid;
        padding: 2rem;
        background-color: var(--sgds-gray-100);
        place-items: center;
        margin-bottom: 1rem;
        border-radius: $border-radius;
    }
    &-image-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        place-items: center;
        img,svg{
            max-width: 100%;
            height: auto;
            background: transparent;
        }
    }
}