---
title: Getting Started
layout: layout-sidenav
permalink: /docs/getting-started/
redirect_from:
- /docs/
---

<div class="row">
    <div class="col">
        <h4 class="has-text-primary">Get started with SGDS</h4>
        <p>Here you'll find an overview of the available components.</p>
        <p>You can also use the side navigation to learn more about available components as well as documentation on
            them.</p>
        <p>If you need help with installation, do head on over to our <a href="/docs/installation-guides">installation
                guides</a> section for the different ways you can install the design system.</p>
    </div>
</div>

<hr class="margin--bottom--lg" />

<h4 class="has-text-primary margin--bottom">Standard Components</h4>
<p>
    These components are mandatory and needs to be included in all .gov.sg websites as stated in
    the <a href="https://www.tech.gov.sg/digital-service-standards/" target="_blank">Digital Service Standards</a>.
</p>

<div class="row is-multiline is-mobile">
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/masthead/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Masthead</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/main-nav/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Main Nav<span class="sgds-tag is-rounded margin--left--sm">JS</span></small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/side-nav/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Side Nav<span class="sgds-tag is-rounded margin--left--sm">JS</span></small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/footer/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Footer</small>
                </div>
            </div>
        </a>
    </div>
</div>


<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">Layout</h4>
<p>Here you'll find documentation and code snippets and how we structure our layout in code. You'll also find the
    breakpoints
    that we use and how to implement them for both desktop and mobile.
</p>

<div class="row is-multiline is-mobile">
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/container/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Container</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/grid/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Grid<span class="sgds-tag is-rounded margin--left--sm">JS</span></small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/responsiveness/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Responsive<span class="sgds-tag is-rounded margin--left--sm">JS</span></small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/section/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Section</small>
                </div>
            </div>
        </a>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">General</h4>
<p>In this section, you'll find the components that we have for you to start building your products.</p>
<p>Codes snippets are provided for you to easily copy and paste together with documentation and guidelines for each of
    the components. </p>

<div class="row is-multiline is-mobile">
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/accordion/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Accordion</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/breadcrumb/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Breadcrumb</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/button/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Button</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/calllout/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Callout</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/card/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Card</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/dropdown/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Dropdown</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/hero/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Hero</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/iconography/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Iconography</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/notification/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Notification</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/Pagination/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Pagination</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/tab/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Tab</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/table/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Table</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/tooltip/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Tooltip</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/typography/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Typography</small>
                </div>
            </div>
        </a>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">Form</h4>
<p>Here you'll find components specific to form building. Code snippets, documentation and guidelines are provided
    as per the general components. 
</p>

<div class="row is-multiline is-mobile">
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/checkbox/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Checkbox</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/radio-buttons/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Radio Buttons</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/text-area/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Text Area</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/text-input/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Text Input</small>
                </div>
            </div>
        </a>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">Helpers</h4>
<p>Helpers are a set of classes to help you alter the style of almost any component. In this section, you will find helper classes
    for colors and display.
</p>

<div class="row is-multiline is-mobile">
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/colours/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Colours</small>
                </div>
            </div>
        </a>
    </div>
    <div class="col is-3-desktop is-4-tablet is-6-mobile">
        <a href="/docs/display/" class="is-flex component-card">
            <div class="sgds-card sgds-card-button">
                <div class="sgds-card-content has-text-centered">

                    <small class="has-text-weight-semibold is-block">
                        Display</small>
                </div>
            </div>
        </a>
    </div>
</div>