---
title: Getting Started
layout: layout-sidenav
permalink: /docs/getting-started/
redirect_from:
- /docs/
---

<div class="row">
    <div class="col">
        <h4 class="has-text-primary">Get started with SGDS</h4>
        <p>Here you'll find an overview of the available components.</p>
        <p>We highly recommend using the base SGDS classes and use a custom css file to override the styling if you need to.
            This is so that any styling updates to the base styles from us can be applied without you doing it manually. This also
            prevents any custom style you have create from being reverted back to the base styles.
        </p>

        <p>For help with installation, do head on over to our <a href="/docs/installation-guides">installation
                guides</a> section for the different ways you can install the design system.</p>

        <p>For help with customisation, do head on over to our <a href="/docs/customise-sgds/">customise with sass</a> section 
            to see how you can customise the look and feel and behaviour of SGDS components.</p>
    </div>
</div>

<hr class="margin--bottom--lg" />

<h4 class="has-text-primary margin--bottom">Standard Components</h4>
<p>
    These components are mandatory and needs to be included in all .gov.sg websites as stated in
    the <a href="https://www.tech.gov.sg/digital-service-standards/" target="_blank">Digital Service Standards</a>.
</p>

<div class="row is-multiline is-mobile">
    <ul>
        <li>
            <a href="/docs/masthead/">Masthead</a>
        </li>
        <li>
            <a href="/docs/main-nav/">Main Nav</a>
            <span class="sgds-tag is-rounded margin--left--sm has-text-weight-semibold">JS</span></small>
        </li>
        <li>
            <a href="/docs/side-nav/">Side Nav</a>
            <span class="sgds-tag is-rounded margin--left--sm has-text-weight-semibold">JS</span></small>
        </li>
        <li>
            <a href="/docs/footer/">Footer</a>
        </li>
    </ul>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">Layout</h4>
<p>Here you'll find documentation and code snippets and how we structure our layout in code. You'll also find the
    breakpoints
    that we use and how to implement them for both desktop and mobile.
</p>

<div class="row is-multiline is-mobile">
    <ul>
        <li>
            <a href="/docs/container/">Container</a>
        </li>
        <li>
            <a href="/docs/grid/">Grid</a>
            <span class="sgds-tag is-rounded margin--left--sm has-text-weight-semibold">JS</span></small>
        </li>
        <li>
            <a href="/docs/responsiveness/">Responsive</a>
            <span class="sgds-tag is-rounded margin--left--sm has-text-weight-semibold">JS</span></small>
        </li>
        <li>
            <a href="/docs/section/">Section</a>
        </li>
    </ul>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">General</h4>
<p>In this section, you'll find the components that we have for you to start building your products.
    Different components can be put together to form patterns or templates depending on your needs. E.g components in
    the form section together with a button
    to make a submission form. </p>
<p>Codes snippets together with documentation and guidelines are provided for each the components.</p>

<div class="row is-multiline is-mobile">
    <div class="col">
        <ul>
            <li>
                <a href="/docs/accordion/">Accordion</a>
            </li>
            <li>
                <a href="/docs/breadcrumb/">Breadcrumb</a>
            </li>
            <li>
                <a href="/docs/button/">Button</a>
            </li>
            <li>
                <a href="/docs/callout/">Callout</a>
            </li>
            <li>
                <a href="/docs/card/">Card</a>
            </li>
        </ul>
    </div>

    <div class="col">
        <ul>
            <li>
                <a href="/docs/dropdown/">Dropdown</a>
            </li>
            <li>
                <a href="/docs/hero/">Hero</a>
            </li>
            <li>
                <a href="/docs/iconography/">Iconography</a>
            </li>
            <li>
                <a href="/docs/notification/">Notification</a>
            </li>
            <li>
                <a href="/docs/pagination/">Pagination</a>
            </li>
        </ul>
    </div>

    <div class="col">
        <ul>
            <li>
                <a href="/docs/tab/">Tab</a>
            </li>
            <li>
                <a href="/docs/table/">Table</a>
            </li>
        </ul>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">Form</h4>
<p>Here you'll find components specific to form building. Code snippets, documentation and guidelines are provided
    as per the general components.
</p>

<div class="row is-multiline is-mobile">
    <ul>
        <li>
            <a href="/docs/checkbox/">Checkbox</a>
        </li>
        <li>
            <a href="/docs/radio-buttons/">Radio Buttons</a>
        </li>
        <li>
            <a href="/docs/text-area/">Text Area</a>
        </li>
        <li>
            <a href="/docs/text-input/">Text Input</a>
        </li>
    </ul>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h4 class="has-text-primary margin--bottom">Helpers</h4>
<p>Helpers are a set of classes to help you alter the style of almost any component. In this section, you will find
    helper classes
    for colors and display.
</p>

<div class="row is-multiline is-mobile margin--bottom--lg">
    <ul>
        <li>
            <a href="/docs/colours/">Colours</a>
        </li>
        <li>
            <a href="/docs/display/">Display</a>
        </li>
    </ul>
</div>