<div class="bp-card">
    <div class="bp-card-content">
        <p class="title">
            Lorem Ipsum
        </p>
        <p class="subtitle">
            John Cena
        </p>
    </div>
    <footer class="bp-card-footer">
        <p class="bp-card-footer-item">
            <span>
                <a href="">Twitter</a>
            </span>
        </p>
        <p class="bp-card-footer-item">
            <span>
                <a href="">Twitter</a>
            </span>
        </p>
    </footer>
</div>