 <nav class="sgds navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img
          src="https://www.developer.tech.gov.sg/assets/img/logo_color.svg"
          alt="Home"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Components</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Patterns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Templates</a>
          </li>
          <li class="nav-item sgds dropdown">
            <a
              class="nav-link sgds dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Theme customiser<i class="bi bi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Option 1</a></li>
              <li><a class="dropdown-item active" href="#">Option 2</a></li>
              <li><a class="dropdown-item" href="#">Option 3</a></li>
              <li><a class="dropdown-item" href="#">Option 4</a></li>
            </ul>
          </li>
          <li class="nav-item align-self-center d-none d-lg-block h-100">
            <a class="nav-link" href="#"><i class="bi bi-search"></i></a>
          </li>
          <li class="nav-item align-self-center d-none d-lg-block h-100">
            <a class="nav-link" href="#"
              ><i class="bi bi-grid-3x3-gap-fill"></i
            ></a>
          </li>
        </ul>
      </div>
  </nav>