---
title: Column Sizes
subtitle: Define the size of each column individually
layout: pages
permalink: /layouts/rows-columns/column-sizes/
tags:
category: Layouts
---
<div class="row">
    <div class="col">
        <div class="content">
            <h5 class="title">
                <b>12 Column Grid</b>
            </h5>
            <p class="subtitle">
                As the grid can be divided into 12 columns, there are size classes for each division:<br>

            </p>
            <p class="subtitle"><code>.is-2</code> to <code>.is-12</code></p>
        </div>
    </div>
</div>

<div class="row">

    <div class="bp-example">
        <div class="bp-container">
            <div class="row has-text-centered">
                <div class="col is-2">
                    <p>.is-2</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
            </div>
            <div class="row">
                <div class="col is-3">
                    <p>.is-3</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
            </div>
            <div class="row">
                <div class="col is-6">
                    <p>.is-6</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>1</p>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
{% highlight html %}
<div class="row">
    <div class="col">
        <p>I'm a 1-grid column</p>
    </div>
    <div class="col">
        <p>I'm a 1-grid column</p>
    </div>
    <div class="col">
        <p>I'm a 1-grid column</p>
    </div>
    <div class="col is-6">
        <p>I'm a 6-grid column</p>
    </div>
    <div class="col">
        <p>I'm a 1-grid column</p>
    </div>
    <div class="col">
        <p>I'm a 1-grid column</p>
    </div>
    <div class="col">
        <p>I'm a 1-grid column</p>
    </div>
</div>
{% endhighlight %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="content">
            <h5 class="title"><b>Offset Columns</b></h5>
            <p class="subtitle">Use empty column to create empty horizontal space from the left using <code>.is-offset-x</code></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="bp-example">
        <div class="bp-container">
            <div class="row">
                <div class="col is-6 is-offset-3">I'm a 6-grid column with 3-grid offset.</div>
            </div>
            <div class="row">
                <div class="col is-3 is-offset-9">I'm a 3-grid column with 9-grid offset.</div>
            </div>
            <div class="row">
                <div class="col is-5 is-offset-2">I'm a 5-grid column with 2-grid offset.</div>
            </div>
            <div class="row">
                <div class="col is-2 is-offset-1">I'm a 2-grid column with 1-grid offset.</div>
                <div class="col is-5 is-offset-2">I'm a 5-grid column with 2-grid offset.</div>
                <div class="col is-offset-1">Im a auto width column with 1-grid offset</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
{% highlight html %}
<!--Row 1-->
<div class="row">
    <div class="col is-6 is-offset-3">I'm a 6-grid column with 3-grid offset.</div>
</div>
<!--Row 2-->
<div class="row">
    <div class="col is-3 is-offset-9">I'm a 3-grid column with 9-grid offset.</div>
</div>
<!--Row 3-->
<div class="row">
    <div class="col is-5 is-offset-2">I'm a 5-grid column with 2-grid offset.</div>
</div>
<!--Row 4-->
<div class="row">
    <div class="col is-2 is-offset-1">I'm a 2-grid column with 1-grid offset.</div>
    <div class="col is-5 is-offset-2">I'm a 5-grid column with 2-grid offset.</div>
    <div class="col is-offset-1">Im a auto width column with 1-grid offset</div>
</div>

{% endhighlight %}
    </div>
</div>
