---
title: Responsiveness
subtitle: A simple way to build responsive columns
layout: pages
permalink: /layouts/rows-columns/responsiveness
tags:
category: Layouts
---
<div class="row">
    <div class="col">
        <div class="content">
            <h4 class="title">
                <b>Default row example</b>

            </h4>
            <p class="subtitle">Building a columns layout is very simple:</p>
            <ol>
                <li>Add a <code>row</code> container</p></li>
                <li>Add as many <code>col</code> elements as you want</p></li>
            </ol>

            <p>Each column will have an <b>equal width</b>, no matter the number of rows.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="display">Col 1</p>
    </div>
    <div class="col">
        <p class="display">Col 2</p>
    </div>
    <div class="col">
        <p class="display">Col 3</p>
    </div>
    <div class="col">
        <p class="display">Col 4</p>
    </div>
</div>

<div class="row">
    <div class="col">
{%- highlight html -%}
<div class="row">
    <div class="col">
        <p>Col 1</p>
    </div>
    <div class="col">
        <p>Col 2</p>
    </div>
    <div class="col">
        <p>Col 3</p>
    </div>
    <div class="col">
        <p>Col 4</p>
    </div>
</div>
{%- endhighlight -%}
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="content">
            <h4 class="title">
                <b>Default row example</b>

            </h4>
            <p class="subtitle">Building a columns layout is very simple:</p>
            <ol>
                <li>Add a <code>row</code> container</p></li>
                <li>Add as many <code>col</code> elements as you want</p></li>
            </ol>

            <p>Each column will have an <b>equal width</b>, no matter the number of rows.</p>
        </div>
    </div>
</div>