<footer class="sgds footer">
    <section class="footer-top">
        <div class="container-fluid">
            <div class="row footer-header">
                <div class="col col-lg-6 col-md-12">
                    <div class="title">Singapore Government Design System</div>
                    <div class="description">
                        {{site.description}}
                    </div>
                </div>
            </div>
            <div class="row footer-items">
                <div class="col-xxl-2 col-md-4 mb-3">
                    <ul class="links">
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/components/">Components</a></li>
                        <li><a href="/patterns/">Patterns</a></li>
                        <li><a href="/templates/">Templates</a></li>
                        <li><a href="/faqs/">FAQs</a></li>
                    </ul>
                </div>
                
                <div class="col-xxl-2 col-md-4 mb-3">
                    <ul class="links">
                        <li><a href="{{site.github-link}}" target="_blank" rel="noopener noreferrer">SGDS Github Repo</a></li>
                        <li><a href="{{site.react-storybook}}" target="_blank" rel="noopener noreferrer">SGDS React Storybook</a></li>
                        <li><a href="https://v1.designsystem.tech.gov.sg">SGDS v1.4.0</a></li>
                        <li><a href="https://v1.react.designsystem.tech.gov.sg">SGDS React v1</a></li>
                        <li><a href="https://www.developer.tech.gov.sg" target="_blank" rel="noopener noreferrer">Singapore Government Developer Portal</a></li>
                        <li><a href="https://www.isomer.gov.sg" target="_blank" rel="noopener noreferrer">Isomer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-contact-links">
                <div class="col">
                    <div class="d-flex justify-content-lg-end">
                        <ul>
                            <li><a href="{{site.contact-us}}" target="_blank" rel="noopener noreferrer">Contact</a></li>
                            <li><a href="{{site.feedback-form}}" target="_blank" rel="noopener noreferrer">Feedback</a></li>
                            <li><a href="https://www.reach.gov.sg/" target="_blank"
                                    rel="noopener noreferrer">Reach.gov.sg</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-bottom">
        <div class="container-fluid">
            <div class="row footer-mandatory-links">
                <div class="col">
                    <ul>
                        <li><a href="https://tech.gov.sg/report_vulnerability" target="_blank"
                                rel="noopener noreferrer">Report Vulnerability</a></li>
                        <li><a href="/privacy/">Privacy Statement</a></li>
                        <li><a href="/terms-of-use/">Terms of use</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-copyrights">
                <div class="col">
                    <div class="d-flex justify-content-lg-end text-end">
                        © 2022 Government of Singapore<br>
                        Last Updated {{site.time | date_to_string -}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>