<sgds-footer contacthref="{{site.contact-us}}" feedbackhref="{{site.feedback-form}}"
    privacyhref="https://www.designsystem.tech.gov.sg/privacy/"
    faqhref="/faqs/"
    termsofusehref="https://www.designsystem.tech.gov.sg/terms-of-use/">
    <h2 slot="title">Singapore Government Design System</h2>
    <div slot="description">{{site.description}}</div>
    <sgds-footer-item slot="items">
        <sgds-link><a href="/about/">About Us</a></sgds-link>
        <sgds-link><a href="/components/">Components</a></sgds-link>
        <sgds-link><a href="/patterns/">Patterns</a></sgds-link>
        <sgds-link><a href="/templates/">Templates</a></sgds-link>
    </sgds-footer-item>
    <sgds-footer-item slot="items">
        <sgds-link><a href="{{site.github-link}}" target="_blank" rel="noopener noreferrer">SGDS Github
                Repo</a></sgds-link>
        <sgds-link> <a href="{{site.react-storybook}}" target="_blank" rel="noopener noreferrer">SGDS React
                Storybook</a></sgds-link>
        <sgds-link> <a href="https://v1.designsystem.tech.gov.sg">SGDS v1.4.0</a></sgds-link>
        <sgds-link><a href="https://v1.react.designsystem.tech.gov.sg">SGDS React v1</a></sgds-link>
            <sgds-link> <a href="https://www.developer.tech.gov.sg" target="_blank" rel="noopener noreferrer">Singapore
                    Government Developer Portal</a></sgds-link>
            <sgds-link> <a href="https://www.isomer.gov.sg" target="_blank"
                    rel="noopener noreferrer">Isomer</a></sgds-link>
    </sgds-footer-item>
</sgds-footer>
