<nav class="sgds navbar navbar-expand-lg" aria-label="Main Navigation">
    <a class="navbar-brand" href="/"><img src="/assets/img/logo-sgds.svg" alt="Home" height="60"></a>
    <div class="d-lg-none d-flex align-items-center">
  
        <dev-console-widget class="navbar-mobile-widget" iconColor="black" iconWidth="24px" iconHeight="24px"></dev-console-widget>

        <button class="navbar-toggler pb-0 pt-0 ps-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-labelledby="offcanvas">
            <i class="bi bi-list h1"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            {% for item in site.data.navigation %}
            {%- assign class = nil -%}
            {%- if page.url contains item.title -%} 
                {%- assign class = 'active' -%} 
            {%- endif -%}
            {%- if item.title == "get-started" -%}
            <li class="nav-item align-self-center">
                <a class="sgds btn btn-primary btn-sm" aria-current="page" href="{{item.url}}">{{item.title | capitalize | replace: '-', ' '}}</a>
              </li>
              {%- else -%}
            <li class="nav-item">
                <a class="nav-link {{class}}" aria-current="page" href="{{item.url}}">
                    {% if item.title == 'FAQs' %}
                    {{item.title}}
                    {% else %}
                    {{item.title | capitalize}}
                    {% endif %}
                </a>
            </li>
            {%- endif -%}
            {% endfor %}
            <li class="nav-item">
                <div class="vr h-100"></div>
            </li>
            <li class="nav-item sgds dropdown">
                <a 
                    class="nav-link" 
                    href="#"
                    id="github-dropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i class="bi bi-github h3 mb-0"></i>
                    <span class="visually-hidden-focusable">SGDS Github repo</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="github-dropdown">
                    <li><span class="dropdown-item-heading">Github</span></li>
                    <li><a class="dropdown-item" href="{{site.github-link}}">SGDS</a></li>
                    <li><a class="dropdown-item" href="{{site.github-react}}">React</a></li>
                    <li><a class="dropdown-item" href="{{site.github-web-component}}">Web Component</a></li>
                </ul>
            </li>
            <li class="nav-item sgds dropdown">
                <a 
                    class="nav-link"
                    href="#"
                    id="storybook-dropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="visually-hidden-focusable">SGDS storybook</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 13 16" fill="none">
                        <mask id="mask0_1438_4436" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="13" height="16">
                        <path d="M0.49517 14.7122L0.000574853 1.53345C-0.0157597 1.09821 0.317968 0.729349 0.752668 0.70218L11.9621 0.0015905C12.4046 -0.026064 12.7857 0.310212 12.8133 0.752685C12.8144 0.769356 12.8149 0.786055 12.8149 0.802758V15.1633C12.8149 15.6067 12.4555 15.966 12.0122 15.966C12.0002 15.966 11.9882 15.9658 11.9762 15.9652L1.26132 15.484C0.844019 15.4653 0.510836 15.1296 0.49517 14.7122Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_1438_4436)">
                        <path d="M0.49517 14.7122L0.000574853 1.53345C-0.0157597 1.09821 0.317968 0.729349 0.752668 0.70218L11.9621 0.0015905C12.4046 -0.026064 12.7857 0.310212 12.8133 0.752685C12.8144 0.769356 12.8149 0.786055 12.8149 0.802758V15.1633C12.8149 15.6067 12.4555 15.966 12.0122 15.966C12.0002 15.966 11.9882 15.9658 11.9762 15.9652L1.26132 15.484C0.844019 15.4653 0.510836 15.1296 0.49517 14.7122Z" fill="var(--sgds-gray-600)"/>
                        <path d="M9.4632 1.96248L9.53977 0.120952L11.0792 0L11.1455 1.89911C11.1478 1.9652 11.0961 2.02065 11.03 2.02296C11.0017 2.02395 10.9739 2.01487 10.9517 1.99735L10.3581 1.5297L9.65521 2.06286C9.60252 2.10283 9.52741 2.09251 9.48744 2.03982C9.47061 2.01765 9.46204 1.9903 9.4632 1.96248ZM7.49446 6.01782C7.49446 6.33013 9.59814 6.18045 9.88054 5.96107C9.88054 3.83432 8.73937 2.71675 6.64971 2.71675C4.56004 2.71675 3.38923 3.85171 3.38923 5.55415C3.38923 8.51924 7.39072 8.57599 7.39072 10.1933C7.39072 10.6473 7.16842 10.9169 6.67935 10.9169C6.04207 10.9169 5.79013 10.5914 5.81977 9.4848C5.81977 9.24474 3.38923 9.1699 3.31513 9.4848C3.12644 12.1665 4.79716 12.94 6.70899 12.94C8.56153 12.94 10.0139 11.9525 10.0139 10.1649C10.0139 6.98704 5.95315 7.07217 5.95315 5.49741C5.95315 4.85899 6.4274 4.77387 6.70899 4.77387C7.00539 4.77387 7.53892 4.82611 7.49446 6.01782Z" fill="white"/>
                        </g>
                        </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="storybook-dropdown">
                    <li><span class="dropdown-item-heading">Storybook</span></li>
                    <li><a class="dropdown-item" href="{{site.react-storybook}}">React</a></li>
                    <li><a class="dropdown-item" href="{{site.web-component-storybook}}">Web Component</a></li>
                </ul>
            </li>
            
            <li class="nav-item align-self-center d-none d-lg-block" style="margin-top:-5px">
                <div class="nav-link">
                    <dev-console-widget iconColor="black" iconWidth="24px" iconHeight="24px"></dev-console-widget>
                </div>
                
            </li>
        </ul>
    </div>
</nav>