<div class="wrapper-fluid">
    <header class="header-overview">
        {% include breadcrumb.html %}
        <h1 class="title">{{page.title}}</h1>
        <p>{{page.description}}</p>

        {% if page.hasAlert %}
        {% include component-overview-implementation.html %}
        {% endif %}

        {% if page.pageCategory != 'get-started' %}
            <div class="sgds form-control-group mt-4">
                <input type="text" class="form-control" id="filterItems" onkeyup="searchItem()"
                    aria-describedby="filterItems" placeholder="Filter {{page.title | replace: 'Overview' , ''}}" />
                <i class="bi bi-funnel form-control-icon"></i>
            </div>
        {% endif %}
    </header>

    {% if page.pageCategory != 'get-started' %}
        <section class="page-component-overview">
            <article>
               {% include overview/card.html %}
            </article>
        </section>
    {% endif %}
</div>

<script>
    function searchItem() {
        const input = document
            .getElementById( "filterItems" )
            .value.toUpperCase();
        console.log( input );

        const cardContainer = document.getElementById( "grid" );

        const cards = cardContainer.getElementsByClassName( "card" );

        for ( let i = 0; i < cards.length; i++ ) {
            let title = cards[ i ].querySelector( ".card-body a div.card-title" );
            let description = cards[ i ].querySelector( ".card-text" );
            let textTitle = title.textContent || title.innerText;
            let textDescription =
                description.textContent || description.innerText;
            if (
                textTitle.toUpperCase().indexOf( input ) > -1 ||
                textDescription.toUpperCase().indexOf( input ) > -1
            ) {
                cards[ i ].style.display = "";
            } else {
                cards[ i ].style.display = "none";
            }
        }
    }
</script>