<div class="wrapper-fluid">
    <header class="header-overview">
        {% include breadcrumb.html %}
        <h1 class="title">{{page.title}}</h1>
        <p>{{page.description}}</p>

        {% if page.hasAlert %}
        {% include component-overview-implementation.html %}
        {% endif %}

        {% if page.pageCategory != 'get-started' %}
            <div class="sgds form-control-group mt-4">
                <input type="text" class="form-control" id="filterItems"
                    aria-describedby="filterItems" placeholder="Filter {{page.title | replace: 'Overview' , ''}}" />
                <i class="bi bi-funnel form-control-icon"></i>
            </div>
        {% endif %}
    </header>

    {% if page.pageCategory != 'get-started' %}
        <section class="page-component-overview">
            <article>
               {% include overview/card.html %}
            </article>
        </section>
    {% endif %}
</div>

<script src="/assets/js/search-item.bundle.js"></script>