---
title: FAQs
permalink: /faqs/
layout: layout-single
---
<header>
    {% include breadcrumb.html %}
    <h1 class="fw-bold">How can we help you?</h1>
    {% if site.search %}
    <div class="sgds form-group">
        <label for="search" class="form-label">Search:</label>
        <input type="text" class="js-shuffle-search form-control" id="search">
    </div>
    {% endif %}
</header>
<article class="page-faqs">
    <!--  -->
    <section name="section-general">
        <h2 class="title fw-bold" id="General">General</h2>
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq1" aria-expanded="false" aria-controls="collapseFaq1">
                        Is it mandatory to use SG Design System icons?
                    </button>
                </h2>
                <div id="collapseFaq1" class="accordion-collapse collapse" aria-labelledby="faq1"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        It is not mandatory to use the icons in the Design System, but we do encourage users to
                        adopt
                        them
                        for consistency.
                        We are constantly expanding our icons library, should you need a particular that is not
                        available in
                        the documentation,
                        feel free to reach out to use and we can include them for future updates.
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq8" aria-expanded="false" aria-controls="collapseFaq8">
                        Will there be any performance issue if the system adopts SGDS style?
                    </button>
                </h2>
                <div id="collapseFaq8" class="accordion-collapse collapse" aria-labelledby="faq8"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <br>TSGDS are built to ensure minimum conflicts and any reduction of performance when stack
                        with
                        other frameworks,for your case will be bootstrap.<br>

                        <br>To further minimise the conflict, these are some important points you need to take note
                        when
                        using both SGDS and Bootstrap framework:<br>
                        <ol>
                            <li>Always include the SGDS.css after Bootstrap.css in the

                                <head> tag. This is to ensure the SGDS stylesheet takes priority over bootstrap for
                                    the
                                    mandatory
                                    components styles (masthead, main navigation, side navigation & footer).
                            </li>
                            <li>
                                As much as possible, try to keep the same html structure to the mandatory components
                                as
                                they
                                may be updated if there is amendment to the DSS.
                            </li>
                            <li>
                                Use only SGDS flexbox grid system. In order to do this, you need to use the SASS
                                import
                                method.
                            </li>
                        </ol>

                        <p>
                            You can also read up on the documentation on how to use SASS import here:
                        <ul>
                            <li>
                                <a href="https://www.designsystem.gov.sg/docs/customise-sgds">Customise SGDS with
                                    Sass</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://getbootstrap.com/docs/5.1/customize/sass/">Bootstrap
                                    Sass
                                    customisation</a>
                            </li>
                        </ul>
                        </p>
                        <p>
                            This method can also be used to remove unused components and can reduce the file size
                            and
                            loading time for both CSS.
                            Spacing (paddings and margins) and typography(font sizes) for the components are
                            different
                            in
                            both frameworks. You might need to tweak the styling according to your site design.
                        </p>





                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq3" aria-expanded="false" aria-controls="collapseFaq3">
                        Is it mandatory to link to REACH and GOV.SG?
                    </button>
                </h2>
                <div id="collapseFaq3" class="accordion-collapse collapse" aria-labelledby="faq3"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes it is mandatory to place the GOV.SG logo with the text “A Singapore Government Agency
                        Website”
                        on the top of your site.
                        You can find examples <a href="/components/masthead">here</a> 
                        <br>For REACH, you may place it in the main navigation menu or anywhere in the content,
                        except
                        in
                        the gov.sg masthead.<br>

                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq6" aria-expanded="false" aria-controls="collapseFaq6">
                        Are there plans to create a design system in Adobe XD as well?
                    </button>
                </h2>
                <div id="collapseFaq6" class="accordion-collapse collapse" aria-labelledby="faq6"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Work is in progress for Adobe XD version and we will share at a later date once the Figma version is completed.
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq7" aria-expanded="false" aria-controls="collapseFaq7">
                        Does SG Design System (SGDS) adheres to Level A and Level AA of WCAG 2.1?
                    </button>
                </h2>
                <div id="collapseFaq7" class="accordion-collapse collapse" aria-labelledby="faq7"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        SGDS components are DSS compliant and adheres to the WCAG 2.1 standard if used straight out from the box.
                        <br>Users should conduct accessibility check regularly if they amendments and/or styling has
                        been
                        made to the components.<br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section name="section-components">
        <!--  -->
        <h2 class="title fw-bold" id="Components">Components</h2>
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq4" aria-expanded="false" aria-controls="collapseFaq4">
                        Which component to use if Main Nav requires multiple dropdown?
                    </button>
                </h2>
                <div id="collapseFaq4" class="accordion-collapse collapse" aria-labelledby="faq4"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        You can consider using the mega menu component for level 3 navigation. An example would be
                        IMDA.gov.sg mega menu.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <section name="section-patterns">
        <h2 class="title fw-bold" id="Patterns">Patterns</h2>
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq2" aria-expanded="false" aria-controls="collapseFaq2">
                        Are there limitations on the number of sub-categories for the footer?
                    </button>
                </h2>
                <div id="collapseFaq2" class="accordion-collapse collapse" aria-labelledby="faq2"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        There aren’t any limitations of sub-categories for the footer, however you may want to limit
                        for
                        better user experience.
                        We would suggest to include links for pages with higher page views and utiltise a sitemap to
                        display
                        all the links in your site.
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </section>
    <section name="section-templates">
        <h2 class="title fw-bold" id="Templates">Templates</h2>
        <div class="sgds accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="faq5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFaq5" aria-expanded="false" aria-controls="collapseFaq5">
                        How can we use the sgds-section in a transactional service website?
                    </button>
                </h2>
                <div id="collapseFaq5" class="accordion-collapse collapse" aria-labelledby="faq5"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        sgds-section is solely for layout purpose and it is not mandatory to include in your
                        websites. Users
                        can either use the sticky (e.g in SG Design System) or fixed navigation bar (e.g. in GovTech
                        site).
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  -->

</article>