@import "sgds-variables";

@font-face {
  font-family: 'sgds-icons';
  src:
    url('#{$sgds-font-path}/sgds-icons.ttf') format('truetype'),
    url('#{$sgds-font-path}/sgds-icons.woff') format('woff'),
    url('#{$sgds-font-path}/sgds-icons.svg?#sgds-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sgds-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sgds-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"#{ $str }\"");
}
.sgds-icon-breadcrumb {
  &:before {
    content: unicode($sgds-icon-breadcrumb);
  }
}
.sgds-icon-callout {
  &:before {
    content: unicode($sgds-icon-callout);
  }
}
.sgds-icon-hero {
  &:before {
    content: unicode($sgds-icon-hero);
  }
}
.sgds-icon-mainnav {
  &:before {
    content: unicode($sgds-icon-mainnav);
  }
}
.sgds-icon-sidenav {
  &:before {
    content: unicode($sgds-icon-sidenav);
  }
}
.sgds-icon-table {
  &:before {
    content: unicode($sgds-icon-table);
  }
}
.sgds-icon-typography {
  &:before {
    content: unicode($sgds-icon-typography);
  }
}
.sgds-icon-delete {
  &:before {
    content: unicode($sgds-icon-delete);
  }
}
.sgds-icon-grid-alt {
  &:before {
    content: unicode($sgds-icon-grid-alt);
  }
}
.sgds-icon-pause-alt {
  &:before {
    content: unicode($sgds-icon-pause-alt);
  }
}
.sgds-icon-pause {
  &:before {
    content: unicode($sgds-icon-pause);
  }
}
.sgds-icon-pencil {
  &:before {
    content: unicode($sgds-icon-pencil);
  }
}
.sgds-icon-play-alt {
  &:before {
    content: unicode($sgds-icon-play-alt);
  }
}
.sgds-icon-play {
  &:before {
    content: unicode($sgds-icon-play);
  }
}
.sgds-icon-privacy-alt {
  &:before {
    content: unicode($sgds-icon-privacy-alt);
  }
}
.sgds-icon-privacy {
  &:before {
    content: unicode($sgds-icon-privacy);
  }
}
.sgds-icon-signal {
  &:before {
    content: unicode($sgds-icon-signal);
  }
}
.sgds-icon-stop {
  &:before {
    content: unicode($sgds-icon-stop);
  }
}
.sgds-icon-telephone {
  &:before {
    content: unicode($sgds-icon-telephone);
  }
}
.sgds-icon-bookmark-alt {
  &:before {
    content: unicode($sgds-icon-bookmark-alt);
  }
}
.sgds-icon-star-alt {
  &:before {
    content: unicode($sgds-icon-star-alt);
  }
}
.sgds-icon-guides {
  &:before {
    content: unicode($sgds-icon-guides);
  }
}
.sgds-icon-sentimeter {
  &:before {
    content: unicode($sgds-icon-sentimeter);
  }
}
.sgds-icon-sharepoint {
  &:before {
    content: unicode($sgds-icon-sharepoint);
  }
}
.sgds-icon-sitecore {
  &:before {
    content: unicode($sgds-icon-sitecore);
  }
}
.sgds-icon-sitefinity {
  &:before {
    content: unicode($sgds-icon-sitefinity);
  }
}
.sgds-icon-swiit {
  &:before {
    content: unicode($sgds-icon-swiit);
  }
}
.sgds-icon-wordpress {
  &:before {
    content: unicode($sgds-icon-wordpress);
  }
}
.sgds-icon-accordion {
  &:before {
    content: unicode($sgds-icon-accordion);
  }
}
.sgds-icon-button {
  &:before {
    content: unicode($sgds-icon-button);
  }
}
.sgds-icon-card {
  &:before {
    content: unicode($sgds-icon-card);
  }
}
.sgds-icon-checklist {
  &:before {
    content: unicode($sgds-icon-checklist);
  }
}
.sgds-icon-container {
  &:before {
    content: unicode($sgds-icon-container);
  }
}
.sgds-icon-dropdown {
  &:before {
    content: unicode($sgds-icon-dropdown);
  }
}
.sgds-icon-footer {
  &:before {
    content: unicode($sgds-icon-footer);
  }
}
.sgds-icon-grid {
  &:before {
    content: unicode($sgds-icon-grid);
  }
}
.sgds-icon-icons {
  &:before {
    content: unicode($sgds-icon-icons);
  }
}
.sgds-icon-masthead {
  &:before {
    content: unicode($sgds-icon-masthead);
  }
}
.sgds-icon-section {
  &:before {
    content: unicode($sgds-icon-section);
  }
}
.sgds-icon-tab {
  &:before {
    content: unicode($sgds-icon-tab);
  }
}
.sgds-icon-atom {
  &:before {
    content: unicode($sgds-icon-atom);
  }
}
.sgds-icon-molecule {
  &:before {
    content: unicode($sgds-icon-molecule);
  }
}
.sgds-icon-organism {
  &:before {
    content: unicode($sgds-icon-organism);
  }
}
.sgds-icon-page {
  &:before {
    content: unicode($sgds-icon-page);
  }
}
.sgds-icon-template {
  &:before {
    content: unicode($sgds-icon-template);
  }
}
.sgds-icon-add-image {
  &:before {
    content: unicode($sgds-icon-add-image);
  }
}
.sgds-icon-attachment {
  &:before {
    content: unicode($sgds-icon-attachment);
  }
}
.sgds-icon-cloud {
  &:before {
    content: unicode($sgds-icon-cloud);
  }
}
.sgds-icon-contact {
  &:before {
    content: unicode($sgds-icon-contact);
  }
}
.sgds-icon-create-folder {
  &:before {
    content: unicode($sgds-icon-create-folder);
  }
}
.sgds-icon-delay {
  &:before {
    content: unicode($sgds-icon-delay);
  }
}
.sgds-icon-file-copy {
  &:before {
    content: unicode($sgds-icon-file-copy);
  }
}
.sgds-icon-file-pdf {
  &:before {
    content: unicode($sgds-icon-file-pdf);
  }
}
.sgds-icon-folder {
  &:before {
    content: unicode($sgds-icon-folder);
  }
}
.sgds-icon-add-photo {
  &:before {
    content: unicode($sgds-icon-add-photo);
  }
}
.sgds-icon-browser {
  &:before {
    content: unicode($sgds-icon-browser);
  }
}
.sgds-icon-calculator {
  &:before {
    content: unicode($sgds-icon-calculator);
  }
}
.sgds-icon-camera {
  &:before {
    content: unicode($sgds-icon-camera);
  }
}
.sgds-icon-clock {
  &:before {
    content: unicode($sgds-icon-clock);
  }
}
.sgds-icon-cloud-download {
  &:before {
    content: unicode($sgds-icon-cloud-download);
  }
}
.sgds-icon-cloud-success {
  &:before {
    content: unicode($sgds-icon-cloud-success);
  }
}
.sgds-icon-cloud-upload {
  &:before {
    content: unicode($sgds-icon-cloud-upload);
  }
}
.sgds-icon-database {
  &:before {
    content: unicode($sgds-icon-database);
  }
}
.sgds-icon-download {
  &:before {
    content: unicode($sgds-icon-download);
  }
}
.sgds-icon-file-add {
  &:before {
    content: unicode($sgds-icon-file-add);
  }
}
.sgds-icon-file-alt {
  &:before {
    content: unicode($sgds-icon-file-alt);
  }
}
.sgds-icon-file {
  &:before {
    content: unicode($sgds-icon-file);
  }
}
.sgds-icon-hdd {
  &:before {
    content: unicode($sgds-icon-hdd);
  }
}
.sgds-icon-image {
  &:before {
    content: unicode($sgds-icon-image);
  }
}
.sgds-icon-link {
  &:before {
    content: unicode($sgds-icon-link);
  }
}
.sgds-icon-lock {
  &:before {
    content: unicode($sgds-icon-lock);
  }
}
.sgds-icon-mail {
  &:before {
    content: unicode($sgds-icon-mail);
  }
}
.sgds-icon-print {
  &:before {
    content: unicode($sgds-icon-print);
  }
}
.sgds-icon-radar {
  &:before {
    content: unicode($sgds-icon-radar);
  }
}
.sgds-icon-save {
  &:before {
    content: unicode($sgds-icon-save);
  }
}
.sgds-icon-share {
  &:before {
    content: unicode($sgds-icon-share);
  }
}
.sgds-icon-unlock {
  &:before {
    content: unicode($sgds-icon-unlock);
  }
}
.sgds-icon-upload {
  &:before {
    content: unicode($sgds-icon-upload);
  }
}
.sgds-icon-volume-mute {
  &:before {
    content: unicode($sgds-icon-volume-mute);
  }
}
.sgds-icon-volume {
  &:before {
    content: unicode($sgds-icon-volume);
  }
}
.sgds-icon-docker {
  &:before {
    content: unicode($sgds-icon-docker);
  }
}
.sgds-icon-facebook-alt {
  &:before {
    content: unicode($sgds-icon-facebook-alt);
  }
}
.sgds-icon-facebook {
  &:before {
    content: unicode($sgds-icon-facebook);
  }
}
.sgds-icon-google {
  &:before {
    content: unicode($sgds-icon-google);
  }
}
.sgds-icon-instagram {
  &:before {
    content: unicode($sgds-icon-instagram);
  }
}
.sgds-icon-linkedin-alt {
  &:before {
    content: unicode($sgds-icon-linkedin-alt);
  }
}
.sgds-icon-linkedin {
  &:before {
    content: unicode($sgds-icon-linkedin);
  }
}
.sgds-icon-person-add {
  &:before {
    content: unicode($sgds-icon-person-add);
  }
}
.sgds-icon-person-cancel {
  &:before {
    content: unicode($sgds-icon-person-cancel);
  }
}
.sgds-icon-person-remove {
  &:before {
    content: unicode($sgds-icon-person-remove);
  }
}
.sgds-icon-person {
  &:before {
    content: unicode($sgds-icon-person);
  }
}
.sgds-icon-rss {
  &:before {
    content: unicode($sgds-icon-rss);
  }
}
.sgds-icon-thumbs-down {
  &:before {
    content: unicode($sgds-icon-thumbs-down);
  }
}
.sgds-icon-thumbs-up {
  &:before {
    content: unicode($sgds-icon-thumbs-up);
  }
}
.sgds-icon-twitter {
  &:before {
    content: unicode($sgds-icon-twitter);
  }
}
.sgds-icon-youtube {
  &:before {
    content: unicode($sgds-icon-youtube);
  }
}
.sgds-icon-add-place {
  &:before {
    content: unicode($sgds-icon-add-place);
  }
}
.sgds-icon-boat {
  &:before {
    content: unicode($sgds-icon-boat);
  }
}
.sgds-icon-bus {
  &:before {
    content: unicode($sgds-icon-bus);
  }
}
.sgds-icon-car {
  &:before {
    content: unicode($sgds-icon-car);
  }
}
.sgds-icon-layers {
  &:before {
    content: unicode($sgds-icon-layers);
  }
}
.sgds-icon-map {
  &:before {
    content: unicode($sgds-icon-map);
  }
}
.sgds-icon-my-location {
  &:before {
    content: unicode($sgds-icon-my-location);
  }
}
.sgds-icon-place {
  &:before {
    content: unicode($sgds-icon-place);
  }
}
.sgds-icon-taxi {
  &:before {
    content: unicode($sgds-icon-taxi);
  }
}
.sgds-icon-traffic {
  &:before {
    content: unicode($sgds-icon-traffic);
  }
}
.sgds-icon-train {
  &:before {
    content: unicode($sgds-icon-train);
  }
}
.sgds-icon-arrow-down {
  &:before {
    content: unicode($sgds-icon-arrow-down);
  }
}
.sgds-icon-arrow-left {
  &:before {
    content: unicode($sgds-icon-arrow-left);
  }
}
.sgds-icon-arrow-right {
  &:before {
    content: unicode($sgds-icon-arrow-right);
  }
}
.sgds-icon-arrow-top-left {
  &:before {
    content: unicode($sgds-icon-arrow-top-left);
  }
}
.sgds-icon-arrow-top-right {
  &:before {
    content: unicode($sgds-icon-arrow-top-right);
  }
}
.sgds-icon-arrow-up {
  &:before {
    content: unicode($sgds-icon-arrow-up);
  }
}
.sgds-icon-check {
  &:before {
    content: unicode($sgds-icon-check);
  }
}
.sgds-icon-chevron-down {
  &:before {
    content: unicode($sgds-icon-chevron-down);
  }
}
.sgds-icon-chevron-left {
  &:before {
    content: unicode($sgds-icon-chevron-left);
  }
}
.sgds-icon-chevron-right {
  &:before {
    content: unicode($sgds-icon-chevron-right);
  }
}
.sgds-icon-chevron-up {
  &:before {
    content: unicode($sgds-icon-chevron-up);
  }
}
.sgds-icon-cog {
  &:before {
    content: unicode($sgds-icon-cog);
  }
}
.sgds-icon-cross {
  &:before {
    content: unicode($sgds-icon-cross);
  }
}
.sgds-icon-ellipsis {
  &:before {
    content: unicode($sgds-icon-ellipsis);
  }
}
.sgds-icon-home {
  &:before {
    content: unicode($sgds-icon-home);
  }
}
.sgds-icon-menu {
  &:before {
    content: unicode($sgds-icon-menu);
  }
}
.sgds-icon-minus {
  &:before {
    content: unicode($sgds-icon-minus);
  }
}
.sgds-icon-notification {
  &:before {
    content: unicode($sgds-icon-notification);
  }
}
.sgds-icon-plus {
  &:before {
    content: unicode($sgds-icon-plus);
  }
}
.sgds-icon-sg-crest {
  &:before {
    content: unicode($sgds-icon-sg-crest);
    color: #db0000;
  }
}
.sgds-icon-text-center {
  &:before {
    content: unicode($sgds-icon-text-center);
  }
}
.sgds-icon-text-justify {
  &:before {
    content: unicode($sgds-icon-text-justify);
  }
}
.sgds-icon-text-left {
  &:before {
    content: unicode($sgds-icon-text-left);
  }
}
.sgds-icon-text-right {
  &:before {
    content: unicode($sgds-icon-text-right);
  }
}
.sgds-icon-add-comment {
  &:before {
    content: unicode($sgds-icon-add-comment);
  }
}
.sgds-icon-ban {
  &:before {
    content: unicode($sgds-icon-ban);
  }
}
.sgds-icon-bookmark {
  &:before {
    content: unicode($sgds-icon-bookmark);
  }
}
.sgds-icon-calendar {
  &:before {
    content: unicode($sgds-icon-calendar);
  }
}
.sgds-icon-chat {
  &:before {
    content: unicode($sgds-icon-chat);
  }
}
.sgds-icon-circle-info {
  &:before {
    content: unicode($sgds-icon-circle-info);
  }
}
.sgds-icon-circle-minus {
  &:before {
    content: unicode($sgds-icon-circle-minus);
  }
}
.sgds-icon-circle-plus {
  &:before {
    content: unicode($sgds-icon-circle-plus);
  }
}
.sgds-icon-circle-question {
  &:before {
    content: unicode($sgds-icon-circle-question);
  }
}
.sgds-icon-circle-warning {
  &:before {
    content: unicode($sgds-icon-circle-warning);
  }
}
.sgds-icon-compress-alt {
  &:before {
    content: unicode($sgds-icon-compress-alt);
  }
}
.sgds-icon-compress {
  &:before {
    content: unicode($sgds-icon-compress);
  }
}
.sgds-icon-edit {
  &:before {
    content: unicode($sgds-icon-edit);
  }
}
.sgds-icon-expand-alt {
  &:before {
    content: unicode($sgds-icon-expand-alt);
  }
}
.sgds-icon-expand {
  &:before {
    content: unicode($sgds-icon-expand);
  }
}
.sgds-icon-external {
  &:before {
    content: unicode($sgds-icon-external);
  }
}
.sgds-icon-feedback {
  &:before {
    content: unicode($sgds-icon-feedback);
  }
}
.sgds-icon-filter {
  &:before {
    content: unicode($sgds-icon-filter);
  }
}
.sgds-icon-info {
  &:before {
    content: unicode($sgds-icon-info);
  }
}
.sgds-icon-list {
  &:before {
    content: unicode($sgds-icon-list);
  }
}
.sgds-icon-pin {
  &:before {
    content: unicode($sgds-icon-pin);
  }
}
.sgds-icon-question {
  &:before {
    content: unicode($sgds-icon-question);
  }
}
.sgds-icon-refresh {
  &:before {
    content: unicode($sgds-icon-refresh);
  }
}
.sgds-icon-rsvp-no {
  &:before {
    content: unicode($sgds-icon-rsvp-no);
  }
}
.sgds-icon-rsvp-yes {
  &:before {
    content: unicode($sgds-icon-rsvp-yes);
  }
}
.sgds-icon-search {
  &:before {
    content: unicode($sgds-icon-search);
  }
}
.sgds-icon-slider-horizontal {
  &:before {
    content: unicode($sgds-icon-slider-horizontal);
  }
}
.sgds-icon-slider-vertical {
  &:before {
    content: unicode($sgds-icon-slider-vertical);
  }
}
.sgds-icon-star {
  &:before {
    content: unicode($sgds-icon-star);
  }
}
.sgds-icon-sync {
  &:before {
    content: unicode($sgds-icon-sync);
  }
}
.sgds-icon-toggle-minus {
  &:before {
    content: unicode($sgds-icon-toggle-minus);
  }
}
.sgds-icon-toggle-off {
  &:before {
    content: unicode($sgds-icon-toggle-off);
  }
}
.sgds-icon-toggle-on {
  &:before {
    content: unicode($sgds-icon-toggle-on);
  }
}
.sgds-icon-toggle-plus {
  &:before {
    content: unicode($sgds-icon-toggle-plus);
  }
}
.sgds-icon-triangle-warning {
  &:before {
    content: unicode($sgds-icon-triangle-warning);
  }
}
.sgds-icon-warning {
  &:before {
    content: unicode($sgds-icon-warning);
  }
}
.sgds-icon-zoom-in {
  &:before {
    content: unicode($sgds-icon-zoom-in);
  }
}
.sgds-icon-zoom-out {
  &:before {
    content: unicode($sgds-icon-zoom-out);
  }
}
