---
title: Breadcrumb
layout: layout-sidenav
description: Breadcrumbs help users to navigate and understand where they are on the current website or service.
category: general
react-link: ?path=/docs/components-breadcrumb--default-story
github-link: true
toc: true
---

{% capture default-breadcrumb %}
<nav class="sgds" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>
{% endcapture %}

{% capture breadcrumb-design-tokens %}
$breadcrumb-font-size: null !default;
$breadcrumb-padding-y: 0 !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding-x: .5rem !default;
$breadcrumb-margin-bottom: 1rem !default;
$breadcrumb-bg: null !default;
$breadcrumb-divider-color: $gray-600 !default;
$breadcrumb-active-color: $gray-600 !default;
$breadcrumb-divider: quote("/") !default;
$breadcrumb-divider-flipped: $breadcrumb-divider !default;
$breadcrumb-border-radius: null !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compName="default-breadcrumb" code=default-breadcrumb %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/breadcrumb/anatomy-breadcrumb.svg" alt="Breadcrumb Anatomy">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Home:</b> Always the first item in the breadcrumb.
                    </li>
                    <li>
                        <b>Seperator:</b> To give distinction between the breadcrumb items.
                    </li>
                    <li>
                        <b>Item:</b> Title of the pages which let’s users know the path they took to reach the current page. Should always be linked.
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/breadcrumb/spacing-breadcrumb.svg" alt="Breadcrumb Spacing">
                    </div>
                </div>
                <p><b>Within the breadcrumb</b><br>
                Ensure that there is a min of 16px horizontal spacing between the breadcrumb items.</p>
            </div>
        </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p class="fw-bold mb-0">Breadcrumb should be used:</p>
            <ol>
                <li>When you want to enable users to understand their current position on the website.</li>
                <li>When you want to help users to move between different levels.</li>
            </ol>
            <p class="fw-bold mb-0">Breadcrumb should not be used:</p>
            <ol>
                <li>As a replacement for your primary navigation.</li>
                <li>For displaying progress such as when completing a transaction. In this case use the <a href="/progress-bar/">progress bar</a> component.</li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Use complete page titles</b><br>
                The wording in the breadcrumb text should be the same as in the page title.
            </p>
            <p>
                <b>Consider the size</b><br>
                Generally the text for breadcrumbs are smaller, do ensure it is not too small to select.
            </p>
        </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h2 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h2>
            {%- highlight sass -%}{{breadcrumb-design-tokens}}{%- endhighlight -%}
        </section>
</div>