---
title: Card
description: Cards can be used for headers and footers, a wide variety of content, contain contextual background colors and images.
layout: layout-sidenav
category: general
react-link: https://1-0-0-dev.dg2jutx9gylat.amplifyapp.com/?path=/docs/components-card-informational-card--base-card
github-link: true
toc: true
---
{% capture card-with-image %}
<div class="card sgds" style="width: 20rem;"><img class="card-img-top"
        src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
    <div class="card-body">
        <h2 class="card-title">Card Title</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p><a class="card-link" href="#">Go somewhere</a>
    </div>
</div>
{% endcapture %}

{% capture card-action %}
<div class="sgds card" variant="card-action">
    <div class="card-body">
      <div>
        <h6 class="card-subtitle text-muted"><i class="bi bi-box"></i> Checkbox Action Card</h6>
        <h5 class="card-title fw-bold">Checkbox Card</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-input">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      </div>
    </div>
</div>
<div class="sgds card" variant="card-action">
    <div class="card-body">
      <div>
        <h6 class="card-subtitle text-muted"><i class="bi bi-box"></i> Radio Button Action Card</h6>
        <h5 class="card-title fw-bold">Radio Button Card</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-input">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      </div>
    </div>
</div>
<div class="sgds card" variant="card-action">
    <div class="card-body">
      <div>
        <h6 class="card-subtitle text-muted"><i class="bi bi-box"></i> Switch button Action Card</h6>
        <h5 class="card-title fw-bold">Switch button Card</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-input form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      </div>
    </div>
</div>
{% endcapture %}

{% capture card-quantity %}
<div class="sgds card" variant="card-action-quantity-toggle">
    <div class="card-body">
      <div>
        <h5 class="card-title fw-bold">Checkbox Card</h5>
        <button class="btn btn-close text-danger"></button>
      </div>
      <div>
        <div class="card-unit">
          <h6 class="card-subtitle text-muted">Unit Price/ month</h6>
          <h6 class="card-subtitle mt-2">$1,000,000</h6>
        </div>
        <div class="input-group">
          <button type="button" class="btn btn-primary btn-sm sgds"><i class="bi bi-dash"></i></button>
          <input name="quantity" type="number" class="form-control text-center" value="100">
          <button type="button" class="btn btn-primary btn-sm sgds"><i class="bi bi-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% capture card-design-tokens %}
$card-spacer-y: 1.5rem !default;
$card-spacer-x: 1.5rem !default;
$card-title-spacer-y: $spacer * .5 !default;
$card-border-width: $border-width !default;
$card-border-color: $gray-400 !default;
$card-border-radius: $border-radius !default;
$card-box-shadow: null !default;
$card-inner-border-radius: subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y: $card-spacer-y * .5 !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-bg: rgba($black, .03) !default;
$card-cap-color: null !default;
$card-height: null !default;
$card-color: null !default;
$card-bg: $white !default;
$card-img-overlay-padding: $spacer !default;
$card-group-margin: $grid-gutter-width * .5 !default;
//Action card specific
$card-transition-duration: 0.3s !default;
$card-transition-timing-function: ease-in-out !default;
$card-active-border: inset 0px 0px 0px 2.1px $link-color !default;
{% endcapture %}


<!-- Page starts here -->
<div class="page-component">
        
        {% include page-component/component-header.html %}

        <!-- Code Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Card with image" 
                    compName="card-with-image" 
                    code=card-with-image 
                %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Action card" compName="card-action" code=card-action %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Quantity toggle card" compName="card-quantity" code=card-quantity %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-1.svg" alt="">
                        <div class="sgds-example-image-subgrid">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-2.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-3.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-4.svg" alt="">
                        </div>
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Title:</b> Serves to let the user know exactly what the card is about, ideal to keep this short and to the point
                    </li>
                    <li>
                        <b>Description:</b>  Serves to give users information on the card
                    </li>
                    <li>
                        <b>Call to action (situational):</b> When you need users to take a action, this can be omitted if the card is meant to display only information
                    </li>
                    <li>
                        <b>Image:</b> Gives context to the user as to what the card is about
                    </li>
                    <li>
                        <b>Icon:</b> Serves to support the nature of the card. Gives more context to the user about what the card is about. E.g category
                    </li>
                    <li>
                        <b>Selector:</b> Allows users to select one or more cards
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <h3 class="subtitle fw-bold" id="within-the-card">Within the card</h3>
                <p>Ensure that there is a min 24px spacing inside of the card and 16px vertical spacing between content. </p>
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-within-1.svg" alt="">
                        <div class="sgds-example-image-subgrid">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-within-2.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-within-3.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-within-4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-sub">
                <h3 class="subtitle fw-bold" id="outside-the-card">Outside the card</h3>
                <p>Ensure that there is a min 32px spacing vertically and horizontally between cards</p>
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-1.svg" alt="">
                        <div class="sgds-example-image-subgrid">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-2.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-3.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p>Accordions increases the cognitive load for users, as decisions have to be made when clicking on the headers. Users may also ignore important information if it is hidden in an accordion.</p>
            <p class="fw-bold mb-0">When to use the accordion component:</p>
            <ol>
                <li>There is insufficient space within the page to display the necessary information.</li>
                <li>Users require an overview of specific content that's related to one another.</li>
            </ol>
            <p class="fw-bold mb-0">When not to use the accordion component:</p>
            <ol>
                <li>
                    There is insufficient space within the page to display the necessary information.
                    <ul>
                        <li>Accordions hide content, and there may be users who may miss the content or not understand how accordions work.</li>
                        <li>If users need to see all information in a single page, you can consider reducing your content, splitting them into smaller sections, or use well-formatted text (e.g. headers, contents, section)</li>
                    </ul>
                </li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Do ensure that the entire heading is clickable to the user.</b><br>
                A larger target will make it easier for users to manipulate
            </p>
            <p>
                <b>Ensure enough space between content and headings</b><br>
                This is to prevent the user from accidentally closing the accordion
            </p>
        </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h2 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h2>
            {%- highlight sass -%}{{card-design-tokens}}{%- endhighlight -%}
        </section>

    
</div>