---
title: Card
description: Cards can be used for headers and footers, a wide variety of content, contain contextual background colors and images.
layout: layout-sidenav
category: general
react-link: ?path=/docs/components-card-informational-card--base-card
github-link: true
toc: true
---

{% capture base-card %}
<div class="card sgds">
    <img class="card-img-top" alt="img alternate text goes here"
       src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
    <div class="card-body">
       <h3 class="card-title">Card Title</h3>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
       </p>
       <a class="card-link" href="#">Go somewhere</a>
    </div>
 </div>
{% endcapture %}

{% capture card-with-cta %}
<div class="sgds-example-card-grid">
    <div class="card sgds"><img class="card-img-top" alt="img alternate text goes here"
            src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
        <div class="card-body">
            <h3 class="card-title" href="#">Card Title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a class="card-link" href="#">Go somewhere</a>
        </div>
    </div>
    <div class="card sgds">
        <img class="card-img-top" alt="img alternate text goes here"
            src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
        <div class="card-body"><a class="card-link" href="#">
                <h3 class="card-title">Card Title</h3>
            </a>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
        </div>
    </div>
</div>
{% endcapture %}

{% capture informational-card %}
<div class="card sgds">
   <img class="card-img-top" alt="img alternate text goes here"
      src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
   <div class="card-body">
      <h3 class="card-title">Card Title</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
         content.
      </p>
   </div>
</div>
{% endcapture %}

{% capture customise-card %}
<div class="sgds-example-card-grid">
    <div class="card sgds">
        <div class="card-body">
            <h5 class="card-title">Card Title</h5><a class="card-text">Some quick example text to build on the card title
                and make up the bulk of the card's content.</a>
        </div>
    </div>
    <div class="card sgds">
        <div class="card-body">
            <h1 class="card-title">Card Title</h1><strong class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</strong>
        </div>
    </div>
</div>
{% endcapture %}

{% capture stretched-link-card %}
<div class="card sgds"><img class="card-img-top" alt="img alternate text goes here"
        src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
    <div class="card-body"><a class="card-link stretched-link" href="#">
            <h3 class="card-title">Card Title</h3>
        </a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
{% endcapture %}

{% capture card-group %}
<div class="sgds-example-card-grid">
    <div class="card-group">
       <div class="card sgds">
          <img class="card-img-top" alt="img alternate text goes here"
             src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
          <div class="card-body">
             <h3 class="card-title">Card Title</h3>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
             </p>
             <a class="card-link" href="#">Go somewhere</a>
          </div>
       </div>
       <div class="card sgds">
          <img class="card-img-top" alt="img alternate text goes here"
             src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
          <div class="card-body">
             <h3 class="card-title">Card Title</h3>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
             </p>
             <a class="card-link" href="#">Go somewhere</a>
          </div>
       </div>
    </div>
</div>
{% endcapture %}

{% capture card-action %}
<div class="sgds-example-card-grid">
    <div tabindex="0" variant="card-action" class="card sgds">
        <div class="card-body">
        <h6 class="text-muted card-subtitle">
            <div><i class="bi bi-box"></i>Laptop</div>
            <div class="card-input">
                <div class=""><input aria-label="selectablecard" type="checkbox" class="form-check-input"><label title="" class="form-check-label"></label></div>
            </div>
        </h6>
        <h5 class="card-title">Apple <i class="bi bi-apple"></i></h5>
        <p class="card-text">Macbook Pro M1</p>
        </div>
    </div>

    <div tabindex="0" variant="card-action" class="card sgds">
        <div class="card-body">
        <h6 class="text-muted card-subtitle">
            <div><i class="bi bi-box"></i>Laptop</div>
            <div class="card-input">
                <div class=""><input aria-label="selectablecard" type="radio" class="form-check-input"><label title="" class="form-check-label"></label></div>
            </div>
        </h6>
        <h5 class="card-title">Apple <i class="bi bi-apple"></i></h5>
        <p class="card-text">Macbook Pro M1</p>
        </div>
    </div>

    <div tabindex="0" variant="card-action" class="card sgds">
        <div class="card-body">
        <h6 class="text-muted card-subtitle">
            <div><i class="bi bi-box"></i>Laptop</div>
            <div class="card-input">
                <div class="form-switch"><input aria-label="selectablecard" type="checkbox" class="form-check-input"><label title="" class="form-check-label"></label></div>
            </div>
        </h6>
        <h5 class="card-title">Apple <i class="bi bi-apple"></i></h5>
        <p class="card-text">Macbook Pro M1</p>
        </div>
    </div>
</div>
{% endcapture %}

{% capture card-quantity %}
<div variant="card-action-quantity-toggle" class="card sgds">
    <div class="card-body">
        <div>
            <h4 class="card-title">Basket <i class="bi bi-cart"></i></h4>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div>
            <div class="card-unit">
            <h5 class="text-muted card-subtitle">Item Brand</h5>
            <h6 class="mt-2 card-subtitle">Apple</h6>
            </div>
            <label class="visually-hidden form-label">quantity-toggle</label>
            <div variant="quantity-toggle" class="input-group input-group-sm sgds">
                <button aria-label="minus-btn" type="button" class="btn btn-primary sgds"><i class="bi bi-dash"></i></button>
                <input aria-label="Quantity" name="quantity" min="0" type="number" class="text-center form-control" value="0">
                <button aria-label="plus-btn" type="button" class="btn btn-primary sgds"><i class="bi bi-plus"></i></button>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

{% capture card-design-tokens %}
$card-spacer-y: 1.5rem !default;
$card-spacer-x: 1.5rem !default;
$card-title-spacer-y: $spacer * .5 !default;
$card-border-width: $border-width !default;
$card-border-color: $gray-400 !default;
$card-border-radius: $border-radius !default;
$card-box-shadow: null !default;
$card-inner-border-radius: subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y: $card-spacer-y * .5 !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-bg: rgba($black, .03) !default;
$card-cap-color: null !default;
$card-height: null !default;
$card-color: null !default;
$card-bg: $white !default;
$card-img-overlay-padding: $spacer !default;
$card-group-margin: $grid-gutter-width * .5 !default;
//Action card specific
$card-transition-duration: 0.3s !default;
$card-transition-timing-function: ease-in-out !default;
$card-active-border: inset 0px 0px 0px 2.1px $link-color !default;
{% endcapture %}


<!-- Page starts here -->
<div class="page-component">
        
        {% include page-component/component-header.html %}

        <!-- Code Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Base card" 
                    compName="base-card" 
                    code=base-card 
                %}
            </div>
           <!--  <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Card with image" 
                    compName="card-with-image" 
                    code=card-with-image 
                %}
            </div> -->
            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Card with Call To Action (CTA)" 
                    compName="card-with-cta" 
                    code=card-with-cta 
                %}
            </div>
            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Informational card" 
                    compName="informational-card" 
                    code=informational-card 
                %}
            </div>
            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Customise card sub-components' HTML Elements" 
                    compName="customise-card" 
                    code=customise-card 
                %}
            </div>

            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Stretched link" 
                    compName="stretched-link-card" 
                    code=stretched-link-card 
                %}
            </div>

            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Card group" 
                    compName="card-group" 
                    code=card-group 
                %}
            </div>

            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Action card" compName="card-action" code=card-action %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Quantity toggle card" compName="card-quantity" code=card-quantity %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <h3 class="subtitle fw-bold" id="default-card">Default card</h3>
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-1.svg" alt="">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Image (situational):</b> Gives context to the user as to what the card is about.
                    </li>
                    <li>
                        <b>Title:</b> Serves to let the user know exactly what the card is about, ideal to keep this short and
                        to the point.
                    </li>
                    <li>
                        <b>Description:</b> Serves to give users information on the card.
                    </li>
                    <li>
                        <b>CTA (situational):</b> When you need users to take a action, this can be omitted if the card is meant
                        to display only information. Text link can be replaced by a button if needed if the situation calls for
                        it.
                    </li>
        
                </ol>
            </div>
        </section>
        <section name="section-anatomy">
            <h3 class="subtitle fw-bold" id="action-card">Action card</h3>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-2.svg" alt="">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Icon:</b> Gives more context to what the card is about.
                    <li>
                        <b>Selector:</b> Allows users to select one or more cards.
                    </li>
                </ol>
            </div>
        </section>
            
            <section name="section-anatomy">
                <h3 class="subtitle fw-bold" id="action-qty-card">Action card with quantity toggle</h3>
            
                <div class="section-sub">
                    <div class="sgds-example-image-container">
                        <div class="sgds-example-image-grid">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-card-3.svg" alt="">
                        </div>
                    </div>
                    <p>Used mainly for situations with subscriptions or when you require users to select a amount for a given item.
                        This allows users to select a item and decide on the quantity they want.</p>
                    <ol>
                        <li>
                            <b>Quantity toggle:</b> Allows users to select the amount they require.
                        <li>
                            <b>Price (situational):</b> Displays the amount of a single item. Can be used to show total based on
                            amount selected. Pricing can be omitted if you do not require it.
                        </li>
                    </ol>
                </div>
            
            </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <h3 class="subtitle fw-bold" id="default-card-spacing">Default card</h3>
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-within-1.svg" alt="">
                    </div>
                </div>
            </div> 
            <p><b>Within the default</b><br/>
                Ensure that there is a min 24px spacing inside of the card and 16px vertical spacing between content.</p> 
        </section>

        <section name="section-spacing">
            <h3 class="subtitle fw-bold" id="action-card-spacing">Action card</h3>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-within-2.svg" alt="">
                    </div>
                </div>
            </div>
            <p><b>Within the action card</b><br/>
                Ensure that there is a min 24px spacing inside of the card and 16px vertical spacing between content. </p>  
        </section>

        <section name="section-spacing">
            <h3 class="subtitle fw-bold" id="action-qty-card-spacing">Action card with quantity toggle</h3>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-within-3.svg" alt="">
                    </div>
                </div>
            </div>
            <p><b>Within the action card with quantity toggle</b><br/>
                Ensure that there is a min 24px spacing inside of the card and 16px vertical spacing between content. </p>  
        </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p class="fw-bold mb-0">Cards should be used:</p>
            <ol>
                <li>When you need to display similar content and actions on a topic inside a container.</li>
                <li>When you need to visually separate specific parts of content in a view.</li>
            </ol>
            <p class="fw-bold mb-0">Cards should not be used:</p>
            <ol>
                <li>When you need to inform user about important changes. Use Alerts component instead.</li>
                <li>If the information contained within the card is not related.</li>

                        
                </li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Keep card title brief and clear</b><br>
                Be brief and keep it to a single line by utilizing a sentence fragment. Avoid using punctuation as much as possible.</p>
            <p>
                <b>Use consistent elements when cards are arranged in a group</b><br>
                For groups of cards, ensure the components used are consistent from card to card. Eg. Use the same height and width for each card on the page.</p>
                <p>
                    <b>Card content should be summarised and easy to digest</b><br>
                    Don't overwhelm the space with excessive content. The content should be easily accessed and explored so that it is easier for users to find what they are interested in.</p>
                </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h2 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h2>
            {%- highlight sass -%}{{card-design-tokens}}{%- endhighlight -%}
        </section>

    
</div>