---
title: Combo Box
layout: layout-sidenav
description: This component is used when you require users to make one or more selections from a list
category: general
react-link: ?path=/docs/components-combobox--default-story
github-link: true
toc: true
---

{% capture default-combo-box %}
<iframe
  src="https://react.designsystem.tech.gov.sg/iframe.html?singleStory=true&args=&id=components-combobox--default-story&viewMode=story&full=1&shortcuts=false&singleStory=true"
  width="100%"
  height="400"
  bgColor="transparent"
></iframe>
{% endcapture %}

{% capture default-combo-box-code %}
import {
    Combobox,
    ComboboxProps,
  } from '@govtechsg/sgds-react/Combobox';

export const ComboboxComponent = () => {
    const menuList = ['apple', 'orange', 'banana'];
    return <Combobox menuList={menuList} id="typeaheadExample" icon={<i className="bi bi-search"></i> } />;
  };
  {% endcapture %}


<!-- Page starts here -->
<div class="page-component">
  <!-- Generated header from front end matters -->
  {% include page-component/component-header.html %}

  <!-- Alert notification -->
  <section name="section-notification">
    <div role="alert" class="fade d-flex align-items-center alert alert-info show sgds">
      <i class="bi bi-exclamation-circle me-4"></i>
      <div>
        
        <p class="mb-0">Take note that for Combo Box component, you may use our React version instead. Do check out our <a
          href="{{site.react-storybook}}">SGDS React Storybook</a> for further documentation.</p>
      </div>
    </div>
  </section>

  <!-- Example Section -->
  <section name="section-examples">
    <h2 class="title fw-bold" id="example">Example</h2>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compName="default-combo-box" compTitle="Default combo box"
      code=default-combo-box code-react=default-combo-box-code %}
    </div>
  </section>

  <!-- Anatomy Section -->
  <section name="section-anatomy">
    <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
    <div class="section-sub">
      <div class="sgds-example-image-container">
        <div class="sgds-example-image-grid">
          <img
            src="{{site.baseurl}}/assets/img/component/combo-box/anatomy-combo-box-1.svg"
            alt="Combo Box Anatomy"
          />
        </div>
      </div>
      <ol>
        <li>
          <b>Text label:</b> Inform users of what data should be put into the
          field, labels must always be outside of the text field
        </li>
        <li>
          <b>Hint text:</b> Serve to guide to the user, helping to inform users
          as to what kind of data they are required to enter
        </li>
        <li><b>Option text:</b> Options on what you want users to select</li>
        <li>
          <b>Dropdown icon:</b> A combo box has a chevron-down icon to the right
          of the text label to indicate that it will toggle content
        </li>
      </ol>
    </div>
  </section>

  <!-- Spacing Section -->
  <section name="section-spacing">
    <h2 class="title fw-bold" id="spacing">Spacing</h2>
    <div class="section-sub">
      <div class="sgds-example-image-container">
        <div class="sgds-example-image-grid">
          <img
            src="{{site.baseurl}}/assets/img/component/combo-box/spacing-combo-box-1.svg"
            alt="Combo Box Spacing"
          />
        </div>
      </div>
      <h3 class="subtitle fw-bold" id="within-the-combo-box">
        Within the combo box
      </h3>
      <p>
        Ensure that there is a min of 8px vertical spacing and 16px horizontal
        spacing on the left and right
      </p>
    </div>
  </section>

  <!-- Usage guidelines Section -->
  <section name="section-usage-guidelines">
    <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
    <p class="fw-bold mb-0">Combo box should be used when:</p>
    <ul>
      <li>Displaying multiple related options with a common parent context</li>
      <li>
        You have a large list of choices and need to save space in your
        interface
      </li>
    </ul>
    <p class="fw-bold mb-0">Combo box should not be used when:</p>
    <ul>
      <li>
        Displaying a 'yes' or 'no' selection. Instead, use
        <a href="{{site.baseurl}}/components/radio-button/">radio buttons</a>.
      </li>
    </ul>
  </section>

  <!-- Usability guidelines Section -->
  <section name="section-usability-guidelines">
    <h2 class="title fw-bold" id="usability-guidelines">
      Usability guidelines
    </h2>
    <p>
      <b>Ensure that the labels are clear and direct</b><br />
      This will allow users to understand the purpose of the selection.
    </p>
    <p>
      <b>Labels are outside of the combo box</b><br />
      Labels shouls be above or next to the combo box so they remain visible at
      all times.
    </p>
    <p>
      <b>Use a default option whenever possible</b><br />
      This could be an option such as "Any". Use the empty selection if a
      default option does not make sense.
    </p>
  </section>
</div>
