
---
title: ComponentName
description: Include your description here
layout: layout-sidenav
category: general
react-link: false
vue-link: false
github-link: false
toc: true
---
{% capture default-component %}
<h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, odio.</h5>
{% endcapture %}

{% capture variant-component %}
<h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, odio.</h5>
{% endcapture %}

{% capture design-tokens %}
<h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, odio.</h5>
{% endcapture %}


<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h3 class="title fw-bold" id="example">Example</h3>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Default Component" compName="default-component" code=default-component %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Default Component" compName="default-component" code=default-component %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h3 class="title fw-bold" id="anatomy">Anatomy</h3>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-1.svg" alt="">
                        <div class="sgds-example-image-subgrid">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-2.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-3.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-4.svg" alt="">
                        </div>
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Title:</b> Serves to let the user know exactly what the card is about, ideal to keep this short and to the point
                    </li>
                    <li>
                        <b>Description:</b>  Serves to give users information on the card
                    </li>
                    <li>
                        <b>Call to action (situational):</b> When you need users to take a action, this can be omitted if the card is meant to display only information
                    </li>
                    <li>
                        <b>Image:</b> Gives context to the user as to what the card is about
                    </li>
                    <li>
                        <b>Icon:</b> Serves to support the nature of the card. Gives more context to the user about what the card is about. E.g category
                    </li>
                    <li>
                        <b>Selector:</b> Allows users to select one or more cards
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h3 class="title fw-bold" id="spacing">Spacing</h3>
            <div class="section-sub">
                <h4 class="subtitle fw-bold" id="within-the-card">Within the card</h4>
                <p>Ensure that there is a min 24px spacing inside of the card and 16px vertical spacing between content. </p>
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/card/spacing-within-1.svg" alt="">
                        <div class="sgds-example-image-subgrid">
                            <img src="{{site.baseurl}}/assets/img/component/card/spacing-within-2.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/card/spacing-within-3.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/card/spacing-within-4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-sub">
                <h4 class="subtitle fw-bold" id="outside-the-card">Outside the card</h4>
                <p>Ensure that there is a min 32px spacing vertically and horizontally between cards</p>
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/card/anatomy-card-1.svg" alt="">
                        <div class="sgds-example-image-subgrid">
                            <img src="{{site.baseurl}}/assets/img/component/card/anatomy-card-2.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/card/anatomy-card-3.svg" alt="">
                            <img src="{{site.baseurl}}/assets/img/component/card/anatomy-card-4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h3 class="title fw-bold" id="usage-guidelines">Usage guidelines</h3>
            <p>Accordions increases the cognitive load for users, as decisions have to be made when clicking on the headers. Users may also ignore important information if it is hidden in an accordion.</p>
            <p class="fw-bold mb-0">When to use the accordion component:</p>
            <ol>
                <li>There is insufficient space within the page to display the necessary information.</li>
                <li>Users require an overview of specific content that's related to one another.</li>
            </ol>
            <p class="fw-bold mb-0">When not to use the accordion component:</p>
            <ol>
                <li>
                    There is insufficient space within the page to display the necessary information.
                    <ul>
                        <li>Accordions hide content, and there may be users who may miss the content or not understand how accordions work.</li>
                        <li>If users need to see all information in a single page, you can consider reducing your content, splitting them into smaller sections, or use well-formatted text (e.g. headers, contents, section)</li>
                    </ul>
                </li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h3 class="title fw-bold" id="usability-guidelines">Usability guidelines</h3>
            <p>
                <b>Do ensure that the entire heading is clickable to the user.</b><br>
                A larger target will make it easier for users to manipulate
            </p>
            <p>
                <b>Ensure enough space between content and headings</b><br>
                This is to prevent the user from accidentally closing the accordion
            </p>
        </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h3 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h3>
            {%- highlight sass -%}{{design-tokens}}{%- endhighlight -%}
        </section>
</div>