---
title: Masthead
layout: layout-sidenav
description: All .gov.sg digital services shall adopt The Official Government Banner for every page in the digital
category: mandatory
react-link: true
github-link: true
toc: true
---

{% capture masthead %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@govtechsg/sgds-masthead/dist/sgds-masthead/sgds-masthead.css">
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@govtechsg/sgds-masthead/dist/sgds-masthead/sgds-masthead.js">
    </script>
</head>
<body>
    <sgds-masthead></sgds-masthead>
</body>
{% endcapture %}

{% capture masthead-design-tokens %}
--sgds-masthead-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
--sgds-masthead-link-color: #4372d6;
--sgds-masthead-link-hover-color: #3a79ff;
<!-- Font size for tablet view 1024px -->
--sgds-masthead-tablet-font-size: 0.75rem
<!-- Left and right padding for tablet view 1024px -->
--sgds-masthead-tablet-padding-x: 1.25rem;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compName="masthead" code=masthead %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/masthead/anatomy-masthead.svg" alt="Masthead Anatomy">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Container:</b> Takes on the length of the browser
                    </li>
                    <li>
                        <b>Container:</b> Serves to inform the user that the website is a official Singapore Government website. The wording should not be edited in anyway
                    </li>
                    <li>
                        <b>Dropdown:</b> Serves to inform the user on how to identify official Singapore Government websites
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/masthead/spacing-masthead.svg" alt="Masthead Spacing">
                    </div>
                </div>
                <h3 class="subtitle fw-bold" id="within-the-main-navigation">Within the masthead</h3>
                <p>Ensure that there is a min of 8px vertical spacing and 16px horizontal spacing. Base height of 40px</p>
            </div>
        </section>

        <section>
            <h2 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h2>
            {%- highlight sass -%}{{masthead-design-tokens}}{%- endhighlight -%}
        </section>
</div>