---
title: Masthead
layout: layout-sidenav
description: All .gov.sg digital services shall adopt The Official Government Banner for every page in the digital
category: Mandatory
react-link: true
github-link: true
toc: true
---

{% capture masthead %}
<sgds-masthead></sgds-masthead>
{% endcapture %}

{% capture masthead-design-tokens %}

{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compName="masthead" code=masthead %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/masthead/anatomy-masthead.svg" alt="Masthead Anatomy">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Container:</b> Takes on the length of the browser
                    </li>
                    <li>
                        <b>Container:</b> Serves to inform the user that the website is a official Singapore Government website. The wording should not be edited in anyway
                    </li>
                    <li>
                        <b>Dropdown:</b> Serves to inform the user on how to identify official Singapore Government websites
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/masthead/spacing-masthead.svg" alt="Masthead Spacing">
                    </div>
                </div>
                <h3 class="subtitle fw-bold" id="within-the-main-navigation">Within the masthead</h3>
                <p>Ensure that there is a min of 8px vertical spacing and 16px horizontal spacing. Base height of 40px</p>
            </div>
        </section>
</div>