---
title: Pagination
layout: layout-sidenav
description: The pagination component is used to display a list of page numbers for your users, so that they can navigate to the next or previous page.
category: general
react-link: ?path=/docs/components-pagination--standard
github-link: true
toc: true
---

{% capture with-texts-arrows %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i>Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">12</a></li>
      <li class="page-item"><a class="page-link" href="#">Next<i class="bi bi-chevron-right"></i></a></li>
    </ul>
  </nav>
{% endcapture %}

{% capture with-texts %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">12</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
{% endcapture %}

{% capture with-arrows %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">12</a></li>
      <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
    </ul>
  </nav>
{% endcapture %}

{% capture pagination-design-tokens %}
$pagination-padding-y: 0.5rem !default;
$pagination-padding-x: 1rem !default;
$pagination-padding-y-sm: .25rem !default;
$pagination-padding-x-sm: .5rem !default;
$pagination-padding-y-lg: .75rem !default;
$pagination-padding-x-lg: 1.5rem !default;
$pagination-color: $link-color !default;
$pagination-bg: $white !default;
$pagination-border-width: $border-width !default;
$pagination-border-radius: $border-radius !default;
$pagination-margin-start: -$pagination-border-width !default;
$pagination-border-color: $border-color !default;
$pagination-focus-color: $link-hover-color !default;
$pagination-focus-bg: $gray-200 !default;
$pagination-focus-box-shadow: $input-btn-focus-box-shadow !default;
$pagination-focus-outline: 0 !default;
$pagination-hover-color: $link-hover-color !default;
$pagination-hover-bg: $gray-200 !default;
$pagination-hover-border-color: $gray-300 !default;
$pagination-active-color: $component-active-color !default;
$pagination-active-bg: $component-active-bg !default;
$pagination-active-border-color: $pagination-active-bg !default;
$pagination-disabled-color: $gray-600 !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $border-color !default;
$pagination-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out,
box-shadow .15s ease-in-out !default;
$pagination-border-radius-sm: $border-radius-sm !default;
$pagination-border-radius-lg: $border-radius-lg !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="With texts and arrows" compName="with-texts-arrows" code=with-texts-arrows %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="With texts only" compName="with-texts" code=with-texts %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="With arrows only" compName="with-arrows" code=with-arrows %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-pagination-1.svg" alt="Pagination Anatomy">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Previous and next buttons:</b> Allows users to go backward or forward a page, can be text or icon, can be used individually depending on situation and space constraints.
                    </li>
                    <li>
                        <b>Numbering:</b> Allow users to skip to different pages anytime.
                    </li>
                    <li>
                        <b>Truncation:</b> When a threshold of pages is reached, the list is truncated using an ellipsis.
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-pagination-1.svg" alt="Pagination Spacing">
                    </div>
                </div>
                <p><b>Within the pagination</b><br>
                    Ensure that there is a min of 8px vertical spacing and 16px horizontal spacing. Base height 48px.</p>
            </div>
        </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p class="fw-bold mb-0">Pagination should be used when:</p>
            <ol>
                <li>Long content can be separated into multiple pages that can be navigated sequentially or by selecting a specific page within the pagination set.</li>
            </ol>
            <p class="fw-bold mb-0">Pagination should not be used when:</p>
            <ol>
                <li>The page has infinite scrolling, i.e. loading data as the user scrolls down the page.</li>
                <li>The content is not part of the same set, consider using <a href="{{site.baseurl}}/components/navigation/">navigation</a> instead.</li>
                <li>Switching between slides or content in a carousel.</li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Show the total number of pages in the pagination set whenever possible</b><br>
                Users should know the total number of pages or items. Truncation can be used when the number of pages exceeds the pagination display limit.
            </p>
            <p>
                <b>Highlight the current page</b><br>
                Pagination should highlight the page the user is currently on.
            </p>
            <p>
                <b>Place pagination at the bottom of the set of results</b><br>
                Do place pagination at the bottom of page so that users are able to navigate between pages.
            </p>
        </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h2 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h2>
            {%- highlight sass -%}{{pagination-design-tokens}}{%- endhighlight -%}
        </section>
</div>