---
title: Progress Bar
layout: layout-sidenav
description: Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.
category: general
react-link: ?path=/docs/components-progress-bar--default-story
github-link: true
toc: true
---

{% capture default-progress-bar %}
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br />
<div class="progress">
    <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br />
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br />
<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br />
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br />
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br />
<div class="progress">
    <div class="progress-bar bg-dark" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endcapture %}

{% capture with-label %}
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
</div>
{% endcapture %}

{% capture striped-progress-bar %}
<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endcapture %}

{% capture animated-progress-bar %}
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endcapture %}

{% capture stacked-progress-bar %}
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endcapture %}

{% capture progress-bar-design-tokens %}
$progress-height: 1rem !default;
$progress-font-size: $font-size-base * .75 !default;
$progress-bg: $gray-200 !default;
$progress-border-radius: $border-radius !default;
$progress-box-shadow: $box-shadow-inset !default;
$progress-bar-color: $white !default;
$progress-bar-bg: $primary !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition: width .6s ease !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Default progress bar" compName="default-progress-bar" code=default-progress-bar %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="With label" compName="with-label" code=with-label %}
            </div>
            <div class="section-sub">
              {% include page-component/component-code-snippet.html compTitle="Striped progress bar" compName="striped-progress-bar" code=striped-progress-bar %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Animated progress bar" compName="animated-progress-bar" code=animated-progress-bar %}
              </div>
              <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Stacked progress bar" compName="stacked-progress-bar" code=stacked-progress-bar %}
              </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/progress-bar/anatomy-progressbar.svg" alt="Progress Bar Anatomy">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Indicator:</b> Tells the users how far along in a process they are in.
                    </li>
                </ol>
            </div>
        </section>


        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p class="fw-bold mb-0">Progress bar should be used:</p>
            <ul>
                <li>When you want to show users where they are in a process.</li>
                <li>When you want to amount completed, e.g when a user uploads a document.</li>
            </ul>
            <p class="fw-bold mb-0">Progress bar should not be used:</p>
            <ol>
                <li>
                    As a indicator when users are navigating from page to page.
                </li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Keeps progress bars moving</b><br>
                This allows users to know that their task is progressing. Users may associate a stationary indicator as a stalled process.
            </p>

            <p>
                <b>Use consistent progress bars</b><br>
                Do use one type of indicator bar style and not switch between as this may cause confusion to the user.
            </p>
        </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h2 class="title fw-bold" id="design-tokens">Progress bar design tokens</h2>
            {%- highlight sass -%}{{progress-bar-design-tokens}}{%- endhighlight -%}
        </section>
</div>