---
title: Tabs
layout: layout-sidenav
description: Tabs are a navigation element resembling tabbed dividers in a filing cabinet - by clicking a tab, users can easily locate a page containing related content.
category: general
react-link: ?path=/docs/components-tabs--default-story
github-link: true
toc: true
---

{% capture default-tabs %}
<ul class="sgds nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
      aria-controls="home" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
      aria-controls="profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
      aria-controls="contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="sgds tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Tab 1. Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Sit, accusantium!</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Tab 2. Lorem ipsum dolor sit
    amet, consectetur adipisicing elit. Sit, accusantium!</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Tab 3. Lorem ipsum dolor sit
    amet, consectetur adipisicing elit. Sit, accusantium!</div>
</div>
{% endcapture %}

{% capture basic-toggle-tabs %}
<!-- Add variant="tabs-basic-toggle" -->
<ul class="sgds nav nav-tabs" id="myTab" role="tablist" variant="tabs-basic-toggle">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home1" type="button" role="tab"
      aria-controls="home" aria-selected="true"><i class="bi bi-house left"></i>Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile1" type="button" role="tab"
      aria-controls="profile" aria-selected="false">
      Profile
      <span class="sgds badge bg-light text-dark right">99</span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact1" type="button" role="tab"
      aria-controls="contact" aria-selected="false">Contact<i class="bi bi-telephone right"></i></button>
  </li>
</ul>
<div class="sgds tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio inventore commodi iure at doloribus architecto sed animi cumque fuga quod exercitationem iste consequatur similique molestiae ab, rerum amet quam laboriosam?</p>
  </div>
  <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">Tab 3. Lorem ipsum dolor sit
    amet, consectetur adipisicing elit. Sit, accusantium!</div>
</div>
{% endcapture %}

{% capture info-toggle-tabs %}
<!-- Add variant="tabs-info-toggle" -->
<ul class="sgds nav nav-tabs" id="myTab" role="tablist" variant="tabs-info-toggle">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab2" data-bs-toggle="tab" data-bs-target="#home2" type="button" role="tab"
      aria-controls="home" aria-selected="true">
      <!-- Add has-icon for label if icon is included -->
      <div class="tabs-info-label has-icon">
        <i class="bi bi-house"></i>
        Home
      </div>
      <div class="tabs-info-count">99</div>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab2" data-bs-toggle="tab" data-bs-target="#profile2" type="button" role="tab"
      aria-controls="profile" aria-selected="true">
      <div class="tabs-info-label">
        Profile
      </div>
      <div class="tabs-info-count">99</div>
    </button>
  </li>
</ul>
<div class="sgds tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio inventore commodi iure at doloribus architecto sed animi cumque fuga quod exercitationem iste consequatur similique molestiae ab, rerum amet quam laboriosam?</p>
  </div>
  <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endcapture %}

{% capture tabs-design-tokens %}
$nav-tabs-border-color: transparent !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $gray-700 !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
$nav-sgds-tabs-active-border-color: $link-color !default;
$nav-sgds-tabs-padding-y: $spacer !default;
$nav-sgds-tabs-icon-padding: $spacer !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Default tabs" compName="default-tabs" code=default-tabs %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compTitle="Basic toggle tabs" compName="basic-toggle-tabs" code=basic-toggle-tabs %}
            </div>
            <div class="section-sub">
              {% include page-component/component-code-snippet.html compTitle="Info toggle tabs" compName="info-toggle-tabs" code=info-toggle-tabs %}
          </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <h3 class="title fw-bold" id="anatomy-default">Default tabs</h3>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/tab/anatomy-defaulttab.svg" alt="default tab">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Icon (situational):</b> Used as a supporting element for the tab, giving more context to the nature of the tab label.
                    </li>
                    <li>
                      <b>Label:</b> Used to inform the user what the tab is about. Should always be short and to the point. Should always be centered.
                    </li>
                </ol>
            </div>
        </section>

        <section name="section-anatomy">
          <h3 class="title fw-bold" id="anatomy-toggle">Basic toggle tabs</h3>
          <div class="section-sub">
            <div class="sgds-example-image-container">
                <div class="sgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/tab/anatomy-toggletab.svg" alt="toggle tab">
                </div>
            </div>
            <ol>
                <li>
                    <b>Icon (situational):</b> Used as a supporting element for the tab, giving more context to the nature of the tab label.
                </li>
                <li>
                  <b>Label:</b> Used to inform the user what the tab is about. Should always be short and to the point. Should always be centered.
                </li>
                <li>
                  <b>Number count (situational):</b> Used as a supporting element to the tab. E.g number of notifications.
                </li>
            </ol>
        </div>
      </section>

      <section name="section-anatomy">
        <h3 class="title fw-bold" id="anatomy-info-toggle">Info toggle tabs</h3>
        <div class="section-sub">
          <div class="sgds-example-image-container">
              <div class="sgds-example-image-grid">
                  <img src="{{site.baseurl}}/assets/img/component/tab/anatomy-infotoggle.svg" alt="info toggle tab">
              </div>
          </div>
          <p>Unlike the other 2 tabs, info toggle tabs are more locked down in design and interaction.
            It should be used as it is with change in color the only exception.</p>
          <ol>
              <li>
                  <b>Icon (situational):</b> Used as a supporting element for the tab, giving more context to the nature of the tab label.
              </li>
              <li>
                <b>Label:</b> Used to inform the user what the tab is about. Should always be short and to the point. Should always be centered.
              </li>
              <li>
                <b>Number count (situational):</b> Used as a supporting element to the tab. E.g number of users.
              </li>
          </ol>
      </div>
    </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <h3 class="title fw-bold" id="spacing-default">Default tabs</h3>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/tab/spacing-defaulttab.svg" alt="default tabs spacing">
                    </div>
                </div>
                <p><b>Within the default tabs</b><br/>
                Ensure that there is at least 8px of vertical spacing between the text and indicator taking into account line height.</p>
            </div>
        </section>

        <section name="section-spacing">
          <h3 class="title fw-bold" id="spacing-toggle">Basic toggle tabs</h3>
          <div class="section-sub">
              <div class="sgds-example-image-container">
                  <div class="sgds-example-image-grid">
                      <img src="{{site.baseurl}}/assets/img/component/tab/spacing-toggletab.svg" alt="toggle tabs spacing">
                  </div>
              </div>
              <p><b>Within the toggle tabs</b><br/>
              Ensure that there is at least 16px of horizontal spacing and vertical spacing within the tab.</p>
          </div>
      </section>

      <section name="section-spacing">
        <h3 class="title fw-bold" id="spacing-info-toggle">Info toggle tabs</h3>
        <div class="section-sub">
            <div class="sgds-example-image-container">
                <div class="sgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/tab/spacing-infotoggle.svg" alt="info toggle tabs spacing">
                </div>
            </div>
            <p><b>Within the info toggle tabs</b><br/>
            Ensure that there is at least 12px of horizontal and vertical spacing within the tab and 8px vertical spacing between the lable and number count.</p>
        </div>
    </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p class="fw-bold mb-0">Tabs should be used:</p>
            <ul>
                <li>When you want to expose simliar but seperate content.</li>
                <li>When you can seperate the content into clearly labelled sections.</li>
                <li>When you want to expose simliar but seperate content.</li>
            </ul>
            <p class="fw-bold mb-0">Tabs should not be used:</p>
            <ul>
                <li>When you want to display critical information to the user, content like this should always be displayed upfront.</li>
                <li>When you require users to read the content in a specific order, e.g a step by step guide.</li>
                <li>When users will need to compare information in the different tabs.</li>
            </ul>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Keep labels short</b><br>
                As there will be multiple tabs, it is best to keep labels as short and to the point as possible.
            </p>

            <p>
              <b>Use sparingly</b><br>
              As tabs hide content, it is best to use them sparingly although they do help to save space. Do consider if the content can be displayed upfront instead of being in a tab. 
              In some cases, having too may tabs on a page may cause it to load slowly.
          </p>

          <p>
            <b>Do not use as a form of page navigation</b><br>
            Tabs should exclusively be used as a form of content navigation within a given page.
        </p>
        </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h2 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h2>
            {%- highlight sass -%}{{tabs-design-tokens}}{%- endhighlight -%}
        </section>
</div>