---
title: Tabs
layout: layout-sidenav
description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, iure.
category: general
react: true
github: https://google.com
storybook: https://google.com
ready: false
---
{% capture default-tabs %}
<ul class="sgds nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
    </li>
  </ul>
  <div class="sgds tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Tab 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, accusantium!</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Tab 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, accusantium!</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Tab 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, accusantium!</div>
  </div>
{% endcapture %}
<div class="page-component">
    <article>
        {% include page-component/component-header.html %}
        <section>
            <h2 class="title fw-bold">Anatomy</h2>
            <div class="component-anatomy">
                <h3 class="subtitle fw-bold">Closed</h3>
                <ol>
                    <li>
                        <b>Text:</b> Serves to tell users what the accordion is being used for
                    </li>
                    <li>
                        <b>Container:</b> Encloses the content within, width and height to be adjusted according to
                        content
                    </li>
                </ol>
                <img class="img-fluid" src="{{site.baseurl}}/assets/img/component/anatomy/accordion/anatomy-accordion-1.svg" alt="">
            </div>
        </section>
        <section>
            <h2 class="title fw-bold">Example</h2>
            <h3 class="subtitle fw-bold">Default Tabs</h3>
            <div class="sgds-example">
                {{default-tabs}}
            </div>
            {% include page-component/component-code-snippet.html compName="default-tabs" content=default-tabs %}
        </section>
    </article>
</div>