---
title: Typeahead
layout: layout-sidenav
description: Typeahead provides hints and lists of possible choices to the user while they search for something or fill a form.
category: general
react-link: https://1-0-0-dev.dg2jutx9gylat.amplifyapp.com/?path=/docs/components-typeahead--default-story
github-link: true
toc: true
---
{% capture default-typeahead %}
<div class="sgds form-group mb-2">
    <label for="defaultTypeahead" class="form-label">Select a fruit</label>
    <div class="sgds input-group dropdown" variant="has-icon">
        <input type="text" class=" form-control dropdown-toggle" id="defaultTypeahead" data-bs-toggle="dropdown" aria-expanded="false" aria-describedby="defaultTypeahead">
        <i class="bi bi-search form-control-icon"></i>
        <ul class="dropdown-menu mt-2" aria-labelledby="defaultTypeahead">
            <li><a class="dropdown-item" href="#">Apple</a></li>
            <li><a class="dropdown-item" href="#">Orange</a></li>
            <li><a class="dropdown-item" href="#">Banana</a></li>
        </ul>
    </div>

</div>
{% endcapture %}

{% capture tyoeahead-design-tokens %}

{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html compName="default-typeahead" code=default-typeahead %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/anatomy-typeahead-1.svg" alt="Typeahead Anatomy">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Label:</b> Text
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase}}/spacing-typeahead-1.svg" alt="Typeahead Spacing">
                    </div>
                </div>
                <h3 class="subtitle fw-bold" id="within-the-card">Within the typeahead</h3>
                <p>Text</p>
            </div>
        </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p class="fw-bold mb-0">Typeahead should be used when:</p>
            <ul>
                <li>Text</li>
            </ul>
            <p class="fw-bold mb-0">Typeahead should not be used when:</p>
            <ol>
                <li>
                    Text
                </li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Title</b><br>
                Text
            </p>
        </section>

        <!-- Design token Section -->
        <section name="section-design-tokens">
            <h2 class="title fw-bold" id="design-tokens">{{page.title}} design tokens</h2>
            {%- highlight sass -%}{{typeahead-design-tokens}}{%- endhighlight -%}
        </section>
</div>