---
layout: standard-template/layout-standard
permalink: /templates/quickstart/
---
<section class="sgds-hero has-background-primary">
    <div class="sgds-hero-body sgds-container is-fluid">
        <div class="row is-vcentered">
            <div class="col is-8 is-offset-2 has-text-white has-text-centered">
                <h1 class="display"><b>title</b></h1>
                <h5 class="is-hidden-mobile margin--bottom--lg">subtitle</h5>
                <div class="sgds-dropdown is-fullwidth is-menu-centered">
                    <div class="sgds-dropdown-trigger">
                        <button class="sgds-button is-white is-medium is-outlined" aria-haspopup="true"
                                aria-controls="sgds-dropdown-menu">
                            <span><b>Click Here</b></span>
                            <span class="icon">
                        <span class="sgds-icon sgds-icon-chevron-down"></span>
                    </span>
                        </button>
                    </div>
                    <div class="sgds-dropdown-menu" role="menu">
                        <div class="sgds-dropdown-content">
                            <a href="#" class="sgds-dropdown-item">Dropdown item</a>
                            <a class="sgds-dropdown-item">Other dropdown item</a>
                            <a href="#" class="sgds-dropdown-item">Active dropdown item</a>
                            <a href="#" class="sgds-dropdown-item">Other dropdown item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sgds-section">
    <div class="sgds-container">
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quisquam.
            </div>
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, reprehenderit!
            </div>
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, modi?
            </div>
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, tempora!
            </div>
        </div>
    </div>
</section>