<h3>Guidelines</h3>
<p>
    The Web Content Accessibility Guidelines (WCAG), developed by the Worldwide
    Web Consortium (W3C), provide an international set of guidelines which form
    the basis of most web accessibility laws in the world.
</p>
<div class="sgds-tabs is-boxed" data-sgds="tabs">
    <ul class="is-marginless">
        <li class="is-active"><a data-tab="#tab1">Perceivable</a></li>
        <li><a data-tab="#tab2">Operable</a></li>
        <li><a data-tab="#tab3">Understandable</a></li>
        <li><a data-tab="#tab4">Robust</a></li>
    </ul>
</div>
<div class="row" id="tab1">
    <div class="col">
        <p>
            Available to the senses (vision and hearing primarily) either
            through the browser or through assistive technologies.
        </p>
        <p>
            <b>Text alternatives:</b> Provide text alternatives for any non-text
            content so that it can be changed into other forms people need, such
            as large print, braille, speech, symbols or simpler language
        </p>
        <p>
            <b>Time-based media:</b> Provide alternatives for time-based media
        </p>
        <p>
            <b>Adaptable:</b> Create content that can be presented in different
            ways
        </p>
        <p>
            <b>Distinguishable:</b> Make it easier for users to see and hear
            content including separating foreground from background
        </p>
    </div>
</div>
<div class="row" id="tab2">
    <div class="col">
        <p>
            Users can interact with all controls and interactive elements using
            either the mouse, keyboard, or an assistive device.
        </p>
        <p>
            <b>Keyboard accessible:</b> Make all functionality available from a
            keyboard
        </p>
        <p>
            <b>Enough time:</b> Provide users enough time to read and use
            content, no timing, interruptions can be postponed or suppressed by
            the user except interruptions involving an emergency, when an
            authenticated session expires, the user can continue the activity
            without loss of data after re-authenticating
        </p>
        <p>
            <b>Seizures:</b> Do not design content in a way that is known to
            cause seizures, nothing that flashes more than three times in any
            one second period
        </p>
        <p>
            <b>Navigable:</b> Provide ways to help users navigate, find content,
            and determine where they are, bypass blocks, page titles, focus
            order, link purpose from text alone, breadcrumbs
        </p>
    </div>
</div>
<div class="row" id="tab3">
    <div class="col">
        <p>Content is clear and limits confusion and ambiguity.</p>
        <p>
            <b>Readable:</b> Make text content readable and understandable,
            identifying specific definitions of words or phrases used in an
            unusual or restricted way, including idioms and jargon,
            abbreviations, difficult pronunciations
        </p>
        <p>
            <b>Predictable:</b> Make Web pages appear and operate in predictable
            ways, consistent navigation, consistent identification
        </p>
        <p>
            <b>Input assistance:</b> Help users avoid and correct mistakes,
            error prevention – reversible, checked, confirmed
        </p>
    </div>
</div>
<div class="row" id="tab4">
    <div class="col">
        <p>A wide range of technologies can access the content.</p>
        <p>
            <b>Compatible:</b> Maximize compatibility with current and future
            user agents, including assistive technologies. Elements have
            complete start and end tags, no duplicate attributes, IDs are
            unique. For all UI components, the name and role can be
            programmatically determined
        </p>
    </div>
</div>