<header class="bp-agencyhead">
    <div class="container is-fluid">
        <div class="columns is-vcentered">
            <div class="column is-9 has-text-centered-mobile">
                <img src="{{ site.baseurl }}/assets/img/logo_blueprint.png" alt="">
            </div>
            <div class="column is-3 has-text-centered-mobile">
                <div class="field has-addons has-addons-right">
                    <div class="control  is-expanded">
                        <input class="input" type="text" placeholder="Search anything">
                    </div>
                    <div class="control">
                        <a class="bp-button is-black">
                            <span class="icon is-small is-left">
                                <i class="bp-icon bp-icon-search"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>