<header class="bp-agencyhead">
    <div class="bp-container is-fluid">
        <div class="row is-vcentered">
            <div class="col is-9 has-text-centered-mobile">
                {% asset logo_blueprint.png @magick:1x alt='Blueprint' %}
            </div>
            <div class="col is-3 has-text-centered-mobile">
                <div class="field has-addons has-addons-right">
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g. Components">
                    </div>
                    <div class="control">
                        <a class="bp-button is-primary">
                            Search
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>