<footer class="bp-footer has-text-centered-touch">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <h6><b>Blueprint@Govtech</b></h6>
            </div>
        </div>
        <div class="columns is-top">
            <div class="column">
                <p><b>Components</b></p>
                <p><a href="{{site.url}}/components/masthead">Masthead</a></p>
                <p><a href="{{site.url}}/components/footer">Footer</a></p>
                <p><a href="{{site.url}}/components/icons">Icons</a></p>
                <p>More</p>
            </div>
            <div class="column">
                <p><b>Templates</b></p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
            </div>
            <div class="column">
                <p><b>Title</b></p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
            </div>
            <div class="column">
                <p><b>Title</b></p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
            </div>
            <div class="column">
                <p><b>Title</b></p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
                <p>Lorem ipsum.</p>
            </div>
            <div class="column">
                <p><b>Connect With Us</b></p>
               <ul>
                   <li class="icons is-inline-block">
                       <span class="bp-icon bp-icon-facebook is-size-3"></span>
                   </li>
                   <li class="icons is-inline-block">
                       <span class="bp-icon bp-icon-instagram is-size-3"></span>
                   </li>
                   <li class="icons is-inline-block">
                       <span class="bp-icon bp-icon-twitter is-size-3"></span>
                   </li>
                   <li class="icons is-inline-block">
                       <span class="bp-icon bp-icon-youtube is-size-3"></span>
                   </li>
               </ul>
            </div>
        </div>

    </div>
</footer>
<footer class="bp-footer copyright">
    <div class="container is-fluid">
        <div class="columns divider is-vcentered">
            <div class="column">
                <ul>
                    <li><a href="">Privacy Statement</a></li>
                    <li><a href="">Term of Use</a></li>
                    <li><a href="">Rate This Service</a</li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="column has-text-right-desktop has-text-centered-mobile">
                © 2018 Blueprint@Govtech. All Rights Reserved. Last Updated 04 Feb 2018
            </div>

        </div>
    </div>
</footer>