<header class="bp-masthead">
    <div class="container is-fluid">
        <div class="columns is-multiline  is-vcentered">
            <div class="column is-9-desktop is-12-touch has-text-centered-touch">
                <h6>
                    <a href="http://www.gov.sg" alt="Singapore Government" target="_blank">
                        <span class="bp-icon bp-icon-sg-crest is-size-6 is-size-7-touch" style="color:red"></span>
                        <span class="is-size-7-touch">An Official Website of the <b>Singapore Government</b></span>
                    </a>
                </h6>
            </div>
            <div class="column is-1-desktop has-text-right is-hidden-touch"><a href="" target="_blank">Contact</a></div>
            <div class="column is-1-desktop has-text-right is-hidden-touch"><a href="" target="_blank">Feedback</a></div>
            <div class="column is-1-desktop has-text-right is-hidden-touch"><a href="" target="_blank">Sitemap</a></div>
        </div>
    </div>
</header>