<header class="bp-masthead is-inverted">
    <div class="container is-fluid">
        <div class="columns is-gapless is-multiline">
            <div class="column is-8 has-text-centered-mobile">

                <h6>
                    <a href="http://www.gov.sg" alt="Singapore Government" target="_blank">
                    <span class="bp-icon bp-icon-sg-crest is-size-6" style="color:red"></span>
                    An Official Website of the <b>Singapore Government</b></a>
                </h6>
            </div>
            <div class="column has-text-right is-hidden-mobile"><a href="" target="_blank">Contact Information</a></div>
            <div class="column has-text-right is-hidden-mobile"><a href="" target="_blank">Feedback</a></div>
            <div class="column has-text-right is-hidden-mobile"><a href="" target="_blank">Sitemap</a></div>
        </div>
    </div>
</header>

<header class="bp-agencyhead">
    <div class="container is-fluid">
        <div class="columns is-vcentered">
            <div class="column is-9 has-text-centered-mobile">
                <img src="assets/img/logo_blueprint.png" alt="">
            </div>
            <div class="column is-3 has-text-centered-mobile">
                <div class="field has-addons has-addons-right">
                    <div class="control  is-expanded">
                        <input class="input" type="text" placeholder="Search anything">
                    </div>
                    <div class="control">
                        <a class="bp-button is-black">
                            <span class="icon is-small is-left">
                                <i class="bp-icon bp-icon-search"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>