<section class="bp-section bp-masthead">
    <div class="bp-container is-fluid">
        <div class="row is-vcentered">
            <div class="col is-9-desktop is-12-touch">
                <h6>
                    <a href="http://www.gov.sg" alt="Singapore Government" target="_blank">
                        <span class="bp-icon bp-icon-sg-crest is-size-12px" style="color:red"></span>
                        <span class="is-size-12px">A service of the Singapore Government</span>
                    </a>
                </h6>
            </div>
        </div>
    </div>
</section>