<div class="content">
    <div class="row">
      <div class="col">
        <a href="/docs/">
            <div class="sgds-card-button has-outline">
              <div class="sgds-card-image has-text-centered">
                <figure class="card-icon has-text-centered">
                  <img alt="Components" src="/assets/img/bg_components.png" alt="lady adding components to a web browser" />
                </figure>
              </div>
              <div class="sgds-card-content has-text-centered">
                <h4 class="has-text-weight-bold">Components</h4>
                <p>
                  Implement and customise frontend components, and deliver your next big idea
                </p>
              </div>
            </div>
          </a>
      </div>

      <div class="col">
        <a href="/guides/">
            <div class="sgds-card-button has-outline">
              <div class="sgds-card-image">
                <figure class="card-icon has-text-centered">
                  <img alt="Guidelines" src="/assets/img/bg_guides.png" alt="man pointing to documentation on a computer" />
                </figure>
              </div>
              <div class="sgds-card-content has-text-centered">
                <h4 class="has-text-weight-bold">Guides</h4> 
                <p>
                  Conventions, standards and best practices for designers, developers and content writers
                </p>
              </div>
            </div>
          </a>
      </div>
    </div>
  </div>