<h4 class="has-text-primary has-text-weight-semibold margin--bottom">
    Our Core Principles
</h4>
<p>
    We constantly keep these core principles in mind when making design decisions
    at SGDS.
</p>
<p>
    <b>Clarity:</b> Easy to understand and navigate. Elements highlight
    important content and improve interactivity.
</p>
<p>
    <b>Efficiency:</b> Optimised workflows that help you to deliver the highest
    quality government websites to the public easily.
</p>
<p>
    <b>Consistency:</b> A consistent and unified government branding implements
    familiar standards and strengthens intuition by using standard text styles,
    icons and interface elements.
</p>
<p>
    <b>Reusable:</b> Eliminate the burden of recreating basic components and
    patterns for every new product. Components in Design System will be a
    comprehensive collection of tried-and-tested assets that reflect the
    industry best practices.
</p>
