<footer class="sgds footer">
    <section class="footer-section top">
        <div class="container">
            <div class="row">
                <div class="footer-title">Singapore Government Design System</div>
                <div class="footer-description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum illo delectus laborum libero id
                    ratione quibusdam tempora assumenda quas, pariatur cum minus, aliquid molestiae et nisi dolorem
                    vitae molestias! Voluptate commodi aliquid iusto sequi sit eligendi, quod numquam nihil consectetur
                    eaque error earum laudantium! Temporibus accusamus pariatur quod totam quia.
                </div>
            </div>

            <div class="row row-footer-links">
                <div class="col-xxl-2 col-md-6">
                    <div class="footer-links">
                        <div class="footer-link-title">
                            Category 1
                        </div>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">This is a super long link</a></li>
                            <li><a href="">Test</a></li>
                            <li><a href="">Test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-2 col-md-6">
                    <div class="footer-links">
                        <div class="footer-link-title">
                            Category 1
                        </div>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">This is a super long link</a></li>
                            <li><a href="">Test</a></li>
                            <li><a href="">Test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-2 col-md-6">
                    <div class="footer-links">
                        <div class="footer-link-title">
                            Category 1
                        </div>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">This is a super long link</a></li>
                            <li><a href="">Test</a></li>
                            <li><a href="">Test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-2 col-md-6">
                    <div class="footer-links">
                        <div class="footer-link-title">
                            Category 1
                        </div>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">This is a super long link</a></li>
                            <li><a href="">Test</a></li>
                            <li><a href="">Test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-2 col-md-6">
                    <div class="footer-links">
                        <div class="footer-link-title">
                            Category 1
                        </div>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">This is a super long link</a></li>
                            <li><a href="">Test</a></li>
                            <li><a href="">Test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-2 col-lg-4">
                    <div class="footer-links">
                        <div class="footer-link-title">
                            Category 1
                        </div>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">This is a super long link</a></li>
                            <li><a href="">Test</a></li>
                            <li><a href="">Test</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer-quick-links">
                    <ul>
                        <li><a href="" target="_blank">Contact</a></li>
                        <li><a href="" target="_blank">Feedback</a></li>
                        <li><a href="" target="_blank">Reach.gov.sg</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        </div>
    </section>

    <section class="footer-section bottom">
        <div class="container">
            <div class="row">
                <div class="footer-quick-links">
                    <ul>
                        <li><a href="" target="_blank">Contact</a></li>
                        <li><a href="" target="_blank">Feedback</a></li>
                        <li><a href="" target="_blank">Reach.gov.sg</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>