<footer class="bp-footer bg-grey-dark">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-5">
                <div class="columns">
                    <div class="column is-12">
                        <h6 class="title is-white">Quick Links</h6>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <ul>
                            <li><a href="">Annual Reports</a></li>
                            <li><a href="">Comparison of Local Taxi Fares</a></li>
                            <li><a href="">Fare Regulation Framework</a></li>
                            <li><a href="">Fare Structure</a></li>
                            <li><a href="">Memorandum of Understanding</a></li>
                            <li><a href="">News Releases</a></li>
                            <li><a href="">Surveys</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-12">
                        <h6 class="title">About PTC</h6>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <ul>
                            <li><a href="">Overview</a></li>
                            <li><a href="">Organisational Structure</a></li>
                            <li><a href="">Meet The Council Members</a></li>
                            <li><a href="">Milestones</a></li>
                            <li><a href="">Legislation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-12">
                        <h6 class="title">Our Affiliates</h6>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <img src="https://www.ptc.gov.sg/assets/images/affiliate-reach.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<footer class="bp-footer bp-footer-links bg-black">
    <div class="container is-fluid">
        <div class="columns">
           <div class="column is-8">
               <ul>
                   <li class="is-inline-block"><a href="">Privacy Statement</a></li>
                   <li class="is-inline-block"><a href="">Term of Use</a></li>
                   <li class="is-inline-block"><a href="">Rate This Service</a</li>
                   <li class="is-inline-block"><a href="">Contact Us</a></li>
               </ul>
           </div>
           <div class="column">
               <ul>
                   <li class="is-inline-block">
                       <span class="bp-icon bp-icon-facebook is-size-3"></span>
                   </li>
                   <li class="is-inline-block">
                       <span class="bp-icon bp-icon-instagram is-size-3"></span>
                   </li>
                   <li class="is-inline-block">
                       <span class="bp-icon bp-icon-twitter is-size-3"></span>
                   </li>
                   <li class="is-inline-block">
                       <span class="bp-icon bp-icon-youtube is-size-3"></span>
                   </li>
               </ul>
           </div>
        </div>
    </div>
</footer>
<footer class="bp-footer bg-grey-dark">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-9">
                Best viewed on IE9.039 & above and Chrome at a resolution of 1024 x 768
            </div>
            <div class="column is-3">
                Last Updated 04 Feb 2018
            </div>
        </div>
        <div class="columns">
            <div class="column">
                © 2018 Blueprint@Govtech. All Rights Reserved.
            </div>
        </div>

    </div>
</footer>