<div class="content">
    <div class="row has-text-centered">
        <div class="col is-10 is-offset-1">
            <h2>
                Guides for Different Roles
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col is-10 is-offset-1">
            <div class="row card-section">
                <div class="col is-4 is-flex">
                    <a href="/guides/developers-accessibility/">
                        <div class="sgds-card sgds-card-button">
                            <div class="sgds-card-image">
                                <figure class="sgds-image is-16by9">
                                    <img src="/assets/img/img_developer1.png" alt="Development Guides" />
                                </figure>
                            </div>
                            <div class="sgds-card-content has-text-centered ">
                                <p class="has-text-weight-semibold is-size-6">
                                    For Developers
                                </p>
                                <p>
                                    Getting started with our UI Framework
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col is-4 is-flex">
                    <a href="/guides/designers-accessibility/">
                        <div class="sgds-card sgds-card-button">
                            <div class="sgds-card-image">
                                <figure class="sgds-image is-16by9">
                                    <img src="/assets/img/img_design1.png" alt="Development Guides" />
                                </figure>
                            </div>
                            <div class="sgds-card-content has-text-centered">
                                <p class="has-text-weight-semibold is-size-6">
                                    For Designers
                                </p>
                                <p>
                                    Getting started with design guidelines and best practices
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col is-4 is-flex">
                    <a href="/guides/writers-accessibility/">
                        <div class="sgds-card sgds-card-button">
                            <div class="sgds-card-image">
                                <figure class="sgds-image is-16by9">
                                    <img src="/assets/img/img_writing1.png" alt="Development Guides" />
                                </figure>
                            </div>
                            <div class="sgds-card-content has-text-centered">
                                <p class="has-text-weight-semibold is-size-6">
                                    For Writers
                                </p>
                                <p>
                                    On presenting content for digital services
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
