<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="{{site.baseurl}}/assets/img/logo_blueprint.png">
    <meta property="og:url" content="{{site.baseurl}}">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl }}">
    {% if page.url contains '/components' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/foundation.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="https://highlightjs.org/static/highlight.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/xml.min.js"></script>
    {% endif %}
    <title>{{ page.title }} {{ site.title }} </title>
</head>