<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="{{site.baseurl}}/assets/img/logo_blueprint.png">
    <meta property="og:url" content="{{site.baseurl}}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl }}">
    <title>{{ page.title }} {{ site.title }} </title>
</head>