<section class="section">
    <div class=" container is-fluid">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h1>This is home, truely</h1>
                    <h2>Where I know I must be</h2>
                    <h3>Where my dreams wait for me</h3>
                    <h4>Where that river always flows</h4>
                    <h5>This is home surely</h5>
                    <h6>As my senses tell me</h6>
                    <p>This is where I won't be alone</p>
                    <pre>For this is where I know it's home</pre>
                </div>

            </div>
        </div>
    </div>
</section>