<section class="bp-hero is-primary is-bold">
    <div class="bp-hero-body">
        <div class="container">
            <h1 class="title">
                BLUEPRINT
            </h1>

        </div>
    </div>
</section>
<section class="section has-text-centered-mobile">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h3 class="title">Setting up</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>
            <div class="column">
                <div class="content">
                    <h3 class="title"></h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h3 class="title"> How to install</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>