<section class="bp-hero is-primary is-bold has-text-centered">
    <div class="bp-hero-body">
        <div class="bp-container is-fluid">
            <div class="cols">
                <div class="col is-4 is-offset-4">
                    <div class="content">
                        <h1 class="title">
                            <b>Blueprint</b>
                        </h1>
                        <p class="subtitle is-spaced">v1.0.0 ~ alpha</p>
                        <h4 class=" subtitle is-spaced">is a reusable and upgradable frontend framework for the Singapore government agencies.</h4>
                        <div class="bp-buttons is-centered">
                            <span class="bp-button is-primary is-inverted is-outlined is-medium">Get Started</span>
                            <span class="bp-button is-primary is-inverted is-outlined is-medium">Whats new?</span>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="bp-section">
    <div class="bp-container is-fluid">
        <div class="cols">
            <div class="col">
                <div class="content">
                    <h2 class="title"><b>Setting up</b></h2>
                </div>
            </div>
            <div class="col">
                <span class="bp-icon bp-icon-download is-size-1 is-primary"></span>
                <h4>Installation</h4>
                <p class="is-spaced">Include Blueprint source Sass and JavaScript files via npm.</p>
                <br>
                {% highlight console %}$ npm install blueprint-govtech{% endhighlight %}
            </div>
            <div class="col">
                <div class="content">
                    <span class="bp-icon bp-icon-cloud is-size-1 is-primary"></span>
                    <h4 class="title">Via CDN</h4>
                    <p class="subtitle">When you only need to include Blueprint's compiled CSS or JS, you can use BlueprintCDN.</p>
                </div>
                <h6>CSS only</h6>
                <br>
                <div style="max-width:400px;">{% highlight html %}<link rel="stylesheet" href="https://cdnlink.com/blueprint/v1.0.0/blueprint.css">{% endhighlight %}</div>
            </div>
            <div class="col">
                <div class="content">
                    <span class="bp-icon bp-icon-file is-size-1 is-primary"></span>
                    <h4 class="title">Templates</h4>
                    <p class="subtitle">Starter templates for quick prototypes</p>
                </div>
                <a href="" class="bp-button is-outlined is-primary">Browse templates</a>

            </div>

        </div>
    </div>
</section>
<div class="section bp-section">
    <div class="bp-container is-fluid">
        <div class="cols">
            <div class="col">
                <div class="content">
                    <h2 class="title"><b>Quick start</b></h2>
                    <p class="subtitle">A starting template for quick prototype</p>
                </div>
            </div>
        </div>
        <div class="cols">
            <div class="col">
                {% highlight html %}{% include quick-start.html %}{% endhighlight %}
            </div>
        </div>

    </div>
</div>
