<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/css-element-queries@1.2.0/src/ResizeSensor.js"></script>
<script src="/js/sgds.js"></script>

<!-- <script src="/assets/js/search.js"></script> -->
<!-- <script src="/assets/js/worker.js"></script> -->
<!-- <script src="/assets/js/build-index.js"></script> -->

{% if page.url contains "/docs/" %}
<script src="https://cdn.jsdelivr.net/npm/list.js@1.5.0/dist/list.min.js"></script>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/clipboard.min.js"></script>
<script src="/assets/js/clipboard.js"></script>
<script src="/assets/js/component-filter.js"></script>
{% endif %}
