<!-- DYN -->
{% if page.url contains 'who-we-are' %}
<script src="{{ "/js/sideNav-offset.js" | absolute_url }}"></script>
{% endif %}
<script src="{{ "/js/common.js" | absolute_url }}"></script>
{% if page.url == "/" %}
<script src="{{ "/js/home.js" | absolute_url }}"></script>
{% endif %}

<script src="{{ "/js/lunr.min.js" | absolute_url }}"></script>
<script src="{{ "/js/search.js" | absolute_url }}"></script>
<script src="{{ "/js/feedback-modal.js" | absolute_url }}"></script>
<script src="{{ "/js/navbar.js" | absolute_url }}"></script>