<!-- DYN -->
{% if page.url contains 'who-we-are' %}
<script src="/js/sideNav-offset.js"></script>
{% endif %}
<script src="/js/blueprint.js"></script>
{% if page.url == "/" %}
<script src="/js/home.js"></script>
{% endif %}

<script src="/posts.json"></script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/worker.js"></script>
<script src="/js/build-index.js"></script>
<script src="/js/accordion.js"></script>


