<nav class="navbar is-light">
    <div class="container is-fluid">
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                {% assign links = site.data.navigation %}
                {% for link in links %}
                    {% assign class = nil %}
                    {% if page.url contains link.url %}
                        {% assign class = 'is-active' %}
                    {% endif %}
                    {% if link.sublinks %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="{{ site.baseurl }}{{ link.url }}">
                                {{ link.title }}
                            </a>
                            <div class="navbar-dropdown is-boxed">
                                {% assign sort = link.sublinks | sort:'title' %}
                                {% for item in sort %}
                                    {% assign class = nil %}
                                    {% if page.url contains item.url %}
                                        <a class="navbar-item is-active" href="{{ item.url }}">
                                            {{ item.title }}
                                        </a>
                                    {% else %}
                                        <a class="navbar-item" href="{{ item.url }}">
                                            {{ item.title }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <li class="navbar-item {{ class }}">
                            <a href="{{ site.baseurl }}{{ link.url }}" class="{{ class }}">{{ link.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="navbar-end is-hidden-touch">
                <div class="navbar-item">
                        <a class="bp-button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
                            <span class="icon is-size-3">
                            <i class="bp-icon bp-icon-download"></i>
                            </span>
                            <span>Download Blueprint</span>
                        </a>
                    <!--<a href="" class="bp-button is-primary">Download Blueprint</a>-->
                </div>
            </div>
        </div>
    </div>
</nav>