<nav class="sgds navbar navbar-expand-lg" aria-label="Main Navigation">
    <a class="navbar-brand" href="/"><img src="/assets/img/logo-sgds.svg" alt="Home" height="60"></a>
    <div class="d-lg-none">
        <div class="navbar-mobile-widget">   
            <dev-console-widget iconColor="black" iconWidth="24px" iconHeight="24px"></dev-console-widget>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="bi bi-list h2"></i>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            {% for item in site.data.navigation %}
            {%- assign class = nil -%}
            {%- if page.url contains item.title -%} 
                {%- assign class = 'active' -%} 
            {%- endif -%}
            {%- if item.title == "get-started" -%}
            <li class="nav-item align-self-center">
                <a class="sgds btn btn-primary btn-sm" aria-current="page" href="{{item.url}}">{{item.title | capitalize | replace: '-', ' '}}</a>
              </li>
              {%- else -%}
            <li class="nav-item">
                <a class="nav-link {{class}}" aria-current="page" href="{{item.url}}">
                    {% if item.title == 'FAQs' %}
                    {{item.title}}
                    {% else %}
                    {{item.title | capitalize}}
                    {% endif %}
                </a>
            </li>
            {%- endif -%}
            {% endfor %}
            <li class="nav-item align-self-center d-none d-lg-block" style="margin-top:-5px">
                <dev-console-widget iconColor="black" iconWidth="24px" iconHeight="24px"></dev-console-widget>
            </li>
        </ul>
    </div>
</nav>