<div class="offcanvas offcanvas-start" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" href="/"><img src="/assets/img/logo-sgds-w.svg" alt="Home" height="60"></a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <hr>
    <div class="offcanvas-body menu">
        <nav class="sidenav sgds list-unstyled open2">
            {% for item in site.data.navigation %}
            {%- assign class = nil -%}
            {%- assign show = nil -%}
            {%- if page.url contains item.title -%}
            {%- assign class = 'active' -%}
            {%- assign show = 'show' -%}
            {%- endif -%}

            <li class="sidenav-item">
                {% if item.has-collection == false %}
                <a type="button" class="sgds btn {{class}}" href="{{item.url}}">
                    {{item.title | capitalize}}
                </a>
                {% endif %}
                {% for collection in site.collections %}
                {% assign id = collection.category | append: '-off-canvas-collapse' %}
                {% if item.title == collection.category %}
                <button class="sgds btn collapsed {{ class }}" type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{id}}" aria-expanded="false" aria-controls="{{id}}">
                    {{ collection.category | capitalize | replace: '-', ' '}}
                    <i class="bi bi-chevron-down"></i>
                </button>
                <div class="collapse {{ show }}" id="{{id}}" data-bs-parent=".open2">
                    <ul class="list-unstyled">
                        {% if page.url != item.url %}
                        {% assign class="inactive" %}
                        {% endif %}
                        <li><a href="{{item.url}}" class="nav-link {{class}}">Overview</a></li>
                        {% for component in site[collection.label] %}
                        {%- assign componentClass = 'inactive' -%}
                        {% if page.title == component.title %}
                        {% assign componentClass = 'active pe-none' %}
                        {%- endif -%}
                        <li><a href="{{component.url}}" class="nav-link {{componentClass}}">{{component.title}}</a></li>
                        {% endfor%}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </li>
            {% endfor %}

        </nav>
    </div>
    <hr>
    <div class="offcanvas-body">
        <small class="fw-bold d-block">Previous version</small>
        {% assign prevVersion = site.data.npm-data-prev-ver.objects[0].package.version %}
        <a class="small" href="" target="_blank" rel="noopener noreferrer">{{prevVersion}}</a>
    </div>
</div>