<div class="offcanvas offcanvas-start" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" href="/"><img src="/assets/img/logo-sgds.svg" alt="Home" height="60"></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
  <div class="offcanvas-body">
    <nav class="sidenav sgds list-unstyled open2">
      <li class="sidenav-item">
          <button class="sgds btn collapsed active" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleD"
              aria-expanded="false" aria-controls="collapseExampleD" >
              Sub menu
              <i class="bi bi-chevron-down"></i>
          </button>
          <div class="collapse show" id="collapseExampleD" data-bs-parent=".open2">
              <ul class="list-unstyled">
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
                  <li><a href="#" class="nav-link active">Sub menu item</a></li>
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
              </ul>
          </div>
      </li>
      <li class="sidenav-item">
          <button class="sgds btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleE"
              aria-expanded="false" aria-controls="collapseExampleE" >
              Sub menu
              <i class="bi bi-chevron-down"></i>
          </button>
          <div class="collapse" id="collapseExampleE" data-bs-parent=".open2">
              <ul class="list-unstyled">
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
              </ul>
          </div>
      </li>
      <li class="sidenav-item">
          <button class="sgds btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleF"
              aria-expanded="false" aria-controls="collapseExampleF" >
              Sub menu
              <i class="bi bi-chevron-down"></i>
          </button>
          <div class="collapse" id="collapseExampleF" data-bs-parent=".open2">
              <ul class="list-unstyled">
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
                  <li><a href="#" class="nav-link">Sub menu item</a></li>
              </ul>
          </div>
      </li>
  </nav>
  <hr>
  <div class="offcanvas-body">
    <small class="fw-bold">Previous version</small>
    v1.32.1
  </div>
  </div>
</div>

<div class="container mt-3">
  <h3>Offcanvas Sidebar</h3>
  <p>Button Below Will Open Offcanvas Sidebar.</p>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#oc">
    Open
  </button>
</div>