<div class="offcanvas offcanvas-start" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" href="/"><img src="/assets/img/logo-sgds-w.svg" alt="Home" height="60"></a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <nav class="sidenav sgds list-unstyled open2">
            {% for item in site.data.navigation %}
            {%- assign class = nil -%}
            {%- if page.url contains item.title -%} 
                {%- assign class = 'active' -%} 
            {%- endif -%}

            <li class="sidenav-item">
                <a type="button" class="sgds btn {{class}}" href="{{item.url}}">
                    {{item.title | capitalize}}
                </a>
            </li>
            {% endfor %}
            
        </nav>
    </div>
    <hr>
    <div class="offcanvas-body">
        <small class="fw-bold d-block">Previous version</small>
        <a class="small" href="" target="_blank" rel="noopener noreferrer">v1.32.1</a>
    </div>
</div>