<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <!--Will be replace by cdn??-->
        <link rel="stylesheet" href="css/blueprint.css">
        <title>Blueprint </title>
    </head>
    <body>
        {% include bp-masthead.html %}
        {%- include bp-agencyhead.html -%}
        {%- include main-nav.html -%}
        <section class="bp-hero is-primary is-bold has-text-centered">
            <div class="bp-hero-body">
                <div class="bp-container is-fluid">
                    <div class="row">
                        <div class="col is-4 is-offset-4">
                            <div class="content">
                                <h1 class="title">
                                    <b>Blueprint</b>
                                </h1>
                                <p class="subtitle is-spaced">
                                    v1.0.0 ~ alpha
                                </p>
                                <h4 class=" subtitle is-spaced">is a reusable and upgradable frontend framework for the Singapore government agencies.</h4>
                                <div class="bp-buttons is-centered">
                                    <span class="bp-button is-primary is-inverted is-outlined is-medium">Get Started</span>
                                    <span class="bp-button is-primary is-inverted is-outlined is-medium">Whats new?</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="bp-section">
            <div class="bp-container">
                <!--first row-->
                <div class="row">
                    <div class="col">
                        <h2>Welcome to Blueprint</h2>
                    </div>
                </div>
                <!--2nd row-->
                <div class="row">
                    <div class="col">
                        <div class="content">
                            <h5 class="title">Subtitle</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, vel.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content">
                            <h5 class="title">Subtitle</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, vel.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content">
                            <h5 class="title">Subtitle</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, vel.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content">
                            <h5 class="title">Subtitle</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, vel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include bp-footer.html %}
        <!--Will be replace by cdn??-->
        <script type="text/javascript" src="js/blueprint.js"></script>
    </body>
</html>