<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <!--Will be replace by cdn??-->
        <link rel="stylesheet" href="css/blueprint.css">
        <title>Blueprint </title>
    </head>
    <body>
        {% include bp-masthead.html %}
        {% include bp-agencyhead.html %}
        {% include main-nav.html %}
        <section class="bp-section">
            <div class="bp-container">
                <div class="cols">
                    <div class="col">
                        <h4>Column 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, nihil!</p>
                    </div>
                    <div class="col">
                        <h4>Column 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laboriosam!</p>
                    </div>
                    <div class="col">
                        <h4>Column 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, pariatur?</p>
                    </div>
                    <div class="col">
                        <h4>Column 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, id?</p>
                    </div>
                </div>
            </div>
        </section>
        <!--Will be replace by cdn??-->
        <script type="text/javascript" src="js/blueprint.js"></script>
    </body>
</html>