{% if page.url contains '/demo/' %}
<footer class="sgds-footer top-section">
    <div class="sgds-container">
        <div class="row">
            <div class="col header">
                <h6 class="sub-header has-text-white"><b>Design System</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="col is-3">
                <p class="sub-header"><b>Category 1</b></p>
                <p><a href="">Link</a></p>
                <p><a href="">Link</a></p>
            </div>
            <div class="col is-3">
                <p class="sub-header"><b>Category 2</b></p>
                <p><a href="">Link</a></p>
                <p><a href="">Link</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Tell us more</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="">Privacy Statement</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p> © {{ site.time | date: "%Y" }} Government of Singapore</p>
            </div>
        </div>
    </div>
</footer>
{% else %}
<footer class="sgds-footer">
    <div class="sgds-container">
        <div class="row">
            <div class="col header">
                <h6 class="sub-header has-text-white"><b>{{site.title}}</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="col is-3">
                <p><b>User Guides</b></p>
                <p><a href="/general/coming-soon/">Install Design System</a></p>
                <p><a href="/general/coming-soon/">Suggest a Component</a></p>
                <p><a href="/general/coming-soon/">Submit a Theme</a></p>
            </div>
            <div class="col is-3">
                <p class="sub-header"><b>Other Sites</b></p>
                <p><a href="/general/coming-soon/">Developer Portal</a></p>
                <p><a href="/general/coming-soon/">Isomer</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <!--Tools questionaire-->
                        <p><a href="{{site.contact_us}}" target="_blank">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <!--Feedback form-->
                        <p><a href="{{site.feedback_form}}" target="_blank">Feedback</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="/general/faq/">FAQs</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="{{site.baseurl}}/general/privacy">Privacy</a></li>
                    <li><a href="{{site.baseurl}}/general/terms">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © {{ site.time | date: "%Y" }} Government of Singapore. Last Updated {{site.time | date_to_string -}}</p>
                <p class="is-hidden-desktop">© {{ site.time | date: "%Y" }} Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.time | date_to_string -}}</p>
            </div>
        </div>

    </div>
</footer>

{% endif %}