
<!-- <div class="field">
    <div class="control has-icons-right is-expanded">
        <input
            class="input is-fullwidth"
            id="{{ include.id }}"
            type="text"
            placeholder="{{ input_placeholder }}"
            name="query"
            autocomplete="off"
        />
        <span class="icon is-right">
            <i class="search-bar-icon sgds-icon sgds-icon-search is-size-7"></i>
        </span>
    </div>
</div> -->

<div class="sgds form-control-group mt-4">
    <input
        type="text"
        class="form-control"
        id="{{ include.id }}"
        aria-describedby="searchSite"
        placeholder="Search"
    />
    <i class="bi bi-search form-control-icon"></i>
</div>
