<div class="masthead-container" id="navbar">
    {% include sgds-masthead.html %}
    <nav class="navbar is-transparent">
        <div class="sgds-container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/assets/img/logo_sgds.png" alt="">
                </a>
                <div class="navbar-burger burger" data-target="navbarMain">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbarMain" class="navbar-menu">
                {%- assign links = site.data.navigation -%}
                {%- for lvl1item in links -%}
                <hr class="is-hidden-desktop">
                {%- assign class = nil -%}
                {%- if page.url contains lvl1item.url -%}
                {%- assign class = 'active' -%}
                {%- endif -%}
                <div class="navbar-item">
                    <a class="navbar-link is-uppercase"
                       href="{{ site.baseurl }}{{ lvl1item.url }} ">
                        <h6>{{ lvl1item.title }}</h6>
                    </a>
                </div>
                <!--
                {%- if lvl1item.lvl2 -%}
                <div class="navbar-item is-hoverable is-mega">
                    <a class="navbar-link has-dropdown is-uppercase" href="">
                        <h6>{{ lvl1item.title }} <span class="sgds-icon sgds-icon-chevron-down"></span></h6>
                    </a>
                    <div class="navbar-dropdown padding--bottom">
                        <div class="sgds-container is-fluid">
                            <div class="row">
                                {%- for lvl2item in lvl1item.lvl2 -%}
                                <div class="col">
                                    <a class="navbar-item is-title"
                                       href="{{ site.baseurl }}{{ lvl2item.url }}">
                                        <b>{{ lvl2item.title }}</b>
                                    </a>
                                    {%- for lvl3item in lvl2item.lvl3 -%}
                                    <a class="navbar-item"
                                       href="{{ site.baseurl }}{{ lvl3item.url }}">
                                        <h6>{{ lvl3item.title }}</h6>
                                    </a>
                                    {%- endfor -%}
                                </div>
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
                {%- else -%}
                <div class="navbar-item">
                    <a class="navbar-link is-uppercase"
                       href="{{ site.baseurl }}{{ lvl1item.url }} ">
                        <h6>{{ lvl1item.title }}</h6>
                    </a>
                </div>
                {%- endif -%}
                -->

                {%- endfor -%}
            </div>
            <div class="navbar-end is-hidden-touch">
                <div class="navbar-item">
                    <a class="navbar-link is-uppercase sgds-button is-rounded is-small"
                       href="/learn/development/install-isomer/">
                        <h6>Download</h6>
                    </a>
                </div>
                <div class="navbar-item">
                    {% if page.layout != 'search' %}
                    <a class="sgds-button is-text is-large" id="search-activate">
                        <span class="sgds-icon sgds-icon-search"></span>
                    </a>
                    {% else %}
                    <a class="sgds-button is-text is-large" id="search-activate" disabled></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="sgds-container hide is-hidden-touch search-bar" id="search-bar">
        <div class="row">
            <div class="col">
                <hr class="margin--bottom--sm">
                <form action="{{ site.baseurl }}/search/" method="get">
                    {% include sgds-search-box.html %}
                </form>
            </div>
        </div>
    </div>
</div>