<div class="field has-addons padding--sm">
    <div class="control has-icons-left is-expanded padding--bottom--sm">
        <input class="input is-fullwidth is-borderless is-shadowless" id="search-box" type="text" placeholder="{{search_placeholder}}" name="query" autocomplete="off">
        <span class="icon is-left">
          <i class="sgds-icon sgds-icon-search is-size-4 search-bar"></i>
        </span>
    </div>
    <div class="control">
        <button type="submit" class="sgds-button is-primary has-text-white padding--left padding--right">SEARCH</button>
    </div>
</div>