<section class="sgds-section sgds-masthead">
    <div class="sgds-container ">
        <div class="row is-multiline is-vcentered">
            <div class="col is-9-desktop is-12-touch has-text-centered-touch">
                <a href="http://www.gov.sg" alt="Singapore Government" target="_blank">
                    <span class="sgds-icon sgds-icon-sg-crest"></span>
                    <span class="is-text">A Singapore Government Agency Website</span>
                </a>
            </div>
        </div>
    </div>
</section>