<div class="field has-addons padding--sm">
    <div class="control has-icons-left is-expanded">
        <input class="input is-fullwidth is-medium" id="search-box" type="text" placeholder="What are you looking for?" name="query" autocomplete="off">
        <span class="is-medium is-left">
          <i class="sgds-icon sgds-icon-search is-size-4 search-bar"></i>
        </span>
    </div>
    <div class="control">
        <button type="submit" class="sgds-button is-secondary has-text-white padding--left padding--right">SEARCH</button>
    </div>
</div>