<div class="sgds-masthead">
    <div class="sgds-container">
        <div class="row is-vcentered">
            <div class="col is-9-desktop is-12-touch">
                <a href="http://www.gov.sg" alt="Singapore Government" target="_blank">
                    <span class="is-9-desktop is-hidden-touch sgds-icon sgds-icon-sg-crest is-size-5"></span>
                    <span class="is-12-touch is-hidden-desktop sgds-icon sgds-icon-sg-crest is-size-5 padding--left"></span>
                    <span class="is-text">A Singapore Government Agency Website</span>
                </a>
            </div>
        </div>
    </div>
</div>