<h4>
    {%if page.url contains 'faq' %}
        How can I start creating a website?
    {% else %}
        Feedback
    {% endif %}
</h4>
<p>
    {%if page.url contains 'faq' %}
        Please drop us a message to discuss on your requirements and we'll guide you for the next steps.
    {% else %}
        Having troubles with the guide? Please give us more details and we'll get back to you soon.
    {% endif %}
</p>
<a class="sgds-button is-rounded is-medium is-primary" href="https://t.me/sgds_public" target="_blank">Chat with the team</a>