<footer class="sgds-footer top-section">
    <div class="sgds-container ">
        <div class="row">
            <div class="col footer-col header">
                <h5 class="sub-header has-text-white"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col footer-col is-3">
                <p class="sub-header"><b>Support</b></p>
                <p><a href="/general/coming-soon/">Online Help</a></p>
                <p><a href="/general/coming-soon/">Isomer Support Community</a></p>
                <p><a href="https://form.sg/forms/govtech/5b02943839e23a001a1be70f" target="_blank">Schedule a Consultation</a></p>
            </div>
            <div class="col footer-col is-3">
                <p class="sub-header"><b>Info</b></p>
                <p><a href="/about/">About Isomer</a></p>
                <p><a href="/general/coming-soon/">Convince Your Agency</a></p>
                <p><a href="https://blog.gds-gov.tech/tagged/user-experience" target="_blank">GDS Blog</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col footer-col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://form.sg/forms/govtech/5b02943839e23a001a1be70f" target="_blank">Contact Us</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="sgds-footer bottom-section">
    <div class="sgds-container">
        <div class="row is-vcentered divider">
            <div class="col footer-col">
                <ul>
                    <li><a href="{{site.baseurl}}/general/privacy">Privacy Statement</a></li>
                    <li><a href="{{site.baseurl}}/general/terms">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col footer-col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © 2018 Government of Singapore. Last Updated {{site.last_updated}}</p>
                <p class="is-hidden-desktop">© 2018 Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.last_updated}}</p>
            </div>
        </div>
    </div>
</footer>