<ul class="sgds-menu-list">
    {% assign gettingStartedClass = nil %}
    {% if page.url contains "docs/getting-started" %}
        {% assign gettingStartedClass = 'is-active' %}
    {% endif %}
    <li><a href="/docs/getting-started" class="{{ gettingStartedClass }}">Getting started</a></li>

    {% assign customiseSgdsClass = nil %}
    {% if page.url contains "docs/installation" %}
        {% assign customiseSgdsClass = 'is-active' %}
    {% endif %}
    <li><a href="/docs/installation" class="{{ customiseSgdsClass }}">Installation</a></li>

    {% assign customiseSgdsClass = nil %}
    {% if page.url contains "docs/customise-sgds" %}
        {% assign customiseSgdsClass = 'is-active' %}
    {% endif %}
    <li><a href="/docs/customise-sgds" class="{{ customiseSgdsClass }}">Customise with Sass</a></li>

    {% assign collections = site.collections | sort: 'order' %}
    {% for collection in collections %}
    {% if collection.label !='posts' and collection.label != 'guides' and collection.label !='patterns' %}
        {% assign name = collection.label %}
        <li class="second-level-nav">
            <a class="second-level-nav-header">
                {{ name | capitalize }}
                {% if name == page.collection %}
                <i class="sgds-icon sgds-icon-chevron-up has-text-weight" aria-hidden="true"></i>
                {% else %}
                <i class="sgds-icon sgds-icon-chevron-down has-text-weight" aria-hidden="true"></i>
                {% endif %}
            </a>
        </li>
        {% if name == page.collection %}
            <li class="second-level-nav-div" id="{{collection.label}}-component">
        {% else %}
            <li class="second-level-nav-div is-hidden" id="{{collection.label}}-component">
        {% endif %}
                <ul>
                    {% assign items = site[name] %}
                    {% if collection.label == 'standard' or collection.label == 'form' %}
                        {% assign items = site[name] | sort:'order' %}
                    {% endif %}
                    {% for item in items %}                                        
                        {% assign class = nil %}
                        {% if page.url contains item.url %}
                            {% assign class = 'is-active' %}
                        {% endif %}
                        <li>
                            <a class="component-name second-level-nav-item {{class}}" href="{{item.url}}">
                                {{item.title}}
                                {%- if item.js -%}
                                    <span class="sgds-tag is-rounded margin--left--sm">JS</span>
                                {%- endif -%}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>