{% comment %} 
Get collection that current page belongs to, then group each document by their sorted
"category" field
{% endcomment %}
<ul class="sgds-menu-list">
    {%- assign collectionName = page.collection -%}
    {%- assign filteredCollections = site.collections | where: "label", collectionName -%}
    {%- assign currentCollection = filteredCollections[0] -%}
    {%- assign collectionCategories = currentCollection.docs | sort: "category" | group_by: "category" -%}
    {%- for category in collectionCategories -%} 
        {%- if category.name != '' -%}
        <li class="second-level-nav">
            {%- assign class = nil -%}
            {%- assign categorySlug = category.name | slugify -%}
            {%- if page.url contains categorySlug -%}
                {%- assign class='is-active' -%}
            {%- endif -%}
            <a class="second-level-nav-header has-text-weight-bold {{ class }}">
                {{ category.name | capitalize }}
                <i class="sgds-icon sgds-icon-chevron-up" aria-hidden="true"></i>
            </a>
        </li>
        <li class="second-level-nav-div">
            {%- assign items = category.items | sort: "title" -%}
            <ul>
            {%- for item in items -%}
                {%- assign class = nil -%}
                {%- if page.url contains item.url -%}
                    {%- assign class = 'is-active' -%}
                {%- endif -%}
            <li>
                <a class="second-level-nav-item padding--top--none {{ class }}" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {%- endfor -%}
            </ul>
        </li>
        {%- endif -%}
    {%- endfor -%}
</ul>
