<ul class="sgds-menu-list">
    {% assign activeClass = nil %}
    {% if page.url contains "patterns/overview/" %}
        {% assign activeClass = 'is-active' %}
    {% endif %}
    <li><a href="/patterns/overview" class="{{ activeClass }}">Overview</a></li>

    {% assign collections = site.collections | sort: 'order' %}
    {% for collection in collections %}
        {% if collection.label == 'patterns' %}
            {% assign name = collection.label %}
            {% assign items = site[name] %}
            {% for item in items %}                                        
                {% assign class = nil %}
                {% if page.url contains item.url %}
                    {% assign class = 'is-active' %}
                {% endif %}
                <li><a href="{{item.url}}" class="{{ class }}">{{item.title}}</a></li>
                
            {% endfor %} 
        {% endif %}
    {% endfor %}
</ul>