<section
  class="sgds-section has-background-primary"
  style="background: url('/assets/img/bg_splash.png') center center; background-size:cover;"
>
  <div class="sgds-container">
    <div class="row has-text-centered">
      <div class="col">
        <h4 class="has-text-white">
          {% if page.url contains "guides" %} Looking for components
          documentation? {% else %} Start using SGDS {% endif %}
        </h4>
        <a
          class="sgds-button is-white is-rounded margin--top--lg"
          href="/docs/components"
          >Visit the docs</a
        >
      </div>
    </div>
  </div>
</section>
