<section
  class="sgds-section has-background-primary"
  style="background: url('/assets/img/bg_splash.png') center center; background-size:cover;"
>
  <div class="sgds-container ">
    <div class="row has-text-centered">
      <div class="col">
        <p class="has-text-white is-size-4 has-text-weight-bold margin--bottom--lg">
          Looking for components documentation?
        </p>
        <a
          class="sgds-button is-white is-rounded"
          href="/docs/"
          >Visit components</a
        >
      </div>
    </div>
  </div>
</section>
