<div class="row" onclick="toggleStyling('2rowLayout')">
    <div id="2rowLayout" class="bp-example">
        <section class="bp-section">
            <div class="bp-container">
                <!--first row-->
                <div class="row">
                    <div class="col">
                        <h5>Welcome to BLUEPRINT</h5>
                    </div>
                </div>
                <!--second row-->
                <div class="row">
                    <div class="col">
                        <div class="content">
                            <h5>Subtitle</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content">
                            <h5>Subtitle</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content">
                            <h5>Subtitle</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col is-4">
        <div class="content">
            <h5><b>2 Rows Layout</b></h5>
            <p>This example shows the usage of rows within a section.</p>
            <a class="bp-button toggle-styling">View Demo</a>
        </div>
    </div>
    <div class="col">
{% highlight html %}
<section class="bp-section">
    <div class="bp-container">
        <!--first row-->
        <div class="row">
            <div class="col">
                <h2>Welcome to Blueprint</h2>
            </div>
        </div>
        <!--second row-->
        <div class="row">
            <div class="col">
                <div class="content">
                    <h5>Subtitle</h5>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col">
                <div class="content">
                    <h5>Subtitle</h5>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col">
                <div class="content">
                    <h5>Subtitle</h5>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endhighlight %}
    </div>
</div>