<div class="row" onclick="toggleStyling('2sectionLayout')">
    <div id="2sectionLayout" class="bp-example">
        <section class="bp-section">
            <div class="bp-container">
                <!--first row-->
                <div class="row">
                    <div class="col">
                        <h5>Section 1</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Col 1</p>
                    </div>
                    <div class="col">
                        <p>Col 2</p>
                    </div>
                    <div class="col">
                        <p>Col 3</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section class="bp-section">
            <div class="bp-container">
                <!--first row-->
                <div class="row">
                    <div class="col">
                        <h5>Section 2</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Col 1</p>
                    </div>
                    <div class="col">
                        <p>Col 2</p>
                    </div>
                    <div class="col">
                        <p>Col 3</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col is-4">
        <div class="content">
            <h5><b>2 Sections Layout</b></h5>
            <p> This example shows the usage of sections. You may add a <code>hr</code> in between sections as a divider.</p>
            <a class="bp-button" onclick="toggleStyling('2sectionLayout')">View Demo</a>
        </div>
    </div>
    <div class="col">
{% highlight html %}
<section class="bp-section">
    <div class="bp-container">
        <!--first row-->
        <div class="row">
            <div class="col">
                <h1>Section 1</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Col 1</p>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="bp-section">
    <div class="bp-container">
        <!--first row-->
        <div class="row">
            <div class="col">
                <h1>Section 2</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Col 1</p>
            </div>
        </div>
    </div>
</section>
{% endhighlight %}
    </div>
</div>