<div class="row" onclick="toggleStyling('basicLayout')">
    <div id="basicLayout" class="bp-example">
        <section class="bp-section">
            <div class="bp-container">
                <div class="row">
                    <div class="col">
                        <p>col 1</p>
                    </div>
                    <div class="col">
                        <p>col 2</p>
                    </div>
                    <div class="col">
                        <p>col 3</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col is-4">
        <div class="content">
            <h5><b>Basic Layout</b></h5>
            <p>This example shows the basic layout structure.</p>
            <a class="bp-button" onclick="toggleStyling('basicLayout')">View Demo</a>
        </div>
    </div>
    <div class="col">
{% highlight html %}
<section class="bp-section">
    <div class="bp-container">
        <div class="row">
            <div class="col">
                <p>col 1</p>
            </div>
        </div>
    </div>
</section>
{% endhighlight %}
    </div>
</div>
