.sgds-accordion{
  &-set{
    & + .sgds-accordion-set{
      margin-top:5px;
    }
  }
  &-header{
    //background-color: $table-grey;
    border: 1px solid darken($table-grey, 10%);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    color:$primary;
    .content &{
      text-decoration: none;
      margin-bottom:0;
    }
    &:hover {
      border: 1px solid darken($table-grey, 10%);
      background-color: $table-grey;
      color: currentColor;
    }
    &.active{
      border: 1px solid darken($table-grey, 10%);
      background-color: $table-grey;
    }
  }
  &-body{
    padding:1rem;
    display:none;
    &.is-open{
      display:block;
    }
  }
}