.sgds-masthead{
  //padding: 0.1rem 0 0.3rem 0;
  background-color: $grey-lighter;
  color:$grey-dark;
  height: 40px;

  a{
    color:$grey-dark;
    font-size:14px;
    &:hover{
      color:black;
    }

    .sgds-icon-sg-crest{
      color:red;
      font-size:14px;
    }
    .content &{
      text-decoration: none;
    }
  }
  & .is-text {
    padding-left: 2px;
  }
}