html.has-navbar-fixed-top-desktop{
  padding-top:128px !important;
  @include touch(){
    padding-top:0 !important;
  }
}

.masthead-container{
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 900;
  transition: top 0.5s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &.is-opened{
    height:auto;
    .navbar {
      border-bottom:1px solid lighten($grey-light,10%);
    }
  }
  .navbar-menu{
    @include touch(){
      box-shadow: none;
    }
  }

  @include touch(){
    position: relative;
  }

}

.navbar-dropdown {
  border-radius: 0;
  box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.25);
  @include touch(){
    box-shadow: none;
  }
}

.navbar{
  padding:0 1rem;
  border-bottom: 0;
  @include touch(){
    padding:0;
  }
  &-start{
    margin:0 auto;
    @include touch(){
      margin:0 auto 1rem;
    }
    .navbar-item{
        & + .navbar-item{
          @include touch(){
            margin-top:1.2rem;
          }

        }
      a{
        &.active{
          @include touch(){
            border-bottom:2px solid $secondary;
          }
        }

      }

      & + .has-dropdown {
        //margin: 0 0.5rem;
      }
    }
  }
  .navbar-link {
    padding-right: 35px;
  }
  .navbar-link::after {
    border: 1px solid $grey-dark;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }
  .navbar-link:hover:after {
    border: 1px solid $secondary;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-item{
    font-size: 17px !important;
    //letter-spacing: 0.2px !important;
    font-weight: 600;
    margin: 0;
    padding:0;
    //text-transform: uppercase;


    .sub-link {
      font-size: 18px !important;
      letter-spacing: 0;
      margin: 15px;
      margin-left: 30px;
      font-weight: normal;
    }
    .sub-link:first-child {
      margin-top: 20px
    }
    .sub-link:last-child {
      margin-bottom: 20px;
    }

    .sub-link.is-active{
      color:$secondary;
    }

    a{
      //color:$grey-dark;
      color: $black;
    }

    span {
      color: $black;
    }

    .selector{
      position:absolute;
      width:100%;
      bottom:0;
      height:5px;
      &.active{
        background-color:$secondary;
      }
    }
    img{
      max-height:none;
    }
    &.active{
      @include desktop(){
        border-bottom:1px solid $primary;
      }

    }
    &.is-search-bar{
      border-top:1px solid $grey-light;
      border-bottom:1px solid $grey-light;
      margin: 0;
      padding: 0.5rem 1.5rem;
    }

  }

.navbar-item:hover {
  a {
    color:$secondary;
  }
  a.sub-link {
    color: $grey-dark;
  }
  .selector {
      background-color:$secondary;
    }
  }
}


.navbar{
  padding:0 1rem;
  border-bottom:1px solid lighten($grey-light,10%);

  &-start{
    margin:0 1rem;
    @include touch(){
      margin:0 auto 1rem;
    }
    .navbar-item{
      & + .navbar-item{
        @include touch(){
          margin-top:1.2rem;
        }
      }
      a{
        &.active{
          @include touch(){
            border-bottom:2px solid $primary;
          }
        }
      }
    }
  }

  &-item{
    font-size:1rem;
    font-weight: bold;
    margin: 0 1rem;
    padding: 0;

    a{
      color:$grey-dark;
    }
    .selector{
      position:absolute;
      width:100%;
      bottom:0;
      height:5px;
      &.active{
        background-color:$primary;
      }
    }
    img{
      max-height:none;
    }
    &.active{
      @include desktop(){
        border-bottom:1px solid $primary;
      }

    }
    &.is-search-bar{
      border-top:1px solid $grey-light;
      border-bottom:1px solid $grey-light;
      margin: 0;
      padding: 0.5rem 1.5rem;
    }
  }
  @include touch(){
    padding:0;
  }
}

//Mega Menu
.navbar-item.is-mega {
  position: static;

  .navbar-item{
    padding-left:0;
    @include mobile(){
      margin-top:0.5rem;
    }
  }
  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1.5rem;
    color: $secondary;
  }
}