.carousel {
  position: relative;
  overflow: hidden
}

.carousel .carousel-container {
  width: 100%;
  position: relative;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  left: -100%;
  transform: translateX(100%)
}

.carousel .carousel-container .carousel-item {
  display: block;
  position: relative;
  flex: 1 0 100%;
}

.carousel .carousel-container .carousel-item.has-background .is-background {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%
}

.carousel .carousel-container .carousel-item .panel {
  margin: 0 15%;
  padding: 1em;
  background: #fff;
  position: relative;
  top: 30px;
  margin-top: -50px;
}

// for navigation controls in desktop layout

.carousel .carousel-navigation-desktop {
  display: flex;
  width: 100%;
  height: 70px;
  pointer-events: none;
  position: relative;
  top: -70px;
  left: 85%;
}

.carousel .carousel-navigation-desktop .carousel-nav-left, .carousel .carousel-navigation-desktop .carousel-nav-right {
  padding: 1em;
  pointer-events: auto;
  color: #fff;
  background: rgba(0,0,0,0.6);
  border: 1px solid #000;
}

.carousel .carousel-navigation-desktop.is-centered {
  justify-content: center
}

.carousel .carousel-navigation-desktop.is-overlay {
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  bottom: auto;
  left: auto;
  right: auto;
  align-items: center;
  justify-content: space-between;
  z-index: 99
}

.carousel .carousel-navigation-desktop.is-overlay .carousel-nav-left, .carousel .carousel-navigation-desktop.is-overlay .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  position: absolute;
  left: 0
}

.carousel .carousel-navigation-desktop.is-overlay .carousel-nav-left:hover, .carousel .carousel-navigation-desktop.is-overlay .carousel-nav-right:hover {
  cursor: pointer
}

.carousel .carousel-navigation-desktop.is-overlay .carousel-nav-right {
  left: auto;
  right: 0
}

// for navigation controls in touch layout

.carousel .carousel-navigation-touch {
  display: flex;
  justify-content: space-around;
  width: 100%;
  pointer-events: none;
}

.carousel .carousel-navigation-touch .carousel-nav-left, .carousel .carousel-navigation-touch .carousel-nav-right {
  padding: 1em;
  pointer-events: auto;
  color: #fff;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.9);
  border: 1px solid #000;
}

.carousel .carousel-navigation-touch.is-centered {
  justify-content: center
}

.carousel .carousel-navigation-touch.is-overlay {
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  bottom: auto;
  left: auto;
  right: auto;
  align-items: center;
  justify-content: space-between;
  z-index: 99
}

.carousel .carousel-navigation-touch.is-overlay .carousel-nav-left, .carousel .carousel-navigation-touch.is-overlay .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  position: absolute;
  left: 0
}

.carousel .carousel-navigation-touch.is-overlay .carousel-nav-left:hover, .carousel .carousel-navigation-touch.is-overlay .carousel-nav-right:hover {
  cursor: pointer
}

.carousel .carousel-navigation-touch.is-overlay .carousel-nav-right {
  left: auto;
  right: 0
}

.carousel.is-reversing .carousel-container {
  transform: translateX(-100%)
}

.carousel[data-size]:not(.carousel-animate-fade) .carousel-container .carousel-item {
  padding: 1em
}

.hero.has-carousel {
  position: relative
}

.hero.has-carousel + .hero-body, .hero.has-carousel + .hero-head, .hero.has-carousel + .hero-footer {
  z-index: 1
}

.hero.has-carousel .hero-carousel {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  border: none;
  margin: auto;
  padding: 0;
  z-index: 0
}

.hero.has-carousel .hero-carousel .carousel-container {
  height: auto !important
}

.hero-carousel {
  position: relative;
  overflow: hidden
}

.hero-carousel .carousel-container {
  width: 100%;
  position: relative;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  left: -100%;
  transform: translateX(100%)
}

.hero-carousel .carousel-container .carousel-item {
  display: block;
  position: relative;
  flex: 1 0 100%
}

.hero-carousel .carousel-container .carousel-item.has-background .is-background {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%
}

.hero-carousel .carousel-container .carousel-item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5em;
  margin: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  font-size: .75rem
}

.hero-carousel .carousel-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  pointer-events: none
}

.hero-carousel .carousel-navigation .carousel-nav-left, .hero-carousel .carousel-navigation .carousel-nav-right {
  padding: 1em;
  pointer-events: auto
}

.hero-carousel .carousel-navigation.is-centered {
  justify-content: center
}

.hero-carousel .carousel-navigation.is-overlay {
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  bottom: auto;
  left: auto;
  right: auto;
  align-items: center;
  justify-content: space-between;
  z-index: 99
}

.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left, .hero-carousel .carousel-navigation.is-overlay .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  position: absolute;
  left: 0
}

.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left:hover, .hero-carousel .carousel-navigation.is-overlay .carousel-nav-right:hover {
  cursor: pointer
}

.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right {
  left: auto;
  right: 0
}

.hero-carousel.is-reversing .carousel-container {
  transform: translateX(-100%)
}

.carousel.carousel-animate-slide.carousel-animated .carousel-container, .hero-carousel.carousel-animate-slide.carousel-animated .carousel-container {
  transform: none !important;
  transition: transform .5s ease-in-out
}

.carousel.carousel-animate-fade .carousel-item, .hero-carousel.carousel-animate-fade .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease-in-out
}

.carousel.carousel-animate-fade .carousel-item.is-active, .hero-carousel.carousel-animate-fade .carousel-item.is-active {
  opacity: 1
}

.carousel.carousel-animate-fade .carousel-item:not(.is-active), .hero-carousel.carousel-animate-fade .carousel-item:not(.is-active) {
  opacity: 0
}