#key-highlights{
  background-color: $secondary;
  color:white;
  @include desktop(){
    max-height:183px;
  }

  .col{
    padding:1.2rem 2rem!important;
    cursor:pointer;
    transition:all 0.5s;
    &:hover{
      color:darken(white,10%);
      background-color: darken($secondary,10%);
    }
    & + .col{
      border-left:1px solid darken($secondary,10%);
      @include mobile(){
        border-left:0;
        border-top:1px solid darken($secondary,10%);
      }

    }
    p{
      font-size:1rem!important;
      line-height: 1.31!important;

      &:nth-child(1){
        margin-bottom:5px;
      }
    }
  }

}
.career-container{
  .career-carousel{
    .profile-content{
      position: absolute;
      width:70%;
      right: 0;
      bottom:0;
      background-color: #F5A623;
      padding: 1rem;
      color:white;
    }
  }

  .bg-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  .career-item{
    @include mobile(){
      padding:3rem 2rem!important;
    }
  }
}

.programme-container{
  .offset-top{
    margin-top:-104px;
    @include touch(){
      margin-top:-37px;
    }
  }
  .row.offset-margin{
    @include touch(){
      margin-bottom: 0;
    }
  }
  .item{
    @include touch(){
      padding-bottom:2rem!important;
    }
  }
}

.owl-dot{
  &.active{
    span{
      background:white!important;
    }
  }
  span{
    background: rgba(white,0.3)!important;
  }
}

.carousel-nav-container{
  position:absolute;
  bottom:0;
  right: 0;
  z-index: 100;
  .carousel-nav{
    width: 68px;
    text-align: center;
    float:left;
    padding: 1rem;
    background-color: rgba(black,0.5);
    color:rgba(white,0.8);
    cursor: pointer;
    font-size: 1.5rem;
    &:hover{
      color:rgba(white,1);
      background-color: rgba(black,0.8);
    }
    &.right{
      margin-left:-1px;
    }
  }
  &.programme-nav{
    margin-left: -23px;
    position:relative;
    left:0;
    top:0;
  }
}


.owl-dots{
  position:absolute;
  width:100%;
  bottom:10px;
  .news-carousel &{
    position:relative;
    bottom:0;
  }
}

.search-bar{
  input{
    border-color:transparent;
    background-color: transparent;
    border-radius: 0;
    //border-bottom:1px solid $primary;
    box-shadow:none;
    padding-left:3rem;
    &:focus{
      border-color:transparent;
      box-shadow:none;
    }
  }
  .bp-icon{
    top:10px!important;
    left:5px!important;
  }
}