.bg{
  &-hero{
    //background: url('https://www.ptc.gov.sg/images/default-source/carousel-banners/ptc-banner.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height:400px;

    @media screen and (max-width: $tablet - 1px){
      height:250px;
    }
    h2,h5{
      color:white;
      text-shadow: 1px 1px 1px #000;
    }
  }
  &-chairman-blog{
    //background: url('https://www.ptc.gov.sg/images/default-source/default-album/x-bg-home-03.png') no-repeat ;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    height:300px;
  }
  &-white{
    background-color: white;
  }
  &-light{
    background-color: $light;
  }
  &-grey-light{
    background-color: $grey-light;
  }
  &-grey-dark{
    background-color: $grey-dark;
  }
  &-black{
    background-color: #000;
  }

}