
.bp-footer{
  color:white;
  padding:1rem;
  .title{
    color:white;
  }

  ul{
    li{
      a{
        &:hover{
          color:lighten(#3273dc,10%);
        }
      }
      & + li{
        margin-top:5px;
      }
    }

  }

  &.bp-footer-links{
    li + li{
      margin-left:10px;
    }
  }
}