@import '_owl.carousel/owl.carousel';
@import '_owl.carousel/owl.theme.default';
@import "../node_modules/blueprint-govtech/_sass/utilities/initial-variables";
@import "../node_modules/blueprint-govtech/_sass/utilities/functions";

$primary:#363a65;
$primary-invert: findColorInvert($primary);

$secondary:#6b4370;
$secondary-invert: findColorInvert($secondary);

$accent1:#324ea0;
$accent1-invert:findColorInvert($accent1);
$accent2:#c2d4cf;
$accent2-invert:findColorInvert($accent2);


$navbar-height:100px;

@import "../node_modules/blueprint-govtech/_sass/utilities/derived-variables";

$addColors: (
        "primary":($primary, $primary-invert),
        "secondary":($secondary, $secondary-invert),
        "accent1":($accent1, $accent1-invert),
        "accent2":($accent2, $accent2-invert)
);
$colors: map-merge($colors, $addColors);

@import "../node_modules/blueprint-govtech/_sass/main.scss";

*{

  font-family: 'Roboto', sans-serif;
}

@import 'utilities';

@import '_partials/bp-example';
@import "_partials/bg";
@import '_partials/sections';
@import '_partials/homepage';
@import '_partials/search-content';