.clipboard-btn{
  transition: all 0.2s;

  &:hover{
    background-color: rgba($primary,0.95);
    cursor:pointer;
    color:white;
  }
}

.clipboard-feedback{
  position:fixed;
  top:0;
  width:100vw;
  padding:30px;
  background-color: $primary;
}