---
title: Landing Page
description: A landing page is a standalone page distinct from any other pages including homepage, which serves a specific purpose or action.
toc: true
---

{% capture landing-page %}
<div style="background-color: white" class="overflow-auto">
  <!-- Masthead -->
  <sgds-masthead fluid></sgds-masthead>
  <!-- Main Nav component -->
  {% include templates/navbar.html %}
  <!-- Content section -->
  <section class="m-8">
    <h4>Place your content here</h4>
  </section>
  <!-- Footer component -->
  {% include templates/footer.html %}

</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component mb-5">
  <!-- Generated header from front end matters -->
  {% include page-component/component-header.html %}

  <!-- Template Section -->
  <section name="section-templates">
    <h2 class="title fw-bold" id="example">Example</h2>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html code=landing-page %}
    </div>
  </section>
</div>
