---
title: Multi Page Form
description: A base collection of field components rendered on a multi page layout.
toc: true
---

{% capture multi-page-form %}
<div style="background-color: white">
  <!-- Masthead -->
  <sgds-masthead fluid></sgds-masthead>
  <!-- Header section -->
  <sgds-template-grid>
    <sgds-content-area>
      <sgds-breadcrumb-area>
        <nav class="sgds" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">HOME</a></li>
            <li class="breadcrumb-item active" aria-current="page">SIGN-UP</li>
          </ol>
        </nav>
      </sgds-breadcrumb-area>
      <sgds-content-header-top>
        <h1>Sign-up</h1>
        <div>
          <a href="#" class="me-4">cancel</a>
        <button type="button" class="me-4 btn btn-outline-dark sgds">
          Save as draft
        </button>
        <button type="button" class="btn btn-secondary sgds">Next</button>
        </div>
      </sgds-content-header-top>
          <!-- Stepper component -->
  <div class="sgds stepper">
    <div class="stepper-item is-active">
      <div class="stepper-marker">1</div>
      <div class="stepper-detail">
        <p><b>Marker title</b></p>
      </div>
    </div>
    <div class="stepper-item step-2">
      <div class="stepper-marker">2</div>
      <div class="stepper-detail">
        <p><b>Marker title</b></p>
      </div>
    </div>
    <div class="stepper-item step-3">
      <div class="stepper-marker">3</div>
      <div class="stepper-detail">
        <p><b>Marker title</b></p>
      </div>
    </div>
    <div class="stepper-item step-4">
      <div class="stepper-marker">4</div>
      <div class="stepper-detail">
        <p><b>Marker title</b></p>
      </div>
    </div>
    <div class="stepper-item step-5">
      <div class="stepper-marker">5</div>
      <div class="stepper-detail">
        <p><b>Marker title</b></p>
      </div>
    </div>
  </div>
    <!-- Content section -->
    <section class="shadow rounded p-5 bg-white">
      <form>
        <div class="col-sm-8">
          <div class="row">
            <div class="mb-3 col-md-6 col-12">
              <label class="form-label" for="formSinglePageInput1">Label</label
              ><input
                placeholder="Text goes here"
                type="text"
                id="formSinglePageInput1"
                class="form-control"
              />
            </div>
            <div class="mb-3 col-md-6 col-12">
              <label class="form-label" for="formSinglePageInput2">Label</label
              ><input
                placeholder="Text goes here"
                type="text"
                id="formSinglePageInput2"
                class="form-control"
              />
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formSinglePageInput3">Label</label>
            <div class="mb-3 input-group sgds">
              <input
                placeholder="Text goes here"
                aria-label="Dollar amount (with dot and two decimal places)"
                id="formSinglePageInput3"
                class="form-control"
              /><span class="input-group-text">@something</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formSinglePageInput4">Label</label
            ><input
              placeholder="Text goes here"
              type="text"
              id="formSinglePageInput4"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="formSinglePageSelect1">Label</label
            ><select class="form-select" id="formSinglePageSelect1">
              <option>Text goes here</option>
              <option>Text goes here</option>
              <option>Text goes here</option>
            </select>
          </div>
        </div>
      </form>
    </section>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary sgds">Next</button>
    </div>
    </sgds-content-area>
  </sgds-template-grid>
  <!-- Footer component -->
  {% include templates/footer.html %}

  {% endcapture %}

  <!-- Page starts here -->
  <div class="page-component mb-5">
    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <section name="section-examples">
      <h2 class="title fw-bold" id="example">Example</h2>
      <div class="section-sub">
        {% include page-component/component-code-snippet.html
        compName="multi-page-form" code=multi-page-form %}
      </div>
    </section>
  </div>
</div>
