---
title: Masthead
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/standard/masthead/
category: Components/Standard
---

<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>Description</b></h5>
            <p>All Singapore Government websites shall adopt the following masthead design and layout for every page in the website.</p>
            <p>The website masthead shall:</p>
            <ul>
                <li>be positioned at the top of the website</li>
                <li>be hyperlinked to http://www.gov.sg, with the <alt> text set “A Singapore Government Agency Website”</li>
            </ul>
        </div>
        {% include bp-masthead.html %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>How to Use</b></h5>
            <p>Simply copy and paste this code snippet to the header of your project.</p>
        </div>
        {% highlight html %}{% include bp-masthead.html %}{% endhighlight %}
    </div>
</div>
