---
title: Masthead
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/standard/masthead/
category: Components/Standard
breadcrumb: Standard
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Masthead</b> is a standard component that all '.gov.sg' websites must adopt for every page in them</h4>
        <div class="sgds-masthead">
            <div class="sgds-container is-fluid">
                <div class="row">
                    <div class="col">
                        <a href="http://www.gov.sg" alt="Singapore Government" target="_blank">
                            <span class="sgds-icon sgds-icon-sg-crest is-size-4"></span>
                            <span class="is-text">A Singapore Government Agency Website</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Usage</h3>
        <p>Use this code snippet to the header of your project.</p>
        {% highlight html %}{% include sgds-masthead.html %}{% endhighlight %}
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Guidelines</h3>
        <p>Masthead should:</p>
        <ul>
            <li class="margin--bottom">Contain the Singapore Government Online Logo, which shall be positioned at the top left hand corner of the banner</li>
            <li class="margin--bottom">Include the official government site descriptor, which shall state, 'A Singapore Government Agency Website'</li>
            <li class="margin--bottom">Be positioned at the top-most left corner of the web page</li>
        </ul>
    </div>
</div>
<!--
<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Style</h3>
        <table class="table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Icon</td>
            <td>.sgds-icon-sg-crest</td>
        </tr>
        <tr>
            <td>Icon color</td>
            <td>#ff0000</td>
        </tr>
        <tr>
            <td>Font size</td>
            <td>12px</td>
        </tr>
        <tr>
            <td>Font color</td>
            <td>#484848</td>
        </tr>
        <tr>
            <td>Background color</td>
            <td>#f0f0f0</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
-->
<hr>

{%- include sgds-feedback.html -%}