---
title: Footer
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/standard/footer/
category: Components/Standard
---

<div class="row padding--top padding--bottom">
    <div class="col">
        <h5 class="has-text-accent1">All .gov.sg digital services shall adopt the Footer Panel for every page in the digital services.</h5>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5 class="padding--bottom"><b>Live Demo</b></h5>
        {% include sgds-footer.html %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h5 class="padding--bottom"><b>How to Use</b></h5>
        <p>Simply copy and paste this code snippet to the footer of your project.</p>
        <br>
        {% highlight html %}{% include sgds-footer.html %}{% endhighlight %}
    </div>
</div>