---
title: Icon
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/standard/icon/
category: Components/Standard
---

<div class="row padding--top padding--bottom">
    <div class="col">
        <h5 class="has-text-accent1 padding--bottom">This set of vector icons and social logos are created in font format for Singapore Government websites.</h5>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row is-multiline is-mobile page-icon">
            {% assign sort-icons = site.data.icons | sort:'iconName' %}
            {% for icon in sort-icons %}
            <div class="col is-2-desktop is-4-tablet is-4-mobile">
                <div class="icon-container">
                    <span class="sgds-icon sgds-icon-{{icon.iconName}} is-size-5 "></span>
                </div>
                <small>.sgds-icon-{{icon.iconName}}</small>
                <a class="sgds-button is-outlined bd-copy is-hidden-touch">
                    <small>copy</small>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h5 class="padding--bottom"><b>How to Use</b></h5>
        <p>Simply copy and paste this code snippet anywhere to your project.</p>
        <br>
        {% highlight html %}<span class="sgds-icon sgds-icon-iconName"></span>{% endhighlight %}
    </div>
</div>