---
title: Standard
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/standard/
category: Components/Standard
breadcrumb: Components
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary"><b>Standard Components</b> are presets to be used for all '.gov.sg' websites. Their layouts cannot be modified in any way</h4>
    </div>
</div>

<hr>

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <div class="row margin--top--lg">
            <div class="col is-4">
                <a href="/components/standard/masthead/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-masthead is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Masthead</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">
                <a href="/components/standard/footer/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-footer is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Footer</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">
                <a href="/components/standard/iconography/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-icons is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Iconography</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>