$icomoon-font-path: "../fonts" !default;

$sgds-icon-alert: \e900;
$sgds-icon-angle-down: \e901;
$sgds-icon-angle-left: \e902;
$sgds-icon-angle-right: \e903;
$sgds-icon-angle-up: \e904;
$sgds-icon-arrow-down: \e905;
$sgds-icon-arrow-expand: \e906;
$sgds-icon-arrow-left: \e907;
$sgds-icon-arrow-right: \e908;
$sgds-icon-arrow-up: \e90b;
$sgds-icon-arrow-up-left: \e909;
$sgds-icon-arrow-up-right: \e90a;
$sgds-icon-attachment: \e90c;
$sgds-icon-browser: \e90d;
$sgds-icon-bus: \e90e;
$sgds-icon-calculator: \e910;
$sgds-icon-calculator-o: \e90f;
$sgds-icon-calendar: \e912;
$sgds-icon-calendar-alt: \e911;
$sgds-icon-checked: \e913;
$sgds-icon-circle-info: \e914;
$sgds-icon-circle-minus: \e915;
$sgds-icon-circle-plus: \e916;
$sgds-icon-circle-question: \e917;
$sgds-icon-circle-warning: \e918;
$sgds-icon-clock: \e919;
$sgds-icon-cloud: \e91a;
$sgds-icon-cog: \e91b;
$sgds-icon-cross: \e91c;
$sgds-icon-cube: \e91d;
$sgds-icon-cubes: \e91e;
$sgds-icon-database: \e91f;
$sgds-icon-delay: \e920;
$sgds-icon-docker: \e921;
$sgds-icon-download: \e922;
$sgds-icon-edit: \e923;
$sgds-icon-facebook: \e924;
$sgds-icon-file: \e926;
$sgds-icon-file-alt: \e925;
$sgds-icon-folder: \e927;
$sgds-icon-hamburger: \e928;
$sgds-icon-hdd: \e929;
$sgds-icon-home: \e92a;
$sgds-icon-image: \e92b;
$sgds-icon-info: \e92c;
$sgds-icon-instagram: \e92d;
$sgds-icon-link: \e92f;
$sgds-icon-link-external: \e92e;
$sgds-icon-linkedin: \e930;
$sgds-icon-list: \e931;
$sgds-icon-loading: \e932;
$sgds-icon-location: \e933;
$sgds-icon-lock: \e934;
$sgds-icon-mail: \e935;
$sgds-icon-map: \e936;
$sgds-icon-minify: \e937;
$sgds-icon-mrt: \e938;
$sgds-icon-pages: \e939;
$sgds-icon-pin: \e93a;
$sgds-icon-plus: \e93b;
$sgds-icon-print: \e93c;
$sgds-icon-question: \e93d;
$sgds-icon-radar: \e93e;
$sgds-icon-refresh: \e93f;
$sgds-icon-save: \e940;
$sgds-icon-search: \e941;
$sgds-icon-sg-crest: \e942;
$sgds-icon-slider-horizontal: \e943;
$sgds-icon-slider-vertical: \e944;
$sgds-icon-speech: \e945;
$sgds-icon-taxi: \e946;
$sgds-icon-text-center: \e947;
$sgds-icon-text-justify: \e948;
$sgds-icon-text-left: \e949;
$sgds-icon-text-right: \e94a;
$sgds-icon-triangle-warning: \e94b;
$sgds-icon-twitter: \e94c;
$sgds-icon-unlock: \e94d;
$sgds-icon-upload: \e94e;
$sgds-icon-user: \e94f;
$sgds-icon-warning: \e950;
$sgds-icon-youtube: \e951;
$sgds-icon-zoom-in: \e952;
$sgds-icon-zoom-out: \e953;

