---
title: Structure
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/structure/
category: Components/Structure
breadcrumb: Components
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary"><b>Structure Components</b> are useful for designing the structure of a website. They can be customised to suit different needs with the modifiers provided</h4>
    </div>
</div>

<hr>

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <div class="row margin--top--lg">
            <div class="col is-4">
                <a href="/components/structure/container/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-container is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Container</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">
                <a href="/components/structure/grid/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-grid is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Grid</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">
                <a href="/components/structure/section/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-section is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Section</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>