section{
   padding:50px 0;
 }
//
//.components-content {
//  > .columns{
//    border-top:1px solid #eee;
//  }
//}
hr{
  background-color: #dbdbdb;
}

p{
  &.display{
    padding:1rem;
    text-align: center;
    background-color: greenyellow;
  }
}