<div class="bp-card">
    <div class="bp-card-image">
        <div class="image is-4by3">
            <img src="https://placehold.it/1280x960" alt="Placeholder image">
        </div>
    </div>
    <div class="bp-card-content">

        <div class="content">
            <h4 class="title">Lorem Ipsum</h4>
            <p class="subtitle">Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.</p>
        </div>
    </div>
</div>