<div class="bp-dropdown">
    <div class="bp-dropdown-trigger">
        <button class="bp-button" aria-haspopup="true" aria-controls="bp-dropdown-menu">
            <span>Dropdown button</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="bp-dropdown-menu" id="bp-dropdown-menu" role="menu">
        <div class="bp-dropdown-content">
            <a href="#" class="bp-dropdown-item">
                Dropdown item
            </a>
            <a class="bp-dropdown-item">
                Other dropdown item
            </a>
            <a href="#" class="bp-dropdown-item is-active">
                Active dropdown item
            </a>
            <a href="#" class="bp-dropdown-item">
                Other dropdown item
            </a>
            <hr class="bp-dropdown-divider">
            <a href="#" class="bp-dropdown-item">
                With a divider
            </a>
        </div>
    </div>
</div>