---
title: Wordpress
layout: layout-sidenav
permalink: /templates/information/wordpress/
category: Templates/Information/
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h5 class="has-text-accent1">A simple and easy to use CMS platform that is powered by sgds theme.</h5>
    </div>
</div>
<div class="row padding--bottom--lg">
    <div class="col">
        <h5 class="has-text-accent1 padding--bottom"><b>Installing sgds Theme</b></h5>
        <div class="content">
            <ol>
                <li>Login to your WordPress dashboard
                </li>
                <li>
                    Click on to <code>Appearance > Themes</code>.<br>
                    <img src="/assets/img/templates/wordpress/1.jpg" alt="" class="is-boxed">

                </li>
                <li>
                    Once you are in the theme page, click on the <code>Add New</code> button at the top.<br>
                    <img src="/assets/img/templates/wordpress/2.jpg" alt="" class="box">
                </li>
                <li>
                    In the next screen, click on <code>upload Theme</code> button at the top.<br>
                    <img src="/assets/img/templates/wordpress/3.jpg" alt="" class="box">
                </li>
                <li>
                    You will be prompted to choose the zip file. Select the <code>sgds-wp-theme.zip</code> and click <code>Install Now</code>.<br>
                    <img src="/assets/img/templates/wordpress/4.jpg" alt="" class="box">
                </li>
                <li>
                    Once the sgds theme is installed, you will see a success message along with the link to activate and preview the theme.<br>
                    Click on the <code>Activate</code> and you’ve successfully installed and activated the sgds theme.<br>
                    <img src="https://placehold.it/600x300" alt="">
                </li>
            </ol>
        </div>
    </div>
</div>