<a class="bp-button">
    <span>Look right</span>
    <span class="icon">
        <i class="bp-icon bp-icon-angle-right"></i>
    </span>
</a>
<br><br>
<a class="bp-button">
    <span class="icon">
        <i class="bp-icon bp-icon-twitter"></i>
    </span>
    <span>Twitter</span>
</a>
<br><br>
<a class="bp-button">
    <span class="icon">
        <i class="bp-icon bp-icon-facebook"></i>
    </span>
    <span>Facebook</span>
</a>
<br><br>
<a class="bp-button">
    <span class="icon">
        <i class="bp-icon bp-icon-download"></i>
    </span>
</a>