---
title: Accordion
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/action/accordion/
category: Components/Action
breadcrumb: Action
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Accordion</b> is a graphical control element comprising a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item</h4>
        <div class="sgds-accordion-container">
            <div class="sgds-accordion-set">
                <a class="sgds-accordion-header">
                    <h5 class="is-marginless">accordion bar 1</h5> <i class="sgds-icon sgds-icon-chevron-up"></i>
                </a>
                <div class="sgds-accordion-body">
                    <p>content 1</p>
                </div>
            </div>
            <div class="sgds-accordion-set">
                <a class="sgds-accordion-header">
                    <h5 class="is-marginless">accordion bar 2</h5> <i class="sgds-icon sgds-icon-chevron-up"></i>
                </a>
                <div class="sgds-accordion-body">
                    <p>content 2</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Usage</h3>
        <p>Use this code snippet to any part of your project.</p>
{%- highlight html -%}
<div class="sgds-accordion-container">
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            <h5 class="is-marginless">Title 1</h5> <i class="sgds-icon sgds-icon-chevron-up"></i>
        </a>
        <div class="sgds-accordion-body">
            your content
        </div>
    </div>
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            <h5 class="is-marginless">Title 2</h5> <i class="sgds-icon sgds-icon-chevron-up"></i>
        </a>
        <div class="sgds-accordion-body">
            your content
        </div>
    </div>
</div>
{%- endhighlight -%}
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Guidelines</h3>
        <p>Accordion should:</p>
        <ul>
            <li class="margin--bottom">Use only when there is enough content to condense</li>
            <li class="margin--bottom">Avoid nested accordions as it increases the cognitive load for users</li>
            <li class="margin--bottom">Have multiple accordions open at the same time</li>
        </ul>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Style</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Property</th>
                <th>Values</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>sgds-accordion-header</td>
                <td>display: flex<br>justify-content: space-between<br>padding: 1rem</td>
            </tr>
            <tr>
                <td>sgds-accordion-body</td>
                <td>padding: 1rem<br>display: none</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

{%- include sgds-feedback.html -%}