---
title: Card
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/action/card/
category: Components/Action
breadcrumb: Action
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Card</b> is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options</h4>
        <div class="row">
            <div class="col is-6">
                <div class="sgds-card">
                    <div class="sgds-card-content">
                        <p class="title">Card 1</p>
                        <p class="subtitle">SG Design System</p>
                    </div>
                    <div class="sgds-card-footer">
                        <div class="sgds-card-footer-item">
                            <span><a href="">View</a></span>
                        </div>
                        <div class="sgds-card-footer-item">
                            <span><a href="">Share</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-6">
                <div class="sgds-card">
                    <div class="sgds-card-content">
                        <p class="title">Card 2</p>
                        <p class="subtitle">SG Design System</p>
                    </div>
                    <div class="sgds-card-footer">
                        <div class="sgds-card-footer-item">
                            <span><a href="">View</a></span>
                        </div>
                        <div class="sgds-card-footer-item">
                            <span><a href="">Share</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Usage</h3>
        <p>Use this code snippet to any part of your project.</p>
{%- highlight html -%}
<div class="sgds-card">
    <div class="sgds-card-content">
        <p class="title">Card title</p>
        <p class="subtitle">SG Design System</p>
    </div>
    <div class="sgds-card-footer">
        <p class="sgds-card-footer-item">
            <span><a href="">View</a></span>
        </p>
        <p class="sgds-card-footer-item">
            <span><a href="">Share</a></span>
        </p>
    </div>
</div>
{%- endhighlight -%}
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Guidelines</h3>
        <p>Card should:</p>
        <ul>
            <li class="margin--bottom">Use headings that set clear expectations about its purpose</li>
            <li class="margin--bottom">Prioritise information of the content so user know what comes first</li>
            <li class="margin--bottom">Avoid too many call-to-action buttons and only one primary call-to-action per card</li>
        </ul>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Style</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Selector</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>sgds-card</td>
                <td>the main container</td>
            </tr>
            <tr>
                <td>sgds-card-header</td>
                <td>a horizontal bar with a shadow</td>
            </tr>
            <tr>
                <td>sgds-card-header-title</td>
                <td>a left-aligned bold text</td>
            </tr>
            <tr>
                <td>sgds-card-content</td>
                <td>a multi-purpose container for any other element</td>
            </tr>
            <tr>
                <td>sgds-card-footer</td>
                <td>a horizontal list of controls</td>
            </tr>
            <tr>
                <td>sgds-card-footer-item</td>
                <td>a repeatable list item</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Feedback</h3>
        <a href="" class="sgds-sec-button">
            <span>Community discussion</span>
            <i class="sgds-icon sgds-icon-arrow-right" aria-hidden="true"></i>
        </a>
        <a href="" class="sgds-sec-button">
            <span>Report an issue</span>
            <i class="sgds-icon sgds-icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</div>