---
title: Action
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/action/
category: Components/Action
breadcrumb: Components
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary"><b>Action Components</b> make common actions immediately visible and easy to perform with one click or tap. They can be used and modified for any type of action</h4>
    </div>
</div>

<hr>

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <div class="row margin--top--lg">
            <div class="col is-4">
                <a href="/components/action/accordion/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-accordion is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Accordion</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">
                <a href="/components/action/button/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-button is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Button</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">
                <a href="/components/action/card/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-card is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Card</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col is-4">
                <a href="/components/action/dropdown/">
                    <div class="sgds-card has-text-centered">
                        <div class="sgds-card-content bg-light">
                            <span class="has-text-secondary sgds-icon sgds-icon-dropdown is-size-1"></span>
                        </div>
                        <div class="sgds-card-footer">
                            <div class="sgds-card-footer-item">
                                <span>Dropdown Menu</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col is-4">

            </div>
            <div class="col is-4">

            </div>
        </div>
    </div>
</div>