@import "../../bootstrap/badge";

.sgds{
    &.badge{
      // Set max badge to expand until h3 size
      font-size: min( $badge-font-size, $badge-font-size-max);
      line-height: $badge-line-height;
      padding: $badge-padding-y $badge-padding-x;
      i{
        &:first-child{
          padding-right: $badge-icon-padding;
        }
        &:last-child{
          padding-left: $badge-icon-padding;
        }
      }
    }
  }