@import "../../bootstrap/card";
.sgds {
    &.card {
        a:not(.btn) {
            font-weight: $font-weight-bold;
        }
        &[variant*="card-action"] {
            transition-property: box-shadow, border-color;
            transition-duration: $card-transition-duration;
            transition-timing-function: $card-transition-timing-function;
            .card-body {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                > div:not([class]) {
                    * {
                        margin-bottom: 0;
                        + * {
                            margin-top: 1rem;
                        }
                    }
                    i {
                        font-size: 1.5rem;
                        margin-right: 1rem;
                    }
                }
                > input[type] {
                    margin-top: 0;
                }
            }
            &:hover,
            &.is-active {
                border-color: transparent;
                box-shadow: $box-shadow, $card-active-border;
            }
            .card-input{
                input.form-check-input {
                    margin-top: 0;
                    min-width: 1.5rem;
                    min-height: 1.5rem;
                }
            }
            
        }
        &[variant="card-action-quantity-toggle"] {
            .card-body {
                flex-direction: column;
                gap: 2rem;
            }
            div:not([class]) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btn {
                    margin-top: 0;
                }
                .input-group {
                    margin-top: 0;
                    .btn i {
                        margin-right: 0;
                    }
                    input,
                    button {
                        margin-top: 0;
                    }
                }
                .card-unit {
                    flex-basis: 150%;
                }
            }
        }
    }
}