.footer-list-styling{
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style-type: none;
        line-height: 1.5;
        font-size: 14px;
        & + li{
          margin-top: 0.5rem;
        }
        a{
          text-decoration: none;
          color: var(--sgds-gray-300);
          &:hover{
            color: var(--sgds-gray-100);
          }
        }
      }
    }
  }
 
  .sgds{
    &.footer{
      width: 100vw;
      height: auto;
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
      color: var(--sgds-gray-100);
      background-color: var(--sgds-gray-900);
    }
    .footer-section{
      width: 100vw;
      display: flex;
      justify-content: center;
      &.top{
        padding: calc(#{$spacer} * 3) 0 calc(#{$spacer} * 1.5);
      }
      &.bottom{
        border-top: 1px solid var(--sgds-gray-800);
        padding: calc(#{$spacer} * 1.5) 0;
      }
    }

    .footer-section.top{
      .container{
        .row{
          + .row{
            margin-top: $spacer * 2;
          }
        }
      }
    }

    .footer-title{
      @extend h3;
    }

    .footer-description{
      @include media-breakpoint-up(lg) { 
        width: 75ch;
      }
      
      margin-bottom: 0;
      color: var(--sgds-gray-400);
      @extend p;
    }
  }

  .footer-links{
    .footer-link-title{
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    @extend .footer-list-styling;
  }

  .footer-quick-links{
    @extend .footer-list-styling;
    
    @include media-breakpoint-up(lg) { 
      display: flex;
      justify-content: flex-end;
    }
    
    ul{
      li{
        display: inline-block;
        font-size: 1rem;
        + li{
          margin-left: 1rem;
        }
      }
    }
  }