@for $i from 1 through 10 {
  .is-vh-#{$i}0 {
    height: #{$i * 10}vh;
  }
}

.no-margin {
  margin: 0 !important;
}

$base-margin-padding: 1rem;

@include mobile() {
  $base-margin-padding: 0.25rem;
}

.margin {
  margin: $base-margin-padding !important;
  &--xs {
    margin: $base-margin-padding / 4 !important; //0.25rem
  }
  &--sm {
    margin: $base-margin-padding / 2 !important; //0.5rem
  }
  &--lg {
    margin: $base-margin-padding + 1 !important; //2rem
  }
  &--xl {
    margin: $base-margin-padding + 3 !important; //4rem
  }
  &--none {
    margin: 0 !important;
  }

  &--top {
    margin-top: $base-margin-padding !important;
    &--xs {
      margin-top: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      margin-top: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      margin-top: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      margin-top: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      margin-top: 0 !important;
    }
  }
  &--right {
    margin-right: $base-margin-padding !important;
    &--xs {
      margin-right: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      margin-right: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      margin-right: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      margin-right: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      margin-right: 0 !important;
    }
  }
  &--bottom {
    margin-bottom: $base-margin-padding !important;
    &--xs {
      margin-bottom: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      margin-bottom: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      margin-bottom: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      margin-bottom: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      margin-bottom: 0 !important;
    }
  }
  &--left {
    margin-left: $base-margin-padding !important;
    &--xs {
      margin-left: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      margin-left: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      margin-left: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      margin-left: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      margin-left: 0 !important;
    }
  }
}

.padding {
  padding: $base-margin-padding !important;
  &--xs {
    padding: $base-margin-padding / 4 !important; //0.25rem
  }
  &--sm {
    padding: $base-margin-padding / 2 !important; //0.5rem
  }
  &--lg {
    padding: $base-margin-padding + 1 !important; //2rem
  }
  &--xl {
    padding: $base-margin-padding + 3 !important; //4rem
  }
  &--none {
    padding: 0 !important;
  }

  &--top {
    padding-top: $base-margin-padding !important;
    &--xs {
      padding-top: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      padding-top: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      padding-top: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      padding-top: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      padding-top: 0 !important;
    }
  }
  &--right {
    padding-right: $base-margin-padding !important;
    &--xs {
      padding-right: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      padding-right: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      padding-right: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      padding-right: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      padding-right: 0 !important;
    }
  }
  &--bottom {
    padding-bottom: $base-margin-padding !important;
    &--xs {
      padding-bottom: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      padding-bottom: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      padding-bottom: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      padding-bottom: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      padding-bottom: 0 !important;
    }
  }
  &--left {
    padding-left: $base-margin-padding !important;
    &--xs {
      padding-left: $base-margin-padding / 4 !important; //0.25rem
    }
    &--sm {
      padding-left: $base-margin-padding / 2 !important; //0.5rem
    }
    &--lg {
      padding-left: $base-margin-padding + 1 !important; //2rem
    }
    &--xl {
      padding-left: $base-margin-padding + 3 !important; //4rem
    }
    &--none {
      padding-left: 0 !important;
    }
  }
}

.is-offset-sidenav {
  position: fixed;
  width: 22%;
  top: 40px;
  .touch & {
    @extend .is-position-relative;
    width: 100%;
  }
}
