:root{
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sgds-body-font-size: 1.125rem;
}
// Gray color variables
$white:    #fff;
$gray-100: #F7F7F9;
$gray-200: #E4E7EC;
$gray-300: #D0D5DD;
$gray-400: #98A2B3;
$gray-500: #667085;
$gray-600: #344054;
$gray-700: #1D2939;
$gray-800: #343a40;
$gray-900: #212529;

// scss-docs-start color-variables
$blue:    #358DCA;
$indigo:  #6610f2;
$purple:  #5925DC;
$pink:    #d63384;
$red:     #FA5741;
$orange:  #fd7e14;
$yellow:  #FDB022;
$green:   #3BB346;
$teal:    #20c997;
$cyan:    #0dcaf0;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary:       $purple;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
// scss-docs-end theme-colors-map

//Primary
$purple-100: #EBE9FE;
$purple-200: #CFCBFD;
$purple-300: #A29BFB;
$purple-400: #7857FF;
$purple-500: $purple;
$purple-600: #4A1FB8;
$purple-700: #3E1C96;
$purple-800: shade-color($purple, 60%);
$purple-900: shade-color($purple, 80%);

//System Blue
$blue-100: #E2EFF8;
$blue-200: #B8D7EC;
$blue-300: #88BCE0;
$blue-400: #58A1D4;
$blue-500: $blue;
$blue-600: #0F71BB;
$blue-700: #0C66B3;
$blue-800: shade-color($blue, 60%);
$blue-900: shade-color($blue, 80%);

//System Red
$red-100: #FFECEB;
$red-200: #FFCFC8;
$red-300: #FC9C90;
$red-400: #FB7463;
$red-500: $red;
$red-600: #F93920;
$red-700: #F8331C;
$red-800: shade-color($red, 60%);
$red-900: shade-color($red, 80%);

//System Yellow
$yellow-100: #FFFAEB;
$yellow-200: #FEF0C7;
$yellow-300: #FEDF89;
$yellow-400: #FEC84B;
$yellow-500: $yellow;
$yellow-600: #F79009;
$yellow-700: #DC6803;
$yellow-800: shade-color($yellow, 60%);
$yellow-900: shade-color($yellow, 80%);

//Success
$green-100: #E7F6E9;
$green-200: #C4E8C8;
$green-300: #9DD9A3;
$green-400: #58BE62;
$green-500: $green;
$green-600: #35AC3F;
$green-700: #2DA337;
$green-800: shade-color($green, 60%);
$green-900: shade-color($green, 80%);

$purples: (
  "purple-100": $purple-200,
  "purple-200": $purple-100,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800,
  "purple-900": $purple-900
) !default;

$blues: (
  "blue-100": $blue-200,
  "blue-200": $blue-100,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900
) !default;

$reds: (
  "red-100": $red-200,
  "red-200": $red-100,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900
) !default;

$yellows: (
  "yellow-100": $yellow-200,
  "yellow-200": $yellow-100,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900
) !default;

$greens: (
  "green-100": $green-200,
  "green-200": $green-100,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900
) !default;

$border-radius:  5px;
$body-color: $gray-700;
$link-color: $blue-500;

//Typography
$font-size-base: 1.125rem;
$font-family-sans-serif: var(--font-family-sans-serif);

//Inputs and buttons
$input-btn-padding-x:    1rem;
$input-btn-padding-y:    0.5rem;
$input-btn-line-height:  1.7;
$input-btn-focus-width:  .125rem;

//Input groups
$input-group-addon-bg: $gray-200;

// Forms
$form-label-font-weight: 700;
$form-text-margin-top: null;
$form-text-margin-bottom: 0.5rem;  
$form-check-input-width: 1.335em;

$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem; 
$card-border-color: $gray-400;

$variable-prefix: sgds-