:root{
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sgds-body-font-size: 1.125rem;
}

$font-family-sans-serif: var(--font-family-sans-serif);
$border-radius:          5px;
$input-btn-padding-x:    1rem;
$input-btn-padding-y:    0.5rem;
$input-btn-font-size:    1.125rem;
$input-btn-line-height:  1.7;
$input-btn-focus-width:  .125rem;

$form-label-font-size:   1.125rem;
$form-label-font-weight: 700;

$form-text-font-size: $form-label-font-size;
$form-text-margin-top: null;
$form-text-margin-bottom: 0.5rem;  

$spacer: 1.5rem;
// $card-spacer-y: 1.5rem;
// $card-spacer-x: 1.5rem;



$variable-prefix: sgds-