@charset "utf-8";

// Configuration
@import "./sass/bootstrap/functions";
@import "./sass/sgds-theme/sgds-variables";
@import "./sass/bootstrap/mixins";
@import "./sass/bootstrap/utilities";


$all-colors: map-merge-multiple($primarys, $secondarys,  $purples,  $reds, $yellows, $greens,  $cyans);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);



// Layout & components
@import "./sass/bootstrap/root";
@import "./sass/sgds-theme/root";
@import "./sass/sgds-theme/mixins";
@import "./sass/sgds-theme/reboot";
@import "./sass/sgds-theme/type";
@import "./sass/bootstrap/images";
@import "./sass/bootstrap/containers";
@import "./sass/bootstrap/grid";

//Custom sgds themes
@import "./sass/sgds-theme/components/table";
@import "./sass/sgds-theme/components/forms";
@import "./sass/sgds-theme/forms";
@import "./sass/sgds-theme/forms/form-control-group";
@import "./sass/sgds-theme/components/footer";
@import "./sass/sgds-theme/components/buttons";
@import "./sass/sgds-theme/components/transitions";
@import "./sass/sgds-theme/components/datepicker";
@import "./sass/sgds-theme/components/dropdown";
@import "./sass/sgds-theme/components/fileupload";
@import "./sass/sgds-theme/components/navbar";
@import "./sass/sgds-theme/components/card";
@import "./sass/sgds-theme/components/accordion";
@import "./sass/sgds-theme/components/breadcrumb";
@import "./sass/sgds-theme/components/pagination";
@import "./sass/sgds-theme/components/list-group";
@import "./sass/sgds-theme/components/badge";
@import "./sass/sgds-theme/components/alert";
@import "./sass/sgds-theme/components/progress";
@import "./sass/sgds-theme/components/close";
@import "./sass/sgds-theme/components/sidenav";
@import "./sass/sgds-theme/components/stepper";
@import "./sass/sgds-theme/components/toasts";
@import "./sass/sgds-theme/components/modal";
@import "./sass/sgds-theme/components/tabs";
@import "./sass/sgds-theme/components/tooltip";
@import "./sass/sgds-theme/components/popover";
@import "./sass/sgds-theme/components/carousel";
@import "./sass/sgds-theme/components/spinners";
@import "./sass/sgds-theme/components/offcanvas";
@import "./sass/sgds-theme/components/placeholders";
@import "./sass/sgds-theme/components/combobox";
//Helpers
@import "./sass/sgds-theme/components/helpers";
//Utilites
@import "./sass/bootstrap/utilities/api";


// scss-docs-end import-stack