---
title: Footer
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/standard/footer/
category: Components/Standard
---

<section class="bp-section">
    <div class="bp-container is-fluid">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h5><b>Description</b></h5>
                    <p>All Singapore Government websites shall adopt the following footer design, containing the following policy statements at the footer of all web pages.</p>
                    <p>The default website footer shall includes:</p>
                    <ul>
                        <li>Agency Name</li>
                        <li>Agency Details - Contact, Feedback, FAQ and social icons</li>
                        <li>Website Details - Privacy, Terms of User, Rate this Service and Sitemap</li>
                        <li>Copyright Statement in the format of "@copy; [4-digit current year], [Government of Singapore]”</li>
                    </ul>
                </div>
                {% include bp-footer.html %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="content">
                    <h5><b>How to Use</b></h5>
                    <p>Simply copy and paste this code snippet to the footer of your project.</p>
                </div>
                {% highlight html %}{% include bp-footer.html %}{% endhighlight %}
            </div>
        </div>
    </div>
</section>