---
title: Footer
subtitle: Subtitle
layout: layout-default
permalink: /components/standard/footer/
category: Components/Standard
---

{% include bp-footer.html %}

<div class="row" style="margin-top:20px">
    <div class="col is-4">
        <div class="content">
            <h5><b>Usage Method</b></h5>
            <p>Simply copy and paste this code snippet to the footer of your project.</p>
        </div>
    </div>
    <div class="col">
        {% highlight html %}{% include bp-footer.html %}{% endhighlight %}
    </div>
</div>

