---
title: Cards
subtitle: A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
layout: pages-for-components
permalink: /components/cards
---

<div class="columns">
    <div class="column is-4">
        {% include components/cards/card-1.html %}
    </div>
    <div class="column">
        <figure>
            <pre class="no-padding"><code class="xml"  style="background: transparent">{% include components/cards/card-1.html %}</code></pre>
        </figure>
    </div>
</div>


<div class="columns">
    <div class="column is-4">
        {% include components/cards/card-2.html %}
    </div>
    <div class="column">
        <figure>
            <pre class="no-padding"><code class="xml"  style="background: transparent">{% include components/cards/card-2.html %}</code></pre>
        </figure>
    </div>
</div>

