---
title: Buttons
subtitle: A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
layout: pages-for-components
permalink: /components/buttons
tags: [Dropdowns, Icons]
---

<div class="columns">
    <div class="column is-4">
        <div class="content">
            <h5 class="title"><b>Default Buttons</b></h5>
            <p class="subtitle">Buttons in different sizes</p>
        </div>
        {% include components/buttons/button-default.html %}
    </div>
    <div class="column">
        <figure>
            <pre class="no-padding"><code class="xml"  style="background: transparent">{% include components/buttons/button-default.html %}</code></pre>
        </figure>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        <div class="content">
            <h5 class="title"><b>Outline Buttons</b></h5>
            <p class="subtitle">Outline buttons in different sizes</p>
        </div>
        {% include components/buttons/button-outline.html %}
    </div>
    <div class="column">
        <figure>
            <pre class="no-padding"><code class="xml"  style="background: transparent">{% include components/buttons/button-outline.html %}</code></pre>
        </figure>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        <div class="content">
            <h5 class="title"><b>Buttons with icon</b></h5>
            <p class="subtitle">Buttons with icon in different sizes</p>
        </div>
        {% include components/buttons/button-with-icon.html %}
    </div>
    <div class="column">
        <figure>
            <pre class="no-padding"><code class="xml"  style="background: transparent">{% include components/buttons/button-with-icon.html %}</code></pre>
        </figure>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        <div class="content">
            <h5 class="title"><b>Rounded buttons</b></h5>
            <p class="subtitle">Buttons with rounded corner</p>
        </div>
        {% include components/buttons/button-is-rounded.html %}
    </div>
    <div class="column">
        <figure>
            <pre class="no-padding"><code class="xml"  style="background: transparent">{% include components/buttons/button-is-rounded.html %}</code></pre>
        </figure>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        <div class="content">
            <h5 class="title"><b>Disabled buttons</b></h5>
            <p class="subtitle">Grayout button using the <code>disabled</code> attribute</p>
        </div>
        {% include components/buttons/button-disabled.html %}
    </div>
    <div class="column">
        <figure>
            <pre class="no-padding"><code class="xml"  style="background: transparent">{% include components/buttons/button-disabled.html %}</code></pre>
        </figure>
    </div>
</div>


