---
title: Cards
subtitle: A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
layout: pages-for-components
permalink: /components/cards
---

<div class="cols">
    <div class="col is-4">
        <div class="content">
            <h5 class="title"><b>Default card</b></h5>
            <!--<p class="subtitle">Buttons with icon in different sizes</p>-->
        </div>
        {% include components/cards/card-1.html %}
    </div>
    <div class="col">
        {% highlight html %}{% include components/cards/card-1.html %}{% endhighlight %}
    </div>
</div>
<hr>
<div class="cols">
    <div class="col is-4">
        <div class="content">
            <h5 class="title"><b>Card with image</b></h5>
            <!--<p class="subtitle">Buttons with icon in different sizes</p>-->
        </div>
        {% include components/cards/card-2.html %}
    </div>
    <div class="col">
        {% highlight html %}{% include components/cards/card-2.html %}{% endhighlight %}
    </div>
</div>

