---
title: Dropdowns
subtitle: A drop-down menu is a list of items that appear whenever a button is clicked or hovered. This is a graphical approach presented to users from which they can choose a value from the list presented.
layout: pages-for-components
permalink: /components/dropdowns
tags: [Buttons, Icons]
---

<div class="cols">
    <div class="col is-4">
        <div class="content">
            <h5 class="title"><b>Toggle</b></h5>
            <p class="subtitle">Click on the dropdown button to toggle menu</p>
        </div>
        {% include components/dropdowns/dropdown-toggle.html %}
    </div>
    <div class="col">
        {% highlight html %}{% include components/dropdowns/dropdown-toggle.html %}{% endhighlight %}
    </div>
</div>
<hr>
<div class="cols">
    <div class="col is-4">
        <div class="content">
            <h5 class="title"><b>Hoverable</b></h5>
            <p class="subtitle">Hover on the dropdown button to toggle menu</p>
        </div>
        {% include components/dropdowns/dropdown-hoverable.html %}
    </div>
    <div class="col">
        {% highlight html %}{% include components/dropdowns/dropdown-hoverable.html %}{% endhighlight %}
    </div>

</div>


