---
title: Footer
subtitle: This is a subtitle
layout: pages
permalink: /components/footer
---

{% include bp-footer.html %}
<div class="columns" style="margin-top:30px;">
    <div class="column">
        <h4><b>{{page.title}} Snippets</b></h4>
    </div>
</div>
<pre>
    <code class="xml">
 &lt;footer class=&quot;bp-footer bg-grey-dark&quot;&gt;
    &lt;div class=&quot;container is-fluid&quot;&gt;
        &lt;div class=&quot;columns is-vcentered&quot;&gt;
           &lt;div class=&quot;column is-8&quot;&gt;
               &lt;ul&gt;
                   &lt;li&gt;&lt;a href=&quot;&quot;&gt;Privacy Statement&lt;/a&gt;&lt;/li&gt;
                   &lt;li&gt;&lt;a href=&quot;&quot;&gt;Term of Use&lt;/a&gt;&lt;/li&gt;
                   &lt;li&gt;&lt;a href=&quot;&quot;&gt;Rate This Service&lt;/a&lt;/li&gt;
                   &lt;li&gt;&lt;a href=&quot;&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
               &lt;/ul&gt;
           &lt;/div&gt;
           &lt;div class=&quot;column has-text-right-desktop has-text-centered-touch&quot;&gt;
               &lt;ul&gt;
                   &lt;li class=&quot;is-inline-block&quot;&gt;
                       &lt;span class=&quot;bp-icon bp-icon-facebook is-size-3&quot;&gt;&lt;/span&gt;
                   &lt;/li&gt;
                   &lt;li class=&quot;is-inline-block&quot;&gt;
                       &lt;span class=&quot;bp-icon bp-icon-instagram is-size-3&quot;&gt;&lt;/span&gt;
                   &lt;/li&gt;
                   &lt;li class=&quot;is-inline-block&quot;&gt;
                       &lt;span class=&quot;bp-icon bp-icon-twitter is-size-3&quot;&gt;&lt;/span&gt;
                   &lt;/li&gt;
                   &lt;li class=&quot;is-inline-block&quot;&gt;
                       &lt;span class=&quot;bp-icon bp-icon-youtube is-size-3&quot;&gt;&lt;/span&gt;
                   &lt;/li&gt;
               &lt;/ul&gt;
           &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/footer&gt;
&lt;footer class=&quot;bp-footer bg-black&quot;&gt;
    &lt;div class=&quot;container is-fluid&quot;&gt;
        &lt;div class=&quot;columns is-size-7 has-text-centered-touch&quot;&gt;
            &lt;div class=&quot;column&quot;&gt;
                &copy; 2018 Blueprint@Govtech. All Rights Reserved.
            &lt;/div&gt;
            &lt;div class=&quot;column has-text-right-desktop&quot;&gt;
                Last Updated 04 Feb 2018
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/footer&gt;
    </code>
</pre>
