---
title: Footer
subtitle: Like a document footer, a Web page footer contains information listed at the bottom of the page. The footer is also treated as its own section of the Web page, separate from the header, content and sidebars.
layout: pages-for-components
permalink: /components/footer
tags: [Grids, Icons]
---

{% include bp-footer.html %}
<div class="columns" style="margin-top:30px;">
    <div class="column">
        <h4><b>{{page.title}} Snippets</b></h4>
        {% highlight html %}{% include bp-footer.html %}{% endhighlight %}
    </div>
</div>

