---
title: Icons
subtitle: Hover and copy the classname
layout: pages
permalink: /components/icons
category: Components
---

<div class="row is-multiline is-mobile page-icon">
    {% assign sort-icons = site.data.icons | sort:'iconName' %}
    {% for icon in sort-icons %}
    <div class="col is-2-desktop is-4-tablet is-4-mobile">
        <div class="icon-container">
            <span class="is-size-1 bp-icon bp-icon-{{icon.iconName}}"></span>
        </div>
        <span> .bp-icon-{{icon.iconName}}</span>
        <a class="bp-button is-outlined bd-copy is-hidden-touch">
            Copy
        </a>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    <div class="col">
        <h4><b>{{page.title}} Snippets</b></h4>
        {% highlight html %}<span class="bp-icon bp-icon-iconName"></span>{% endhighlight %}
    </div>
</div>
