---
title: Masthead
subtitle: This is a subtitle
layout: pages
permalink: /components/masthead
---

{% include bp-masthead.html %}
<div class="columns" style="margin-top:30px;">
    <div class="column">
        <h4><b>{{page.title}} Snippets</b></h4>
    </div>
</div>
<pre>
    <code class="xml">
&lt;header class=&quot;bp-masthead&quot;&gt;
    &lt;div class=&quot;container is-fluid&quot;&gt;
        &lt;div class=&quot;columns is-multiline  is-vcentered&quot;&gt;
            &lt;div class=&quot;column is-9-desktop is-12-touch has-text-centered-touch&quot;&gt;
                &lt;h6&gt;
                    &lt;a href=&quot;http://www.gov.sg&quot; alt=&quot;Singapore Government&quot; target=&quot;_blank&quot;&gt;
                        &lt;span class=&quot;bp-icon bp-icon-sg-crest is-size-6 is-size-7-touch&quot; style=&quot;color:red&quot;&gt;&lt;/span&gt;
                        &lt;span class=&quot;is-size-7-touch&quot;&gt;An Official Website of the &lt;b&gt;Singapore Government&lt;/b&gt;&lt;/span&gt;

                    &lt;/a&gt;
                &lt;/h6&gt;
            &lt;/div&gt;
            &lt;div class=&quot;column is-1-desktop has-text-right is-hidden-touch&quot;&gt;&lt;a href=&quot;&quot; target=&quot;_blank&quot;&gt;Contact&lt;/a&gt;&lt;/div&gt;
            &lt;div class=&quot;column is-1-desktop has-text-right is-hidden-touch&quot;&gt;&lt;a href=&quot;&quot; target=&quot;_blank&quot;&gt;Feedback&lt;/a&gt;&lt;/div&gt;
            &lt;div class=&quot;column is-1-desktop has-text-right is-hidden-touch&quot;&gt;&lt;a href=&quot;&quot; target=&quot;_blank&quot;&gt;Sitemap&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;
    </code>
</pre>
