---
title: Tabs
subtitle: Simple responsive horizontal navigation tabs, with different styles
layout: pages
permalink: /components/tabs
tags: [Icons, JS]
category: 'Components'
---

<div class="row">
    <div class="col">
        <div class="content">
            <h5 class="title"><b>Default Tabs</b></h5>
            <!--<p class="subtitle">Buttons in different sizes</p>-->
        </div>
        {% include components/tabs/tabs-default.html %}
    </div>
    <div class="col">
        {% highlight html %}{% include components/tabs/tabs-default.html %}{% endhighlight %}
    </div>
</div>


