---
title: Overview
subtitle: Understand the structures of different layout classes
layout: pages
permalink: /layouts/overview
tags: [Columns,Column,Container]
category: Layouts
---

{% include layouts/overview/overview-basic.html %}
<hr>

{% include layouts/overview/overview-2-sections.html %}
<hr>
{% include layouts/overview/overview-2-rows.html %}

<script>
    function toggleStyling(option) {
        switch(option){
            case 'basicLayout':
                var element = document.getElementById("basicLayout");
                element.classList.toggle("no-styling");
                break;
            case '2sectionLayout':
                var element = document.getElementById("2sectionLayout");
                element.classList.toggle("no-styling");
                break;
            case '2rowLayout':
                var element = document.getElementById("2rowLayout");
                element.classList.toggle("no-styling");
                break;
        }
    }
</script>