.sgds-masthead {
  position: relative;
  background-color: $grey-lighter;
  padding: 2px 0;
  height: $masthead-height;
  max-height: $masthead-height;
  font-size: 14px;
  @include touch() {
    padding: 2px 12px;
  }
  .is-text {
    position: relative;
    margin-left: 0.25rem;
    @include touch() {
      line-height: 1.2rem;
    }
  }

  .sgds-icon {
    font-size: $size-6;
  }
  a {
    color: $grey-dark;
    display: flex;
    align-items: center;
  }
  a:hover {
    color: $primary;
  }
}
.language-selector{
  background: transparent;
  border: 0;
  font-size: 14px;
}