.sgds-masthead {
  position: relative;
  background-color: $grey-lighter;
  height: auto;
  padding: $masthead-gutter 0;
  font-size: 14px;
  @include touch() {
    padding-left: $masthead-gutter;
    padding-right: $masthead-gutter;
  }
  .is-text {
    margin-left: $masthead-gutter;
  }

  .sgds-icon {
    font-size: 20px;
  }
  a {
    color: $grey-dark;
    display: flex;
    align-items: center;
    &:hover {
      color: darken($grey-dark, 20%);
    }
  }
}
