.sgds{
    &.navbar{

        background-color: var(--sgds-body-bg);

        border-bottom: 1px solid var(--sgds-gray-400);
        .navbar-nav{
            gap:1rem;
        }

        .navbar-mobile-widget{
            display: flex;
            height: 100%;
            gap: 1rem;
        }
        .navbar-toggler{
            &:focus{
                box-shadow: none;
            }
        }
    }

}