.notify-banner{
    text-align: center;
    color: white;
    font-size: 0.875rem;
    line-height: 1.2;
    padding: 0.875rem 1rem;

    background: linear-gradient(-45deg, $primary, $secondary, $danger);
	background-size: 400% 10%;
	animation: AnimationName 15s ease infinite;
    height: 30vh;
    a{
        color: $blue-200;
        &:hover{
            color: $blue-300;
        }
    }
}

@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}