---
title: Section
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/structural/section/
category: Components/Structural
breadcrumb: Components
---

<div class="row padding--top padding--bottom--lg">
    <div class="col">
        <h4 class="has-text-weight-normal has-text-secondary padding--bottom--lg"><b>Section</b> is the main building block for all layouts. It can be used as direct children of <code>body</code></h4>
        <div class="sgds-example is-marginless">
            <section class="sgds-section">
                <div class="sgds-container">
                    <div class="sgds-notification is-position-relative">
                        <h6 class="is-marginless">section</h6>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Usage</h3>
        <p>You can change the overall padding sizes by adding these class names to your section:</p>
        <ul>
            <li>is-small</li>
            <li>is-medium</li>
            <li>is-large</li>
        </ul>
{% highlight html %}
<body>
    <section class="sgds-section">
        <div class="sgds-container">
            <h1>Section</h1>
        </div>
    </section>
</body>
{% endhighlight %}
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Style</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Property</th>
                <th>Values</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Default</td>
                <td>padding: 3rem 1.5rem</td>
            </tr>
            <tr>
                <td>.is-small</td>
                <td>padding: 1.5rem 1.5rem</td>
            </tr>
            <tr>
                <td>.is-medium</td>
                <td>padding: 9rem 1.5rem</td>
            </tr>
            <tr>
                <td>.is-large</td>
                <td>padding: 18rem 1.5rem</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="row padding--top--lg padding--bottom--lg has-text-left">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Feedback</h3>
        <a href="" class="sgds-sec-button">
            <span>Community discussion</span>
            <i class="sgds-icon sgds-icon-arrow-right" aria-hidden="true"></i>
        </a>
        <a href="" class="sgds-sec-button">
            <span>Report an issue</span>
            <i class="sgds-icon sgds-icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</div>