---
title: Container
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/structural/container/
category: Components/Structural
---

<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>Description</b></h5>
            <p>Container allows you to center your content horizontally on any screen size.</p>
            <p>The <code>.sgds-container</code> class can be used in any context, but mostly as a direct child of either:</p>
            <ul>
                <li>.navbar</li>
                <li>.sgds-hero</li>
                <li>.sgds-section</li>
                <li>.sgds-footer</li>
            </ul>
        </div>
        <div class="sgds-example">
            <section class="sgds-section is-small">
                <div class="sgds-container bg-light">
                    <div class="sgds-notification is-primary">
                        Default Container
                    </div>
                </div>
            </section>
        </div>
        <div class="content">
            <p>If you do not want a maximum width but keep the 32px margin on both sides, add the <code>is-fluid</code> modifier.</p>
        </div>
        <div class="sgds-example">
            <section class="sgds-section is-small">
                <div class="sgds-container is-fluid bg-light">
                    <div class="sgds-notification is-primary">
                        Fluid Container
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>How to Use</b></h5>
            <p>Simply copy and paste this code snippet to any part of your project.</p>
        </div>
{%- highlight html -%}
<section class="sgds-section is-small">
<div class="sgds-container bg-light">
Default Container
</div>
</section>
{%- endhighlight -%}
    </div>
</div>
