---
title: Layout
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/structural/layout/
category: Components/Structural
breadcrumb: Components
---

<div class="row padding--top padding--bottom">
    <div class="col">
        <h5 class="has-text-secondary padding--bottom--lg">Structural category focus on sections, rows and columns. Sections allow you to create dynamic, structured layouts with ease. Using columns, you can creatively arrange any of our modules to create beautiful pages.</h5>
        <h5 class="margin--bottom--lg"><b>Basic Layout</b></h5>
        <div class="sgds-example is-marginless">
            <section class="sgds-section">
                <div class="sgds-container is-fluid">
                    <div class="row">
                        <div class="col">
                            <h6 class="is-marginless">col 1</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 1</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 1</h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <h5 class="margin--bottom--lg"><b>Mulitple Rows Layout</b></h5>
        <div class="sgds-example is-marginless">
            <section class="sgds-section">
                <div class="sgds-container">
                    <div class="row">
                        <div class="col">
                            <h6 class="is-marginless">section</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="is-marginless">col 1</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 2</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 3</h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <h5 class="margin--bottom--lg"><b>Mulitple Sections Layout</b></h5>
        <div class="sgds-example is-marginless">
            <section class="sgds-section">
                <div class="sgds-container">
                    <div class="row">
                        <div class="col">
                            <h6 class="is-marginless">section 1</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="is-marginless">col 1</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 2</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 3</h6>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="sgds-section">
                <div class="sgds-container">
                    <div class="row">
                        <div class="col">
                            <h6 class="is-marginless">section 2</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="is-marginless">col 1</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 2</h6>
                        </div>
                        <div class="col">
                            <h6 class="is-marginless">col 3</h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>