---
title: Layout
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/structural/layout/
category: Components/Structural
---

<div class="row padding--top padding--bottom">
    <div class="col">
        <h5 class="has-text-accent1">Structural category focus on sections, rows and columns. Sections allow you to create dynamic, structured layouts with ease. Using columns, you can creatively arrange any of our modules to create beautiful pages.</h5>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5 class="padding--bottom"><b>Live Demo - Basic</b></h5>
        <div class="sgds-example" style="margin:0">
            <section class="sgds-section">
                <div class="sgds-container">
                    <div class="row">
                        <div class="col">
                            <p>col 1</p>
                        </div>
                        <div class="col">
                            <p>col 2</p>
                        </div>
                        <div class="col">
                            <p>col 3</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <h5 class="padding--top padding--bottom"><b>Live Demo - Sections</b></h5>
        <div class="sgds-example" style="margin:0">
            <section class="sgds-section">
                <div class="sgds-container">
                    <!--first row-->
                    <div class="row">
                        <div class="col">
                            <h5>Section 1</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Col 1</p>
                        </div>
                        <div class="col">
                            <p>Col 2</p>
                        </div>
                        <div class="col">
                            <p>Col 3</p>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="sgds-section">
                <div class="sgds-container">
                    <!--first row-->
                    <div class="row">
                        <div class="col">
                            <h5>Section 2</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Col 1</p>
                        </div>
                        <div class="col">
                            <p>Col 2</p>
                        </div>
                        <div class="col">
                            <p>Col 3</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <h5 class="padding--top padding--bottom"><b>Live Demo - Rows</b></h5>
        <div class="sgds-example" style="margin:0">
            <section class="sgds-section">
                <div class="sgds-container">
                    <!--first row-->
                    <div class="row">
                        <div class="col">
                            <h5>Welcome to sgds</h5>
                        </div>
                    </div>
                    <!--second row-->
                    <div class="row">
                        <div class="col">
                            <h6>Subtitle</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="col">
                            <h6>Subtitle</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="col">
                            <h6>Subtitle</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>