<div class="row">
   <div class="col is-4">
      <div class="content">
         <h5><b>Usage Method</b></h5>
         <p>Use sections as direct children of <code>body</code>.</p>
      </div>
   </div>
   <div class="col">
{% highlight html %}
   <body>
      <!--first section-->
      <section class="bp-section">
         <div class="bp-container">
            <h1>Section 1</h1>
            <p>Simple container</p>
         </div>
      </section>
   </body>
{% endhighlight %}
   </div>
</div>

<hr>

<div class="row">
   <div class="col is-4">
      <div class="content">
         <h5 class="title"><b>Section Sizes</b></h5>
         <p>You can change the overall padding sizes by adding these class name to your section.</p>
         <p><code>.is-small</code><br><code>.is-medium</code><br><code>.is-large</code></p>
      </div>
   </div>
   <div class="col">
      <div class="bp-example">
         <section class="bp-section">
            <div class="bp-container">
               <div class="bp-notification">
                  <p>Default section</p>
               </div>
            </div>
         </section>
         <hr>
         <section class="bp-section is-small">
            <div class="bp-container">
               <div class="bp-notification">
                  <p>Small section</p>
               </div>
            </div>
         </section>
         <hr>
         <section class="bp-section is-medium">
            <div class="bp-container">
               <div class="bp-notification">
                  <p>Medium section</p>
               </div>
            </div>
         </section>
         <hr>
         <section class="bp-section is-large">
            <div class="bp-container">
               <div class="bp-notification">
                  <p>Large Section</p>
               </div>
            </div>
         </section>
      </div>
   </div>
</div>
