---
title: Footer
subtitle: This is the standard mobile-responsive footer to be used across all Singapore Government websites. It is a standalone section of the webpage.
layout: pages
permalink: /standard/footer/
tags: [Columns, Column, Container, Icons]
category: Standard
---

{% include bp-footer.html %}

<div class="row" style="margin-top:20px">
    <div class="col is-4">
        <div class="content">
            <h5><b>Usage Method</b></h5>
            <p>Simply copy and paste this code snippet to the footer of your project.</p>
        </div>
    </div>
    <div class="col">
        {% highlight html %}{% include bp-footer.html %}{% endhighlight %}
    </div>
</div>

