---
title: Masthead
subtitle: This is the standard mobile-responsive masthead to be used across all Singapore Government websites. It is a standalone section of the webpage.
layout: pages
permalink: /standard/masthead/
tags: [Sections,Columns,Column,Containers,Icons]
category: Standard
---

{% include bp-masthead.html %}

<div class="row" style="margin-top:20px">
    <div class="col is-4">
        <div class="content">
            <h5><b>Usage Method</b></h5>
            <p>Simply copy and paste this code snippet to the header of your project.</p>
        </div>
    </div>
    <div class="col">
        {% highlight html %}{% include bp-masthead.html %}{% endhighlight %}
    </div>
</div>