---
title: Footer
subtitle: Subtitle
layout: layout-sidenav
category: Standard
icon: footer
breadcrumb: Standard
---


<h4 class="has-text-primary">Footer is a standard component that all '.gov.sg' websites must adopt for every page in them</h4>

<hr class="margin--bottom--lg margin--top--lg">

<p>Basic footer that do not need quick links.</p>


<footer class="sgds-footer top-section">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col">
                <h5 class="footer-link-title"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Tell us more</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-bottom col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © {{ site.time | date: "%Y" }} Government of Singapore. Last Updated {{site.time | date_to_string -}}</p>
                <p class="is-hidden-desktop">© {{ site.time | date: "%Y" }} Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.time | date_to_string -}}</p>
            </div>
        </div>
    </div>
</footer>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
{% highlight html %}
<footer class="sgds-footer top-section">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col">
                <h5 class="footer-link-title"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Tell us more</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © {{ site.time | date: "%Y" }} Government of Singapore. Last Updated {{site.time | date_to_string -}}</p>
                <p class="is-hidden-desktop">© {{ site.time | date: "%Y" }} Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.time | date_to_string -}}</p>
            </div>
        </div>
    </div>
</footer>
{% endhighlight %}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy Snippet</button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">


<p>For footer that has quick links, you can have up to six columns for categories.</p>


<footer class="sgds-footer top-section">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col">
                <h5 class="footer-link-title"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col is-3">
                <p class="footer-link-title"><b>Category 1</b></p>
                <p><a href="">Link</a></p>
                <p><a href="">Link</a></p>
            </div>
            <div class="col is-3">
                <p class="footer-link-title"><b>Category 2</b></p>
                <p><a href="">Link</a></p>
                <p><a href="">Link</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Tell us more</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-bottom col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © {{ site.time | date: "%Y" }} Government of Singapore. Last Updated {{site.time | date_to_string -}}</p>
                <p class="is-hidden-desktop">© {{ site.time | date: "%Y" }} Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.time | date_to_string -}}</p>
            </div>
        </div>
    </div>
</footer>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
{% highlight html %}
<footer class="sgds-footer top-section">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col">
                <h5 class="footer-link-title"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col is-3">
                <p class="footer-link-title"><b>Category 1</b></p>
                <p><a href="">Link</a></p>
                <p><a href="">Link</a></p>
            </div>
            <div class="col is-3">
                <p class="footer-link-title"><b>Category 2</b></p>
                <p><a href="">Link</a></p>
                <p><a href="">Link</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Tell us more</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-bottom col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © {{ site.time | date: "%Y" }} Government of Singapore. Last Updated {{site.time | date_to_string -}}</p>
                <p class="is-hidden-desktop">© {{ site.time | date: "%Y" }} Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.time | date_to_string -}}</p>
            </div>
        </div>
    </div>
</footer>
{% endhighlight %}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight1'>Copy Snippet</button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">


<p>For footer that needs a short product info, you can park it in the first column.</p>


<footer class="sgds-footer top-section">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col">
                <h5 class="footer-link-title"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col is-4">
                <p>Unites Singapore Government Digital Services around a common UI language and user experience</p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Tell us more</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-bottom col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © {{ site.time | date: "%Y" }} Government of Singapore. Last Updated {{site.time | date_to_string -}}</p>
                <p class="is-hidden-desktop">© {{ site.time | date: "%Y" }} Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.time | date_to_string -}}</p>
            </div>
        </div>
    </div>
</footer>


<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
{% highlight html %}
<footer class="sgds-footer top-section">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col">
                <h5 class="footer-link-title"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col is-4">
                <p>Unites Singapore Government Digital Services around a common UI language and user experience</p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://tech.gov.sg/report_vulnerability" target="_blank">Report Vulnerability</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Contact</a></p>
                    </li>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="">Tell us more</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-bottom col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch"> © {{ site.time | date: "%Y" }} Government of Singapore. Last Updated {{site.time | date_to_string -}}</p>
                <p class="is-hidden-desktop">© {{ site.time | date: "%Y" }} Government of Singapore</p>
                <p class="is-hidden-desktop last-updated">Last Updated {{site.time | date_to_string -}}</p>
            </div>
        </div>
    </div>
</footer>
{% endhighlight %}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight2'>Copy Snippet</button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Footer should:</p>
<ul>
    <li class="margin--bottom">Be positioned at the bottom of every page in the digital service</li>
    <li class="margin--bottom">Contain the 'Privacy' and 'Terms of Use' on the left hand corner of the Footer Panel</li>
    <li class="margin--bottom">Contain the 'Feedback' if there is a feedback form</li>
    <li class="margin--bottom">Contain the 'Rate this Service' if there is a customer satisfaction poll</li>
    <li class="margin--bottom">Contain the Copyright Statement in the format '&copy; [current year in YYYY] Government of Singapore' on the bottom right hand side of the Footer Panel</li>
    <li class="margin--bottom">Contain the Last Updated Statement in the format 'Last Updated [DD CurrentMonth YYYY]' on the bottom right hand side of the Footer Panel</li>
</ul>


<hr class="margin--bottom--lg margin--top--lg">

{%- include sgds-feedback.html -%}