---
title: Main Nav
subtitle: Subtitle
layout: layout-docs
category: Standard
icon: mainnav
breadcrumb: General
js: true
---

<h4 class="has-text-primary">
    The main nav is a standard navigation component that must be present in all
    pages of '.gov.sg' websites.
</h4>

<hr class="margin--bottom--lg margin--top--lg" />

<p>
    Basic main nav that does not need to have a search function. Applicable for
    single page websites only.
</p>

<nav class="navbar" role="navigation">
    <div class="sgds-container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/img/logo_sgds.png" alt="" />
            </a>
            <div class="navbar-burger burger" data-target="mainnav-1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainnav-1" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-uppercase is-active is-tab">
                    Who we are
                </a>
                <a class="navbar-item is-uppercase is-tab">
                    Link 2
                </a>
                <a class="navbar-item is-uppercase is-tab">
                    Link 3
                </a>
                <a class="navbar-item is-uppercase is-tab">
                    Link 4
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
            {%- highlight html -%}
            <nav class="navbar" role="navigation">
                <div class="sgds-container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="/assets/img/logo_sgds.png" alt="" />
                        </a>
                        <div class="navbar-burger burger" data-target="mainnav-1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="mainnav-1" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item is-uppercase is-active is-tab">
                                Who we are
                            </a>
                            <a class="navbar-item is-uppercase is-tab">
                                Link 2
                            </a>
                            <a class="navbar-item is-uppercase is-tab">
                                Link 3
                            </a>
                            <a class="navbar-item is-uppercase is-tab">
                                Link 4
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            {%- endhighlight -%}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target=".highlight0">
                Copy Snippet
            </button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<!-- Main Nav 2 -->

<p>
    Main nav that has a dropdown for secondary selection. Suitable for
    medium-sized websites.
</p>

<nav class="navbar" role="navigation">
    <div class="sgds-container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/img/logo_sgds.png" alt="" />
            </a>
            <div class="navbar-burger burger" data-target="mainnav-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainnav-2" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-uppercase is-active">
                        Who we are
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item is-active">
                            Sub Link 1
                        </a>
                        <a class="navbar-item">
                            Sub Link 2
                        </a>
                        <a class="navbar-item">
                            Sub Link 3
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-uppercase">
                        Link 2
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            External Link 1
                            <i class="sgds-icon sgds-icon-external"></i>
                        </a>
                        <a class="navbar-item">
                            External Link 2
                            <i class="sgds-icon sgds-icon-external"></i>
                        </a>
                        <a class="navbar-item">
                            External Link 3
                            <i class="sgds-icon sgds-icon-external"></i>
                        </a>
                    </div>
                </div>
                <a class="navbar-item is-uppercase is-tab">
                    External Link 3
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
            {%- highlight html -%}
            <nav class="navbar" role="navigation">
                <div class="sgds-container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="/assets/img/logo_sgds.png" alt="" />
                        </a>
                        <div class="navbar-burger burger" data-target="mainnav-2">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="mainnav-2" class="navbar-menu">
                        <div class="navbar-start">
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link is-uppercase is-active">
                                    Who we are
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item is-active">
                                        Sub Link 1
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 2
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 3
                                    </a>
                                </div>
                            </div>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link is-uppercase">
                                    Link 2
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item">
                                        External Link 1
                                        <i class="sgds-icon sgds-icon-external"></i>
                                    </a>
                                    <a class="navbar-item">
                                        External Link 2
                                        <i class="sgds-icon sgds-icon-external"></i>
                                    </a>
                                    <a class="navbar-item">
                                        External Link 3
                                        <i class="sgds-icon sgds-icon-external"></i>
                                    </a>
                                </div>
                            </div>
                            <a class="navbar-item is-uppercase is-tab">
                                External Link 3
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            {%- endhighlight -%}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target=".highlight1">
                Copy Snippet
            </button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<!-- Main Nav 3 -->

<p>
    Main nav with a mega menu for secondary selection. Suitable for large-sized
    websites.
</p>

<nav class="navbar" role="navigation">
    <div class="sgds-container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/img/logo_sgds.png" alt="" />
            </a>
            <div class="navbar-burger burger" data-target="mainnav-3">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainnav-3" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable is-mega">
                    <a class="navbar-link is-uppercase is-active">
                        Who we are
                    </a>
                    <div class="navbar-dropdown">
                        <div class="sgds-container is-fluid">
                            <div class="row">
                                <div class="col is-3">
                                    <p class="navbar-item is-uppercase">
                                        <b>Sub Menu 1a</b>
                                    </p>
                                    <a class="navbar-item">
                                        Sub Link 1
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 2
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 3
                                    </a>
                                </div>
                                <div class="col is-3">
                                    <p class="navbar-item is-uppercase">
                                        <b>Sub Menu 1b</b>
                                    </p>
                                    <a class="navbar-item">
                                        Sub Link 1
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 2
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 3
                                    </a>
                                </div>
                                <div class="col is-6">
                                    <div class="navbar-item is-wrapped">
                                        <p>
                                            <b>Sub Menu 1 Info</b><br />
                                            You can put short paragraph of
                                            information here to describe about this
                                            section.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable is-mega">
                    <a class="navbar-link is-uppercase">
                        Mega Menu
                    </a>
                    <div class="navbar-dropdown">
                        <div class="sgds-container is-fluid">
                            <div class="row is-multiline">
                                <div class="col is-3">
                                    <p class="navbar-item is-uppercase">
                                        <b>Sub Menu 2a</b>
                                    </p>
                                    <a class="navbar-item">
                                        Sub Link 1
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 2
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 3
                                    </a>
                                </div>
                                <div class="col is-3">
                                    <p class="navbar-item is-uppercase">
                                        <b>Sub Menu 2b</b>
                                    </p>
                                    <a class="navbar-item">
                                        Sub Link 1
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 2
                                    </a>
                                    <a class="navbar-item">
                                        Sub Link 3
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="navbar-item is-wrapped">
                                        <p>
                                            <b>Sub Menu 2 Info</b><br />
                                            You can put short paragraph of
                                            information here to describe about this
                                            section.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
            {%- highlight html -%}
            <nav class="navbar" role="navigation">
                <div class="sgds-container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="/assets/img/logo_sgds.png" alt="" />
                        </a>
                        <div class="navbar-burger burger" data-target="mainnav-3">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="mainnav-3" class="navbar-menu">
                        <div class="navbar-start">
                            <div class="navbar-item has-dropdown is-hoverable is-mega">
                                <a class="navbar-link is-uppercase is-active">
                                    Who we are
                                </a>
                                <div class="navbar-dropdown">
                                    <div class="sgds-container is-fluid">
                                        <div class="row">
                                            <div class="col is-3">
                                                <p class="navbar-item is-uppercase">
                                                    <b>Sub Menu 1a</b>
                                                </p>
                                                <a class="navbar-item">
                                                    Sub Link 1
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 2
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 3
                                                </a>
                                            </div>
                                            <div class="col is-3">
                                                <p class="navbar-item is-uppercase">
                                                    <b>Sub Menu 1b</b>
                                                </p>
                                                <a class="navbar-item">
                                                    Sub Link 1
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 2
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 3
                                                </a>
                                            </div>
                                            <div class="col is-6">
                                                <div class="navbar-item is-wrapped">
                                                    <p>
                                                        <b>Sub Menu 1 Info</b><br />
                                                        You can put short paragraph of
                                                        information here to describe about this
                                                        section.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-item has-dropdown is-hoverable is-mega">
                                <a class="navbar-link is-uppercase">
                                    Mega Menu
                                </a>
                                <div class="navbar-dropdown">
                                    <div class="sgds-container is-fluid">
                                        <div class="row is-multiline">
                                            <div class="col is-3">
                                                <p class="navbar-item is-uppercase">
                                                    <b>Sub Menu 2a</b>
                                                </p>
                                                <a class="navbar-item">
                                                    Sub Link 1
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 2
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 3
                                                </a>
                                            </div>
                                            <div class="col is-3">
                                                <p class="navbar-item is-uppercase">
                                                    <b>Sub Menu 2b</b>
                                                </p>
                                                <a class="navbar-item">
                                                    Sub Link 1
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 2
                                                </a>
                                                <a class="navbar-item">
                                                    Sub Link 3
                                                </a>
                                            </div>
                                            <div class="col">
                                                <div class="navbar-item is-wrapped">
                                                    <p>
                                                        <b>Sub Menu 2 Info</b><br />
                                                        You can put short paragraph of
                                                        information here to describe about this
                                                        section.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            {%- endhighlight -%}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target=".highlight2">
                Copy Snippet
            </button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<!-- Main Nav 4 -->

<p>To add search bars to your main mav, please import <code>sgds.js</code>.</p>

<nav class="navbar" role="navigation">
    <div class="sgds-container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/img/logo_sgds.png" alt="" />
            </a>
            <div class="navbar-burger burger" data-target="mainnav-4">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainnav-4" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item is-hidden-desktop">
                    <form>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-fullwidth" id="nav-4-search-mobile" type="text"
                                    placeholder="{{ site.search_placeholder }}" name="nav-4-search-mobile" />
                            </div>
                        </div>
                    </form>
                    <hr class="is-marginless margin--top--sm" />
                </div>
                <a class="navbar-item is-uppercase is-tab">
                    Who we are
                </a>
            </div>
        </div>
        <div class="navbar-end is-hidden-touch">
            <div class="navbar-item">
                <button class="sgds-button is-white is-large search-toggle" data-target="searchbar-1">
                    <span class="sgds-icon sgds-icon-search"></span>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="sgds-container is-fluid is-hidden-touch is-marginless hide" id="searchbar-1">
    <div class="row">
        <div class="col">
            <hr class="margin--bottom--sm" />
            <form>
                <div class="field has-addons padding--sm">
                    <div class="control has-icons-left is-expanded padding--bottom--sm">
                        <input class="input is-fullwidth is-borderless is-shadowless" id="nav-4-search" type="text"
                            placeholder="{{ site.search_placeholder }}" name="nav-4-search" autocomplete="off" />
                        <span class="icon is-left">
                            <i class="search-bar-icon sgds-icon sgds-icon-search is-size-7"></i>
                        </span>
                    </div>
                    <div class="control">
                        <button type="submit"
                            class="sgds-button is-primary has-text-white padding--left padding--right">
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
            {%- highlight html -%}
            <nav class="navbar" role="navigation">
                <div class="sgds-container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="/assets/img/logo_sgds.png" alt="" />
                        </a>
                        <div class="navbar-burger burger" data-target="mainnav-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="mainnav-4" class="navbar-menu">
                        <div class="navbar-start">
                            <div class="navbar-item is-hidden-desktop">
                                <form>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input is-fullwidth" id="nav-4-search-mobile" type="text"
                                                placeholder="{{ site.search_placeholder }}"
                                                name="nav-4-search-mobile" />
                                        </div>
                                    </div>
                                </form>
                                <hr class="is-marginless margin--top--sm" />
                            </div>
                            <a class="navbar-item is-uppercase is-tab">
                                Who we are
                            </a>
                        </div>
                    </div>
                    <div class="navbar-end is-hidden-touch">
                        <div class="navbar-item">
                            <button class="sgds-button is-white is-large search-toggle" data-target="searchbar-1">
                                <span class="sgds-icon sgds-icon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="sgds-container is-fluid is-hidden-touch is-marginless hide" id="searchbar-1">
                <div class="row">
                    <div class="col">
                        <hr class="margin--bottom--sm" />
                        <form>
                            <div class="field has-addons padding--sm">
                                <div class="control has-icons-left is-expanded padding--bottom--sm">
                                    <input class="input is-fullwidth is-borderless is-shadowless" id="nav-4-search"
                                        type="text" placeholder="{{ site.search_placeholder }}" name="nav-4-search"
                                        autocomplete="off" />
                                    <span class="icon is-left">
                                        <i class="search-bar-icon sgds-icon sgds-icon-search is-size-7"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <button type="submit"
                                        class="sgds-button is-primary has-text-white padding--left padding--right">
                                        SEARCH
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {%- endhighlight -%}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target=".highlight3">
                Copy Snippet
            </button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<!-- Main Nav 5 -->

<p>Add <code>.has-item-max-width</code> to  <code>.navbar-start</code>class to constrain navbar-item width for longer text.</p>

<nav class="navbar" role="navigation">
    <div class="sgds-container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/img/logo_sgds.png" alt="" />
            </a>
            <div class="navbar-burger burger" data-target="mainnav-5">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainnav-5" class="navbar-menu">
            <div class="navbar-start has-item-max-width">
                <div class="navbar-item is-hidden-desktop">
                    <form>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-fullwidth" id="nav-4-search-mobile" type="text"
                                    placeholder="{{ site.search_placeholder }}" name="nav-4-search-mobile" />
                            </div>
                        </div>
                    </form>
                    <hr class="is-marginless margin--top--sm" />
                </div>
                <a class="navbar-item is-uppercase is-tab">
                    Lorem ipsum dolor sit
                </a>
            </div>
        </div>
        <div class="navbar-end is-hidden-touch">
            <div class="navbar-item">
                <button class="sgds-button is-white is-large search-toggle" data-target="searchbar-1">
                    <span class="sgds-icon sgds-icon-search"></span>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="sgds-container is-fluid is-hidden-touch is-marginless hide" id="searchbar-1">
    <div class="row">
        <div class="col">
            <hr class="margin--bottom--sm" />
            <form>
                <div class="field has-addons padding--sm">
                    <div class="control has-icons-left is-expanded padding--bottom--sm">
                        <input class="input is-fullwidth is-borderless is-shadowless" id="nav-4-search" type="text"
                            placeholder="{{ site.search_placeholder }}" name="nav-4-search" autocomplete="off" />
                        <span class="icon is-left">
                            <i class="search-bar-icon sgds-icon sgds-icon-search is-size-7"></i>
                        </span>
                    </div>
                    <div class="control">
                        <button type="submit"
                            class="sgds-button is-primary has-text-white padding--left padding--right">
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
            {%- highlight html -%}
            <nav class="navbar" role="navigation">
                <div class="sgds-container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="/assets/img/logo_sgds.png" alt="" />
                        </a>
                        <div class="navbar-burger burger" data-target="mainnav-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div id="mainnav-5" class="navbar-menu">
                        <!-- Add .has-item-max-width to .navbar-start class to constrain navbar-item width for longer text. -->
                        <div class="navbar-start has-item-max-width">
                            <div class="navbar-item is-hidden-desktop">
                                <form>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input is-fullwidth" id="nav-4-search-mobile" type="text"
                                                placeholder="{{ site.search_placeholder }}"
                                                name="nav-4-search-mobile" />
                                        </div>
                                    </div>
                                </form>
                                <hr class="is-marginless margin--top--sm" />
                            </div>
                            <a class="navbar-item is-uppercase is-tab">
                                    Lorem ipsum dolor sit
                            </a>
                        </div>
                    </div>
                    <div class="navbar-end is-hidden-touch">
                        <div class="navbar-item">
                            <button class="sgds-button is-white is-large search-toggle" data-target="searchbar-1">
                                <span class="sgds-icon sgds-icon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="sgds-container is-fluid is-hidden-touch is-marginless hide" id="searchbar-1">
                <div class="row">
                    <div class="col">
                        <hr class="margin--bottom--sm" />
                        <form>
                            <div class="field has-addons padding--sm">
                                <div class="control has-icons-left is-expanded padding--bottom--sm">
                                    <input class="input is-fullwidth is-borderless is-shadowless" id="nav-4-search"
                                        type="text" placeholder="{{ site.search_placeholder }}" name="nav-4-search"
                                        autocomplete="off" />
                                    <span class="icon is-left">
                                        <i class="search-bar-icon sgds-icon sgds-icon-search is-size-7"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <button type="submit"
                                        class="sgds-button is-primary has-text-white padding--left padding--right">
                                        SEARCH
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {%- endhighlight -%}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target=".highlight3">
                Copy Snippet
            </button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg" />

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Main navs should:</p>
<ul>
    <li>Be positioned below the masthead of every page</li>
    <li>Contain the service's name and logo</li>
    <li>Have the logo hyperlinked to the service's homepage</li>
    <li>Have the search function accessible on the right side</li>
</ul>

<hr class="margin--bottom--lg margin--top--lg" />

{%- include sgds-feedback.html -%}