---
title: Side Nav
subtitle: Subtitle
layout: layout-docs
category: Standard
icon: sidenav
breadcrumb: General
js: true
---
<!--TODO remove lvl 3-->
<!--TODO showcase lvl 1 & 2-->
<!--TODO add guidelines for lvl 2 -->

<h4 class="has-text-primary">Side nav is a standard component that all '.gov.sg'
            websites must adopt for every inner page that has second or more levels of navigation items</h4>
<hr class="margin--bottom--lg margin--top--lg">
<!-- Side Nav 1 -->


<p>Basic side navigation to support level 2 navigation.</p>

<div class="row">
    <div class="col is-3">
        <aside class="sgds-menu">
            <ul class="sgds-menu-list">
                <li><a class="is-active" href="#!">Level 2A</a></li>
                <li><a href="#!">Level 2B</a></li>
                <li><a href="#!">Level 2C</a></li>
            </ul>
        </aside>
    </div>
</div>


<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
            {%- highlight html -%}
<aside class="sgds-menu">
    <ul class="sgds-menu-list">
        <li><a class="is-active" href="#!">Level 2A</a></li>
        <li><a href="#!">Level 2B</a></li>
        <li><a href="#!">Level 2C</a></li>
    </ul>
</aside>
            {%- endhighlight -%}
            <button class="sgds-button clipboard-btn is-primary is-outlined" data-clipboard-target='.highlight0'>Copy
                Snippet</button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">

<!-- Side Nav 2 -->


        <!-- <p>Advanced side nav to support level 3 navigation, please ensure you have included <code>jquery.sticky-sidebar.js</code> for it to work.</p> -->
        <p>Level 2 navigation dropdowns that show/hide level 3 navigation links <span class="sgds-tag is-rounded margin--left--sm">JS</span></p>

<div class="row">
    <div class="col is-3">
        <aside class="sgds-menu">
            <ul class="sgds-menu-list">
                <li class="second-level-nav">
                    <a class="second-level-nav-header is-active">
                        Level 2A
                        <i class="sgds-icon sgds-icon-chevron-up" aria-hidden="true"></i>
                    </a>
                </li>
                <div class="second-level-nav-div">
                    <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
                    <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
                    <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
                </div>
                <li><a href="#!">Level 2B</a></li>
                <li class="second-level-nav">
                    <a class="second-level-nav-header">
                        Level 2C
                        <i class="sgds-icon sgds-icon-chevron-up" aria-hidden="true"></i>
                    </a>
                </li>
                <div class="second-level-nav-div">
                    <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
                    <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
                    <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
                </div>
            </ul>
        </aside>
    </div>
</div>

<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
            {%- highlight html -%}
<aside class="sgds-menu">
    <ul class="sgds-menu-list">
        <li class="second-level-nav">
            <a class="second-level-nav-header is-active">
                Level 2A
                <i class="sgds-icon sgds-icon-chevron-up" aria-hidden="true"></i>
            </a>
        </li>
        <div class="second-level-nav-div">
            <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
            <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
            <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
        </div>
        <li><a href="#!">Level 2B</a></li>
        <li class="second-level-nav">
            <a class="second-level-nav-header">
                Level 2C
                <i class="sgds-icon sgds-icon-chevron-up" aria-hidden="true"></i>
            </a>
        </li>
        <div class="second-level-nav-div">
            <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
            <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
            <li><a class="second-level-nav-item" href="#!">Level 3 item</a></li>
        </div>
    </ul>
</aside>
            {%- endhighlight -%}
            <button
                class="sgds-button clipboard-btn is-primary is-outlined"
                data-clipboard-target='.highlight1'>
                Copy Snippet
            </button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">


<p>
    Sticky sidenav that stays on the page while scrolling through main content, such as the one on the left of this page.
    <span class="sgds-tag is-rounded margin--left--sm">JS</span>
</p>


<div class="sgds-accordion-container margin--top--lg">
    <div class="sgds-accordion-set">
        <a class="sgds-accordion-header">
            Show code snippet <i class="sgds-icon sgds-icon-chevron-down"></i>
        </a>
        <div class="sgds-accordion-body">
    {%- highlight html -%}
<div class="sidenav-container">
    <div class="sidenav" data-topspacing="140" data-bottomspacing="40">
        <aside class="sgds-menu sidebar__inner">
            <ul class="sgds-menu-list">
                <li><a class="is-active" href="#!">Level 2A</a></li>
                <li><a href="#!">Level 2B</a></li>
                <li><a href="#!">Level 2C</a></li>
            </ul>
        </aside>
    </div>
</div>
    {%- endhighlight -%}
        <button
            class="sgds-button clipboard-btn is-primary is-outlined" 
            data-clipboard-target='.highlight2'>
            Copy Snippet
        </button>
        </div>
    </div>
</div>

<hr class="margin--bottom--lg margin--top--lg">

<h5 class="has-text-weight-semibold margin--bottom">Guidelines</h5>
<p>Side nav should:</p>
<ul>
    <li>Be positioned on the left of every inner page in a digital service</li>
    <li>Be hidden when used on mobile devices</li>
</ul>


<hr class="margin--bottom--lg margin--top--lg">

{%- include sgds-feedback.html -%}
