---
title: Components Overview
layout: layout-sidenav
description: "Component reference is helpful for you to implement layouts, elements and components, using our CSS class
and modifiers. Each page provides you with comprehensive usage instructions, examples and guidelines.<br> <br>Our design
system is designed to
integrate with a variety of frameworks and third-party libraries, offering flexibility
and compatibility to suit diverse project requirements."
permalink: /components/
overview: true
pageCategory: components
hasAlert: true
implementations:
    - name: "HTML & CSS"
      imageName: "html-css"
      href: "/get-started/develop/html-css"
      target: "_self"
    - name: "React"
      imageName: "react"
      href: "https://ut.react.designsystem.tech.gov.sg"
      target: "_blank"
    - name: "Web Component"
      "imageName": "webcomponent"
      href: "https://ut.webcomponent.designsystem.tech.gov.sg"
      target: "_blank"
    - name: "SASS"
      imageName: "sass"
      href: "/get-started/develop/sass"
      target: "_self"
---

{% include page-overview.html %}