.page-component{
    .header-component{
        .header-component-description{
            width: 75ch;
            @include media-breakpoint-down(lg){
                width: auto;
            }
        }
        .component-source-grid{
            display: flex;
            gap: 2rem;
            @include media-breakpoint-down(lg){
                display: block;
                div + div{
                    margin-top: 0.5rem;
                }
            }
        }
    }
}