.offcanvas{
    &-header{
        padding: 2.3rem 2.5rem 1rem 1rem;
    }

    &-body{
        padding:0 0 1.5rem;
        .list-group{
            border-radius: 0;
        }
        .sgds.sidenav{
            li.sidenav-item{
                .sgds.btn{
                    padding-right: 2.5rem;
                }
            }
        }
    }
}