.page-component-overview{
    article{
        .page-component-item-wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(18.75rem,1fr));
            gap: 2rem;
        }
        + article{
            margin-top: 2rem;
        }
    }   
}