.wrapper{
    gap: 2rem;
    &.sgds-hero{
        height: 65vh;
        grid-template-columns: 40% 60%;
        align-items: center;
        .sgds-hero-content{
            .image-stack.image-grid{
                height: 32.5rem;
                img{
                    filter: drop-shadow(0 0 0.9rem var(--sgds-gray-200));
                }
            }
        }
        
    }
    &.home-get-started{
        grid-template-columns: 30% 1fr;
        gap:3rem;
        .home-get-started-content{
            position: sticky;
            top: 110px;
            align-self: start;
        }
        .home-get-started-header{
            margin-bottom: 2rem;
        }
        .home-get-started-content-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 3rem;
            .grid{
                display:grid;
                grid-template-rows: repeat(2,1fr);
                gap: 3rem;
                justify-content: stretch;
                &.left{
                    padding-bottom: 3rem;
                }
                &.right{
                    padding-top: 3rem;
                }

                .card{
                    background: hsl(228, 38%, 97%);
                    border: none;
                    &-eyebrow{
                        color: var(--sgds-primary);
                        margin-bottom: 4px;
                        font-weight: bold;
                    }
                    &-body{
                        padding: 30px 50px;
                        color: var(--sgds-gray-600);
                        a{
                            color: var(--sgds-primary);
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.image-stack{
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    
    img{
        object-fit: fill;
        &:first-child{
            grid-row: 1;
            grid-column: 1/span 4;
            z-index: 1;
            align-self: flex-end;
        }
        &:last-child{
            grid-row: 1;
            grid-column: 2/-1;
        }
    }
}
.bg-primary-200{
    background-color: hsl(228, 38%, 97%);
}
.part-of-change{
    grid-template-columns: 0.55fr 1fr;
    align-items: center;
    gap: 3rem;
    &:nth-child(odd){
        grid-template-columns: 1fr 0.55fr;
    }
    + .part-of-change{
        margin-top: 8rem;
    }
}

.hero-bg{
    background: url('../img/landing-hero/bg.svg');
    background-repeat: no-repeat;
    background-position: -40rem top;
    @media screen and (min-width: 1801px){
        background-position: -20rem top;
    }
    top: 0;
    width: 1896px;
    height: 675px;
    z-index: -1;
}