<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{base}}/css/sgds.css" />
    <link rel="stylesheet" href="{{base}}/assets/custom-css/admin-template/custom.css" />

    <title>Title : {{ page.title }}</title>
</head>
