<div class="sgds-masthead">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col has-text-centered-touch">
                <a href="https://www.gov.sg" target="_blank">
                    <span class="sgds-icon sgds-icon-sg-crest"></span>
                    <span class="is-text">A Singapore Government Agency Website</span>
                </a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar">
    <div class="sgds-container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/img/logo_sgds.png" alt="">
            </a>
            <div class="navbar-burger burger" data-target="mainnav-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainnav-2" class="navbar-menu">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-uppercase is-active">
                    Who we are
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item is-active">
                        Sub Link 1
                    </a>
                    <a class="navbar-item">
                        Sub Link 2
                    </a>
                    <a class="navbar-item">
                        Sub Link 3
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-uppercase">
                    Link 2
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        External Link 1 <i class="sgds-icon sgds-icon-external"></i>
                    </a>
                    <a class="navbar-item">
                        External Link 2 <i class="sgds-icon sgds-icon-external"></i>
                    </a>
                    <a class="navbar-item">
                        External Link 3 <i class="sgds-icon sgds-icon-external"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-item is-uppercase is-tab">
                External Link 3
            </a>
        </div>
    </div>
</nav>
