<div class="sgds-masthead">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col has-text-centered-touch">
                <a href="https://www.gov.sg" target="_blank">
                    <span class="sgds-icon sgds-icon-sg-crest"></span>
                    <span class="is-text">A Singapore Government Agency Website</span>
                </a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar is-transparent">
    <div class="sgds-container  is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item">
                <h1><b>Logo</b></h1>
            </a>
        </div>
    </div>
</nav>
