<div class="sidenav leftpanel">
    <!--side-navigation-->
    <div class="has-side-nav">
        <div class="sidenav" data-topspacing="140" data-bottomspacing="40">
            <aside class="sgds-menu sidebar__inner">
                <div class="sgds-menu-list">
                    <li>
                        <a href="/admin-template/overview/">
                            <span class="is-block">
<!--                            <i class="sgds-icon sgds-icon-cog" aria-hidden="true"></i>-->
                            Overview
                            </span>
                        </a>
                    </li>
                    <li class="second-level-nav">
                        <a class="second-level-nav-header">
                            <span class="is-block">
<!--                                <i class="sgds-icon sgds-icon-cog" aria-hidden="true"></i>-->
                                Dashboard
                            </span>
                            <i class="sgds-icon sgds-icon-chevron-up" aria-hidden="true"></i>
                        </a>
                    </li>
                    <div class="second-level-nav-div">
                        <li><a class="second-level-nav-item padding--top--none" href="/admin-template/health-status/">Health Status</a></li>
                        <li><a class="second-level-nav-item padding--top--none" href="#!">Dropdowns</a></li>
                        <li><a class="second-level-nav-item padding--top--none" href="#!">Dropdowns</a></li>
                    </div>
                    <li>
                        <a href="/admin-template/register/">
                            <span class="is-block">
<!--                                <i class="sgds-icon sgds-icon-cog" aria-hidden="true"></i>-->
                                Register
                            </span>
                        </a>
                    </li>
                    <li class="second-level-nav">
                        <a class="second-level-nav-header">
                            <span class="is-block">
<!--                                <i class="sgds-icon sgds-icon-person" aria-hidden="true"></i>-->
                                Profile
                            </span>
                            <i class="sgds-icon sgds-icon-chevron-up" aria-hidden="true"></i>
                        </a>
                    </li>
                    <div class="second-level-nav-div">
                        <li><a class="second-level-nav-item padding--top--none" href="/admin-template/consumer-info/">Customer Info</a></li>
                        <li><a class="second-level-nav-item padding--top--none" href="/admin-template/profile/">Edit Profile</a></li>

                    </div>
                    <li><a href="/admin-template/orders/">Orders</a></li>
                    <li><a href="/admin-template/products/">Products</a></li>
                </div>
            </aside>
        </div>
    </div>
    <!--    <ul class="sgds-side-navigation">-->
    <!--        <li class="header">Template Examples</li>-->
    <!--        <li>-->
    <!--            <a href="" class="has-submenu">-->
    <!--                <span>-->
    <!--                    <i class="sgds-icon sgds-icon-folder"></i> Multilevel Menu-->
    <!--                </span>-->
    <!--                <i class="sgds-icon sgds-icon-chevron-down is-pulled-right"></i>-->
    <!--            </a>-->
    <!--            <ul class="submenu">-->
    <!--                <li>-->
    <!--                    <a href="" class="has-submenu">-->
    <!--                        <span>-->
    <!--                            Level 2-->
    <!--                        </span>-->
    <!--                        <i class="sgds-icon sgds-icon-chevron-down is-pulled-right"></i>-->

    <!--                    </a>-->
    <!--                    <ul class="submenu">-->
    <!--                        <li><a href="#">Level 3</a></li>-->
    <!--                        <li><a href="#">Level 3</a></li>-->
    <!--                        <li><a href="#">Level 3</a></li>-->
    <!--                        <li><a href="#">Level 3</a></li>-->
    <!--                        <li><a href="#">Level 3</a></li>-->
    <!--                        <li><a href="#">Level 3</a></li>-->
    <!--                        <li><a href="#">Level 3</a></li>-->
    <!--                    </ul>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <a href="/admin-template/register/">-->
    <!--                <span>-->
    <!--                    <i class="sgds-icon sgds-icon-folder"></i> Register-->
    <!--                </span>-->
    <!--            </a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <a href="">-->
    <!--                <span>-->
    <!--                    <i class="sgds-icon sgds-icon-folder"></i> Dashboard-->
    <!--                </span>-->
    <!--                <i class="sgds-icon sgds-icon-chevron-down is-pulled-right"></i>-->

    <!--            </a>-->
    <!--            <ul class="submenu">-->
    <!--                <li><a href="/admin-template/overview/">Overview</a></li>-->
    <!--                <li><a href="/admin-template/health-status/">Health Status</a></li>-->
    <!--            </ul>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <a href="">-->
    <!--                <span>-->
    <!--                    <i class="sgds-icon sgds-icon-folder"></i> Profile-->
    <!--                </span>-->
    <!--                <i class="sgds-icon sgds-icon-chevron-down is-pulled-right"></i>-->

    <!--            </a>-->
    <!--            <ul class="submenu">-->
    <!--                <li><a href="/admin-template/consumer-info/">Customer Info</a></li>-->
    <!--                <li><a href="/admin-template/profile/">Edit Profile</a></li>-->
    <!--            </ul>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <a href="">-->
    <!--                <span>-->
    <!--                    <i class="sgds-icon sgds-icon-folder"></i> Listing-->
    <!--                </span>-->
    <!--                <i class="sgds-icon sgds-icon-chevron-down is-pulled-right"></i>-->

    <!--            </a>-->
    <!--            <ul class="submenu">-->
    <!--                <li><a href="/admin-template/orders/">Orders</a></li>-->
    <!--                <li><a href="/admin-template/products/">Products</a></li>-->
    <!--            </ul>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <a href="">-->
    <!--                <span>-->
    <!--                    <i class="sgds-icon sgds-icon-folder"></i> Extra Components-->
    <!--                </span>-->
    <!--                <i class="sgds-icon sgds-icon-chevron-down is-pulled-right"></i>-->

    <!--            </a>-->
    <!--            <ul class="submenu">-->
    <!--                <li><a href="/admin-template/calender/">Calender</a></li>-->
    <!--                <li><a href="/admin-template/forms/">Form and checkbox</a></li>-->
    <!--            </ul>-->
    <!--        </li>-->
    <!--        <li class="header">LABELS</li>-->
    <!--        <li><a href="/admin-template/faqs/"><i class="fa fa-circle-o text-red"></i> <span>FAQs</span></a></li>-->
    <!--    </ul>-->
</div>
