---
title: Buttons
subtitle: The button is an essential element of any design. It's meant to look and behave as an interactive element of your page.
layout: pages
permalink: /informational/buttons/
tags: [Dropdowns, Icons]
category: Informational
breadcrumb: Buttons
---

<div class="row">
    <div class="col is-4">
        {% include informational/buttons/button-default.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Default Buttons</b></h5>
        </div>
        {% highlight html %}{% include informational/buttons/button-default.html %}{% endhighlight %}
        </figure>
    </div>
</div>
<hr>
<div class="row">
    <div class="col is-4">
        {% include informational/buttons/button-outline.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Outline Buttons</b></h5>
        </div>
        {% highlight html %}{% include informational/buttons/button-outline.html %}{% endhighlight %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col is-4">
        {% include informational/buttons/button-with-icon.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Buttons with icon</b></h5>
        </div>
        {% highlight html %}{% include informational/buttons/button-with-icon.html %}{% endhighlight %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col is-4">
        {% include informational/buttons/button-is-rounded.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Rounded buttons</b></h5>
        </div>
        {% highlight html %}{% include informational/buttons/button-is-rounded.html %}{% endhighlight %}
        </figure>
    </div>
</div>
<hr>
<div class="row">
    <div class="col is-4">
        {% include informational/buttons/button-disabled.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Disabled buttons</b></h5>
        </div>
        {% highlight html %}{% include informational/buttons/button-disabled.html %}{% endhighlight %}
        </figure>
    </div>
</div>


