---
title: Dropdowns
subtitle: A drop-down menu is a list of items that appear whenever a button is clicked or hovered. This is a graphical approach presented to users from which they can choose a value from the list presented.
layout: pages
permalink: /informational/dropdowns/
tags: [Buttons, Icons]
category: Informational
---

<div class="row">
    <div class="col is-4">
        {% include informational/dropdowns/dropdown-toggle.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Toggle</b></h5>
            <p>Click on the dropdown button to toggle menu</p>
        </div>
        {% highlight html %}{% include informational/dropdowns/dropdown-toggle.html %}{% endhighlight %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col is-4">
        {% include informational/dropdowns/dropdown-hoverable.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Hoverable</b></h5>
            <p>Hover on the dropdown button to toggle menu</p>
        </div>
        {% highlight html %}{% include informational/dropdowns/dropdown-hoverable.html %}{% endhighlight %}
    </div>

</div>


