---
title: Tabs
subtitle: Simple responsive horizontal navigation tabs, with different styles
layout: pages
permalink: /informational/tabs/
tags: [Icons, JS]
category: Informational
---

<div class="row">
    <div class="col">
        {% include informational/tabs/tabs-default.html %}
    </div>
    <div class="col">
        <div class="content">
            <h5><b>Default Tabs</b></h5>
        </div>
        {% highlight html %}{% include informational/tabs/tabs-default.html %}{% endhighlight %}
    </div>
</div>


