.sgds{
    &.navbar{
        background-color: rgba(255,255,255, 0.8);

        border-bottom: 1px solid rgba(var(--sgds-body-color-rgb),0.2);
        .navbar-nav{
            gap:1rem;
        }

        .navbar-mobile-widget{
            display: flex;
            height: 100%;
            gap: 1rem;
        }
        .navbar-toggler{
            &:focus{
                box-shadow: none;
            }
        }
    }

}