.sgds{
    &.navbar{
        background-color: rgba(255,255,255, 0.8);
        .navbar-nav{
            gap:1rem;
        }

        .navbar-mobile-widget{
            display: flex;
            height: 100%;
            gap: 1rem;
        }
    }

}