aside{
     
     &:not(.toc-container){

    }
    .sgds.sidenav{
        padding: 1rem;
        background-color: var(--sgds-gray-100);
       
        a{
            text-decoration: none;
            color: var(--sgds-gray-500);
            &:hover{
                color: var(--sgds-gray-700);
            }
        }

        .sidenav-item + .sidenav-item{
            margin-top: 0;
        }

    }
}