aside{
    .sidenav{
        padding: 1rem;
        background-color: var(--sgds-gray-100);
        @extend %aside-sticky;
        a{
            text-decoration: none;
            color: var(--sgds-gray-500);
            &:hover{
                color: var(--sgds-gray-700);
            }
        }
    }
}