---
title: Button
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/interactive/button/
category: Components/Interactive
breadcrumb: Components
---


<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>Description</b></h5>
            <p>The button is an essential element of any design. It's meant to look and behave as an interactive element of your page.</p>
            <a class="sgds-button is-small is-primary">small</a>
            <a class="sgds-button is-info">default</a>
            <a class="sgds-button is-medium is-danger">medium</a>
            <a class="sgds-button is-large is-black">large</a>
        </div>
        <hr>
        <div class="content">
            <p>Use outlined buttons by applying the <code>.is-outlined</code> modifier.</p>
            <a class="sgds-button is-small is-outlined is-primary">small</a>
            <a class="sgds-button is-outlined is-primary">default</a>
            <a class="sgds-button is-medium is-outlined is-primary">medium</a>
            <a class="sgds-button is-large is-outlined is-primary">large</a>
        </div>
        <hr>
        <div class="content">
            <p>Use rounded buttons by applying the <code>.is-rounded</code> modifier.</p>
            <a class="sgds-button is-small is-primary is-rounded">Small</a>
            <a class="sgds-button is-info is-rounded">Normal</a>
            <a class="sgds-button is-medium is-danger is-rounded">Medium</a>
            <a class="sgds-button is-large is-black is-rounded">Large</a>
        </div>
        <hr>
        <div class="content">
            <p>Use disabled buttons by applying the <code>disabled</code> modifier.</p>
            <a class="sgds-button is-small is-primary" disabled>Small</a>
            <a class="sgds-button is-info" disabled>Normal</a>
            <a class="sgds-button is-medium is-danger" disabled>Medium</a>
            <a class="sgds-button is-large is-black" disabled>Large</a>
        </div>
        <hr>
        <div class="content">
            <p>You can insert icons from our library on any part of a button.</p>
            <a class="sgds-button">
                <span>Look right</span>
                <span class="icon"><i class="sgds-icon sgds-icon-angle-right"></i></span>
            </a>
            <a class="sgds-button">
                <span class="icon"><i class="sgds-icon sgds-icon-twitter"></i></span>
                <span>Twitter</span>
            </a>
            <a class="sgds-button">
                <span class="icon"><i class="sgds-icon sgds-icon-facebook"></i></span>
                <span>Facebook</span>
            </a>
            <a class="sgds-button">
                <span class="icon"><i class="sgds-icon sgds-icon-download"></i></span>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>How to Use</b></h5>
            <p>Simply copy and paste this code snippet to any part of your project.</p>
        </div>
{%- highlight html -%}
<a class="sgds-button">
<span>Look right</span>
<span class="icon"><i class="sgds-icon sgds-icon-angle-right"></i></span>
</a>
{%- endhighlight -%}
    </div>
</div>