---
title: Accordion
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/interactive/accordion/
category: Components/Interactive
breadcrumb: Components
---
<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>Description</b></h5>
            <p>Accordion is a great way to show lenghty content in categories.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <!--<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">-->
        <!--<div class="col is-expanded is-fullwidth is-paddingless">-->
        <!--<h4 class="has-text-grey-dark is-marginless"><b>descsdcsdc-->
        <!--</b></h4>-->
        <!--</div>-->
        <!--<span class="bp-icon bp-icon-chevron-down is-size-5 bp-accordion-button"></span>-->
        <!--</div>-->
        <!--&lt;!&ndash; Accordion body &ndash;&gt;-->
        <!--<div id="accordion-body-0" class="col padding bp-accordion-body">-->
        <!--yest-->
        <!--<br />-->
        <!--</div>-->
        <!--<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">-->
        <!--<div class="col is-expanded is-fullwidth is-paddingless">-->
        <!--<h4 class="has-text-grey-dark is-marginless"><b>descsdcsdc-->
        <!--</b></h4>-->
        <!--</div>-->
        <!--<span class="bp-icon bp-icon-chevron-down is-size-5 bp-accordion-button"></span>-->
        <!--</div>-->
        <!--&lt;!&ndash; Accordion body &ndash;&gt;-->
        <!--<div id="accordion-body-1" class="col padding bp-accordion-body">-->
        <!--yest-->
        <!--<br />-->
        <!--</div>-->

        <div class="bp-accordion-container">
            <div class="bp-accordion-set">
                <a class="bp-accordion-header active">
                    Hey
                    <i class="bp-icon bp-icon-chevron-up"></i>
                </a>
                <div class="bp-accordion-body is-open">
                    <div class="row">
                        <div class="col">
                            <img src="https://placehold.it/1000x300" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna.</p>
                        </div>
                        <div class="col">
                            <img src="https://placehold.it/1000x300" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna.</p>
                        </div>
                        <div class="col">
                            <img src="https://placehold.it/1000x300" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bp-accordion-set">
                <a class="bp-accordion-header">
                    Phasellus
                    <i class="bp-icon bp-icon-chevron-down"></i>
                </a>
                <div class="bp-accordion-body">
                    <p> Aliquam cursus vitae nulla non rhoncus. Nunc condimentum erat nec dictum tempus. Suspendisse
                        aliquam erat hendrerit vehicula vestibulum.</p>
                </div>
            </div>
            <div class="bp-accordion-set">
                <a class="bp-accordion-header">
                    Praesent
                    <i class="bp-icon bp-icon-chevron-down"></i>
                </a>
                <div class="bp-accordion-body">
                    <p>Pellentesque aliquam ligula libero, vitae imperdiet diam porta vitae. sed do eiusmod tempor
                        incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="bp-accordion-set">
                <a class="bp-accordion-header">
                    Curabitur
                    <i class="bp-icon bp-icon-chevron-down"></i>
                </a>
                <div class="bp-accordion-body">
                    <p> Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam justo, vitae luctus odio
                        pretium scelerisque. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>How to Use</b></h5>
            <p>Simply copy and paste this code snippet to any part of your project.</p>

        </div>
{%- highlight html -%}
<div class="bp-accordion-container">
    <div class="bp-accordion-set">
        <a class="bp-accordion-header active">
            Hey
            <i class="bp-icon bp-icon-chevron-down"></i>
        </a>
        <div class="bp-accordion-body is-open">
            <div class="row">
                <div class="col">
                    <img src="https://placehold.it/1000x300" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna.</p>
                </div>
                <div class="col">
                    <img src="https://placehold.it/1000x300" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna.</p>
                </div>
                <div class="col">
                    <img src="https://placehold.it/1000x300" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="bp-accordion-set">
        <a class="bp-accordion-header">
            Phasellus
            <i class="bp-icon bp-icon-chevron-down"></i>
        </a>
        <div class="bp-accordion-body">
            <p> Aliquam cursus vitae nulla non rhoncus. Nunc condimentum erat nec dictum tempus. Suspendisse
                aliquam erat hendrerit vehicula vestibulum.</p>
        </div>
    </div>
    <div class="bp-accordion-set">
        <a class="bp-accordion-header">
            Praesent
            <i class="bp-icon bp-icon-chevron-down"></i>
        </a>
        <div class="bp-accordion-body">
            <p>Pellentesque aliquam ligula libero, vitae imperdiet diam porta vitae. sed do eiusmod tempor
                incididunt ut labore et dolore magna.</p>
        </div>
    </div>
    <div class="bp-accordion-set">
        <a class="bp-accordion-header">
            Curabitur
            <i class="bp-icon bp-icon-chevron-down"></i>
        </a>
        <div class="bp-accordion-body">
            <p> Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam justo, vitae luctus odio
                pretium scelerisque. </p>
        </div>
    </div>
</div>
{%- endhighlight -%}
    </div>
</div>