---
title: Dropdown
subtitle: Subtitle
layout: layout-sidenav
permalink: /components/interactive/dropdown/
category: Components/Interactive
breadcrumb: Components
---

<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>Description</b></h5>
            <p>A drop-down menu is a list of items that appear whenever a button is clicked or hovered. This is a graphical approach presented to users from which they can choose a value from the list presented.</p>
            <p>Here is a typical dropdown button.</p>
        </div>
        <div class="sgds-dropdown">
            <div class="sgds-dropdown-trigger">
                <button class="sgds-button" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                    <span>Click me</span>
                    <span class="icon is-small">
                        <span class="sgds-icon sgds-icon-chevron-down"></span>
                    </span>
                </button>
            </div>
            <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                <div class="sgds-dropdown-content">
                    <a href="#" class="sgds-dropdown-item">
                        Dropdown item
                    </a>
                    <a class="sgds-dropdown-item">
                        Other dropdown item
                    </a>
                    <a href="#" class="sgds-dropdown-item is-active">
                        Active dropdown item
                    </a>
                    <a href="#" class="sgds-dropdown-item">
                        Other dropdown item
                    </a>
                    <hr class="sgds-dropdown-divider">
                    <a href="#" class="sgds-dropdown-item">
                        With a divider
                    </a>
                </div>
            </div>
        </div>
        <div class="sgds-dropdown is-hoverable">
            <div class="sgds-dropdown-trigger">
                <button class="sgds-button" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
                    <span>Hover me</span>
                    <span class="icon">
                        <span class="sgds-icon sgds-icon-chevron-down"></span>
                    </span>
                </button>
            </div>
            <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                <div class="sgds-dropdown-content">
                    <a href="#" class="sgds-dropdown-item">
                        Dropdown item
                    </a>
                    <a class="sgds-dropdown-item">
                        Other dropdown item
                    </a>
                    <a href="#" class="sgds-dropdown-item is-active">
                        Active dropdown item
                    </a>
                    <a href="#" class="sgds-dropdown-item">
                        Other dropdown item
                    </a>
                    <hr class="sgds-dropdown-divider">
                    <a href="#" class="sgds-dropdown-item">
                        With a divider
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="content">
            <h5><b>How to Use</b></h5>
            <p>Simply copy and paste this code snippet to any part of your project.</p>
        </div>
{%- highlight html -%}
<div class="sgds-dropdown">
<div class="sgds-dropdown-trigger">
<button class="sgds-button" aria-haspopup="true" aria-controls="sgds-dropdown-menu">
    <span>Click me</span>
    <span class="icon is-small">
        <span class="sgds-icon sgds-icon-chevron-down"></span>
    </span>
</button>
</div>
<div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
<div class="sgds-dropdown-content">
    <a href="#" class="sgds-dropdown-item">
    Dropdown item
    </a>
    <a class="sgds-dropdown-item">
    Other dropdown item
    </a>
    <a href="#" class="sgds-dropdown-item is-active">
    Active dropdown item
    </a>
    <a href="#" class="sgds-dropdown-item">
    Other dropdown item
    </a>
    <hr class="sgds-dropdown-divider">
    <a href="#" class="sgds-dropdown-item">
        With a divider
    </a>
</div>
</div>
</div>
{%- endhighlight -%}
    </div>
</div>
