---
title: Layouts
subtitle: This category focus on sections, rows and columns. Sections allow you to create dynamic, structured layouts with ease. Using columns, you can creatively arrange any of our modules to create beautiful pages.
layout: pages
permalink: /structural/layouts/
tags: [Columns,Column,Container]
category: Structural
---

{% include structural/layouts/layouts-basic.html %}
<hr>
{% include structural/layouts/layouts-2-sections.html %}
<hr>
{% include structural/layouts/layouts-2-rows.html %}

