.bp-example {
  width: 100%;
  margin: 0.75rem;
  cursor: pointer;
  padding: 0.3rem;
  border: 1px solid #ffdd57; }
@media screen and (max-width: 768px) {
  .bp-example {
    margin: 0; } }
.bp-example .bp-section {
  border: 1px dotted #209cee;
  padding: auto;
  background-color: rgba(32, 156, 238, 0.2);
  position: relative;
  text-align: center; }
.bp-example .bp-section:before {
  content: ".bp-section";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .bp-section.is-small:before {
  content: ".bp-section.is-small" !important; }
.bp-example .bp-section.is-medium:before {
  content: ".bp-section.is-medium" !important; }
.bp-example .bp-section.is-large:before {
  content: ".bp-section.is-large" !important; }
.bp-example .bp-container {
  width: inherit;
  border: 1px dotted #209cee;
  padding: 2.5rem;
  background-color: rgba(32, 156, 238, 0.2);
  position: relative;
  text-align: center; }
.bp-example .bp-container:before {
  content: ".bp-container";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .bp-container.is-fluid:before {
  content: ".bp-container.is-fluid"; }
.bp-example .row {
  border: 1px dotted #209cee;
  padding: 1.5rem;
  background-color: rgba(32, 156, 238, 0.2);
  position: relative;
  text-align: center; }
.bp-example .row:before {
  content: ".row";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .row.has-text-centered {
  text-align: center; }
.bp-example .col {
  border: 1px dotted #209cee;
  padding: 0rem;
  background-color: rgba(32, 156, 238, 0.2);
  position: relative;
  text-align: left;
  color: black;
  text-align: center; }
.bp-example .col:before {
  content: ".col";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-2:before {
  content: ".col.is-2";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-2:before {
  content: ".col.is-6.is-offset-2";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-2:before {
  content: ".col.is-5.is-offset-2";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-2:before {
  content: ".col.is-3.is-offset-2";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3:before {
  content: ".col.is-3";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-3:before {
  content: ".col.is-6.is-offset-3";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-3:before {
  content: ".col.is-5.is-offset-3";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-3:before {
  content: ".col.is-3.is-offset-3";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-4:before {
  content: ".col.is-4";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-4:before {
  content: ".col.is-6.is-offset-4";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-4:before {
  content: ".col.is-5.is-offset-4";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-4:before {
  content: ".col.is-3.is-offset-4";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5:before {
  content: ".col.is-5";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-5:before {
  content: ".col.is-6.is-offset-5";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-5:before {
  content: ".col.is-5.is-offset-5";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-5:before {
  content: ".col.is-3.is-offset-5";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6:before {
  content: ".col.is-6";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-6:before {
  content: ".col.is-6.is-offset-6";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-6:before {
  content: ".col.is-5.is-offset-6";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-6:before {
  content: ".col.is-3.is-offset-6";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-7:before {
  content: ".col.is-7";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-7:before {
  content: ".col.is-6.is-offset-7";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-7:before {
  content: ".col.is-5.is-offset-7";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-7:before {
  content: ".col.is-3.is-offset-7";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-8:before {
  content: ".col.is-8";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-8:before {
  content: ".col.is-6.is-offset-8";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-8:before {
  content: ".col.is-5.is-offset-8";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-8:before {
  content: ".col.is-3.is-offset-8";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-9:before {
  content: ".col.is-9";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-9:before {
  content: ".col.is-6.is-offset-9";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-9:before {
  content: ".col.is-5.is-offset-9";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-9:before {
  content: ".col.is-3.is-offset-9";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-10:before {
  content: ".col.is-10";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-10:before {
  content: ".col.is-6.is-offset-10";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-10:before {
  content: ".col.is-5.is-offset-10";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-10:before {
  content: ".col.is-3.is-offset-10";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-11:before {
  content: ".col.is-11";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-11:before {
  content: ".col.is-6.is-offset-11";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-11:before {
  content: ".col.is-5.is-offset-11";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-11:before {
  content: ".col.is-3.is-offset-11";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-12:before {
  content: ".col.is-12";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-6.is-offset-12:before {
  content: ".col.is-6.is-offset-12";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-5.is-offset-12:before {
  content: ".col.is-5.is-offset-12";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-3.is-offset-12:before {
  content: ".col.is-3.is-offset-12";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.5rem;
  font-size: 0.7rem;
  background: #ffdd57;
  color: black !important; }
.bp-example .col.is-nested {
  padding: 2rem; }
.bp-example.no-styling div, .bp-example.no-styling section {
  background-color: white !important;
  border: 0 !important; }
.bp-example.no-styling div:before, .bp-example.no-styling section:before {
  display: none; }
.bp-example.no-styling section {
  padding: 3rem 1.5rem !important; }