h1{
  font-size:54px!important;
  line-height: 1.1!important;
}

h2{
  font-size:44px!important;
  line-height: 52px!important;
}


h3{
  font-size:32px!important;
  line-height: 40px!important;
}

h4{
  font-size:24px!important;
  line-height: 30px!important;
}

h5{
  font-size:20px!important;
  line-height: 1.5;
}

h6{
  font-size:1rem!important;
  line-height: 1.5!important;
}

p{
  font-size:18px!important;
  line-height: 24px!important;
}



small{
  display: block;
  font-size:14px!important;
}