.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary;
  }
  &-accent1 {
    h2{
      color: $accent2;
    }
    color: white;
    background-color: $accent1;
  }
  &-white {
    background-color: white;
  }
  &-lighter-grey {
    background-color: #f3f3f3;
  }
  &-light{
    background-color: $grey-lighter;
  }
  &-white{
    background-color: white;
  }
  &-hero{
    background: url('../img/home/hero-banner.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-newssection{
    background-color: #F0F4F6;
  }
}