
.bp-hero{
  h1.title,
  h4.subtitle{
    color:white;
  }
  .title{
    font-size:4.5rem!important;
    line-height: 1;
    @include touch() {
      font-size:2.5rem!important;
    }
  }
  &-body{
    @include desktop(){
      height:calc(100vh - 150px - 110px);
      min-height:400px;
      .row{
        height: calc(100vh - 150px - 110px - 50px - 50px);
        min-height:360px;
      }
    }
  }
}