.news-content{
  position:relative;
  margin-left:1rem;
  margin-right:1rem;
  padding:2rem;
  margin-top:-7.5rem;
  background-color: white;
  @include mobile {

  }
  .tag{
    color:$primary;
    margin-bottom:1rem;
    text-transform: uppercase;
  }
  .title{
    font-weight:bold;
    margin-bottom:2rem;
  }
}