.pagination span {
    width: 48px;
    line-height: 48px;
    border: 1px solid #d6d6d6;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    // background-color: #ffffff;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
    vertical-align: middle;
 }