.search-content {
	line-height: 1.5em;
	a {
		text-decoration: underline;
	}
}

.search-content.permalink {
	color: #767676;
}

.right-padding-zero {
	padding-right: 0;
}

.left-padding-zero {
	padding-left: 0;
}