.has-text-primary {
	color: $primary;
}

.has-text-secondary {
	color: $secondary;
}

.has-text-white {
	color: white;
}

.has-text-accent1 {
	color: $accent1;
}

.has-text-accent2 {
	color: $accent2;
}