---
layout: layout-default
---
<section class="sgds-section is-small">
    <div class="sgds-container">
        <div class="row sidenav-container">
            <div class="col is-2 is-hidden-touch">
                <div class="sidenav" data-topspacing="140" data-bottomspacing="40">
                    <div class="sidebar__inner sgds-menu">
                        {% if page.url contains '/docs/' %}
                            {% include sidenav-docs.html %} 
                        {% elsif page.url contains '/patterns/' %}
                            {% include sidenav-patterns.html %}
                        {% else %}
                            {% include sidenav-collection.html %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col is-8 is-12-touch is-offset-1-desktop">
                <div class="content custom-content">
                    {{ content }}          
                </div>
            </div>
        </div>
    </div>
</section>