---
layout: layout-default
---

<section class="bp-section is-small bg-secondary">
	<div class="bp-container is-fluid">
		{% include bp-breadcrumb.html %}
	</div>
	<div class="bp-container is-fluid">
		<div class="row">
			<div class="col is-8 is-offset-2"">
				<h1 class="has-text-white">Search</h1>
			</div>
		</div>
	</div>
	<div class="bp-container is-fluid">
		<form action="/search/" method="get">
			<div class="row">

                <div class="col is-8 is-offset-2">
					<div class="field has-addons">
						<div class="control is-expanded">
							<input class="input  is-medium" type="text" placeholder="What are you looking for?" name="query">
						</div>
						<div class="control">
							<a class="bp-button is-accent1  is-medium" type="submit">
								Search
							</a>
						</div>
					</div>
                </div>
			</div>
		</form>
	</div>
</section>

<section class="bp-section">
    <div class="bp-container is-fluid search-content">
        <div class="row">
            <div class="col is-8 is-offset-2">
                <div class="content">
                	<h4 class="search-results-count" id="search-results-count"></h5><br>
					<h5 class="search-results" id="search-results"></h3>
                </div>
            </div>
        </div>
    </div>
</section>