<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <style data-styles>
        sgds-masthead { visibility:hidden; height: 31px;}
        .hydrated { visibility:inherit; height: auto;}
        </style>
    {% if page.title == 'home' %}
    <div class="position-absolute hero-bg"></div>
    {% endif %}
    <div class="sticky-top">
        {% include masthead.html %}
        {% include navigation.html %}
    </div>
    <main>
        {{content}}
    </main>
    {% include footer.html %}
    <script src="/assets/js/bundle.js"></script>
    <script src="/assets/js/vendor.js"></script>
</body>
</html>