<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% if page.title == 'home' %}
    <div class="position-absolute hero-bg"></div>
    {% endif %}
    <div class="sticky-top">
        {% include masthead.html %}
        {% include navigation.html %}
    </div>
    <main aria-label="Main Content">
        {{content}}
    </main>
    {% include footer.html %}
    {% include off-canvas-menu.html %}
    <script src="/assets/js/bundle.js"></script>
    <script src="/assets/js/vendor.js"></script>
</body>
</html>