<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include bp-masthead.html %}
{% include bp-agencyhead.html %}
{% include main-nav.html %}
<section class="bp-section">
    <div class="bp-container is-fluid">
        <div class="cols">
            <div class="col is-2 is-hidden-mobile is-hidden-tablet-only">
                <aside data-blueprint="menu" data-options="single: true;" class="bp-menu is-dark">
                    {% assign links = site.data.navigation %}
                    {% for link in links %}
                        {% assign class = nil %}
                        {% if page.url contains link.sublink.url %}
                            {% assign class = 'is-active' %}
                        {% endif %}
                        {% if link.title == 'Components' %}
                            {% assign sorted = link.sublinks | sort: 'title' %}
                            {% for item in sorted %}
                            <ul class="bp-menu-list">
                                <li>
                                    {% if page.url contains item.url %}
                                        <a href="{{ site.baseurl }}{{ item.url }}" class="is-active"> {{ item.title }}</a>
                                    {% else %}
                                        <a href="{{ site.baseurl }}{{ item.url }}"> {{ item.title }}</a>
                                    {% endif %}
                                </li>
                            </ul>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </aside>
            </div>
            <div class="col">
                <div class="cols">
                    <div class="col is-7 is-12-mobile">
                        <div class="content">
                            <h3><b>{{page.title}}</b></h3>
                            <p>{{page.subtitle}}</p>
                            <div class="bp-tags">
                                {% for tag in page.tags %}
                                    <span class="bp-tag">{{tag}}</span>
                                    <!--{%if tag == 'JS' %}-->
                                        <!--<span class="bp-tag">{{tag}}</span>-->
                                    <!--{% else %}-->
                                        <!---->
                                    <!--{% endif %}-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {{content}}
            </div>
        </div>
    </div>
</section>
{% include bp-footer.html %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
</html>