<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include bp-masthead.html %}
{% include bp-agencyhead.html %}
{% include main-nav.html %}
<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-2 is-hidden-mobile is-hidden-tablet-only">
                <aside data-blueprint="menu" data-options="single: true;" class="bp-menu">
                    {% assign links = site.data.navigation %}
                    {% for link in links %}
                        {% assign class = nil %}
                        {% if page.url contains link.sublink.url %}
                            {% assign class = 'is-active' %}
                        {% endif %}
                        {% if link.title == 'Components' %}
                            {% for sublink in link.sublinks %}
                            <ul class="bp-menu-list">
                                <li>
                                    <a href="{{ site.baseurl }}{{ sublink.url }}"> {{ sublink.title }}</a>
                                </li>
                            </ul>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </aside>
            </div>

            <div class="column is-10">
                <h3 class="title">{{page.title}}</h3>
                <p class="subtitle">{{page.subtitle}}</p>
                {{content}}
            </div>
        </div>
    </div>
</section>
{% include bp-footer.html %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
<script>
    var el = document.querySelector('.xml'),
        esc = _.escape(el.innerHTML);
    // Reasign escaped to node and initialize highlight.js
    el.innerHTML = esc;
    hljs.highlightBlock(el);
</script>
</html>