{% assign category = page.category %}
<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include bp-masthead.html %}
{% include bp-agencyhead.html %}
<section class="bp-section is-small">
    <div class="bp-container is-fluid">
        <div class="row">
            <div class="col is-2 is-hidden-mobile is-hidden-tablet-only">
                <aside class="bp-menu is-dark">
                    {%- assign links = site.data.navigation -%}
                    {%- assign active-class = 'is-active' -%}
                    {%- for link in links -%}
                        {%- if link.title == category -%}
                            <ul class="bp-menu-list">
                            {%- for item in link.sub-links -%}
                                <li>
                                    <!--if sublinks has more than 1 subset-->
                                    {%- if item.subset-links.size > 1 -%}
                                        {%- if page.url contains item.path -%}
                                            <a href="{{ site.baseurl }}{{ item.url }}" class={{active-class}}> {{ item.title }}</a>
                                        {%- else -%}
                                            <a href="{{ site.baseurl }}{{ item.url }}" > {{ item.title }}</a>
                                    {%- endif -%}
                                    <ul>
                                    {%- for item in item.subset-links -%}
                                        <li>
                                            {%- if page.url contains item.url -%}
                                                <a href="{{ site.baseurl }}{{ item.url }}" class={{active-class}}> {{ item.title }}</a>
                                            {%- else -%}
                                                <a href="{{ site.baseurl }}{{ item.url }}" > {{ item.title }}</a>
                                            {%- endif -%}
                                        </li>
                                    {%- endfor -%}
                                    </ul>
                                    {%- else -%}
                                        {%- if page.url contains item.url -%}
                                            <a href="{{ site.baseurl }}{{ item.url }}" class={{active-class}}> {{ item.title }}</a>
                                        {%- else -%}
                                            <a href="{{ site.baseurl }}{{ item.url }}"> {{ item.title }}</a>
                                        {%- endif -%}
                                    {%- endif -%}
                                </li>
                            {%- endfor -%}
                            </ul>
                        {%- endif -%}
                    {%- endfor -%}
                </aside>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="content">
                            <h2>{{page.title}}</h2>
                            <p>{{page.subtitle}}</p>
                        </div>
                    </div>
                </div>
                <hr>
                {{content}}
            </div>
        </div>
    </div>
</section>
{% include bp-footer.html %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
</html>