<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include bp-masthead.html %}
{% include bp-agencyhead.html %}
{% include main-nav.html %}
<section class="section">
    <div class="container is-fluid">
        <div class="columns">

            <div class="column is-half is-offset-one-quarter">
                <div class="content">
                    <h3 class="title">{{page.title}}</h3>
                    <p>
                        BLUEPRINT is a reusable and upgradable frontend framework that aims to provide tools
                        for the government agencies to comply with the latest policies for websites and digital services easily.
                    </p>
                    <p>
                        Having a common set of UI Components and Templates allows government agencies
                        to quickly prototype and deploy digital products while keeping them looking professional and consistent.
                    </p>
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</section>
{% include bp-footer.html %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
</html>