<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include bp-masthead.html %}
{% include bp-agencyhead.html %}
{% include main-nav.html %}
<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-2 is-hidden-mobile is-hidden-tablet-only">
                <aside data-blueprint="menu" data-options="single: true;" class="bp-menu is-dark">
                    {% assign links = site.data.navigation %}
                    {% for link in links %}
                        {% assign class = nil %}
                        {% if page.url contains link.sublink.url %}
                            {% assign class = 'is-active' %}
                        {% endif %}
                        {% if link.title == 'Components' %}
                            {% assign sorted = link.sublinks | sort: 'title' %}
                            {% for item in sorted %}
                            <ul class="bp-menu-list">
                                <li>
                                    {% if page.url contains item.url %}
                                    <a href="{{ site.baseurl }}{{ item.url }}" class="is-active"> {{ item.title }}</a>
                                    {% else %}
                                    <a href="{{ site.baseurl }}{{ item.url }}"> {{ item.title }}</a>
                                    {% endif %}
                                </li>
                            </ul>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </aside>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-7 is-12-mobile">
                        <div class="content">
                            <h3><b>{{page.title}}</b></h3>
                            <p>{{page.subtitle}}</p>
                            <div class="bp-tags">
                                {% for tag in page.tags %}
                                <span class="bp-tag"><a href="{{site.url}}/components/{{tag}}">{{tag}}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {{content}}
            </div>
        </div>
    </div>
</section>
{% include bp-footer.html %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
<script>

    var clipboard = new Clipboard('.bd-copy'); clipboard.destroy();
    new Clipboard('.bd-copy', {
        target: function(trigger) {
            return trigger.previousSibling.previousSibling;
        }
    });

    hljs.initHighlightingOnLoad()
    var els = document.querySelectorAll('.xml');
    _.each(els,function(el){
        var esc = _.escape(el.innerHTML);
        el.innerHTML = esc;
    })

    hljs.initHighlighting();

</script>
</html>