$icomoon-font-path: "/assets/blueprint/fonts" !default;

$bp-icon-alert: "\e900";
$bp-icon-angle-down: "\e901";
$bp-icon-angle-left: "\e902";
$bp-icon-angle-right: "\e903";
$bp-icon-angle-up: "\e904";
$bp-icon-arrow-down: "\e905";
$bp-icon-arrow-expand: "\e906";
$bp-icon-arrow-left: "\e907";
$bp-icon-arrow-right: "\e908";
$bp-icon-arrow-up-left: "\e909";
$bp-icon-arrow-up-right: "\e90a";
$bp-icon-arrow-up: "\e90b";
$bp-icon-attachment: "\e90c";
$bp-icon-browser: "\e90d";
$bp-icon-bus: "\e90e";
$bp-icon-calculator-o: "\e90f";
$bp-icon-calculator: "\e910";
$bp-icon-calendar-alt: "\e911";
$bp-icon-calendar: "\e912";
$bp-icon-checked: "\e913";
$bp-icon-circle-info: "\e914";
$bp-icon-circle-minus: "\e915";
$bp-icon-circle-plus: "\e916";
$bp-icon-circle-question: "\e917";
$bp-icon-circle-warning: "\e918";
$bp-icon-clock: "\e919";
$bp-icon-cloud: "\e91a";
$bp-icon-cog: "\e91b";
$bp-icon-cross: "\e91c";
$bp-icon-cube: "\e91d";
$bp-icon-cubes: "\e91e";
$bp-icon-database: "\e91f";
$bp-icon-delay: "\e920";
$bp-icon-docker: "\e921";
$bp-icon-download: "\e922";
$bp-icon-edit: "\e923";
$bp-icon-facebook: "\e924";
$bp-icon-file-alt: "\e925";
$bp-icon-file: "\e926";
$bp-icon-folder: "\e927";
$bp-icon-hamburger: "\e928";
$bp-icon-hdd: "\e929";
$bp-icon-home: "\e92a";
$bp-icon-image: "\e92b";
$bp-icon-info: "\e92c";
$bp-icon-instagram: "\e92d";
$bp-icon-link-external: "\e92e";
$bp-icon-link: "\e92f";
$bp-icon-linkedin: "\e930";
$bp-icon-list: "\e931";
$bp-icon-loading: "\e932";
$bp-icon-location: "\e933";
$bp-icon-lock: "\e934";
$bp-icon-mail: "\e935";
$bp-icon-map: "\e936";
$bp-icon-minify: "\e937";
$bp-icon-mrt: "\e938";
$bp-icon-pages: "\e939";
$bp-icon-pin: "\e93a";
$bp-icon-plus: "\e93b";
$bp-icon-print: "\e93c";
$bp-icon-question: "\e93d";
$bp-icon-radar: "\e93e";
$bp-icon-refresh: "\e93f";
$bp-icon-save: "\e940";
$bp-icon-search: "\e941";
$bp-icon-sg-crest: "\e942";
$bp-icon-slider-horizontal: "\e943";
$bp-icon-slider-vertical: "\e944";
$bp-icon-speech: "\e945";
$bp-icon-taxi: "\e946";
$bp-icon-text-center: "\e947";
$bp-icon-text-justify: "\e948";
$bp-icon-text-left: "\e949";
$bp-icon-text-right: "\e94a";
$bp-icon-triangle-warning: "\e94b";
$bp-icon-twitter: "\e94c";
$bp-icon-unlock: "\e94d";
$bp-icon-upload: "\e94e";
$bp-icon-user: "\e94f";
$bp-icon-warning: "\e950";
$bp-icon-youtube: "\e951";
$bp-icon-zoom-in: "\e952";
$bp-icon-zoom-out: "\e953";

