$icomoon-font-path: "/assets/fonts" !default;

$bp-icon-Artboard: "\e908";
$bp-icon-angle-left: "\e900";
$bp-icon-angle-right: "\e901";
$bp-icon-arrow-down: "\e902";
$bp-icon-arrow-left: "\e903";
$bp-icon-arrow-right: "\e904";
$bp-icon-arrow-up: "\e907";
$bp-icon-arrow-up-left: "\e905";
$bp-icon-arrow-up-right: "\e906";
$bp-icon-browser: "\e909";
$bp-icon-bus: "\e90a";
$bp-icon-calculator: "\e90b";
$bp-icon-calendar: "\e90d";
$bp-icon-calendar-alt: "\e90c";
$bp-icon-circle-info: "\e90e";
$bp-icon-circle-question: "\e90f";
$bp-icon-circle-warning: "\e910";
$bp-icon-clock: "\e911";
$bp-icon-cog: "\e912";
$bp-icon-cross: "\e913";
$bp-icon-cube: "\e914";
$bp-icon-cubes: "\e915";
$bp-icon-database: "\e916";
$bp-icon-delay: "\e917";
$bp-icon-docker: "\e918";
$bp-icon-document: "\e919";
$bp-icon-download: "\e91a";
$bp-icon-external-link: "\e91b";
$bp-icon-facebook: "\e91c";
$bp-icon-folder: "\e91d";
$bp-icon-hamburger: "\e91e";
$bp-icon-hdd: "\e91f";
$bp-icon-home: "\e920";
$bp-icon-horizontal-slider: "\e921";
$bp-icon-image: "\e922";
$bp-icon-info: "\e923";
$bp-icon-instagram: "\e924";
$bp-icon-linkedin: "\e925";
$bp-icon-list: "\e926";
$bp-icon-loading: "\e927";
$bp-icon-location: "\e928";
$bp-icon-mail: "\e929";
$bp-icon-pages: "\e92a";
$bp-icon-pin: "\e92b";
$bp-icon-plus: "\e92c";
$bp-icon-printer: "\e92d";
$bp-icon-question: "\e92e";
$bp-icon-radar: "\e92f";
$bp-icon-refresh: "\e930";
$bp-icon-save: "\e931";
$bp-icon-search: "\e941";
$bp-icon-sg-crest: "\e940";
$bp-icon-speech: "\e932";
$bp-icon-taxi: "\e933";
$bp-icon-text-center: "\e934";
$bp-icon-text-justify: "\e935";
$bp-icon-text-left: "\e936";
$bp-icon-text-right: "\e937";
$bp-icon-train: "\e938";
$bp-icon-triangle-warning: "\e939";
$bp-icon-twitter: "\e93a";
$bp-icon-upload: "\e93b";
$bp-icon-user: "\e93c";
$bp-icon-vertical-slider: "\e93d";
$bp-icon-warning: "\e93e";
$bp-icon-youtube: "\e93f";

