// Colors
$primary: #6037b3 !default;
$secondary: #3e69be !default;

$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: #323232 !default;
$grey-dark: #484848 !default;
$grey: #767676 !default;
$grey-light: #d6d6d6 !default;
$grey-lighter: #f0f0f0 !default;
$footer-grey: #b7b7b7;
$table-grey: #f0f4f6;

$white-trans: rgba(255, 255, 255, 0.7) !default;
$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$yellow: #f5a623 !default;
$green: #008649 !default;
$cyan: #008196 !default;
$blue: #0070F2 !default;
$blue-light: lighten(#007bff, 5%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: #d0021b !default;

// Typography
$family-sans-serif: "Lato", BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

//h1.display
$size-0: 5.25rem !default;
$size-0-lh: 5.25rem !default;
$size-0-mobile-display: 3.5rem !default;
$size-0-mobile: 2.75rem !default;

//h1
$size-1: 3.375rem !default;
$size-1-lh: 3.75rem !default;

//h2
$size-2: 2.75rem !default;
$size-2-lh: 3.75rem !default;
$size-2-mobile: 2rem !default;

//h3
$size-3: 2rem !default;
$size-3-lh: 2.8125rem !default;
$size-3-mobile: 1.75rem !default;

//h4
$size-4: 1.625rem !default;
$size-4-lh: 2.25rem !default;
$size-4-mobile: 1.5rem !default;

//h5
$size-5: 1.375rem !default;
$size-5-lh: 1.875rem !default;

//h6
$size-6: 1.3rem !default;
$size-6-lh: 1.5rem !default;

//p 
$size-7: 1.125rem !default;
$size-7-lh: 2rem !default;
$size-7-lh-content: 2.2rem !default;

//small / base font-size
$size-8: 1rem !default;


//eyebrow
$size-eyebrow: 1rem !default;
$size-eyebrow-ls: 0.09375rem !default;
$size-eyebrow-lh: 1.375rem !default;

// Menu
$size-menu: 1.0625rem !default;
$size-menu-icon: 1.5rem !default;

$lineheight-offset: 0.5rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
$weight-extrabold: 800 !default;
$weight-black: 900 !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;

// 960px container + 4rem
$desktop: 960px + 2 * $gap !default;

// 1152px container + 4rem
$widescreen: 1152px + 2 * $gap !default;

// 1344px container + 4rem
$fullhd: 1344px + 2 * $gap !default;

// Miscellaneous
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 0px !default;
$radius-large: 5px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// Flags
$variable-columns: true !default;

// Images
$hero-image: $secondary !default;


//Masthead Height
$navbar-height: 5.25rem !default;
$masthead-height: 29px !default; //px used is intended to fix the font-size and height for consistency
$masthead-gutter: 4px !default; //px used is intended to fix the font-size and height for consistency
