<div class="content">
   <p> Use sections as direct children of <code>body</code>.</p>

</div>
{% highlight html %}
<body>
   <!--first section-->
   <section class="bp-section">
      <div class="bp-container">
         <h1 class="title">Section 1 </h1>
         <h2 class="subtitle">
            Simple container
         </h2>
      </div>
   </section>
   <!--2nd section-->
   <section class="bp-section">
      <div class="bp-container">
         <h1 class="title">Section 2</h1>
         <h2 class="subtitle">
            Simple container
         </h2>
      </div>
   </section>
</body>
{% endhighlight %}