---
title: Colours
layout: layout-docs
coloursList:
  - name: white
    hex: '#ffffff'
    hsl: hsl(0,0%,100%)

  - name: black
    hex: '#000000'
    hsl: hsl(0,0%,0%)

  - name: light
    hex: '#f5f5f5'
    hsl: hsl(0,0%,96%)

  - name: dark
    hex: '#323232'
    hsl: hsl(0,0%,20%)

  - name: primary
    hex: '#6137b3'
    hsl: hsl(260, 53%, 40%)
    contrast: 7.76

  - name: secondary
    hex: '#3d68bd'
    hsl: hsl(220, 51%, 49%)
    contrast: 5.29

  - name: link
    hex: '#0070f0'
    hsl: hsl(212, 100%, 47%)
    contrast-bg: 10
    contrast: 4.59

  - name: info
    hex: '#008094'
    hsl: hsl(188, 100%, 29%)
    contrast: 4.65

  - name: success
    hex: '#008549'
    hsl: hsl(153, 100%, 26%)
    contrast: 4.72

  - name: warning
    hex: '#f5a524'
    hsl: hsl(37, 91%, 55%)
    contrast: 10.29
    
  - name: danger
    hex: '#cf021a'
    hsl: hsl(353, 98%, 41%)
    contrast: 5.71

---

<h2>SGDS Colour classes</h2>

<hr />

<h3 class="has-text-primary">Colour classes</h3>
<p>
    SGDS contains predefined classes that apply different colours to specific
    elements. You can use these colour classes by adding <code>is-</code> or
    <code>has-</code> prefixes to most elements.
</p>

<div class="grid-container col-3-grid margin--top--sm">
    {%- for colour in page.coloursList -%}
    <div class=" padding has-background-{{colour.name}}
        {% if colour.name == 'white' or colour.name == 'light' or colour.name == 'warning' -%}
            has-text-black
        {%- else -%}
            has-text-white
        {%- endif -%}">
        <p>
            <span>
                <span class="is-capitalized"><b>{{colour.name}} {%- if colour.name == 'warning' -%}<sup>1</sup>{%- endif -%}</b></span><br>
                {{colour.hex}}<br>
                {%- if colour.contrast -%}<small>Contrast Ratio : {{colour.contrast}}</small>{%- endif -%}
            </span>

        </p>
    </div>
    {%- endfor -%}
</div>

<small>
    <sup>1</sup>Most shades of amber such as the one used in the <code>warning</code> class
    only meet WCAG contrast requirements when paired with black, 
    e.g. black text within elements with <code>.has-background-warning</code>
</small>

<hr/>

<h3>Component colours</h3>
<p>Use the <code>is-*color*</code> class to set the component colours for:</p>

<ul>
    <li><a href="/docs/accordion/">Accordion</a></li>
    <li><a href="/docs/button/">Button</a></li>
    <li><a href="/docs/card/">Card</a></li>
    <li><a href="/docs/notification/">Notification</a></li>
    <li><a href="/docs/progress-bar/">Progress Bar</a></li>
</ul>

<p>Example of <code>is-*color*</code> classes for the <a href="/doc/button/">Button</a> component:</p>

<table class="table margin--top--sm">
    <thead>
        <tr>
            <th>Class</th>
            <th>Example</th>
            <th>Usage</th>
        </tr>
    </thead>
    <tbody>
        {%- for colour in page.coloursList -%}
        <tr class="{% if colour.name == 'link' or colour.name == 'white' or colour.name == 'light' %}hide{% endif %}">
            <td>is-{{colour.name}}</td>
            <td>
                <button type="button" class="sgds-button is-{{colour.name}} {% if colour.name == 'warning' %}has-text-black{% endif %}">Button</button>
            </td>
            <td>
{%- highlight html -%}
<button type="button" class="sgds-button is-{{colour.name}}{% if colour.name == 'warning' %}has-text-black{% endif %}">Button</button>
{%- endhighlight -%} 
            </td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>

<hr />

<h4>Text colours</h4>

<table class="table">
    <thead>
        <tr>
            <th>Class</th>
            <th>Example</th>
            <th>Usage</th>
        </tr>
    </thead>
    <tbody>
        {%- for colour in page.coloursList -%}
        <tr>
            <td>has-text-{{colour.name}}</td>
            <td>     
                <small class="has-text-{{ colour.name }} 
                    {% if colour.name == 'white' or colour.name == 'light' or colour.name == 'warning' -%}
                        has-background-dark
                    {%- endif -%}">
                    Use the <code>has-text-{{ colour.name }}</code> 
                    colour class to set text colour
                </small>
            </td>
            <td>
{%- highlight html -%}
<p class="has-text-{{ colour.name }}">
Use the <code>has-text-{{ colour.name }}</code> colour class to set text colour
</p>
{%- endhighlight -%} 
            </td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>

<hr/>

<h4>Background colours</h4>

<table class="table">
    <thead>
        <tr>
            <th>Class</th>
            <th>Example</th>
            <th>Usage</th>
        </tr>
    </thead>
    <tbody>
        {%- for colour in page.coloursList -%}
        <tr>
            <td>has-background-{{colour.name}}</td>
            <td class="has-background-{{colour.name}} 
                {% if colour.name == 'light' or colour.name == 'white' or colour.name == 'warning' -%}
                    has-text-dark
                {%- else -%}
                    has-text-white
                {%- endif -%}">
                Use the <code>has-background-{{ colour.name }}</code> colour 
                class to set background colour
            </td>
            <td>
{%- highlight html -%}
<div class="has-background-{{ colour.name }}">
Use the <code>has-background-{{ colour.name }}</code> colour class to set background colour
</div>
{%- endhighlight -%} 
            </td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>

<hr />

{%- include sgds-feedback.html -%}
