.display{
  font-size: $size-display;
  line-height: $size-display;
  @include touch() {
    font-size: 4rem;
  }
}

h1{
  font-size: $size-1;
  line-height: $size-1;
  @include touch() {
    font-size: 3rem;
  }
}

h2{
  font-size: $size-2;
  line-height: $size-2;

  @include touch() {
    font-size: 2rem;
  }
}
h3{
  font-size: $size-3;
  line-height: 3.125remrem;

  @include touch() {
    font-size: 1.75rem;
  }
}
h4{
  font-size: $size-4;
  line-height: 2.5rem;

  @include touch() {
    font-size: 1.5rem;
  }
}
h5{
  font-size: $size-5;
  line-height: 2rem;

  @include touch() {
    font-size: 1.375rem;
  }
}
h6{
  font-size: $size-6;
  line-height: 2rem;

  @include touch() {
    font-size: 1rem;
  }
}

p,li{
  font-size: $size-7;
}

small{
  font-size: $size-8!important;
  letter-spacing: 0.2px;
}

b, strong{
  font-weight: 600;
}