//.bp-accordion-header {
//  background-color: $table-grey;
//  border-top: 1px solid $white;
//  vertical-align: middle;
//  &:hover {
//    background-color: darken($table-grey, 10%);
//  }
//}
//
//.bp-accordion-button {
//  margin-top: 3px;
//}
//
//.bp-accordion-body {
//  display: none;
//}

.bp-accordion{
  &-set{
    & + .bp-accordion-set{
      margin-top:5px;
    }
  }
  &-header{
    background-color: $table-grey;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    color:$primary;
    &:hover {
      background-color: darken($table-grey, 10%);
      color: currentColor;
    }
    i{

    }
    &.active{
      background-color: darken($table-grey,10%);
    }
  }
  &-body{
    padding:1rem;
    display:none;
    &.is-open{
      display:block;
    }
  }
}

