// Background
.bg{
  &-light{
    background-color: $grey-lighter;
  }
  &-white{
    background-color: white;
  }
  &-newssection{
    background-color: #F0F4F6;
  }
  &-prev-next{
    background-color: $secondary;
  }
}