---
layout: layout-default
---

{% if page.toc %}
{% assign class = 'with-toc' %}
{% endif %}
<section class="wrapper layout-sidenav {{class}}">
    <aside aria-label="Side Navigation Container">
        <nav class="sgds sidenav sticky" aria-label="Side Navigation">
            {% for item in site.data.navigation %}
            {%- if page.url contains item.title -%}
                <h4>{{item.title | capitalize | replace: '-', ' '}}</h4>
            {%- endif -%}
            {% endfor %}
            <ul class="list-unstyled mb-0">
                {% assign collections = site.collections | sort: 'order' %}
                {% for collection in collections %}
                {% if collection.category == page.pageCategory %}
                {% assign name = collection.label %}
                {% for item in site[collection.label] %}
                {%- assign class = 'inactive' -%}
                {%- assign title = item.title -%}
                {%- if page.title == title -%}
                {%- assign class = 'active' -%}
                {%- endif -%}
                {% if item.has_child %}
                    {% assign id = item.title | downcase | append: '-sidenav-collapse' %}
                    {% assign page_url_segments = page.url | split: '/' %}
                    {% assign page_second_segment = page_url_segments[2] %}
                    {% assign item_url_segments = item.url | split: '/' %}
                    {% assign item_second_segment = item_url_segments[2] %}
                    {% if page_second_segment == item_second_segment %}
                        {% assign class = 'active' %}
                    {% endif %}
                    <li class="sidenav-item">
                        <button type="button" class="sgds btn {{class}}" aria-expanded="true" aria-controls="{{id}}">
                            <a role="button" href="{{item.url}}">{{item.title}} </a> <i class="bi bi-chevron-down" data-bs-toggle="collapse" data-bs-target="#{{id}}"></i>
                        </button>
                        <ul class="collapse show" id="{{id}}">
                            {% for child_item in site[collection.label] %}
                                {% assign parent = item.title | downcase %}
                                {% if child_item.parent == parent %}
                                    {% if page.title == child_item.title -%}
                                        {% assign child_class = 'active' %}
                                    {% else %}
                                        {% assign child_class = 'inactive' %}
                                    {% endif %}
                                    <li class="sidenav-item {{child_class}}">
                                        {% if child_item.href != null %}
                                            <a role="button" class="sgds btn {{child_class}}" href="{{child_item.href}}" target="{{child_item.target}}">{{child_item.title}}</a>
                                        {% else %}
                                            <a role="button" class="sgds btn {{child_class}}" href="{{child_item.url}}">{{child_item.title}}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% elsif item.parent == null %}
                    <li class="sidenav-item">
                        <a role="button" class="sgds btn {{class}}" href="{{item.url}}">{{item.title}}</a>
                    </li>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <article>
        {{content}}
        {% if page.overview == null %}
            <hr>
            <small><i>Last updated {{ page.last_modified_at | date: '%d %B %Y' }}</i></small>
        {% endif %}
    </article>


    {% if page.overview == null %}
    <aside class="toc-container" aria-label="Table of Content">
        
            <div class="toc-wrapper">
                <div class="h4">On this page</div>
                {% toc %}
            </div>
        
    </aside>
    {% endif %}
</section>