---
title: Address
description: Use an address lookup when you are asking users for a Singapore address.
react-link: ?path=/docs/components-form-patterns--address
toc: true
---

{% capture address-pattern %}
<div class="sgds form-group mb-3">
    <label for="postalCode" class="form-label">Postal Code</label>
    <input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" id="postalCode" placeholder="e.g 730317" autocomplete="postal-code" maxlength="6" onkeypress="return onlyNumberKey(event)">
</div>
<button class="btn btn-primary mb-3" onclick="findAddress()">Find Address</button>
<div class="sgds form-group mb-3">
    <label for="streetName" class="form-label">Block/Street Name</label>
    <input type="text" class="form-control" id="streetName" placeholder="e.g. 220 Pasir Ris Drive 50" autocomplete="street-address">
</div>
<div class="sgds form-group mb-3">
    <label for="buildingNumber" class="form-label">Building/House Number</label>
    <div id="buildingNumberText" class="form-text">If applicable</div>
    <input type="text" class="form-control" id="buildingNumber" autocomplete="on" aria-describedby="buildingNumberText">
</div>
<div class="sgds form-group mb-3">
    <label for="unitNumber" class="form-label">Unit Number</label>
    <div id="unitNumberText" class="form-text">If applicable</div>
    <input type="text" class="form-control" id="unitNumber" autocomplete="on" aria-describedby="unitNumberText">
</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Pattern Section -->
    <section name="section-pattern">
        <h2 class="title fw-bold" id="example">Example</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compName="address-pattern" code=address-pattern %}
        </div>
    </section>

    <!-- Usage Guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
        <strong>Address lookup should be used:</strong>
        <ul>
            <li>When you're asking users for a Singapore address</li>
        </ul>
        <strong>Address lookup should not be used:</strong>
        <ul>
            <li>If you have users outside of Singapore and require them to key in their address. Instead, use a manual option such as multiple text inputs or a textarea when you are collecting mostly or only international addresses</li>
        </ul>
    </section>

    <!-- Usability Guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
        <p>
            <strong>Avoid changing the default order of address fields</strong><br>
            Do ensure that the postal code field is on top as the address lookup can simplify the process of filling out the address field
        </p>
        <p>
            <strong>Default to current date and month</strong><br>
            Auto-filling helps users fill forms faster, but don't forget to leave these fields available for editing to give users control
        </p>
    </section>
</div>

<script>
    function findAddress() {
        var postalCode = document.getElementById("postalCode").value
        var streetName = document.getElementById("streetName")
        fetch(
            'https://developers.onemap.sg/commonapi/search?searchVal=' +
            postalCode +
            '&returnGeom=Y&getAddrDetails=Y'
        )
        .then((response) => response.json())
        .then((json) => 
            streetName.value = json.results[0].ADDRESS
        );
    }
    function onlyNumberKey( evt ) {
        // Only ASCII character in that range allowed
        var ASCIICode = ( evt.which ) ? evt.which : evt.keyCode
        if ( ASCIICode > 31 && ( ASCIICode < 48 || ASCIICode > 57 ) )
            return false;
        return true;
    }
</script>