---
title: Date
description: Use this pattern when you want to ask users for a specific date, e.g. their date of birth or when something was issued to them.
react-link: ?path=/docs/components-form-patterns--single-date
toc: true
---

{% capture single-date-input %}
<div class="sgds form-group">
    <label class="form-label" for="dateInput">Date of Birth</label>
    <span class="form-text">E.g 01 June 1980</span>
    <input class="form-control" type="text" id="dateInput" autocomplete="on" />
</div>
{% endcapture %}

{% capture isolated-date-input %}
<div class="sgds row">
    <div class="col form-group">
      <label class="form-label" for="day">DD</label>
      <input class="form-control" type="text" inputmode="numeric" pattern="[0-9]*" id="day" autocomplete="on" maxlength="2" onkeypress="return onlyNumberKey(event)" />
    </div>
    <div class="col form-group">
      <label class="form-label" for="month">MM</label>
      <input class="form-control" type="text" inputmode="numeric" pattern="[0-9]*" id="month" autocomplete="on" maxlength="2" onkeypress="return onlyNumberKey(event)"/>
    </div>
     <div class="col form-group">
      <label class="form-label" for="year">YYYY</label>
      <input class="form-control" type="text" inputmode="numeric" pattern="[0-9]*" id="year" autocomplete="on" maxlength="4" onkeypress="return onlyNumberKey(event)"/>
    </div>
</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Pattern Section -->
    <section name="section-pattern">
        <h2 class="title fw-bold" id="example">Examples</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="Single Date Input" compName="single-date-input" code=single-date-input %}
        </div>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="Isolated Date Input" compName="isolated-date-input" code=isolated-date-input %}
        </div>
    </section>

    <!-- Usage Guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
        <strong>Date pattern should be used:</strong>
        <ul>
            <li>When you require users to fill in dates for your services
            
                <ul>
                    <li>State clearly how the data should be filled (e.g. Day Month Year).</li>
                    <li>Give an example of how the date should be filled in (e.g. 01 01 2020 vs 1 1 2020) when using a single form input.</li>
                </ul>
            </li>
            <li>When requesting users to fill in memorable dates
                <ul>
                    <li>For example, asking for a Date-Of-Birth means you should always have the <code>autocomplete</code> attribute for these 3 fields, <code>bday-day</code>, <code>bday-month</code> and <code>bday-year</code> to bring convenience to users.</li>
                    <li>You will need to include the <code>autocomplete</code> attribute to meet <strong>WCAG 2.1 AA</strong> for production.</li>
                </ul>
            </li>
        </ul>
        <strong>Date pattern should not be used:</strong>
        <ul>
            <li>
                If you need users to select from a few specific dates, we recommend that you use the <a href="/components/radio-button/">radio button</a> component to allow them to choose easily. Alternatively, you may use the date picker component for users to select dates.
            </li>
        </ul>

    </section>

    <!-- Usability Guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
        <p>
            <strong>When asking for official document dates</strong><br>
            Ensure that the format matches that of the document date that you are requesting for. E.g DD/MMM/YYYY or DD/MM/YY. Do also indicate in the hint text the format of the date, this will help reduce mistakes when filling up the form
        </p>
        <p class="mb-0">
            <strong>Helping users pick a date</strong><br>
            You can use the date picker component to help users pick a date for an appointment for example. However, do use this only if:
            <ul>
                <li>Users need to pick a date in the near future or past. E.g. do not use the date picker component when asking for birthdays, this adds complexity to the task. Do use the single form field date pattern instead</li>
                <li>Users need to see other dates in relation to the date they want</li>
            </ul>
        </p>
        <p>
            <strong>Default to current date and month</strong><br>
            Do default the date picker component to the current date and month so that users have a starting point when selecting a date
        </p>
    </section>
</div>

<script>
     function onlyNumberKey( evt ) {
        // Only ASCII character in that range allowed
        var ASCIICode = ( evt.which ) ? evt.which : evt.keyCode
        if ( ASCIICode > 31 && ( ASCIICode < 48 || ASCIICode > 57 ) )
            return false;
        return true;
    }
</script>