---
title: Name
description: Use this pattern when you need to ask users for their names
toc: true
---

{% capture general-name-field %}
<div class="sgds form-group">
    <label class="form-label" for="fullName">Full Name as per NRIC</label>
    <input class="form-control" type="text" id="fullName" autocomplete="name" required />
</div>
{% endcapture %}

{% capture multiline-name-field %}
<div class="sgds form-group mb-3">
    <label class="form-label" for="givenName">Given Name</label>
    <input class="form-control" type="text" id="givenName" autocomplete="given-name" required />
</div>
<div class="sgds form-group">
    <label class="form-label" for="familyName">Family Name</label>
    <input class="form-control" type="text" id="familyName" autocomplete="family-name" required />
</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Pattern Section -->
    <section name="section-pattern">
        <h2 class="title fw-bold" id="example">Examples</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="General name field" compName="general-name-field" code=general-name-field %}
        </div>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="Multiline name field" compName="multiline-name-field" code=multiline-name-field %}
        </div>
    </section>

    <!-- Usability Guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="guidelines">Usability guidelines</h2>
        <p class="mb-0">
            <strong>Labeling of name fields</strong>
            <ul>
                <li>Name fields should be long enough to accommodate the names of your users.</li>
                <li>Make sure that you support all characters that users may need to enter, including symbols and numbers.</li>
            </ul>
        </p>
        <pclass="mb-0">
            <strong>General name fields</strong>
            <ul>
                <li>This accommodates the widest range of name types and formats.</li>
                <li>Reduces the risk of users entering their name in the incorrect format.</li>
                <li>Set the <code>autocomplete</code> attribute to <code>name</code> so that browsers can fill in their name if they have entered in previously.</li>
            </ul>
        </p>
        <pclass="mb-0">
            <strong>Multiline name fields</strong>
            <ul>
                <li>Use multiple name fields with discretion. Not everyone's name fits the general first-name, last-name convention.</li>
                <li>Using multiple name fields increases the risk of a person's name not fitting the same convention. Hence, it may be entered incorrectly.</li>
                <li>Set the <code>autocomplete</code> attributes to <code>given-name</code> and <code>family-name</code> so that browsers can fill in their names if they have entered in previously.</li>
            </ul>
        </p>
    </section>

</div>