---
title: Quantity Toggle
layout: layout-sidenav
description: The quantity toggle component is used to increase or decrease an incremental venue, usually best used when the user needs to enter or adjust the quantity of a selected item.
category: general
react-link: ?path=/docs/components-quantitytoggle--basic
web-component-link: ?path=/docs/components-quantitytoggle--docs
github-link: true
toc: true
---

{% capture quantity-toggle-left-disabled %}
<div class="sgds input-group" variant="quantity-toggle">
    <button type="button" class="btn btn-primary btn-sm sgds" disabled><i class="bi bi-dash"></i></button>
    <input id="quantityLeftDisabled" type="number" class="form-control text-center" value="0">
    <button type="button" class="btn btn-primary btn-sm sgds" onclick="increment('LeftDisabled')"><i class="bi bi-plus"></i></button>
</div>
{% endcapture %}

{% capture quantity-toggle-right-disabled %}
<div class="sgds input-group" variant="quantity-toggle">
    <button type="button" class="btn btn-primary btn-sm sgds" onclick="decrement('RightDisabled')"><i class="bi bi-dash"></i></button>
    <input id="quantityRightDisabled" type="number" class="form-control text-center" value="1">
    <button type="button" class="btn btn-primary btn-sm sgds" disabled><i class="bi bi-plus"></i></button>
</div>
{% endcapture %}

{% capture quantity-toggle-left-right-disabled %}
<div class="sgds input-group" variant="quantity-toggle">
    <button type="button" class="btn btn-primary btn-sm sgds" disabled" disabled><i class="bi bi-dash"></i></button>
    <input id="quantityLeftRightDisabled" type="number" class="form-control text-center" value="2" disabled>
    <button type="button" class="btn btn-primary btn-sm sgds" disabled><i class="bi bi-plus"></i></button>
</div>
{% endcapture %}

{% capture quantity-toggle-enabled %}
<div class="sgds input-group" variant="quantity-toggle">
    <button type="button" class="btn btn-primary btn-sm sgds" onclick="decrement('Enabled')"><i class="bi bi-dash"></i></button>
    <input id="quantityEnabled" type="number" class="form-control text-center" value="3">
    <button type="button" class="btn btn-primary btn-sm sgds" onclick="increment('Enabled')"><i class="bi bi-plus"></i></button>
</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
        
        <!-- Generated header from front end matters -->
        {% include page-component/component-header.html %}

        <!-- Example Section -->
        <section name="section-examples">
            <h2 class="title fw-bold" id="example">Example</h2>
            <div class="section-sub">
                {% 
                    include page-component/component-code-snippet.html 
                    compTitle="Left disabled" 
                    compName="quantity-toggle-left-disabled" 
                    code=quantity-toggle-left-disabled
                    storybook-react="quantitytoggle"
                    storybook-spider="quantitytoggle"
                %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html 
                    compTitle="Right disabled" 
                    compName="quantity-toggle-right-disabled" 
                    code=quantity-toggle-right-disabled 
                    storybook-react="quantitytoggle"
                    storybook-spider="quantitytoggle"
                %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html 
                    compTitle="Left & right disabled" 
                    compName="quantity-toggle-left-right-disabled" 
                    code=quantity-toggle-left-right-disabled
                    storybook-react="quantitytoggle"
                    storybook-spider="quantitytoggle"
                %}
            </div>
            <div class="section-sub">
                {% include page-component/component-code-snippet.html 
                    compTitle="Enabled" 
                    compName="quantity-toggle-enabled" 
                    code=quantity-toggle-enabled
                    storybook-react="quantitytoggle"
                    storybook-spider="quantitytoggle"
                %}
            </div>
        </section>

        <!-- Anatomy Section -->
        <section name="section-anatomy">
            <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/quantity-toggle/anatomy-quantity-toggle-1.svg" alt="Quantity Toggle Anatomy">
                    </div>
                </div>
                <ol>
                    <li>
                        <b>Quantity field:</b> Informs the user what the current value is.
                    </li>
                    <li>
                        <b>Button:</b> Allows users to increase or decrease a value.
                    </li>
                </ol>
            </div>
        </section>

        <!-- Spacing Section -->
        <section name="section-spacing">
            <h2 class="title fw-bold" id="spacing">Spacing</h2>
            <div class="section-sub">
                <div class="sgds-example-image-container">
                    <div class="sgds-example-image-grid">
                        <img src="{{site.baseurl}}/assets/img/component/quantity-toggle/spacing-quantity-toggle-1.svg" alt="Quantity Toggle Spacing">
                    </div>
                </div>
                <p><b>Within the quantity toggle</b><br>
                    Ensure that there is at least 16px of vertical spacing within the quantity toggle.</p>
            </div>
        </section>

        <!-- Usage guidelines Section -->
        <section name="section-usage-guidelines">
            <h2 class="title fw-bold" id="usage-guidelines">Usage guidelines</h2>
            <p class="fw-bold mb-0">Best practices:</p>
            <ol>
                <li>When setting limits on number entry, immediately provide feedback by changing the button's state to disabled, rather than allowing users to encounter limits through an error message.</li>
            </ol>
            <p class="fw-bold mb-0">Quantity toggle should be used when:</p>
            <ol>
                <li>When the numeric field needs to be adjusted by a small amount that can be done with only a few clicks.</li>
                <li>When users may not know exact values and only want to change the values that are relative to its current state.</li>
            </ol>
            <p class="fw-bold mb-0">Quantity toggle should not be used when:</p>
            <ol>
                <li>The numeric field can take a large range of values.</li>
            </ol>
        </section>

        <!-- Usability guidelines Section -->
        <section name="section-usability-guidelines">
            <h2 class="title fw-bold" id="usability-guidelines">Usability guidelines</h2>
            <p>
                <b>Ensure that a default value is shown within the field</b><br>
                List the current value of the input so that user is able to know how much the value should increase/decrease upon clicking on up/down button.
            </p>
            <p>
                <b>Enable the user to also choose to type a number in the field</b><br>
                User may prefer to type the value instead of clicking on the buttons, so such options should remain enabled.
            </p>
            <p>
                <b>Behaviour</b><br>
                The quantity toggle should have a series of states for when user tabs or clicks/interacts with on the quantity toggle; hover, focus, enabled and disabled.
            </p>
        </section>

         <!-- Accessibility guidelines Section -->
    <section name="section-accessibility-guidelines">
        <h2 class="title fw-bold" id="accessibility-guidelines">Accessibility guidelines</h2>
        <p class="fw-bold mb-0">Aria attributes</p>
        <ol>
            <li>
                The button <code>aria-label</code> values should be plain text and they should include context of what they affect when activated (typically the label for the input). e.g. Increase Quantity, Add Quantity.
            </li>
        </ol>
        <p class="fw-bold mb-0">Keyboard accessibility</p>
         <ol>
            <li>
                <span class="sgds-code-font">Tab</span> or <span class="sgds-code-font">Shift-Tab</span> to focus on quantity toggle's input element.
            </li>
            <li>
                <span class="sgds-code-font">↑</span> or <span class="sgds-code-font">↓</span> to change value of the input.
            </li>
         </ol>
         <p class="fw-bold mb-0">Focus indicator</p>
         <ol>
             <li>
                Provide clear visual indicators for focused elements to help users identify the active element.
            </li>
             <li>
                Ensure a logical and intuitive focus order (decrease button, input field, increase button) for seamless navigation.
            </li>
            <li>
                When the quantity value is updated, ensure the focus remains on the active element (button or input field) to avoid disrupting the user experience.
            </li>
            <li>
                Disable buttons when limits are reached (e.g., quantity cannot go below 1 or above a maximum value).
            </li>
            <li>
                Ensure disabled buttons are not focusable.
            </li>
         </ol>
    </section>
</div>

<script>
    function decrement(val) {
        let input = document.getElementById("quantity" + val)
        input.value = parseInt(input.value) - 1
    }

    function increment(val) {
        let input = document.getElementById("quantity" + val)
        input.value = parseInt(input.value) + 1
    }
</script>