---
---

@import "sgds/sass/sgds";

main{
    @extend .p-0;
}
body{
    padding:0;
    margin:0;
    background-color: $gray-100;
    color: $gray-600;
}
p{
    color: $gray-600;
}
.wrapper{
    width: 1330px;
    margin:0 auto;
}

.bg{
    &-gray-200{
        background-color: $gray-200;
    }
    &-purple-100{
        background-color: $purple-100;
    }
    &-gray-600{
        background-color: $gray-600;
    }
    &-gray-700{
        background-color: $gray-700;
    }
}
.sgds-masthead{
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
section{
    padding: 5rem 0;
}
.grid{
    display: grid;
    &-hero{
        grid-template-columns: 35% 1fr;
        align-items: center;
        .hero-img{
            display: flex;
            justify-content: center;
        }
    }
    &-highlight{
        max-width:100vw;
        grid-template-columns: repeat(7,1fr);
        grid-gap: 2rem;
        grid-template-areas:
        "bg1left component component template template bg1right bg1right"
        "bg2left bg2left guide guide others others bg2right";
        .card{
            &-text{
                color: $gray-600 !important;
            }
            box-shadow: 0 10px 15px -3px rgba(var(--sgds-primary-rgb),0.1),0 4px 6px -4px rgba(var(--sgds-primary-rgb),0.1)!important;
        
        }
        .bg1left{
            grid-area: bg1left;
        }
        .bg1right{
            grid-area: bg1right;
        }
        .bg2left{
            grid-area: bg2left;
        }
        .bg2right{
            grid-area: bg2right;
        }
        .bg{
            background: url("../draft/images/bg.png") repeat;
        }
        .component{
            grid-area: component;
        }
        .template{
            grid-area: template;
        }
        .guide{
            grid-area: guide;
        }
        .others{
            grid-area: others;
        }

    }

    &-why{
        justify-content: center;
        + .grid-why{
            margin-top: 4rem;
        }
        article{
            display:grid;
            width: 700px;
            grid-template-columns: repeat(2,350px);
            height: 300px;
            grid-gap: 2rem;
            .image{
                align-self: end;
            }
        }
    }

    &-change{
        grid-template-columns: 1fr 1.5fr;
        height: 30vh;
        .image{
            justify-self: end;
            align-self: end;
        }
    }
}

h1{
    &.display{
        font-size: 56px;
        line-height: 64px;
    }
}

footer{
    color: $purple-100;
    height: 20vh;
    &.footer-bottom{
        height: 100px;
    }
}